/*
body{
    font-family: "Microsoft Yahei";
}
*/
.content {
    width: 99%;
    heigth: 99%;
    margin: 5px;
    padding: 5px;
    overflow: auto;
    background: #ffffff;
    font-family: "Microsoft Yahei";
}

/*.content h1 {
    font-size: 25px;
}*/

.content .lineitem {
    margin-top: 10px;
    margin-bottom: 10px;

}

.contentHMI {
    margin: 0px;
    padding: 5px;
    overflow: auto;
    background: #ffffff;
}

.moniDBTableStyle {
    font-size: 8px;
}

.contentHMI .moniTable {
    font-size: 5px;

}

.contentHMI table,
th,
td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;

}

.contentHMI th,
td {
    min-width: 25px;
}

.contentHMI table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

.contentHMI table tr:nth-child(even) {
    background-color: #ffffff;
}
