/*
body{
	font-family: "Microsoft Yahei";
}
*/

.contentHMI{ 
	width:100%;
	heigth:100%;
	min-height:700px;
	margin: 0px;
    padding: 10px;
    overflow:auto;
	background:#ffffff;
}
.contentHMI .dataTable{ 
	font-size:5px;
	
}

.contentHMI table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;

}

.contentHMI  th , td  {

  min-width:25px;

}

.contentHMI table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
.contentHMI table tr:nth-child(even) {
  background-color: #ffffff;
}