<link rel="stylesheet" type="text/css" href="/css/HMIPrint/divContent.css">
<link rel="stylesheet" type="text/css" href="/css/HMIPrint/tableDiv.css">
<link rel="stylesheet" type="text/css" href="/css/HMIPrint/upFolderDiv.css">
<script type="text/javascript" src="/js/muc_jsExtend.js"></script>
<script type="text/javascript" src="/js/HMIPrint/common.js"></script>
<script type="text/javascript" src="/js/HMIPrint/moldParse.js"></script>
<script src="/js/HMIPrint/FileSaver.min.js"></script>
<script src="/js/HMIPrint/tableExport.js"></script>
<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>
<div class="divContent">
    <!-- 欢迎区 -->
    <p>欢迎用户：
        <%-(locals.session==null)?"什么？你居然跳过了登录界面？":locals.session.yjUser.AID%>
    </p>
    <hr /><br />
    <!-- 操作区（按钮等） -->
    <div id="OperDiv" class="upfold-blue">
        <!-- <input type="file" id="upFolder" onchange="fnTrvlEvent()" webkitdirectory>点击选择文件夹 -->
        <input type="file" id="upFolder" webkitdirectory>点击选择文件夹
    </div>
    <button id="remitExcel">汇出EXCEL</button>
    <hr /><br />
    <!--数据呈现区-->
    <div class="table-gray">
        <table id="moldData" border="1">
            <!-- thead 存放标题， eg. 开模序号、循环计时 。。。 -->
            <thead>
                <tr></tr>
            </thead>
            <!-- tbody 存放资料信息， eg.  1， 17.69 。。。 -->
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
/* 操作控件事件绑定 */
$(function() {
    // 上传文件夹
    $("#upFolder").change(function() {
        fnTrvlEvent();
    });

    // 汇出excel文件
    $("#remitExcel").click(function() {
        // 以obj的FolderName作为excel的名字，eg. 监测则为 moni.xls
        // 因obj无法再此处直接获取，故特殊指定excelName为moni
        var excelName = "mold";
        var elemID = "#moldData";
        fnRemitExcel(elemID, excelName);
    });

});

// 呈现先前成功解析的obj
$(window).load(function() {
    var oParsed = JSON.parse(sessionStorage.getItem("mold")); // 当前页面缓存的Obj数据
    if (oParsed) {
        fnPreObjShow(oParsed);
    }
});

</script>
