<link rel="stylesheet" type="text/css" href="/css/HMI/HMIContent.css">
<script src="/js/HMIPrint/FileSaver.min.js"></script>
<script src="/js/HMIPrint/tableExport.js"></script>
<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="/DataTables/media/css/jquery.dataTables.css">
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="/DataTables/media/js/jquery.dataTables.js"></script>
<div class="content">
    <h1>Moni 数据库维护</h1>
    <hr>
    <!--<button id="Add"  onclick="javascript:$('#win').window('open')">添加</button>-->
    <div class="lineitem">
        <button id="Add" class="easyui-linkbutton">添加</button>
        <button id="Upd" class="easyui-linkbutton">更新</button>
        <button id="Del" class="easyui-linkbutton">删除</button>
    </div>
    <table id="moniDBTable" class="moniDBTableStyle">
        <thead>
            <tr>
                <th>厂家</th>               
                <th>控制</th>
                <th>机型</th>
                <th>内容</th>
                <th>精度</th>                
                <th>中文</th>
                <th>可见</th>
                
                
                
                <th>繁体</th>
                <th>英文</th>
                <th>保留0</th>
                <th>保留1</th>
                <th>保留2</th>
                <th>保留3</th>
                <th>保留4</th>
            </tr>
        </thead>
    </table>
    <div id="win" class="easyui-window" title="DBinfo" closed="true" style="width:400px;height:450px;">
        <form style="padding:10px 20px 10px 40px;">
            <p>厂家: <input id="ManufacturerInput" size="30" type="text"></p>           
            <p>控制: <input id="CtrlTypeInput" size="30" type="text"></p>
            <p>机型: <input id="MachTypeInput" size="30" type="text"></p>
            <p>内容: <input id="DDKeyInput" size="30" type="text"></p>
            <p>精度: <input id="PrecInput" size="30" type="text"></p>
            <p>中文: <input id="CNInput" size="30" type="text"></p>
            <p>繁体: <input id="TWInput" size="30" type="text"></p>
            <p>英文: <input id="ENInput" size="30" type="text"></p>
            <p>可见: <input id="VisbInput" size="30" type="text"></p>
            <p>保留0: <input id="Reserved0Input" size="30" type="text"></p>
            <p>保留1: <input id="Reserved1Input" size="30" type="text"></p>
            <p>保留2: <input id="Reserved2Input" size="30" type="text"></p>
            <p>保留3: <input id="Reserved3Input" size="30" type="text"></p>
            <p>保留4: <input id="Reserved4Input" size="30" type="text"></p>
            
            <div style="padding:5px;text-align:center;">
                <a id="AddDoButton"　href="#" class="easyui-linkbutton" icon="icon-ok">添加</a>
                <a id="UpdDoButton"　href="#" class="easyui-linkbutton" icon="icon-ok">更新</a>
                <a id="CancelButton" href="#" class="easyui-linkbutton" icon="icon-cancel">取消</a>
            </div>
        </form>
    </div>
</div>
<script>
// 构建moni数据结构
function moniData(UID, Manufacturer, Prec, CtrlType, MachType, DDKey, CN, TW, EN, Visb,Reserved0,Reserved1,Reserved2,Reserved3,Reserved4) {
    this.UID = UID;
    this.Manufacturer = Manufacturer;
    this.Prec = Prec;
    this.CtrlType = CtrlType;
    this.MachType = MachType;
    this.DDKey = DDKey;
    this.CN = CN;
    this.TW = TW;
    this.EN = EN;
    this.Visb = Visb;
    this.Reserved0=Reserved0;
    this.Reserved1=Reserved1;
    this.Reserved2=Reserved2;
    this.Reserved3=Reserved3;
    this.Reserved4=Reserved4;

}

// 检查Form输入数据是否符号规范
function checkinput(Data) {

    if (Data.Prec == "") {
        alert("精度不能为空,请检查!");
        return false;
    }
    if (!(Data.Prec <= 10)) {
        alert("精度必须为小于10的整数,请检查!");
        return false;
    }


    if (Data.DDKey == "") {
        alert("搜索值不能为空,请检查!");
        return false;
    }
    if (Data.CN == "") {
        alert("中文不能为空,请检查!");
        return false;
    }

    if (Data.Visb == "") {
        alert("可见性不能为空,请检查!");
        return false;
    }
    if (Data.Visb != "0" && Data.Visb != "1") {
        alert("可见性只能输入0或1,0代表不可见,1代表可见!");
        return false;
    }

    return true;

}

//AJAX新增函数

function ajaxAdd(moniData) {

    $.ajax({
        method: 'post',
        url: '/app/HMIPrint/moniAdd',
        data: moniData,
        success: function(data, textStatus) {

            //  	alert("成功数据:"+JSON.stringify(data));

            if (data.affectedRows != 0) {
                alert("新增数据成功!");
                window.location.reload();
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {

        }
    });
}
//ajax更新函数

function ajaxUpd(moniData) {

    $.ajax({
        method: 'post',
        url: '/app/HMIPrint/moniUpd',
        data: moniData,
        success: function(data, textStatus) {

            //   	alert("成功数据:"+JSON.stringify(data));

            if (data.changedRows != 0) {
                alert("更新数据成功!");
                window.location.reload();
            } else {
                alert("未有数据更新!");
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {

        }
    });
}

//ajax删除函数
function ajaxDel(UID) {

    $.ajax({
        method: 'post',
        url: '/app/HMIPrint/moniDel',
        data: UID,
        success: function(data, textStatus) {

            //	alert("成功数据:"+JSON.stringify(data));

            if (data.affectedRows != 0) {
                alert("删除数据成功!");
                window.location.reload();
            } else {
                alert("删除数据失败!");
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {

        }
    });
}






//加载完成后执行程序
$(document).ready(function() {


    //加载数据表及数据----------
    $('#moniDBTable').DataTable({
        ajax: {
            url: '/app/HMIPrint/getMoniInfo',
            dataSrc: ''
        },
        columns: [
            { data: 'Manufacturer' },            
            { data: 'CtrlType' },
            { data: 'MachType' },
            { data: 'DDKey' },
            { data: 'Prec' },
            { data: 'CN' },
            { data: 'Visb' },
            { data: 'TW' },
            { data: 'EN' },
            { data: 'Reserved0' },
            { data: 'Reserved1' },
            { data: 'Reserved2' },
            { data: 'Reserved3' },
            { data: 'Reserved4' }
        ]
    });


    //判断是否选中数据-------
    var table = $('#moniDBTable').DataTable();

    $('#moniDBTable tbody').on('click', 'tr', function() {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        } else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });


    //添加按钮-----
    $('#Add').click(function() {
        $('#win').window('open');
        $('#AddDoButton').show();
        $('#UpdDoButton').hide();
        $('#ManufacturerInput').val("");
        $('#PrecInput').val("");
        $('#CtrlTypeInput').val("");
        $('#MachTypeInput').val("");
        $('#DDKeyInput').val("");
        $('#CNInput').val("");
        $('#TWInput').val("");
        $('#ENInput').val("");
        $('#VisbInput').val("");
        $('#Reserved0Input').val("");
        $('#Reserved1Input').val("");
        $('#Reserved2Input').val("");
        $('#Reserved3Input').val("");
        $('#Reserved4Input').val("");
    });

    //更新按钮---------
    $('#Upd').click(function() {

        //alert("seclet: "+JSON.stringify(table.row('.selected').data()));
        // table.row('.selected').remove().draw( false );
        var dataSelect = table.row('.selected').data();

        if (dataSelect == undefined) {
            alert("当前未选择任何数据,请先点击需要更新的数据行!");
        } else {
            $('#win').window('open');
            $('#AddDoButton').hide();
            $('#UpdDoButton').show();
            $('#ManufacturerInput').val(dataSelect.Manufacturer);
            $('#PrecInput').val(dataSelect.Prec);
            $('#CtrlTypeInput').val(dataSelect.CtrlType);
            $('#MachTypeInput').val(dataSelect.MachType);
            $('#DDKeyInput').val(dataSelect.DDKey);
            $('#CNInput').val(dataSelect.CN);
            $('#TWInput').val(dataSelect.TW);
            $('#ENInput').val(dataSelect.EN);
            $('#VisbInput').val(dataSelect.Visb);
            $('#Reserved0Input').val(dataSelect.Reserved0);
            $('#Reserved1Input').val(dataSelect.Reserved1);
            $('#Reserved2Input').val(dataSelect.Reserved2);
            $('#Reserved3Input').val(dataSelect.Reserved3);
            $('#Reserved4Input').val(dataSelect.Reserved4);

        }


    });

    //删除按钮----------
    $('#Del').click(function() {

        var dataSelect = table.row('.selected').data();

        if (dataSelect == undefined) {
            alert("当前未选择任何数据,请先点击需要删除的数据行!");
        } else {
            var UID = { "UID": dataSelect.UID };
            //	    		alert("UID:"+UID);

            ajaxDel(UID);

        }







        //	        table.row('.selected').remove().draw( false );//前端删除显示数据 ,数据库不删除
    });



    //form框添加按钮----------
    $('#AddDoButton').click(function() {
        var UID = "";
        var ManufacturerInput = $('#ManufacturerInput').val();
        var PrecInput = $('#PrecInput').val();
        var CtrlTypeInput = $('#CtrlTypeInput').val();
        var MachTypeInput = $('#MachTypeInput').val();
        var DDKeyInput = $('#DDKeyInput').val();
        var CNInput = $('#CNInput').val();
        var TWInput = $('#TWInput').val();
        var ENInput = $('#ENInput').val();
        var VisbInput = $('#VisbInput').val();
        var Reserved0Input=$('#Reserved0Input').val();
        var Reserved1Input=$('#Reserved1Input').val();
        var Reserved2Input=$('#Reserved2Input').val();
        var Reserved3Input=$('#Reserved3Input').val();
        var Reserved4Input=$('#Reserved4Input').val();

        var formData = new moniData(UID, ManufacturerInput, PrecInput, CtrlTypeInput, MachTypeInput, DDKeyInput, CNInput, TWInput, ENInput, VisbInput,Reserved0Input,Reserved1Input,Reserved2Input,Reserved3Input,Reserved4Input);

        //  	alert("formData:"+JSON.stringify(formData));

        if (checkinput(formData)) {
            //	alert("输入正确");

            ajaxAdd(formData);

        } else {
            //	alert("输入错误");

        }


    });
    //form 更新按钮

    $('#UpdDoButton').click(function() {

        var UID = table.row('.selected').data().UID;
        var ManufacturerInput = $('#ManufacturerInput').val();
        var PrecInput = $('#PrecInput').val();
        var CtrlTypeInput = $('#CtrlTypeInput').val();
        var MachTypeInput = $('#MachTypeInput').val();
        var DDKeyInput = $('#DDKeyInput').val();
        var CNInput = $('#CNInput').val();
        var TWInput = $('#TWInput').val();
        var ENInput = $('#ENInput').val();
        var VisbInput = $('#VisbInput').val();
        var Reserved0Input=$('#Reserved0Input').val();
        var Reserved1Input=$('#Reserved1Input').val();
        var Reserved2Input=$('#Reserved2Input').val();
        var Reserved3Input=$('#Reserved3Input').val();
        var Reserved4Input=$('#Reserved4Input').val();

        var formData = new moniData(UID, ManufacturerInput, PrecInput, CtrlTypeInput, MachTypeInput, DDKeyInput, CNInput, TWInput, ENInput, VisbInput,Reserved0Input,Reserved1Input,Reserved2Input,Reserved3Input,Reserved4Input);

        //   	alert("formData:"+JSON.stringify(formData));

        if (checkinput(formData)) {
            //	alert("输入正确");

            ajaxUpd(formData);

        } else {
            //	alert("输入错误");

        }


    });



    //form框 取消按钮

    $('#CancelButton').click(function() {
        $('#win').window('close');
    });






});




//function getdata(DDKey) {
//    $.ajax({
//        method: 'get',
//        data: { DDKey: DDKey },
//        url: "/app/HMIPrint/getMoniInfo", // Chenly 2018-10-15 加载此路径的文件，注：此文件类型为.{m}.js
//        success: function(data) {
//           alert(JSON.stringify(data));
//
//        },
//        error: function() {}
//    });
//
//}
//
//
//getdata();
</script>