<!--本地路径-->
<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>

<script type="text/javascript" src="/js/muc_jsExtend.js"></script>
<script type="text/javascript" src="/js/HMIPrint/common.js"></script>
<script type="text/javascript" src="/js/HMIPrint/moniParse.js"></script>

<script type="text/javascript" src="/DataTables/media/js/jquery.dataTables.js"></script>

<link rel="stylesheet" href="/DataTables/media/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/css/HMIPrint/dataTableExtend.css">
<link rel="stylesheet" type="text/css" href="/css/HMIPrint/divContent.css">

<!-- <script type="text/javascript" src="/js/HMIPrint/lc_switch.min.js"></script> -->
<!-- <link rel="stylesheet" type="text/css" href="/css/HMIPrint/lc_switch.css"> -->

<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="/css/HMIPrint/bootstrap.min.css" rel="stylesheet">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/js/HMIPrint/bootstrap.min.js"></script>

<div class="divContent">
    <h1>Moni 文件解析</h1>
    <hr />
    <!-- 操作区（按钮等） -->
    <div class="input-append">
        <!-- 导出文件按键 -->
        <input type="file" id="upFolder" style="display:none;" webkitdirectory />
        <a class="btn btn-lg btn-info" onclick="$('#upFolder').click();">导入文件</a>

        <!--  汇出excel按键 -->
        <a id="dlink" class="btn btn-lg btn-default">汇出excel</a>

        <!-- 进度提示 -->
        <label id="PMsg" style="font-weight: bold;font-size: 15px;color: red;margin-left: 20px"></label>

        <!-- 记录单选框 加个hidden是为了防止加载中留下残影-->
        <!-- <input id="recBox" type="checkbox" name="check-1" value="recOn" class="lcs_check" autocomplete="off" style="visibility: hidden;" checked="checked" /> -->
    </div>
    </br>

    <!--数据呈现区-->
    <div>
        <table id="monidata" class="table table-bordered table-hover">
            <!-- thead 存放警报标题， eg. 开模序号、循环计时 。。。 -->
            <thead>
                <tr id="dataThTr"></tr>
            </thead>
            <!-- tbody 存放对应的资料值， eg.  1， 17.69 。。。 -->
            <tbody id="dataTbBody"></tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
/*jshint esversion:6*/
/*===========================================================================+
|   fucntion                                                                 |
+===========================================================================*/

/*===========================================================================+
|   $(document).ready                                                        |
+===========================================================================*/
$(function(e) {
    /* “记录”checkbox初始化与事件绑定 */
    // waring:不能写在onload
    // Chenly 2018-11-09 默认改为自动记录
    // fnBindRecTrigger("sMoniRec", "#recBox", "记录", "关闭");
});


/*===========================================================================+
|   window.onload                                                            |
+===========================================================================*/
// window.onload = function() {
$(window).load(function() {
    var $pMsgID = $("#PMsg");

    let mucDB = "MucDB",
        store = "HMIPrint",
        pageID = "moni",
        sParseFlag = "MoniParseStat", // 假使当前页面解析过，则为true
        obj = g_oMoni,
        sPFlag = sessionStorage.getItem(sParseFlag); // sPFlag：实际解析状态

    function callbackInxDB(data) {
        if (data) {
            fnShowPreMoniData(data);
        }
        $pMsgID.text("");
    }

    function fnTbDataExport(data) {
        if (data) {
            fnTableBuffExport(data.trBuff, data.tdBuff, "#dlink", pageID, '.xls');
        }
        $pMsgID.text("");
    }


    if (sPFlag == "true") {
        $pMsgID.text("正在呈现上次数据内容，请稍后 . . .");
        fnGetDataFrIndexedDB(mucDB, store, pageID, callbackInxDB);
    }

    /* 操作控件事件绑定 */
    // 上传文件夹
    $("#upFolder").change(function() {
        fnTrvlEvent();
    });

    /* 汇出excel功能绑定上次解析的download内容 */
    fnGetDataFrIndexedDB(mucDB, store, pageID, fnTbDataExport);

    /*    indexedDB.deleteDatabase("MucDB");
        let mucDB = "MucDB",
            store = "HMIPrint",
            pageName = "moni",
            sRecFlag = "sMoniRec";*/

    // Chenly 2018-11-09 mark，默认为自动记录，同时存在checkbox已经为check的状态，必须要trigger click一下的问题现象
    /*    let sRecStat = sessionStorage.getItem(sRecFlag); // String类型

        // 呈现先前成功解析的obj
        function callbackInxDB(data) {
            // console.log(data);
            if (data) {
                fnShowPreMoniData(data);
            }

            $("#PMsg").text("");
        }

        if (sRecStat === "true" || sRecCheckStat == "checked") {
            $("#PMsg").text("正在获取/解析数据文件，请稍后 . . .");
            fnGetDataFrIndexedDB(mucDB, store, pageName, callbackInxDB);
        }*/

    // };
});

</script>
