<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>
<script type="text/javascript">
var result=document.getElementById("result");
var file=document.getElementById("file");
 
//判断浏览器是否支持FileReader接口
if(typeof FileReader == 'undefined'){
    result.InnerHTML="<p>你的浏览器不支持FileReader接口！</p>";
    //使选择控件不可操作
    file.setAttribute("disabled","disabled");
}
 
function readAsDataURL(){
    //检验是否为图像文件
    var file = document.getElementById("file").files[0];
    if(!/image\/\w+/.test(file.type)){
        alert("看清楚，这个需要图片！");
        return false;
    }
    var reader = new FileReader();
    //将文件以Data URL形式读入页面
    reader.readAsDataURL(file);
    reader.onload=function(e){
        var result=document.getElementById("result");
        //显示文件
        result.innerHTML='<img src="' + this.result +'" alt="" />';
    }
}
 
function readAsBinaryString(){
    var file = document.getElementById("cdbfile").files[0];
    var reader = new FileReader();
    //将文件以二进制形式读入页面
    reader.readAsBinaryString(file);
    reader.onload=function(f){
        var result=document.getElementById("result");
        //显示文件
//        result.innerHTML=stringToHex(this.result);
        document.getElementById("cdbcontent").value=stringToHex(this.result);
        cdbArray=stringToHex(this.result).split(",");
//        alert(cdbArray[0]);
//        alert(cdbArray);
        
//        return cdbArray;
    }
}
 
function readAsText(){
    var file = document.getElementById("inifile").files[0];
    var reader = new FileReader();
    //将文件以文本形式读入页面
    reader.readAsText(file);
    reader.onload=function(f){
        var result=document.getElementById("result");
        document.getElementById("inicontent").value=this.result;
        //显示文件
        
//        alert(this.result);
        ParamPart=this.result.split("[Parameter]");
        
//        alert(ParamPart[1]);
        
        
        var Temp=ParamPart[1].split("\n");   	
        Params=[];
    	for(var i=0;i<Temp.length;i++){
//    		alert("I:"+i);
    		
    		if(Temp[i]!="\r"&&Temp[i]!="\n"&&Temp[i]!=""){
    			
    			Params.push(Temp[i]);
//    			alert("<<"+Temp[i]+">>");
    		}
    			
    	}
        

    }
}

function stringToHex(str){
　　　　var val="";
　　　　for(var i = 0; i < str.length; i++){
　　　　　　if(val == "")
　　　　　　　　val = str.charCodeAt(i).toString(16);
　　　　　　else
　　　　　　　　val += "," + str.charCodeAt(i).toString(16);
　　　　}
　　　　return val;
　　}

//获取Parameter 部分
//function getParam(obj){
//	
//	var Param=obj.split("[Parameter]");
////	alert(Param[1]);
////    var index=obj.lastIndexOf("/[Parameter]/i");
////    obj=obj.substring(index+1,obj.length);
//////  console.log(obj);
//	alert(Param[0]);
//	
////	var str = "aaabbbcccdddeeefff";
////	str = Param[0].match(/header=(\S*)\n/)[1];
////	alert(str);//结果bbbcccdddeee
//
////	alert("header:"+str);//输出4567
//	
//	
//    return Param[1];
//}


//获取Parameters
//function getParams(Param){
//	var Temp=Param.split("\n");
//	
//	var Params=[];
//	for(var i=0;i<Temp.length;i++){
////		alert("I:"+i);
//		
//		if(Temp[i]!="\r"&&Temp[i]!="\n"&&Temp[i]!=""){
//			
//			Params.push(Temp[i]);
////			alert("<<"+Temp[i]+">>");
//		}else{
////			alert(i+"为空");
//		}
//		return Params;
//			
//	}
//	
//}


function getCDBParams(cdbArray,Params){
	
	
	 Ptd0=[];
	 Ptd1=[];
	 Ptd2=[];
	 Ptd3=[];
	 Ptd4=[];
	//检查内容
	for(var i=0;i<Params.length;i++){
//		
//		alert(i+":"+Params[i]);
		var ParamElem=Params[i].split(",");
		
		Ptd0.push(ParamElem[0]);
		Ptd1.push(ParamElem[1]);
		Ptd2.push(ParamElem[2]);
		Ptd3.push(ParamElem[3]);
		Ptd4.push(ParamElem[4]);
//		alert("tttt"+ParamElem);
		
	}
	
	alert(Ptd1);
	
	
	cdbParams=[];
	var curr=12;
	
	var j=0;
	
	for(j in Ptd1 ){
//		alert(j+":"+Ptd1[j]);
		var size=Ptd1[j];
		var temp="";
		for (var k=1;k<=size;k++){
			
			temp=temp+cdbArray[curr+(size-k)]
//			alert(temp);
			
		}
		
		cdbParams.push(parseInt(temp,16));
		
		curr=curr+parseInt(size);
//		alert("cdbParam:"+cdbParams+"curr:"+curr);
		
		
	}

	
}	
	

function getReasult(){
//	var cdbArray=readAsBinaryString();
	
//	alert("cdbArray"+cdbArray);	
//	alert("Params"+Params);
	getCDBParams(cdbArray,Params);
	
//	alert("cdbParams:"+cdbParams);

	for(var i=0;i<cdbParams.length;i++){
		document.getElementById("resultcontent").value=document.getElementById("resultcontent").value+Ptd0[i].split("=")[1]+":"+cdbParams[i]*Math.pow(0.1,Ptd2[i]).toFixed(Ptd3[i])+"\n";
	}
	
	
	
	
}
	
//alert(0.1**2);
//function getTD(Params){
//	alert(Params);
//	var PMTD=[];
//	for(var i=0;i<=Params.length;i++){
//		
//		
//		
//		var PM=Params[i].split(",");
////		if (PM !== "" && PM != undefined) {
////			PMTD.push(PM);
////			}    
////	
//		
////		alert(PM);
////		var TD1[i]=PM[1];
////		var TD2[i]=PM[2];
////		var TD3[i]=PM[3];
////		var TD4[i]=PM[4];
////		var TD5[i]=PM[5];
//	}
//	
////	alert(PMTD);
//
////	return TD1;	
//}
//////去除数据中的空项
////Array.prototype.notempty = function() {
////	var arr = [];    
////	this.map(function(val, index) {
////		if (val !== "" && val != undefined) {
////			arr.push(val);
////			}    
////		});    
////	return arr;
////
////}
////
//
////var a = [1, 2, undefined, 4, "", 5, null, 7, 0, 8];
////var b = a.notempty();
//
//
//
////function fortest(){
////	var t=0;
////	for(var i=0;i<10000000;i++){
////		t=t+1;
////	}
////	alert(t);
////}
////fortest();

</script>
<p>
<!--   <label>请选择一个文件：</label>-->
    <input type="file" id="cdbfile" />
<!--    <input type="button" value="读取图像" onclick="readAsDataURL()" />-->
    <input type="button" value="读取cdb" onclick="readAsBinaryString()" />
<!--    <label>请选择一个文件：</label>-->
    <input type="file" id="inifile" />
    <input type="button" value="读取ini" onclick="readAsText()" />
</p>
    
   
<p>
<textarea name="cdbcontent" id="cdbcontent" cols="80" rows="10"></textarea>
<textarea name="inicontent" id="inicontent" cols="80" rows="10"></textarea>
</p>


<p> <input type="button" value="获取参数" onclick="getReasult()" /> </p>

<!--<textarea name="resultcontent" id="resultcontent" cols="80" rows="10"></textarea>-->


<textarea name="resultcontent" id="resultcontent" cols="80" rows="10"></textarea>