<!--本地路径-->
<link rel="stylesheet" type="text/css" href="/css/OA/OAContent.css">


<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/OA/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">


<!--<link rel="stylesheet" type="text/css" href="/css/OA/DataTables/DataTables-1.10.18/css/jquery.dataTables.css">-->

<link rel="stylesheet" type="text/css" href="/css/OA/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.css">

<!-- JS  -->
<script type="text/javascript"  src="/css/OA/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"  src="/css/OA/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>


<script src="/js/OA/FileSaver.min.js"></script>
<script src="/js/OA/tableExport.js"></script>
<script src="/js/OA/OAfuns.js"></script>




<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>



<div class="divcontent">
    <h1>人员信息维护</h1>
    <hr>
    <!--<button id="Add"  onclick="javascript:$('#win').window('open')">添加</button>-->
    <!-- 操作区（按钮等） -->
    <div class="lineitem">
        <button id="Add" class="btn btn-info">添加</button>
        <button id="Upd" class="btn btn-warning">更新</button>
        <button id="Del" class="btn btn-danger">删除</button>
    </div>
    <br/>

    <!--数据呈现区-->
    <table id="staff_DB" class="table table-striped table-bordered"  >
        <thead>
            <tr>
                <th>DBID</th>
                <th>部门</th>
                <th>课</th>
                <th>组</th>
                <th>姓名</th>
                <th>性别</th>
                <th>职位</th>
                <th>职级</th>
                <th>电话</th>
            </tr>
        </thead>
    </table>
    <!-- 点击更新、添加按钮后弹出的窗口 -->
    <div id="win" class="easyui-window" title="DBinfo" closed="true" style="width:450px;height:750px;">
        <form style="padding:10px 50px;">
            <p>工号 : <input id="staff_ID" size="30" type="text" class="required"></p>
            <p>部门 : <input id="dept" size="30" type="text" class="required" value="软体部"></p>
            <p>课 :
            <select id="deptClass" class="required">
            <option value="主机课" label="主机课"></option>
            <option value="面板课" label="面板课"></option>
            <option value="产品技术课" label="产品技术课"></option>
            <option value="应用工程课" label="应用工程课"></option>
            <option value="生技课" label="生技课"></option>
            </select>
            </p>
            
            <p>组 : 
            <select id="deptGroup" class="required">
            <option value="主机组" label="主机组"></option>
            <option value="面板组" label="面板组"></option>
            <option value="产品技术组" label="产品技术组"></option>
            <option value="应用工程组" label="应用工程组"></option>
            <option value="生技组" label="生技组"></option>
            </select>
            </p>
            
            
            <p>姓名 : <input id="staffName" size="30" type="text" class="required"></p>
            
            
            <p>性别 :
            <select id="sex" class="required">
            <option value="男" label="男"></option>
            <option value="女" label="女"></option>
            </select>
            </p>
            
            
            <p>会费 : <input id="deptFee" list="deptFeeInput" size="30" type="text" class="required"></p>
            <datalist id="deptFeeInput">
            </datalist>
            <p>职位 : <input id="postName" size="30" type="text" class="required"></p>
            <p>职级 : 
            <select id="postLevel" class="required">
            <option value="员工级" label="员工级"></option>
            <option value="副组长级" label="副组长级"></option>
            <option value="组长级" label="组长级"></option>
            <option value="副课长级" label="副课长级"></option>
            <option value="课长级" label="课长级"></option>
            <option value="副经理级" label="副经理级"></option>
            <option value="经理级" label="经理级"></option>
            <option value="副总" label="副总"></option>
            </select>
            
            </p>
            
            <p>学历 : 
            <select id="edu" class="required">
            <option value="本科" label="本科"></option>
            <option value="大专" label="大专"></option>
            <option value="硕士" label="硕士"></option>
            <option value="博士" label="博士"></option>
            <option value="高中" label="高中"></option>
            <option value="初中" label="初中"></option>
            </select>
            
            </p>
            
            <p>入职日期 : <input id="entryDate" size="30" type="date"  class="required" ></p>
            
            <p>公司 : 
            <select id="company" class="required">
            <option value="弘讯科技" label="弘讯科技"></option>
            <option value="奥图美克" label="奥图美克"></option>
            <option value="软件公司" label="软件公司"></option>
            </select>
            </p>
            <p>生日 : <input id="birthday" size="30" type="date" class="required"></p>
            <p>加入工会 : 
            
            <select id="inUnion" class="required">
            <option value="是" label="是"></option>
            <option value="否" label="否"></option>
            </select>
            </p>
            <p>电话号 : <input id="Phone" size="30" type="text" class="required"></p>
            <p>专业 : <input id="major" size="30" type="text" class="required"></p>
            <p>毕业学校 : <input id="school" size="30" type="text" class="required"></p>
            <p>学位 : <input id="degree" size="30" type="text" class="required"></p>
            <p>证书 : <input id="certificates" size="30" type="text" class="required"></p>   
            <p>毕业时间 : <input id="gradTime" size="30" type="text" class="required"></p>

          
            <div style="padding:5px;text-align:center;">
                <a id="AddDoButton"　href="#" class="easyui-linkbutton" icon="icon-ok">添加</a>
                <a id="UpdDoButton"　href="#" class="easyui-linkbutton" icon="icon-ok">更新</a>
                <a id="CancelButton" href="#" class="easyui-linkbutton" icon="icon-cancel">取消</a>
            </div>
        </form>
    </div>
</div>


<script>

////定义显示人员信息数据参数结构-------------
//function factDataPara(tableID,DBTable,sex) {
//    this.tableID = tableID;
//    this.DBTable = DBTable;
//    this.sex = sex;
//}
//检查输入信息-------------------
function checkinput(Data) {
    if (Data.staff_ID=="") {
        alert('工号不能为空，请检查!');
        return false;
    } else if (Data.staffName=="") {
        alert('姓名不能为空，请检查!');
        return false;
    }
    return true;
}

//定义添加发送数据结构---------------------

function addDataInfo(DBTable,staff_ID,dept,deptClass,deptGroup,staffName,sex,deptFee,postName,postLevel,edu,entryDate,company,birthday,inUnion,Phone,major,school,degree,certificates,gradTime){
	this.DBTable=DBTable;
	this.staff_ID=staff_ID;
	this.dept=dept;
	this.deptClass=deptClass;
	this.deptGroup=deptGroup;
	this.staffName=staffName;
	this.sex=sex;
	this.deptFee=deptFee;
	this.postName=postName;
	this.postLevel=postLevel;
	this.edu=edu;
	this.company=company;
	this.birthday=birthday;
	this.entryDate=entryDate;
	this.inUnion=inUnion;
	this.Phone=Phone;
	this.major=major;
	this.school=school;
	this.degree=degree;
	this.certificates=certificates;
	this.gradTime=gradTime;
}


//页面加载函数---------------
$(document).ready( function () {
	
	
	var format = function(time, format){
	    var t = new Date(time);
	    var tf = function(i){return (i < 10 ? '0' : '') + i};
	    return format.replace(/yyyy|MM|dd|HH|mm|ss/g, function(a){
	        switch(a){
	            case 'yyyy':
	                return tf(t.getFullYear());
	                break;
	            case 'MM':
	                return tf(t.getMonth() + 1);
	                break;
	            case 'mm':
	                return tf(t.getMinutes());
	                break;
	            case 'dd':
	                return tf(t.getDate());
	                break;
	            case 'HH':
	                return tf(t.getHours());
	                break;
	            case 'ss':
	                return tf(t.getSeconds());
	                break;
	        }
	    })
	}

	 

//	var date = format(new Date(), 'yyyy-MM-dd');
	
	
//	DateFormat formator = new SimpleDateFormat("yyyy-MM-dd");
		
	var DataPara={
			"tableID":"#staff_DB",
			"DBTable":"OA_staffs"			
	}
		
	
	var columnsData=[
		{ data: 'DBID' ,"visible": false},
        { data: 'dept' },
        { data: 'deptClass' },
        { data: 'deptGroup' },
        { data: 'staffName' },
        { data: 'sex'},
        { data: 'postName'},
        { data: 'postLevel'},
        { data: 'Phone'}
    ];

//	alert(JSON.stringify(DataPara));
	showDBData(DataPara,columnsData);
	
//判断是否选中数据-------
var table = $('#staff_DB').DataTable();
$('#staff_DB tbody').on('click', 'tr', function() {
    if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
    } else {
        table.$('tr.selected').removeClass('selected');
        $(this).addClass('selected');
    }
});
	




//添加按钮-----
$('#Add').click(function() {
    $('#win').window('open');
    $('#AddDoButton').show();
    $('#UpdDoButton').hide();
    
});


//更新按钮---------
$('#Upd').click(function() {
 //   alert("seclet: "+JSON.stringify(table.row('.selected').data()));
    // table.row('.selected').remove().draw( false );
    var dataSelect = table.row('.selected').data();
    if (dataSelect == undefined) {
        alert("当前未选择任何数据,请先点击需要更新的数据行!");
    } else {
        $('#win').window('open');
        $('#AddDoButton').hide();
        $('#UpdDoButton').show();
        
        $('#staff_ID').val(dataSelect.staff_ID);
        $('#dept').val(dataSelect.dept);
        $('#deptClass').val(dataSelect.deptClass);
        $('#deptGroup').val(dataSelect.deptGroup);
        $('#staffName').val(dataSelect.staffName);
        $('#sex').val(dataSelect.sex);
        $('#deptFee').val(dataSelect.deptFee);
        $('#postName').val(dataSelect.postName);
        $('#postLevel').val(dataSelect.postLevel);
        $('#edu').val(dataSelect.edu);
        $('#entryDate').val(moment(dataSelect.entryDate).format("YYYY-MM-DD"));
        $('#company').val(dataSelect.company);
        $('#birthday').val(moment(dataSelect.birthday).format("YYYY-MM-DD"));
        $('#inUnion').val(dataSelect.inUnion);
        $('#Phone').val(dataSelect.Phone);
        $('#major').val(dataSelect.major);
        $('#school').val(dataSelect.school);
        $('#degree').val(dataSelect.degree);
        $('#certificates').val(dataSelect.certificates);
        $('#gradTime').val(dataSelect.gradTime);
        
    }
});


//删除按钮----------
$('#Del').click(function() {
    var dataSelect = table.row('.selected').data();
    
//    alert(JSON.stringify(dataSelect));
    
    if (dataSelect == undefined) {
        alert("当前未选择任何数据,请先点击需要删除的数据行!");
    } else {
        var msg1 = confirm("风险操作！此行数据内容移除后无法还原，请确认操作是否无误！");
        if (msg1 === true) {
            var msg2 = confirm("确认删除此行数据？");
            if (msg2 === true) {
            	
            //	alert(dataSelect.DBID);
                var IDData = {"DBTable":"OA_staffs","DBID":dataSelect.DBID};
             //   alert("IDData:"+JSON.stringify(IDData));
                delDBData(IDData);
            }
        }
    }
    //          table.row('.selected').remove().draw( false );//前端删除显示数据 ,数据库不删除
});


//form框添加按钮----------
$('#AddDoButton').click(function() {
	var DBTable="OA_staffs";
	
	var staff_ID=$('#staff_ID').val();
	var dept= $('#dept').val();
	var deptClass= $('#deptClass').val();
	var deptGroup= $('#deptGroup').val();
	var staffName=$('#staffName').val();
	var sex= $('#sex').val();
	var deptFee= $('#deptFee').val();
	var postName= $('#postName').val();
	var postLevel= $('#postLevel').val();
	var edu= $('#edu').val();
	var entryDate= $('#entryDate').val();
	var company= $('#company').val();
	var birthday= $('#birthday').val();
	var inUnion=$('#inUnion').val();
	var Phone= $('#Phone').val();
	var major= $('#major').val();
	var school= $('#school').val();
	var degree= $('#degree').val();
	var certificates= $('#certificates').val();
	var gradTime= $('#gradTime').val();
	
	var DBData=new addDataInfo(DBTable,staff_ID,dept,deptClass,deptGroup,staffName,sex,deptFee,postName,postLevel,edu,entryDate,company,birthday,inUnion,Phone,major,school,degree,certificates,gradTime);
	
	
	addDBData(DBData);
	


});




//form 更新按钮------------
$('#UpdDoButton').click(function() {
	
 //   var UID = table.row('.selected').data().UID;
	
//	var staff_ID=$('#staff_ID').val();
//    var staffName=$('#staffName').val();
//    var sex=$('#sex').val();
	
	var updInput={
			 staff_ID:$('#staff_ID').val(),
			 dept: $('#dept').val(),
			 deptClass: $('#deptClass').val(),
			 deptGroup: $('#deptGroup').val(),
			 staffName:$('#staffName').val(),
			 sex: $('#sex').val(),
			 deptFee: $('#deptFee').val(),
			 postName: $('#postName').val(),
			 postLevel: $('#postLevel').val(),
			 edu: $('#edu').val(),
			 entryDate: $('#entryDate').val(),
			 company: $('#company').val(),
			 birthday: $('#birthday').val(),
			 inUnion:$('#inUnion').val(),
			 Phone: $('#Phone').val(),
			 major: $('#major').val(),
			 school: $('#school').val(),
			 degree: $('#degree').val(),
			 certificates: $('#certificates').val(),
			 gradTime: $('#gradTime').val()	
	}

   
    var updJSON={
			'DBTable':"OA_staffs",
			'DBID':table.row('.selected').data().DBID
    	}
	var changed=0;

    for (var key in updInput) {   	
//   	alert(key);
    	if(updInput[key]!=table.row('.selected').data()[key]){    		
//    		alert("updInput:"+updInput[key]);
//    		alert("selected:"+table.row('.selected').data()[key]);    		
    		updJSON[key]=updInput[key];//不可用updJSON.key 会以"key"属性直接加入
//    		changed=changed+1;
    	}
    }

//   alert("updJSON:"+JSON.stringify(updJSON));
    

    	if (checkinput(updJSON)) {
    		 var msg = confirm("确认更新?");
    		 if(msg==true){
    			 updDBData(updJSON);
    		 }
    		 
    	}
    
});


//form框 取消按钮----------------
$('#CancelButton').click(function() {
    $('#win').window('close');
});

	
	
}); 

</script>
