<!--本地路径-->
<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">

<!--<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/jquery.dataTables.css">-->
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.css">

<!-- JS  -->
<script type="text/javascript" src="/css/PM/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/css/PM/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/MSTools/layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="/css/TM/tmcode-font.css">
<!-- JS  -->

<script src="/css/PM/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<!-- JS 这3个管分析视窗 -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/PM/FileSaver.min.js"></script>
<script src="/js/PM/tableExport.js"></script>
<!-- JS  -->
<script src="/js/PM/PMfuns.js"></script>
<script src="/banq/TMfun.js"></script>
<script src="/banq/TMEvent.js"></script>
<!-- <script type="text/javascript" src="/js/jquery.media.js"></script> -->

<script src="/js/HMIPrint/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/css/MSTools/layui/layui.js"></script>

<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>

<div id="noprint" class="noprint">
	<div class="divcontent">
		<div id="handout_wrap_inner"></div>
		<h1>弘讯科技编码报废作业</h1>
		<label>审批号:</label>
		<div class="layui-inline">
			<input class="layui-input" name="billno" id="billno" value="" autocomplete="off">
		</div>
		<label>编码号:</label>
		<div class="layui-inline">
			<input class="layui-input" name="codeno" id="codeno" value="" autocomplete="off">
		</div>
		<input type="button" id="SeaBtn" onclick="searchFile()" class="btn btn-info" value="查找" />
		<button id="BTNFitler" type="button" class="btn btn-default">自定义日期</button>
		<button id="BTNFitSearch" type="button" class="btn btn-info">操作</button>
		<input type="button" id="DisplayBtn" class="btn btn-info" value="栏位" />
		<input type="button" id="DetailBtn" class="btn btn-info" value="解析" />
		<hr>
		<br />

		<!-- 点击自定义过滤弹出的窗口 -->
		<div id="DivFilter" class="easyui-window" title="自定义过滤器" closed="true" style="width:800px;height:400px;">
			<form style="padding:10px 50px;">
				<div class="form-horizontal">
					<div class="form-group">
						<label for="taskMakeDate" class="col-sm-2 control-label">上周日期范围:</label>
						<div class="col-sm-3 ">
							<div class="input-group date form_date " data-date=""
								data-date-format="yyyy-mm-dd" data-link-field="taskMakeDateB"
								data-link-format="yyyy-mm-dd">
								<input id="taskMakeDateB" class="form-control " size="16" type="text"
									value="" readonly>
								<span class="input-group-addon"><span
										class="glyphicon glyphicon-calendar"></span></span>
							</div>
							<input type="hidden" id="taskMakeDateB" value="" />
						</div>

						<div class="col-sm-3 ">

							<div class="input-group date form_date " data-date=""
								data-date-format="yyyy-mm-dd" data-link-field="taskMakeDateE"
								data-link-format="yyyy-mm-dd">
								<input id="taskMakeDateE" class="form-control " size="16" type="text"
									value="" readonly>
								<span class="input-group-addon"><span
										class="glyphicon glyphicon-calendar"></span></span>
							</div>
							<input type="hidden" id="taskMakeDateE" value="" />
						</div>
					</div>
			</form>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-3 ">
				<button id="FilterComfirmBtnN" type="button" class="btn btn-primary">确认</button>
				<button id="FilterCancelBtnN" type="button" class="btn btn-warning">清空</button>
			</div>

		</div>
	</div>
	<!-- fin 自定义过滤  -->
	<div class="pdf-wrapper" id="pdf-wrapper" style="background-color: aliceblue;">
		<!--数据呈现区-->
		<table id="center_TB" class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>分类</th>
					<th>年份</th>
					<th>原则</th>
					<th>类别</th>
					<th>审批号</th>
					<th>编码</th>
					<th>物料名称</th>
					<th>旧代码</th>
					<th>建立日</th>
					<th>审批</th>
					<th>供应商</th>
					<th>原因</th>
				</tr>
			</thead>
		</table>
	</div>

</div>
</div>
<input type="button" id="AgreeBtn" onclick="absoApplyFile()" class="btn btn-info" value="审批申请" />
<div id="root" style="height: 100%"></div>
<br />
<!-- 点击弹出窗口开始 -->
<div class="modal fade" id="lovewindow" tabindex="-1" role="dialog" aria-labelledby="lovewindowLabel" aria-hidden="true"
	data-backdrop="static">
	<div class="modal-dialog" style="width:65%">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="panel-title">物料号面板
					<button id="BTNFormClose" type="button" class="btn btn-primary"
						data-dismiss="modal">关闭</button></h3>
			</div>
			<div class="modal-body">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">物料基本信息与规格</h3>
					</div>

					<div class="panel-body">

						<div class="form-horizontal" id="DivAnaly">
							<!-------------------------------------------------------------------------->
							<div class="form-group">
								<label class="col-sm-1 control-label">新物料号:</label>
								<div class="col-sm-4">
									<input id="specNHead" class="form-control" type="text" value=""
										disabled="true">
								</div>
								<label class="col-sm-1 control-label">类别:</label>
								<div class="col-sm-4">
									<input id="specOHead" class="form-control" type="text" value=""
										disabled="true">
								</div>
							</div>
							<div class="form-group">
								<!-- <label class="col-sm-1 control-label">检核:</label>
								<div class="col-sm-4">
									<input id="specCHead" class="form-control" type="text" value=""
										disabled="true">
								</div> -->
								<label class="col-sm-1 control-label">EF码:</label>
								<div class="col-sm-4">
									<input id="specEF" class="form-control" type="text" value=""
										disabled="true">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">型号:</label>
								<div class="col-sm-4">
									<input id="specModel" class="form-control" type="text" value=""
										disabled="true">
								</div>
								<label class="col-sm-1 control-label">组合件:</label>
								<div class="col-sm-4">
									<input id="specAssem" class="form-control" type="text" value=""
										disabled="true">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">基本单位:</label>
								<div class="col-sm-4">
									<input id="specUnitE" class="form-control" type="text" value=""
										disabled="true">
								</div>
								<label class="col-sm-1 control-label">物料状态:</label>
								<div class="col-sm-4">
									<input id="specPhase" class="form-control" type="text" value=""
										disabled="true">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">优先耗用:</label>
								<div class="col-sm-4">
									<input id="specPrior" class="form-control" type="text" value=""
										disabled="true">
								</div>
								<label class="col-sm-1 control-label">备注:</label>
								<div class="col-sm-4">
									<input id="specReason" class="form-control" type="text" value=""
										disabled="true">
								</div>
							</div>

							<!-------------------------------------------------------------------------->
							<div class="form-group">
								<label class="col-sm-1 control-label" for="name">规格详细:</label>
								<div class="col-sm-8">
									<textarea id="specList" class="can-drop-super" width="500px"
										rows="18"></textarea>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-1 control-label" for="name">提交人:</label>
								<div class="col-sm-3 ">
									<input id="specStaff" class="form-control" type="text" value=""
										disabled="true">
								</div>
								<label class="col-sm-1 control-label" for="name">提交日期:</label>
								<div class="col-sm-3 ">
									<input id="specApplyDate" class="form-control" type="text"
										value="" disabled="true">
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="BTNFormClose" type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div><!-- modal fade -->
<!-- 点击弹出窗口开始 -->
<div id="DisplayWin" class="easyui-window" title="栏位设定" closed="true"
	style="top:50px; left:1000px; width:400px;height:600px;">
	<form style="padding:10px 50px;">
		<div class="form-horizontal">
			<div class="form-group">
				<br></br>
				<span id="DispA" class="blue-label"> 年份 </span>
				<input type="checkbox" name="BOXA" id="BOXA" title="年份" lay-filter="page_check">
				<br></br>
				<span id="DispB" class="blue-label"> 原则 </span>
				<input type="checkbox" name="BOXB" id="BOXB" title="原则" lay-filter="page_check">
				<br></br>
				<span id="DispC" class="blue-label"> 审批号 </span>
				<input type="checkbox" name="BOXC" id="BOXC" title="审批号" lay-filter="page_check">
				<br></br>
				<span id="DispD" class="blue-label"> 旧规格 </span>
				<input type="checkbox" name="BOXD" id="BOXD" title="旧规格" lay-filter="page_check">
				<br></br>
				<span id="DispE" class="blue-label"> 建立日 </span>
				<input type="checkbox" name="BOXE" id="BOXE" lay-filter="page_check">
				<br></br>
				<span id="DispF" class="blue-label"> EF/供应商 </span>
				<input type="checkbox" name="BOXF" id="BOXF" title="EF/供应商" lay-filter="page_check">
				<br></br>
				<span id="DispG" class="blue-label"> 备注 </span>
				<input type="checkbox" name="BOXG" id="BOXG" title="备注" lay-filter="page_check">
				<br></br>
				<!-- <span id="DispH" class="blue-label"> EF/供应商 </span>
				<input type="checkbox" name="BOXH" id="BOXH" title="EF/供应商" lay-filter="page_check">
				<br></br>
				<span id="DispI" class="blue-label"> 备注 </span>
				<input type="checkbox" name="BOXI" id="BOXI" title="备注" lay-filter="page_check"> -->
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-3 ">
				<button id="DisplayOkBtn" type="button" class="btn btn-primary">确认</button>
			</div>
		</div>
	</form>
</div>
<!-- 点击窗口fin -->
<script>

	var missType = '';
	var missAcute = '';
	var missBcute = '';
	var missCcute = '';
	var missDcute = '';
	var bill_choose = '';
	var code_choose = '';
	var FieldA = true;
	var FieldB = true;
	var FieldC = false;
	var FieldD = false;
	var FieldE = false;
	var FieldF = true;
	var FieldG = true;
	var FieldH = true;
	var FieldI = true;
	//页面加载函数---------------
	let active = {};
	var sessionName = '';
	var columnsData = [];
	$(document).ready(function () {
		sessionName = "<%-locals.session.yjUser.Name%>";
		console.log("如来涨:", sessionName);

		layuse();
		layui.use(['form', 'layedit', 'laydate'], function () {
			var form = layui.form
				, layer = layui.layer
				, layedit = layui.layedit
				, laydate = layui.laydate;

			form.render();
			var DataPara = {
				"tableID": "#center_TB",
				"DBTable": "auto_parts"
			}
			missType = getQueryString("missT");
			//    console.log("妲己"+missType);
			var missTencode = decodeURI(missType);
			missAcute = getQueryString("missA");
			//    console.log("将心"+missAcute);
			var missAencode = decodeURI(missAcute);
			//    console.log("初心"+missAencode);

			missBcute = getQueryString("missB");
			// console.log("将咖"+missBcute);
			var missBencode = decodeURI(missBcute);

			//    console.log("初心"+missAencode);
			bill_choose = missAencode;

			//     console.log("初咖"+missBencode);
			code_choose = missBencode;
			console.log("学生", FieldI);

			columnsData = [
				{ data: 'DBID', "visible": false },
				{ data: 'Parts_Year', "visible": FieldA },
				{ data: 'Parts_Rule', "visible": FieldB },
				{ data: 'Parts_Class' },
				{ data: 'BILL_ID', "visible": FieldC },
				{ data: 'Parts_Code' },
				{ data: 'Parts_Name' },
				{ data: 'Parts_Old_Code', "visible": FieldD },
				{ data: 'Parts_Apply_Date', "visible": FieldE },
				{ data: 'Parts_Status' },
				// { data: 'Supply_ID' },
				{ data: 'Combo_Title', "visible": FieldF },
				{ data: 'Reason', "visible": FieldG },
			];
			if (missType == "" || missType == 'null' || missType == null || missType.length < 0) {
				let DateRange = getDefault();
				var weekbeg = '';
				var weekend = '';
				if (missCcute == "" || missCcute == 'null' || missCcute == null || missCcute.length < 0) {
					weekbeg = DateRange[0].format("yyyy-MM-dd");
					weekend = DateRange[1].format("yyyy-MM-dd");
					console.log("预设本月开始:" + weekbeg + "到:" + weekend);
					missCcute = weekbeg;
					missDcute = weekend;
				}
				$("#taskMakeDateB").val(weekbeg);
				$("#taskMakeDateE").val(weekend);
				console.log("科比25", missDcute);
				showDBDataSelf(DataPara, columnsData, missCcute, missDcute);
			} else if (missType == "A") { //用日期查找
				console.log("科比41", missCcute);
				showDBDataSelf(DataPara, columnsData, missCcute, missDcute);
			} else if (missType == "B") {//用编码查找
				console.log("詹皇69", missAcute);
				showDBDataByBill(DataPara, columnsData, missAcute, missBcute);
				missType = "B";
			}
			// showDBDataByBill(DataPara, columnsData, bill_choose, code_choose);
			var table = $('#center_TB').DataTable();
			$('#center_TB tbody').on('click', 'tr', function () {
				$(this).removeClass('selected');
				if ($(this).hasClass('selected')) {
					$(this).removeClass('selected');
				} else {
					table.$('tr.selected').removeClass('selected');
					$(this).addClass('selected');
				}
			});

			$('#center_TB tbody').on('dblclick', 'tr', function () {
				var table = $('#center_TB').DataTable();
				var dataSelect = table.row('.selected').data();
				var data = table.row(this).data();
				var pclass = dataSelect.Parts_Class;
				var pcode = dataSelect.Parts_Code; pcode = myTrim(pcode);
				var pname = dataSelect.Parts_Name; pname = myTrim(pname);
				var poldcode = dataSelect.Parts_Old_Code; poldcode = myTrim(poldcode);
				var poldname = dataSelect.Parts_Old_Name; poldname = myTrim(poldname);
				var fldEF = dataSelect.Combo_Title; fldEF = myTrim(fldEF);
				analysisWin(pclass, pcode, poldcode, pname, poldname, fldEF);
				$('#lovewindow').modal('show');
			});
		});


	});
	let sessionAID = "<%-locals.session.yjUser.AID%>";
	console.log("sessionAID:" + sessionAID);
	if (sessionAID == 'tmCodeAdm' || sessionAID == 'Admin') {
		$("#AbsoleteBtn").css('visibility', 'visible');
	}
	var DataPara = {
		"tableID": "#center_TB",
		"DBTable": "auto_parts"
	}


	// var columnsData = [
	// 	{ data: 'DBID', "visible": false },
	// 	{ data: 'Parts_Year', "visible": FieldA },
	// 	{ data: 'Parts_Rule', "visible": FieldB },
	// 	{ data: 'Parts_Class' },
	// 	{ data: 'BILL_ID', "visible": FieldC },
	// 	{ data: 'Parts_Code' },
	// 	{ data: 'Parts_Name' },
	// 	{ data: 'Parts_Old_Code', "visible": FieldD },
	// 	{ data: 'Parts_Apply_Date', "visible": FieldE },
	// 	{ data: 'Parts_Status' },
	// 	// { data: 'Supply_ID' },
	// 	{ data: 'Combo_Title', "visible": FieldF },
	// 	{ data: 'Reason', "visible": FieldG },
	// ];
	//解析    
	$('#DetailBtn').click(function () {
		var table = $('#center_TB').DataTable();
		var dataSelect = table.row('.selected').data();

		if (dataSelect == undefined) {
			layer.alert("当前未选择任何数据,请先点击需要的数据行!");
		} else {
			var pclass = dataSelect.Parts_Class;
			var pcode = dataSelect.Parts_Code; pcode = myTrim(pcode);
			var pname = dataSelect.Parts_Name; pname = myTrim(pname);
			var poldcode = dataSelect.Parts_Old_Code; poldcode = myTrim(poldcode);
			var poldname = dataSelect.Parts_Old_Name; poldname = myTrim(poldname);
			var poldname = dataSelect.Parts_Old_Name; poldname = myTrim(poldname);
			var fldEF = dataSelect.Combo_Title; fldEF = myTrim(fldEF);
			analysisWin(pclass, pcode, poldcode, pname, poldname, fldEF);
			$('#lovewindow').modal('show');
		}
	});
	//过滤功能组 自定义过滤确认按钮-----NNN
	$('#BTNFormClose').click(function () {
		$('#lovewindow').window('close');
	});

	$('#BTNFitler').click(function () {

		$('#DivFilter').window('open');

		$('.form_date').datetimepicker({
			language: 'zh-CN',
			weekStart: 1,
			todayBtn: 1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView: 2,
			forceParse: 0
		});

		$("#BTNGroupFilter").children().removeClass("active");
		$("#BTNFitler").addClass("active")
	});

	$('#BTNFitSearch').click(function () {

		$("#center_TB").dataTable().fnDestroy();
		var MakeDateB = $("#taskMakeDateB").val();
		var MakeDateE = $("#taskMakeDateE").val();
		showDBDataSelf(DataPara, columnsData, MakeDateB, MakeDateE);
		var table = $('#center_TB').DataTable();
		$('#center_TB tbody').on('click', 'tr', function () {
			$(this).removeClass('selected');
			if ($(this).hasClass('selected')) {
				$(this).removeClass('selected');
			} else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
			}
		});
		$('#center_TB tbody').on('dblclick', 'tr', function () {
			var table = $('#center_TB').DataTable();
			var dataSelect = table.row('.selected').data();
			var data = table.row(this).data();
			var pclass = dataSelect.Parts_Class;
			var pcode = dataSelect.Parts_Code; pcode = myTrim(pcode);
			var pname = dataSelect.Parts_Name; pname = myTrim(pname);
			var poldcode = dataSelect.Parts_Old_Code; poldcode = myTrim(poldcode);
			var poldname = dataSelect.Parts_Old_Name; poldname = myTrim(poldname);
			var fldEF = dataSelect.Combo_Title; fldEF = myTrim(fldEF);
			analysisWin(pclass, pcode, poldcode, pname, poldname, fldEF);
			$('#lovewindow').modal('show');
		});
	});

	//过滤功能组 自定义过滤确认按钮-----NNN
	$('#FilterComfirmBtnN').click(function () {
		$('#DivFilter').window('close');
	});

	//过滤功能组 自定义过滤确认按钮-----
	$('#FilterCancelBtnN').click(function () {

		$("#taskMakeDateB").val("")
		$("#taskMakeDateE").val("")
	});

	//删除按钮----------
	$('#DelBtn').click(function () {
		var table = $('#center_TB').DataTable();
		var dataSelect = table.row('.selected').data();
	});
	function analysisWin(pclass, pcode, poldcode, pname, poldname, fldEF) {
		var reportType = 'analysisRec';
		var taskData = { "reportType": reportType, "PartsClass": pclass, "PartsCode": pcode, "DBTable": "auto_parts" };
		$.ajax({
			method: 'post',
			data: taskData,
			url: "/app/TMCode/getRoute",
			success: function (data) {
				const json2 = JSON.stringify(data);
				const bjob = JSON.parse(json2);
				var opttxt = "旧代码: " + poldcode + "旧规格: " + poldname;
				var EFList = fldEF.split('/');
				// EFList[0] = 
				// if (opttxt.length > 30) {
				// 	$("#specOHead").addClass("win-green-mid");
				// } else {
				// 	$("#specOHead").addClass("win-green-large");
				// }
				$("#specModel").val(bjob.Model);
				$("#specAssem").val(bjob.Assembly);
				$("#specUnitE").val(bjob.UnitE);
				$("#specPhase").val(bjob.Phase);
				$("#specPrior").val(bjob.Prior);
				$("#specStaff").val(bjob.Staff);
				$("#specApplyDate").val(bjob.ApplyDate);
				$("#specOHead").val(opttxt);
				$("#specNHead").val("编码: " + pcode + " 物料名称: " + pname);
				$("#specEF").val("EF: " + EFList[0] + " 供应商: " + EFList[1]);
				$("#specList").val(bjob.Value1 + bjob.Name1 + bjob.Value2 + bjob.Name2 + bjob.Value3 + bjob.Name3 + bjob.Value4 + bjob.Name4 + bjob.Value5 + bjob.Name5 + bjob.Value6 + bjob.Name6 + bjob.Value7 + bjob.Name7 + bjob.Value8 + bjob.Name8
					+ bjob.Value9 + bjob.Name9 + bjob.Value10 + bjob.Name10 + bjob.Value11 + bjob.Name11 + bjob.Value12 + bjob.Name12 + bjob.Value13 + bjob.Name13 + bjob.Value14 + bjob.Name14 + bjob.Value15 + bjob.Name15
					+ bjob.Value16 + bjob.Name16 + bjob.Value17 + bjob.Name17 + bjob.Value18 + bjob.Name18 + bjob.Value19 + bjob.Name19 + bjob.Value20 + bjob.Name20);
				//  $("#specList").val(bjob.Value1+" ： "+bjob.Name1+"\n"+bjob.Value2+" ： "+bjob.Name2+"\n"+bjob.Value3+" ： "+bjob.Name3+"\n"+bjob.Value4+" ： "+bjob.Name4+"\n"+bjob.Value5+" ： "+bjob.Name5+"\n"+bjob.Value6+" ： "+bjob.Name6+"\n" +bjob.Value7+" ： "+bjob.Name7+"\n" +bjob.Value8+" ： "+bjob.Name8+"\n" 
				//  +bjob.Value9+" ： "+bjob.Name9+"\n"+bjob.Value10+" ： "+bjob.Name10+"\n"+bjob.Value11+" ： "+bjob.Name11+"\n"+bjob.Value12+" ： "+bjob.Name12+"\n"+bjob.Value13+" ： "+bjob.Name13+"\n"+bjob.Value14+" ： "+bjob.Name14+"\n" +bjob.Value15+" ： "+bjob.Name15+"\n" 
				//  +bjob.Value16+" ： "+bjob.Name16+"\n" +bjob.Value17+" ： "+bjob.Name17+"\n"+bjob.Value18+" ： "+bjob.Name18+"\n"+bjob.Value19+" ： "+bjob.Name19+"\n" +bjob.Value20+" ： "+bjob.Name20+"\n"); 
			},
			error: function () {
			}
		})
	}
	$('#DisplayBtn').click(function () {
		if (FieldA) { $("#BOXA").prop("checked", true); } else { $("#BOXA").prop("checked", false); }
		if (FieldB) { $("#BOXB").prop("checked", true); } else { $("#BOXB").prop("checked", false); }
		if (FieldC) { $("#BOXC").prop("checked", true); } else { $("#BOXC").prop("checked", false); }
		if (FieldD) { $("#BOXD").prop("checked", true); } else { $("#BOXD").prop("checked", false); }
		if (FieldE) { $("#BOXE").prop("checked", true); } else { $("#BOXE").prop("checked", false); }
		if (FieldF) { $("#BOXF").prop("checked", true); } else { $("#BOXF").prop("checked", false); }
		if (FieldG) { $("#BOXG").prop("checked", true); } else { $("#BOXG").prop("checked", false); }
		if (FieldH) { $("#BOXH").prop("checked", true); } else { $("#BOXH").prop("checked", false); }
		if (FieldI) { $("#BOXI").prop("checked", true); } else { $("#BOXI").prop("checked", false); }
		$('#DisplayWin').window('open');
	});
	$('#DisplayOkBtn').click(function () {
		var AisChecked = $("#BOXA").is(":checked");
		var BisChecked = $("#BOXB").is(":checked");
		var CisChecked = $("#BOXC").is(":checked");
		var DisChecked = $("#BOXD").is(":checked");
		var EisChecked = $("#BOXE").is(":checked");
		var FisChecked = $("#BOXF").is(":checked");
		var GisChecked = $("#BOXG").is(":checked");
		var HisChecked = $("#BOXH").is(":checked");
		var IisChecked = $("#BOXI").is(":checked");
		if (AisChecked) { FieldA = true; } else { FieldA = false; }
		if (BisChecked) { FieldB = true; } else { FieldB = false; }
		if (CisChecked) { FieldC = true; } else { FieldC = false; }
		if (DisChecked) { FieldD = true; } else { FieldD = false; }
		if (EisChecked) { FieldE = true; } else { FieldE = false; }
		if (FisChecked) { FieldF = true; } else { FieldF = false; }
		if (GisChecked) { FieldG = true; } else { FieldG = false; }
		if (HisChecked) { FieldH = true; } else { FieldH = false; }
		if (IisChecked) { FieldI = true; } else { FieldI = false; }
		$('#DisplayWin').window('close');
	});
	function showDBDataByBill(DataPara, columnsData, bill_choose, code_choose) {

		// var SQL3 = {"SQL":"SQLPartsAgree","weekbeg":bill_choose ,"weekend":code_choose };
		var SQL3 = { "SQL": "SQLPartsAbsolete", "weekbeg": bill_choose, "weekend": code_choose };
		console.log("老爹", bill_choose);
		$(DataPara.tableID).DataTable({
			ajax: {
				url: '/app/TMCode/getSQLDBData',
				data: SQL3,
				dataSrc: ''
			},
			columns: columnsData,
			aaSorting: [1, 'desc'], //asc

			language: languageCN

		});

	}
	function showDBDataSelf(DataPara, columnsData, MakeDateB, MakeDateE) {
		// var SQL3 = {"SQL":"SQLPartsAgreeSelf","weekbeg":MakeDateB ,"weekend":MakeDateE };
		var SQL3 = { "SQL": "SQLPartsDateAbso", "weekbeg": MakeDateB, "weekend": MakeDateE };
		$(DataPara.tableID).DataTable({
			ajax: {
				url: '/app/TMCode/getSQLDBData',
				data: SQL3,
				dataSrc: ''
			},
			columns: columnsData,
			aaSorting: [1, 'desc'], //asc
			language: languageCN
		});
	}

	function parseRecord(pclass, pproperty) {
		console.log("传入", pproperty);

		var reportType = 'parseRec';
		var taskData = { "reportType": reportType, "pclass": pclass, "pproperty": pproperty };
		$.ajax({
			method: 'post',
			data: taskData,
			url: "/app/TMCode/getRoute",
			success: function (data) {
				console.log((data.Name1));
				const json2 = JSON.stringify(data);
				//                	const json = '{"param1":"宁波PM记录","Name1":"开关模插","Name2":"马达12w","Name3":"感应器","Name4":"线材器","Name5":"包材","Name6":"尺长3","Name7":"电流2","Name8":"电容4"}';
				const bjob = JSON.parse(json2);
				layer.alert("属性1： " + bjob.Name1 + "\n" + "属性2： " + bjob.Name2 + "\n" + "属性3： " + bjob.Name3 + "\n" + "属性4： " + bjob.Name4 + "\n" + "属性5： " + bjob.Name5 + "\n" + "属性6： " + bjob.Name6 + "\n" + "属性7： " + bjob.Name7 + "\n" + "属性8： " + bjob.Name8 + "\n"
					+ "属性9： " + bjob.Name9 + "\n" + "属性10： " + bjob.Name10 + "\n" + "属性11： " + bjob.Name11 + "\n" + "属性12： " + bjob.Name12 + "\n" + "属性13： " + bjob.Name13 + "\n" + "属性14： " + bjob.Name14 + "\n" + "属性15： " + bjob.Name15 + "\n" + "属性16： " + bjob.Name16 + "\n");
			},
			error: function () {
			}
		})
	}
	function absoApplyFile() {
		var table = $('#center_TB').DataTable();
		var dataSelect = table.row('.selected').data();

		if (dataSelect == undefined) {
			layer.alert("当前未选择任何数据,请先点击需要删除的数据行!");
		} else {
			var Reason = '';
			var Staff = sessionName;
			layer.prompt({
				title: '请输入报废原因',
				maxlength: 25,
			}, function (val, index) {
				layer.msg('报废原因:' + val);
				Reason = val;
				layer.close(index);
				var BILLID = dataSelect.BILL_ID;
				var PartsCode = dataSelect.Parts_Code;
				var PartsYear = dataSelect.Parts_Year;

				var PartsRule = dataSelect.Parts_Rule;
				var PartsClass = dataSelect.Parts_Class;
				// layer.alert("报废申请此审批号" + BILLID + "年份" + PartsYear + "类别" + PartsCode);
				var reportType = 'absoApplyPcode';
				var taskData = { "reportType": reportType, "BILLID": BILLID, "PartsCode": PartsCode, "Staff": Staff, "Reason": Reason };
				layer.confirm('此数据内容操作后无法还原，请确认操作是否无误？', {
					btn: ['是', '否']
				}, function () {
					layer.msg('操作成功', { icon: 1 });
					$.ajax({
						method: 'post',
						data: taskData,
						url: "/app/TMCode/getRoute",
						success: function (result) {
							layer.alert("此审批号 " + result.billid + " 料号 " + result.partscode + " 已申请报废" + (result.status));
							var paramClearA = encodeURI(encodeURI(result.billid));
							var paramClearB = encodeURI(encodeURI(PartsCode));
							console.log("憐星", paramClearA);
							console.log("邀月", paramClearB);
							window.location.href = "/app/TMCode/absoleteProduct?missA=" + paramClearA + "&missB=" + paramClearB + " ";

						},
						error: function () {

						}
					})
				}, function () {
					layer.msg('无操作', { icon: 1 });
				});
			});

		}

	}
	function reloadCol() {
		columnsData = [
			{ data: 'DBID', "visible": false },
			{ data: 'Parts_Year', "visible": FieldA },
			{ data: 'Parts_Rule', "visible": FieldB },
			{ data: 'Parts_Class' },
			{ data: 'BILL_ID', "visible": FieldC },
			{ data: 'Parts_Code' },
			{ data: 'Parts_Name' },
			{ data: 'Parts_Old_Code', "visible": FieldD },
			{ data: 'Parts_Apply_Date', "visible": FieldE },
			{ data: 'Parts_Status' },
			{ data: 'Combo_Title', "visible": FieldF },
			{ data: 'Reason', "visible": FieldG },
		];
	}
	function searchFile() {
		$("#center_TB").dataTable().fnDestroy();
		var choosebill = $('#billno').val();
		var choosecode = $('#codeno').val();
		reloadCol();
		if(choosebill=='' && choosecode==''){
			layer.confirm(' 请输入审批号或编码号进行查找！ ', {
				btn: ['是']  
			}, function () {
				layer.msg('操作成功', { icon: 1 });
				$("#billno").focus();
			});
		}else{
			showDBDataByBill(DataPara, columnsData, choosebill, choosecode);
		}
		
	}

</script>