<!--本地路径-->
<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">

<!--<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/jquery.dataTables.css">-->
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.css">

<!-- JS  -->
<script type="text/javascript" src="/css/PM/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/css/PM/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/MSTools/layui/css/layui.css">
<script src="/js/PM/FileSaver.min.js"></script>
<script src="/js/PM/tableExport.js"></script>
<script src="/js/PM/PMfuns.js"></script>
<script src="/banq/supplier.js"></script>
<!-- <script type="text/javascript" src="/js/jquery.media.js"></script> -->
<!-- JS 这3个管分析视窗 -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/PM/FileSaver.min.js"></script>
<script src="/js/PM/tableExport.js"></script>

<script src="/js/HMIPrint/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/css/MSTools/layui/layui.js"></script>
<link rel="stylesheet" type="text/css" href="/css/TM/tmcode-font.css">
<script src="/banq/TMfun.js"></script>
<script src="/banq/cycleFind.js"></script>
<script src="/banq/TMEvent.js"></script>
<script src="/banq/pipe.js"></script>
<script src="/banq/quick.js"></script>
<script src="/banq/wipeR.js"></script>
<script src="/banq/wipeRpack.js"></script>
<script src="/banq/advPull.js"></script>
<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>

<div id="noprint" class="noprint">
	<div class="divcontent">
		<div id="handout_wrap_inner"></div>
		<h1>弘讯编码号查询-T9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="button" id="SeaBtn" class="btn btn-info" value="查找" />
			<input type="button" id="DisplayBtn" class="layui-btn layui-btn-sm layui-btn-info" value="栏位" />
			<input type="button" id="ResetBtn" class="btn btn-warning" value="清除" />
			<button type="button" id="AdvOpen" class="btn btn-primary">进阶</button>
			<input type="button" id="DetailBtn" class="btn layui-btn-normal" value="解析" />
			<!-- <input type="button" id="MdfyBtn" class="layui-btn layui-btn-sm layui-btn-info" value="编辑" />
			<input type="button" id="DupBtn" class="btn btn-warning" value="引用" />
			<input type="button" id="SuppBtn" class="btn" value="制造商" />
			<input type="button" id="AbsoBtn" class="btn btn-danger" value="报废" /> -->
		</h1>
		<label>年份:</label>
		<div class="layui-inline">
			<input class="can-find-small" name="mainyear" id="mainyear" value="" autocomplete="off">
		</div>
		<label>原则:</label>
		<div class="layui-inline">
			<input class="can-find-small" name="mainrule" id="mainrule" value="" autocomplete="off">
		</div>
		<label>分类:</label>

		<select id="mainclass" class="can-find-M140" name="mainclass" class="can-drop"></select>

		<label>编码</label>
		<div class="layui-inline">
			<input class="can-find-M140" name="mainpcode" id="mainpcode" value="" autocomplete="off">
		</div>
		<label>旧代码</label>
		<div class="layui-inline">
			<input class="can-find-M140" name="mainpast" id="mainpast" value="" autocomplete="off">
			<span id="oldLi" id="oldLi"></span>
		</div>
		<label>品名</label>
		<div class="layui-inline">
			<input type="text" class="can-find-M140" name="mainname" id="mainname" value="" autocomplete="off">
			<span id="autoLi" id="autoLi"></span>
		</div>
		<!-- <label>属性</label>
		<div class="layui-inline">
			<input class="can-find-M140" name="mainprop" id="mainprop" value="" autocomplete="off">
			<span id="hintLi" id="hintLi"></span>
		</div> -->
		<hr>
		<span id="matchRec" class="green-match-search"> </span>
		<br />


		<!-- 点击弹出窗口开始 -->
		<div class="modal fade" id="lovewindow" tabindex="-1" role="dialog" aria-labelledby="lovewindowLabel"
			aria-hidden="true" data-backdrop="static">
			<div class="modal-dialog" style="width:65%">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="panel-title">物料号面板
							<button id="BTNFormClose" type="button" class="btn btn-primary"
								data-dismiss="modal">关闭</button></h3>
					</div>
					<div class="modal-body">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class="panel-title">物料基本信息与规格</h3>
							</div>
							<div class="panel-body">
								<div class="form-horizontal" id="DivAnaly">
									<!-------------------------------------------------------------------------->
									<div class="form-group">
										<label class="col-sm-1 control-label">新物料号:</label>
										<div class="col-sm-4">
											<input id="specNHead" class="form-control" type="text"
												value="" disabled="true">
										</div>
										<label class="col-sm-1 control-label">类别:</label>
										<div class="col-sm-4">
											<input id="specOHead" class="form-control" type="text"
												value="" disabled="true">
										</div>
									</div>
									<div class="form-group">
										<!-- <label class="col-sm-1 control-label">检核:</label>
										<div class="col-sm-4">
											<input id="specCHead" class="form-control" type="text"
												value="" disabled="true">
										</div> -->
										<label class="col-sm-1 control-label">EF码:</label>
										<div class="col-sm-4">
											<input id="specEF" class="form-control" type="text"
												value="" disabled="true">
										</div>
										<label class="col-sm-1 control-label">供应商:</label>
										<div class="col-sm-4">
											<input id="specSupy" class="form-control" type="text"
												value="" disabled="true">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1 control-label">型号:</label>
										<div class="col-sm-4">
											<input id="specModel" class="form-control" type="text"
												value="" disabled="true">
										</div>
										<label class="col-sm-1 control-label">组合件:</label>
										<div class="col-sm-4">
											<input id="specAssem" class="form-control" type="text"
												value="" disabled="true">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1 control-label">基本单位:</label>
										<div class="col-sm-4">
											<input id="specUnitE" class="form-control" type="text"
												value="" disabled="true">
										</div>
										<label class="col-sm-1 control-label">物料状态:</label>
										<div class="col-sm-4">
											<input id="specPhase" class="form-control" type="text"
												value="" disabled="true">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-1 control-label">优先耗用:</label>
										<div class="col-sm-4">
											<input id="specPrior" class="form-control" type="text"
												value="" disabled="true">
										</div>
										<label class="col-sm-1 control-label">备注:</label>
										<div class="col-sm-4">
											<input id="specReason" class="form-control"
												type="text" value="" disabled="true">
										</div>
									</div>

									<!-------------------------------------------------------------------------->
									<div class="form-group">
										<label class="col-sm-1 control-label"
											for="name">规格详细:</label>
										<div class="col-sm-8">
											<textarea id="specList" class="can-drop-super"
												width="500px" rows="18"></textarea>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-1 control-label"
											for="name">提交人:</label>
										<div class="col-sm-3 ">
											<input id="specStaff" class="form-control" type="text"
												value="" disabled="true">
										</div>
										<label class="col-sm-1 control-label"
											for="name">提交日期:</label>
										<div class="col-sm-3 ">
											<input id="specApplyDate" class="form-control"
												type="text" value="" disabled="true">
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button id="BTNFormClose" type="button" class="btn btn-primary"
							data-dismiss="modal">关闭</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div><!-- modal fade -->

	</div>

	<!-- 点击弹出窗口开始 -->
	<div id="DisplayWin" class="easyui-window" title="栏位设定" closed="true"
		style="top:50px; left:1000px; width:400px;height:600px;">
		<form style="padding:10px 50px;">
			<div class="form-horizontal">
				<div class="form-group">
					<br></br>
					<span id="DispA" class="blue-label"> 中文类别 </span>
					<input type="checkbox" name="BOXA" id="BOXA" title="中文类别" lay-filter="page_check">
					<br></br>
					<span id="DispB" class="blue-label"> 物料名称 </span>
					<input type="checkbox" name="BOXB" id="BOXB" title="物料名称" lay-filter="page_check">
					<br></br>
					<span id="DispC" class="blue-label"> 旧代码 </span>
					<input type="checkbox" name="BOXC" id="BOXC" title="旧代码" lay-filter="page_check">
					<br></br>
					<span id="DispD" class="blue-label"> 旧规格 </span>
					<input type="checkbox" name="BOXD" id="BOXD" title="旧规格" lay-filter="page_check">
					<!-- <br></br>
					<span id="DispE" class="blue-label"> 审批号 </span>
					<input type="checkbox" name="BOXE" id="BOXE" lay-filter="page_check"> -->
					<br></br>
					<span id="DispF" class="blue-label"> 属性 </span>
					<input type="checkbox" name="BOXF" id="BOXF" title="属性" lay-filter="page_check">
					<br></br>
					<span id="DispG" class="blue-label"> 建立日 </span>
					<input type="checkbox" name="BOXG" id="BOXG" title="建立日" lay-filter="page_check">
					<br></br>
					<span id="DispH" class="blue-label"> EF/制造商 </span>
					<input type="checkbox" name="BOXH" id="BOXH" title="EF/制造商" lay-filter="page_check">
					<br></br>
					<span id="DispI" class="blue-label"> 备注 </span>
					<input type="checkbox" name="BOXI" id="BOXI" title="备注" lay-filter="page_check">
					<br></br>
					<span id="DispJ" class="blue-label"> 人员 </span>
					<input type="checkbox" name="BOXJ" id="BOXJ" title="人员" lay-filter="page_check">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"></label>
				<div class="col-sm-3 ">
					<button id="DisplayOkBtn" type="button" class="btn btn-primary">确认</button>
				</div>
			</div>
		</form>
	</div>
	<!-- 点击窗口fin -->

	<!-- 点击进阶查找弹出窗口 -->
	<div id="DivAdvance" class="easyui-window" title="进阶查找" closed="true"
		style="top:100px; left:800px; width:1000px;height:550px;">
		<div class="form-group">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-3 ">
				<select id="subclass" class="can-find-M140" name="mainclass" class="can-drop"></select>
				<button id="AdvClass" type="button" class="btn btn-info">查找</button>
				
			</div>
			<div class="col-sm-3 ">
				<button id="AdvOK" type="button" class="btn btn-primary">确认</button>
				<button id="AdvClose" type="button" class="btn btn-warning">关闭</button>
				<button id="AdvCan" type="button" class="btn btn-normal ">清空</button>
			</div>
			<div class="col-sm-3 ">
				<label>符号:</label>
				<select id="SIGN" name="SIGN" class="can-find-M140"></select>
			</div>
		</div>
		<form style="padding:10px 50px;">
			<div class="form-horizontal">
				<div class="form-group">
					<label for="taskMakeDate" class="col-sm-2 control-label">属性过滤条件:</label>
					<br></br>
					<div>
						<span id="matchARec" class="green-match-search"> </span>
						<br />
						<br />
						<span id="classSupp" class="green-label" onclick="ReverSupp(this ,'#soup')"> 制造商
						</span>
						<select id="soup" name="soup" class="can-drop"></select>
						<span id="classSMT" class="green-label" onclick="ReverSupp(this, '#beef')"> 属性EF
						</span>
						<select id="beef" name="beef" class="can-drop"></select>
						<br></br>
						<span id="classA" class="blue-label" onclick="ReverClass(this ,'#boat')"> 分类
						</span>
						<select id="boat" name="boat" class="can-drop"></select>
						<span id="classB" class="blue-label" onclick="ReverClass(this ,'#yacht')"> 系列
						</span>
						<select id="yacht" name="yacht" class="can-drop"></select>
						<br></br>
						<span id="classC" class="blue-label" onclick="ReverClass(this ,'#sail')"> 型号
						</span>
						<select id="sail" name="sail" class="can-drop"></select>
						<span id="classD" class="blue-label" onclick="ReverClass(this ,'#vessel')"> 厂家
						</span>
						<select id="vessel" name="vessel" class="can-drop"></select>
						<br></br>
						<span id="classE" class="blue-label" onclick="ReverClass(this ,'#tanker')"> 定制规格
						</span>
						<input name="tankerName" id="tankerName" class="can-mini" width="0px" type="text"
							size="50" value="" style="visibility:hidden"> </input>
						<select id="tanker" name="tanker" class="can-drop"></select>
						<span id="classF" class="blue-label" onclick="ReverClass(this ,'#marine')"> 版本
						</span>
						<select id="marine" name="marine" class="can-drop"></select>
						<br></br>
						<span id="classG" class="blue-label" onclick="ReverClass(this ,'#rocket')"> 包装
						</span>
						<select id="rocket" name="rocket" class="can-drop"></select>
						<span id="classH" class="blue-label" onclick="ReverClass(this ,'#zebra')">
							联轴器/键轴</span>
						<select id="zebra" name="zebra" class="can-drop"></select>
						<br></br>
						<span id="classI" class="blue-label" onclick="ReverClass(this ,'#eleph')">
							油泵分类</span>
						<select id="eleph" name="eleph" class="can-drop"></select>
						<span id="classJ" class="blue-label" onclick="ReverClass(this ,'#eagle')">
							油泵系列</span>
						<select id="eagle" name="eagle" class="can-drop"></select>
						<br></br>
						<span id="classK" class="blue-label" onclick="ReverClass(this ,'#tiger')">
							油泵型号</span>
						<select id="tiger" name="tiger" class="can-drop"></select>
						<span id="classL" class="blue-label" onclick="ReverClass(this ,'#lion')">
							油泵排量</span>
						<select id="lion" name="lion" class="can-drop"></select>
						<br></br>
						<span id="classM" class="blue-label" onclick="ReverClass(this ,'#horse')">
							进出油口方向</span>
						<select id="horse" name="horse" class="can-drop"></select>
						<span id="classO" class="blue-label" onclick="ReverClass(this ,'#worm')"> 接线盒方向
						</span>
						<select id="worm" name="worm" class="can-drop"></select>
						<br></br>
						<span id="classP" class="blue-label" onclick="ReverClass(this ,'#hole')"> 出线方向
						</span>
						<select id="hole" name="hole" class="can-drop"></select>
						<span id="classQ" class="blue-label" onclick="ReverClass(this ,'#xman')"> 版本 </span>
						<select id="xman" name="xman" class="can-drop"></select>
						<br></br>
						<span id="classR" class="blue-label" onclick="ReverClass(this ,'#quita')"> 包装
						</span>
						<select id="quita" name="quita" class="can-drop"></select>
						<span id="classS" class="blue-label" onclick="ReverClass(this ,'#fox')"> 属性18
						</span>
						<select id="fox" name="fox" class="can-drop"></select>
						<br></br>
						<span id="classT" class="blue-label" onclick="ReverClass(this ,'#owl')"> 属性19
						</span>
						<select id="owl" name="owl" class="can-drop"></select>
						<span id="classU" class="blue-label" onclick="ReverClass(this ,'#deer')"> 属性20
						</span>
						<select id="deer" name="deer" class="can-drop"></select>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- 点击进阶查找窗口fin -->
	<div class="pdf-wrapper" id="pdf-wrapper" style="background-color: aliceblue;">
		<!--数据呈现区-->
		<table id="center_TB" class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>原则</th>
					<th>类别隐</th>
					<th>类别</th>
					<th>新编码</th>
					<th>物料名称</th>
					<th>旧代码</th>
					<th>旧规格</th>
					<th>审批号</th>
					<th>属性</th>
					<th>建立日</th>
					<th>状态隐</th>
					<th>EF/制造商</th>
					<th>备注</th>
					<th>人员</th>
					<th>EF码隐</th>
					<th>制造商隐</th>
				</tr>
			</thead>
		</table>
	</div>

</div>
</div>
<div id="root" style="height: 100%"></div>

<script>
	var missAType = '';
	var glbA = '';
	var glbB = '';
	var glbC = '';
	var glbD = '';
	var glbE = '';
	var glbF = '';
	var glbG = '';
	var glbH = '';
	var glbS = '';
	var advSearch = '';
	var advToken = '';
	var selClass = '';
	var FieldA = true;
	var FieldB = true;
	var FieldC = true;
	var FieldD = true;
	var FieldE = false;
	var FieldF = false;
	var FieldG = false;
	var FieldH = true;
	var FieldI = false;
	var FieldJ = false;
	var FieldK = false;
	var storage = window.localStorage;
	var hidata = localStorage.getItem("find9color");
	hidata = JSON.parse(hidata);
	if (hidata != undefined && hidata != null) {
		FieldA = ((hidata.A == null || hidata.A == undefined) ? (FieldA) : hidata.A);
		FieldB = ((hidata.B == null || hidata.B == undefined) ? (FieldB) : hidata.B);
		FieldC = ((hidata.C == null || hidata.C == undefined) ? (FieldC) : hidata.C);
		FieldD = ((hidata.D == null || hidata.D == undefined) ? (FieldD) : hidata.D);
		FieldE = ((hidata.E == null || hidata.E == undefined) ? (FieldE) : hidata.E);
		FieldF = ((hidata.F == null || hidata.F == undefined) ? (FieldF) : hidata.F);
		FieldG = ((hidata.G == null || hidata.G == undefined) ? (FieldG) : hidata.G);
		FieldH = ((hidata.H == null || hidata.H == undefined) ? (FieldH) : hidata.H);
		FieldI = ((hidata.I == null || hidata.I == undefined) ? (FieldI) : hidata.I);
		FieldJ = ((hidata.J == null || hidata.J == undefined) ? (FieldJ) : hidata.J);
		FieldK = ((hidata.K == null || hidata.K == undefined) ? (FieldK) : hidata.K);
		console.log("敏A希", FieldA, "敏B希", FieldB);
	}
	var columnsData = [];
	//页面加载函数---------------
	$(document).ready(function () {
		layui.use(['form', 'layedit', 'laydate'], function () {
			var form = layui.form
				, layer = layui.layer
				, layedit = layui.layedit
				, laydate = layui.laydate;
			form.render();
			var DataPara = {
				"tableID": "#center_TB",
				"DBTable": "auto_parts"
			}

			missAType = getQueryString("missA");
			console.log("将心" + missAType);
			var missAencode = decodeURI(missAType);

			console.log("初心" + missAencode);
			glbA = missAencode;
			if (glbA == "" || glbA == 'null' || glbA == null || glbA.length < 0) {
				glbA = '2020';
			}
			if (glbS == "" || glbS == 'null' || glbS == null || glbS.length < 0) {
				glbS = 'A';
			}
			if (glbH == "" || glbH == 'null' || glbH == null || glbH.length < 0) {
				glbH = 'FOrgId';
			}

			columnsData = [
				{ data: 'DBID', "visible": false },
				{ data: 'Parts_Class', "visible": false },
				{ data: 'Parts_Chi', "visible": FieldA },
				{ data: 'Parts_Code' },
				{ data: 'Parts_Name', "visible": FieldB },
				{ data: 'Parts_Old_Code', "visible": FieldC },
				{ data: 'Parts_Old_Name', "visible": FieldD },
				{ data: 'BILL_ID', "visible": FieldE },
				{ data: 'Property', "visible": FieldF },
				{ data: 'Parts_Apply_Date', "visible": FieldG },
				{ data: 'Parts_Status', "visible": false },
				{ data: 'Combo_Title', "visible": FieldH },
				{ data: 'Reason', "visible": FieldI },
				{ data: 'Combo_Staff', "visible": FieldJ },
				{ data: 'SMT_Title', "visible": false },
				{ data: 'Supply_Title', "visible": false },
			];

			showDBDataSelf(DataPara, columnsData, glbA, glbB, glbC, glbD, glbE, glbF, glbG, glbS, glbH, null, null);
			var table = $('#center_TB').DataTable();
			$('#center_TB tbody').on('click', 'tr', function () {
				$(this).removeClass('selected');
				if ($(this).hasClass('selected')) {
					$(this).removeClass('selected');
				} else {
					table.$('tr.selected').removeClass('selected');
					$(this).addClass('selected');
				}
			});
		});
		$('#center_TB tbody').on('dblclick', 'tr', function () {
			var table = $('#center_TB').DataTable();
			var dataSelect = table.row('.selected').data();
			var data = table.row(this).data();
			var pclass = dataSelect.Parts_Class;
			var pcode = dataSelect.Parts_Code; pcode = myTrim(pcode);
			var pname = dataSelect.Parts_Name; pname = myTrim(pname);
			var poldcode = dataSelect.Parts_Old_Code; poldcode = myTrim(poldcode);
			var poldname = dataSelect.Parts_Old_Name; poldname = myTrim(poldname);
			var fldEF = dataSelect.Combo_Title; fldEF = myTrim(fldEF);
			analysisWin(pclass, pcode, poldcode, pname, poldname, fldEF);
			$('#lovewindow').modal('show');
		});
		getCategory();

		var youoption = document.createElement("option");
		youoption.id = "SIGN";
		youoption.name = "SIGN";
		youoption.text = "AND";
		youoption.value = "1";
		$("#SIGN").append(youoption);
		youoption = document.createElement("option");
		youoption.text = "OR";
		youoption.value = "2";
		$("#SIGN").append(youoption);
	});

	var DataPara = {
		"tableID": "#center_TB",
		"DBTable": "auto_parts"
	}
	columnsData = [
		{ data: 'DBID', "visible": false },
		{ data: 'Parts_Class', "visible": false },
		{ data: 'Parts_Chi', "visible": FieldA },
		{ data: 'Parts_Code' },
		{ data: 'Parts_Name', "visible": FieldB },
		{ data: 'Parts_Old_Code', "visible": FieldC },
		{ data: 'Parts_Old_Name', "visible": FieldD },
		{ data: 'BILL_ID', "visible": FieldE },
		{ data: 'Property', "visible": FieldF },
		{ data: 'Parts_Apply_Date', "visible": FieldG },
		{ data: 'Parts_Status', "visible": false },
		{ data: 'Combo_Title', "visible": FieldH },
		{ data: 'Reason', "visible": FieldI },
		{ data: 'Combo_Staff', "visible": FieldJ },
		{ data: 'SMT_Title', "visible": false },
		{ data: 'Supply_Title', "visible": false },
	];
	$('#ResetBtn').click(function () {
		$("#matchARec").html("查找条件:");
		$("#matchRec").html("查找条件:");
		$("#mainyear").val("");
		$("#mainrule").val("");
		$("#mainclass").val("");
		$("#mainpcode").val("");
		$("#mainpast").val("");
		$("#mainname").val("");
		$("#mainprop").val("");
		$("#autoLi").html("");
		$("#hintLi").html("");
		$("#soup").val(); $("#soup").html("");
		$("#beef").val(); $("#beef").html("");
		$("#boat").val(); $("#boat").html("");
		$("#yacht").val(); $("#yacht").html("");
		$("#sail").val(); $("#sail").html("");
		$("#vessel").val(); $("#vessel").html("");
		$("#tanker").val(); $("#tanker").html("");
		$("#tankerName").val(); $("#tankerName").html("");
		$("#marine").val(); $("#marine").html("");
		$("#rocket").val(); $("#rocket").html("");
		$("#zebra").val(); $("#zebra").html("");
		$("#eleph").val(); $("#eleph").html("");
		$("#eagle").val(); $("#eagle").html("");
		$("#tiger").val(); $("#tiger").html("");
		$("#lion").val(); $("#lion").html("");
		$("#horse").val(); $("#horse").html("");
		$("#worm").val(); $("#worm").html("");
		$("#hole").val(); $("#hole").html("");
		$("#xman").val(); $("#xman").html("");
		$("#quita").val(); $("#quita").html("");
		var obj = {};
		var parclass = $('#mainclass').val();
		advSearch = '';
		advToken = '';
		AdvCriteria(parclass, obj);
	});
	$('#DetailBtn').click(function () {
		var table = $('#center_TB').DataTable();
		var dataSelect = table.row('.selected').data();
		if (dataSelect == undefined) {
			alert("当前未选择任何数据,请先点击需要的数据行!");
		} else {
			var pclass = dataSelect.Parts_Class;
			var pcode = dataSelect.Parts_Code; pcode = myTrim(pcode);
			var pname = dataSelect.Parts_Name; pname = myTrim(pname);
			var poldcode = dataSelect.Parts_Old_Code; poldcode = myTrim(poldcode);
			var poldname = dataSelect.Parts_Old_Name; poldname = myTrim(poldname);
			var poldname = dataSelect.Parts_Old_Name; poldname = myTrim(poldname);
			var fldEF = dataSelect.Combo_Title; fldEF = myTrim(fldEF);
			analysisWin(pclass, pcode, poldcode, pname, poldname, fldEF);
			$('#lovewindow').modal('show');
		}
	});
	$('#DisplayBtn').click(function () {
		if (FieldA) { $("#BOXA").prop("checked", true); } else { $("#BOXA").prop("checked", false); }
		if (FieldB) { $("#BOXB").prop("checked", true); } else { $("#BOXB").prop("checked", false); }
		if (FieldC) { $("#BOXC").prop("checked", true); } else { $("#BOXC").prop("checked", false); }
		if (FieldD) { $("#BOXD").prop("checked", true); } else { $("#BOXD").prop("checked", false); }
		if (FieldE) { $("#BOXE").prop("checked", true); } else { $("#BOXE").prop("checked", false); }
		if (FieldF) { $("#BOXF").prop("checked", true); } else { $("#BOXF").prop("checked", false); }
		if (FieldG) { $("#BOXG").prop("checked", true); } else { $("#BOXG").prop("checked", false); }
		if (FieldH) { $("#BOXH").prop("checked", true); } else { $("#BOXH").prop("checked", false); }
		if (FieldI) { $("#BOXI").prop("checked", true); } else { $("#BOXI").prop("checked", false); }
		if (FieldJ) { $("#BOXJ").prop("checked", true); } else { $("#BOXJ").prop("checked", false); }
		$('#DisplayWin').window('open');
	});
	$('#DisplayOkBtn').click(function () {
		var AisChecked = $("#BOXA").is(":checked");
		var BisChecked = $("#BOXB").is(":checked");
		var CisChecked = $("#BOXC").is(":checked");
		var DisChecked = $("#BOXD").is(":checked");
		var EisChecked = $("#BOXE").is(":checked");
		var FisChecked = $("#BOXF").is(":checked");
		var GisChecked = $("#BOXG").is(":checked");
		var HisChecked = $("#BOXH").is(":checked");
		var IisChecked = $("#BOXI").is(":checked");
		var JisChecked = $("#BOXJ").is(":checked");
		if (AisChecked) { FieldA = true; } else { FieldA = false; }
		if (BisChecked) { FieldB = true; } else { FieldB = false; }
		if (CisChecked) { FieldC = true; } else { FieldC = false; }
		if (DisChecked) { FieldD = true; } else { FieldD = false; }
		if (EisChecked) { FieldE = true; } else { FieldE = false; }
		if (FisChecked) { FieldF = true; } else { FieldF = false; }
		if (GisChecked) { FieldG = true; } else { FieldG = false; }
		if (HisChecked) { FieldH = true; } else { FieldH = false; }
		if (IisChecked) { FieldI = true; } else { FieldI = false; }
		if (JisChecked) { FieldJ = true; } else { FieldJ = false; }
		var data = {
			A: AisChecked,
			B: BisChecked,
			C: CisChecked,
			D: DisChecked,
			E: EisChecked,
			F: FisChecked,
			G: GisChecked,
			H: HisChecked,
			I: IisChecked,
		}
		localStorage.setItem("find9color", JSON.stringify(data));
		$('#DisplayWin').window('close');
	});
	$('#AbsoBtn').click(function () {
		var table = $('#center_TB').DataTable();
		var dataSelect = table.row('.selected').data();
		if (dataSelect == undefined) {
			alert("当前未选择任何数据,请先点击需要的数据行!");
		} else {
			var pclass = dataSelect.Parts_Class;
			var pcode = dataSelect.Parts_Code;
			layer.confirm(pcode + '进入保废作业，请确认操作是否无误？', {
				btn: ['是', '否']
			}, function () {
				var paramClearA = encodeURI(encodeURI(pclass));
				var paramClearB = encodeURI(encodeURI(pcode));
				window.location.href = "/app/TMCode/absoleteProduct?missT=B&missA=" + paramClearA + "&missB=" + paramClearB + " ";
			}, function () {
				layer.msg('无操作', { icon: 1 });
			});
		}
	});
	$('#DupBtn').click(function () {
		var table = $('#center_TB').DataTable();
		var dataSelect = table.row('.selected').data();
		if (dataSelect == undefined) {
			alert("当前未选择任何数据,请先点击需要的数据行!");
		} else {
			var pclass = dataSelect.Parts_Class;
			var pcode = dataSelect.Parts_Code; pcode = myTrim(pcode);
			var poldcode = dataSelect.Parts_Old_Code; poldcode = myTrim(poldcode);
			layer.confirm(pcode + '进入引用作业，请确认操作是否无误？', {
				btn: ['是', '否']
			}, function () {
				var paramClearA = encodeURI(encodeURI(pcode));
				var paramClearB = encodeURI(encodeURI(poldcode));
				var paramClearC = encodeURI(encodeURI(pclass));
				window.location.href = "/app/TMCode/dupForm?missT=B&missA=" + paramClearA + "&missB=" + paramClearB + "&missC=" + paramClearC + " ";
			}, function () {
				layer.msg('无操作', { icon: 1 });
			});
		}
	});
	$('#SuppBtn').click(function () {
		var table = $('#center_TB').DataTable();
		var dataSelect = table.row('.selected').data();
		if (dataSelect == undefined) {
			alert("当前未选择任何数据,请先点击需要的数据行!");
		} else {
			var pclass = dataSelect.Parts_Class;
			var pcode = dataSelect.Parts_Code; pcode = myTrim(pcode);
			var poldcode = dataSelect.Parts_Old_Code; poldcode = myTrim(poldcode);
			layer.confirm(pcode + '进入制造商添加作业，请确认操作是否无误？', {
				btn: ['是', '否']
			}, function () {
				var paramClearA = encodeURI(encodeURI(pcode));
				var paramClearB = encodeURI(encodeURI(poldcode));
				var paramClearC = encodeURI(encodeURI(pclass));
				window.location.href = "/app/TMCode/suppForm?missT=B&missA=" + paramClearA + "&missB=" + paramClearB + "&missC=" + paramClearC + " ";
			}, function () {
				layer.msg('无操作', { icon: 1 });
			});
		}
	});
	$('#MdfyBtn').click(function () {
		var table = $('#center_TB').DataTable();
		var dataSelect = table.row('.selected').data();
		if (dataSelect == undefined) {
			alert("当前未选择任何数据,请先点击需要的数据行!");
		} else {
			var pclass = dataSelect.Parts_Class;
			var pcode = dataSelect.Parts_Code; pcode = myTrim(pcode);
			var poldcode = dataSelect.Parts_Old_Code; poldcode = myTrim(poldcode);
			layer.confirm(pcode + '进入编辑作业，请确认操作是否无误？', {
				btn: ['是', '否']
			}, function () {
				var paramClearA = encodeURI(encodeURI(pcode));
				var paramClearB = encodeURI(encodeURI(poldcode));
				var paramClearC = encodeURI(encodeURI(pclass));
				window.location.href = "/app/TMCode/modifyForm?missT=B&missA=" + paramClearA + "&missB=" + paramClearB + "&missC=" + paramClearC + " ";
			}, function () {
				layer.msg('无操作', { icon: 1 });
			});
		}
	});

	$('#BTNFormClose').click(function () {
		$('#lovewindow').window('close');
	});
	//进阶查找分类 
	$('#AdvClass').click(function () {
		var obj = {};
		var parclass = $('#subclass').val();
		if (selClass == parclass) {
			// alert("没选类别! 记忆"+selClass+" 选 "+parclass);
		} else {
			AdvCriteria(parclass, obj);
			selClass = parclass;
			// alert("选新的类别!记忆"+selClass+" 换了 "+parclass);
		}
		$("#BTNFitler").addClass("active");
	});
	$('#AdvOK').click(function () {
		advCri();
		// $('#DivAdvance').window('close');
	});
	$('#AdvClose').click(function () {
		// var obj = {};
		// var parclass = $('#mainclass').val();
		// AdvCriteria(parclass, obj);
		// advReset();
		// advCri();
		$("#BTNFitler").addClass("active");
		$('#DivAdvance').window('close');
	});
	$('#AdvCan').click(function () {
		var obj = {};
		var parclass = $('#mainclass').val();
		AdvCriteria(parclass, obj);
		advReset();
		advCri();
		$("#BTNFitler").addClass("active");
	});
	$('#AdvOpen').click(function () {
		$('#DivAdvance').window('open');
		getSubCategory();
	});
	function ReverClass(obj, matset) {
		var matTxt = $(matset).val();
		console.log("亚美爹", matTxt );
		layer.alert("取消查找属性 " + (obj.value) + " 条件值：" + matTxt);
		if (advSearch != null && advSearch != undefined) {
			advSearch = advSearch.replace("+", "");
			advSearch = advSearch.replace(new RegExp(matTxt, "gm"), "");
		}
		if (advToken != null && advToken != undefined) {
			advToken = advToken.replace("+", "");
			advToken = advToken.replace(new RegExp(matTxt, "gm"), "");
		}
		var advstr = '';
		if (advSearch != null && advSearch != undefined) {
			advstr = advSearch.replace(new RegExp("共用", "gm"), "");
			advstr = advstr.replace(new RegExp("预留", "gm"), "");
			advstr = advstr.replace(new RegExp("缺省", "gm"), "");
			advstr = advstr.replace(new RegExp("##", "gm"), "");
		}
		console.log("嫩模", advToken);
		var signoption = $("#SIGN option:selected");
		var signTxt = signoption.text();
		$("#matchARec").html(signTxt + "查找条件:" + advstr);
		$("#matchRec").html(signTxt + "查找条件:" + advstr);
	}
	function ReverSupp(obj, matset) {
		var beefoption = $(matset + " option:selected");
		var matTxt = beefoption.text();
		console.log("亚妹爹", matTxt);
		layer.alert("取消查找属性 " + (obj.value) + " 条件值：" + matTxt);
		if (advSearch != null && advSearch != undefined) {
			advSearch = advSearch.replace("+", "");
			advSearch = advSearch.replace(new RegExp(matTxt, "gm"), "");
		}
		if (advToken != null && advToken != undefined) {
			advToken = advToken.replace("+", "");
			advToken = advToken.replace(new RegExp(matTxt, "gm"), "");
		}
		var advstr = '';
		if (advSearch != null && advSearch != undefined) {
			advstr = advSearch.replace(new RegExp("共用", "gm"), "");
			advstr = advstr.replace(new RegExp("预留", "gm"), "");
			advstr = advstr.replace(new RegExp("缺省", "gm"), "");
			advstr = advstr.replace(new RegExp("##", "gm"), "");
		}
		console.log("嫩模", advToken);
		var signoption = $("#SIGN option:selected");
		var signTxt = signoption.text();
		console.log("狗filter", filter);
		$("#matchARec").html(signTxt + "查找条件:" + advstr);
		$("#matchRec").html(signTxt + "查找条件:" + advstr);
	}
	function showDBDataSelf(DataPara, columnsData, myear, mrule, mclass, mpcode, mpast, mname, mprop, msource, morder, Property, Archives) {
		var limit = '500';
		var filter = ' 1=1 ';
		var orderBy = '';
		// if (myear != "" && myear != "null" && myear != undefined && myear.length > 0) {
		// 	console.log("年份", myear);
		// 	filter += " AND  A.Parts_Year =" + "'" + myear + "'";
		// }
		// if (mrule != "" && mrule != "null" && mrule != undefined && mrule.length > 0) {
		// 	console.log("原则", mrule);
		// 	filter += " AND    A.Parts_Rule =" + "'" + mrule + "'";
		// }
		var msign = $('#SIGN').val();
		if (mclass != "" && mclass != "null" && mclass != undefined && mclass.length > 0) {
			filter += " AND    A.MaterialCategoryId =" + "'" + mclass + "'";
			console.log("filter类别", filter, "---", mclass);
		}
		if (mpcode != "" && mpcode != "null" && mpcode != undefined && mpcode.length > 0) {
			console.log("编码", mpcode);
			filter += "  AND   MaterialId LIKE " + "'%" + mpcode + "%'";
		}
		if (mpast != "" && mpast != "null" && mpast != undefined && mpast.length > 0) {
			console.log("旧代码", mpast);
			filter += "  AND   [CU_OldMaterialId] LIKE " + "'%" + mpast + "%'";
		}
		if (mname != "" && mname != "null" && mname != undefined && mname.length > 0) {
			mname = myTrim(mname);
			console.log("品名", mname);
			filter += "  AND   [CU_OldMaterialSpec] LIKE " + "'%" + mname + "%'";
		}
		// if (mprop != "" && mprop != "null" && mprop != undefined && mprop.length > 0) {
		// 	mprop = myTrim(mprop);
		// 	console.log("属性", mprop);
		// 	filter += "  AND  ( Supply_Title =" + "'" + mprop + "'  OR SMT_Title =" + "'" + mprop + "'  OR Parts_Prop1 =" + "'" + mprop + "' OR  Parts_Prop2 =" + "'" + mprop + "'  OR  Parts_Prop3 =" + "'" + mprop + "'  OR  Parts_Prop4 =" + "'" + mprop + "' " +
		// 		" OR Parts_Prop5 =" + "'" + mprop + "' OR  Parts_Prop6 =" + "'" + mprop + "'  OR  Parts_Prop7 =" + "'" + mprop + "'  OR  Parts_Prop8 =" + "'" + mprop + "' " +
		// 		" OR Parts_Prop9 =" + "'" + mprop + "' OR Parts_Prop10 =" + "'" + mprop + "'  OR Parts_Prop11 =" + "'" + mprop + "' OR  Parts_Prop12 =" + "'" + mprop + "' " +
		// 		" OR Parts_Prop13 =" + "'" + mprop + "' OR Parts_Prop14 =" + "'" + mprop + "'  OR Parts_Prop15 =" + "'" + mprop + "' OR  Parts_Prop16 =" + "'" + mprop + "' " +
		// 		" OR Parts_Prop17 =" + "'" + mprop + "' OR Parts_Prop18 =" + "'" + mprop + "'  OR Parts_Prop19 =" + "'" + mprop + "' OR  Parts_Prop20 =" + "'" + mprop + "' )";
		// }

		if (filter == ' 1=1 ') {
			filter = "  [MaterialCategoryId] ='A2' ";
			console.log("顺序", orderBy);
		}
		if (morder != "" && morder != "null" && morder != undefined && morder.length > 0) {
			orderBy = morder + "  DESC";
			console.log("顺序", orderBy);
		} else {
			// order by [MaterialTypeId],[MaterialId]
			orderBy = "  [MaterialTypeId] , [MaterialId]   ASC ";
			console.log("无顺序", orderBy);
		}
		$("#center_TB").dataTable().fnDestroy();
		var advstr = '';
		if (Property != null && Property != undefined) {
			Property = Property.replace(new RegExp("共用", "gm"), "");
			Property = Property.replace(new RegExp("预留", "gm"), "");
			Property = Property.replace(new RegExp("缺省", "gm"), "");
			advstr = Property.replace(new RegExp("##", "gm"), "");
		}
		var signoption = $("#SIGN option:selected");
		var signTxt = signoption.text();
		console.log("狗filter", filter);
		$("#matchARec").html(signTxt + "查找条件:" + advstr);
		$("#matchRec").html(signTxt + "查找条件:" + advstr);
		var FieldTypeId = mclass  ;
		var reportType = '';
		if(msign == '2'){
			reportType = 'hushOrz';
		}else{
			reportType = 'hushAmd';
		}
		var taskData = { "reportType": reportType, "filter": filter, "Property": Property, "CategoryId": mclass, "Archives": Archives, "FieldTypeId": FieldTypeId, "orderBy": orderBy };
		$(DataPara.tableID).DataTable({
			ajax: {
				method: 'post',
				data: taskData,
				url: "/app/TMCode/getRoute",
				dataSrc: ''
			},
			columns: columnsData,
			aaSorting: [1, 'desc'],
			language: languageCN
		});
		var table = $('#center_TB').DataTable();
		$('#center_TB tbody').on('click', 'tr', function () {
			$(this).removeClass('selected');
			if ($(this).hasClass('selected')) {
				$(this).removeClass('selected');
			} else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
			}
		});
		$('#center_TB tbody').on('dblclick', 'tr', function () {
			var table = $('#center_TB').DataTable();
			var dataSelect = table.row('.selected').data();
			var data = table.row(this).data();
			var pclass = dataSelect.Parts_Class;
			var pcode = dataSelect.Parts_Code; pcode = myTrim(pcode);
			var pname = dataSelect.Parts_Name; pname = myTrim(pname);
			var poldcode = dataSelect.Parts_Old_Code; poldcode = myTrim(poldcode);
			var poldname = dataSelect.Parts_Old_Name; poldname = myTrim(poldname);
			var fldEF = dataSelect.Combo_Title; fldEF = myTrim(fldEF);
			analysisWin(pclass, pcode, poldcode, pname, poldname, fldEF);
			$('#lovewindow').modal('show');
		});
	}
	function deleteFile(loadFn) {
	}
	function reloadCol() {
		columnsData = [
			{ data: 'DBID', "visible": false },
			{ data: 'Parts_Class', "visible": false },
			{ data: 'Parts_Chi', "visible": FieldA },
			{ data: 'Parts_Code' },
			{ data: 'Parts_Name', "visible": FieldB },
			{ data: 'Parts_Old_Code', "visible": FieldC },
			{ data: 'Parts_Old_Name', "visible": FieldD },
			{ data: 'BILL_ID', "visible": FieldE },
			{ data: 'Property', "visible": FieldF },
			{ data: 'Parts_Apply_Date', "visible": FieldG },
			{ data: 'Parts_Status', "visible": false },
			{ data: 'Combo_Title', "visible": FieldH },
			{ data: 'Reason', "visible": FieldI },
			{ data: 'Combo_Staff', "visible": FieldJ },
			{ data: 'SMT_Title', "visible": false },
			{ data: 'Supply_Title', "visible": false },
		];
	}
	// function analysis(pclass, pcode) {
	// 	// alert("分析属性"+pclass+pcode );
	// 	var reportType = 'factorHat';
	// 	var pcode = glbpcode; pcode = myTrim(pcode);
	// 	console.log("海怡 ", pcode);
	// 	// var reportType = 'analysisMate';
	// 	var reportType = 'factorHat';
	// 	var taskData = { "reportType": reportType, "PartsCode": pcode };
	// 	$.ajax({
	// 		method: 'post',
	// 		data: taskData,
	// 		url: "/app/TMErp/getRoute",
	// 		success: function (data) {
	// 			if (data.status == 'Fail') {
	// 				layer.msg("无法显示规格");
	// 				return;
	// 			}
	// 			const json2 = JSON.stringify(data);
	// 			const bjob = JSON.parse(json2);
	// 			$("#specOHead").val(" 旧品名: " + bjob.PartsOldName + "旧编码: " + bjob.PartsOldCode);
	// 			$("#specNHead").val(" 品名: " + bjob.PartsName + "编码: " + bjob.PartsCode);
	// 			$("#specList").val(bjob.Value1 + bjob.Name1 + bjob.Value2 + bjob.Name2 + bjob.Value3 + bjob.Name3 + bjob.Value4 + bjob.Name4 + bjob.Value5 + bjob.Name5 + bjob.Value6 + bjob.Name6 + bjob.Value7 + bjob.Name7 + bjob.Value8 + bjob.Name8
	// 				+ bjob.Value9 + bjob.Name9 + bjob.Value10 + bjob.Name10 + bjob.Value11 + bjob.Name11 + bjob.Value12 + bjob.Name12 + bjob.Value13 + bjob.Name13 + bjob.Value14 + bjob.Name14 + bjob.Value15 + bjob.Name15
	// 				+ bjob.Value16 + bjob.Name16 + bjob.Value17 + bjob.Name17 + bjob.Value18 + bjob.Name18 + bjob.Value19 + bjob.Name19 + bjob.Value20 + bjob.Name20);
	// 			$('#pptwindow').window('open');
	// 		},
	// 		error: function () {
	// 		}
	// 	})
	// }
	function analysisWin(pclass, pcode, poldcode, pname, poldname, fldEF) {
		var reportType = 'factorHat';
		var taskData = { "reportType": reportType, "PartsClass": pclass, "PartsCode": pcode };
		$.ajax({
			method: 'post',
			data: taskData,
			url: "/app/TMErp/getRoute",
			success: function (data) {
				const json2 = JSON.stringify(data);
				const bjob = JSON.parse(json2);
				// var opttxt = "旧代码: " + poldcode + "旧规格: " + poldname;
				var EFList = fldEF.split('/');
				if (data.status == 'Fail') {
					layer.msg("无法显示规格");
					return;
				}
				console.log("人生啊...", bjob.Assembly);
				$("#specOHead").val(" 旧品名: " + bjob.PartsOldName + "旧编码: " + bjob.PartsOldCode);
				$("#specNHead").val(" 品名: " + bjob.PartsName + "编码: " + bjob.PartsCode);
				$("#specEF").val(bjob.Value1 + bjob.Name1);
				$("#specSupy").val(" 供应商: " + bjob.SupplyTitle);
				$("#specModel").val(bjob.Model);
				$("#specAssem").val(bjob.Assembly);
				$("#specUnitE").val(bjob.UnitE);
				$("#specPhase").val(bjob.Phase);
				$("#specPrior").val(bjob.Prior);
				$("#specStaff").val(bjob.Staff);
				$("#specApplyDate").val(bjob.ApplyDate);
				console.log("日不漏: " + JSON.stringify(bjob));
				$("#specList").val(bjob.Value1 + bjob.Name1 + bjob.Value2 + bjob.Name2 + bjob.Value3 + bjob.Name3 + bjob.Value4 + bjob.Name4 + bjob.Value5 + bjob.Name5 + bjob.Value6 + bjob.Name6 + bjob.Value7 + bjob.Name7 + bjob.Value8 + bjob.Name8
					+ bjob.Value9 + bjob.Name9 + bjob.Value10 + bjob.Name10 + bjob.Value11 + bjob.Name11 + bjob.Value12 + bjob.Name12 + bjob.Value13 + bjob.Name13 + bjob.Value14 + bjob.Name14 + bjob.Value15 + bjob.Name15
					+ bjob.Value16 + bjob.Name16 + bjob.Value17 + bjob.Name17 + bjob.Value18 + bjob.Name18 + bjob.Value19 + bjob.Name19 + bjob.Value20 + bjob.Name20);
			},
			error: function () {
			}
		})
	}

	function advReset() {
		$("#boat").val(); $("#boat").html("");
		$("#yacht").val(); $("#yacht").html("");
		$("#sail").val(); $("#sail").html("");
		$("#vessel").val(); $("#vessel").html("");
		$("#tanker").val(); $("#tanker").html("");
		$("#tankerName").val(); $("#tankerName").html("");
		$("#marine").val(); $("#marine").html("");
		$("#rocket").val(); $("#rocket").html("");
		$("#zebra").val(); $("#zebra").html("");
		$("#eleph").val(); $("#eleph").html("");
		$("#eagle").val(); $("#eagle").html("");
		$("#tiger").val(); $("#tiger").html("");
		$("#lion").val(); $("#lion").html("");
		$("#horse").val(); $("#horse").html("");
		$("#worm").val(); $("#worm").html("");
		$("#hole").val(); $("#hole").html("");
		$("#xman").val(); $("#xman").html("");
		$("#quita").val(); $("#quita").html("");
	}
	function advCri() {
		var SupplyID = $('#soup').val();
		var SMTID = $('#beef').val();
		var suppoption = $("#soup option:selected");
		var SupplyTitle = suppoption.text();
		var SMTID = $('#beef').val();
		var beefoption = $("#beef option:selected");
		var SMTTitle = beefoption.text();

		var boat = $('#boat').val(); boat = nulchk(boat);
		var yacht = $('#yacht').val(); yacht = nulchk(yacht);
		var sail = $('#sail').val(); sail = nulchk(sail);
		var vessel = $('#vessel').val(); vessel = nulchk(vessel);
		var tanker = $('#tanker').val(); tanker = nulchk(tanker);

		var Soft_No = $('#tankerName').val(); tankerName = nulchk(tankerName);
		var marine = $('#marine').val(); marine = nulchk(marine);
		var rocket = $('#rocket').val(); rocket = nulchk(rocket);
		var zebra = $('#zebra').val(); zebra = nulchk(zebra);
		var eleph = $('#eleph').val(); eleph = nulchk(eleph);
		var eagle = $('#eagle').val(); eagle = nulchk(eagle);

		var tiger = $('#tiger').val(); tiger = nulchk(tiger);
		var lion = $('#lion').val(); lion = nulchk(lion);
		var horse = $('#horse').val(); horse = nulchk(horse);
		var worm = $('#worm').val(); worm = nulchk(worm);
		var hole = $('#hole').val(); hole = nulchk(hole);
		var xman = $('#xman').val(); xman = nulchk(xman);
		var quita = $('#quita').val(); quita = nulchk(quita);
		var fox = $('#fox').val(); fox = nulchk(fox);
		var owl = $('#owl').val(); owl = nulchk(owl);
		var deer = $('#deer').val(); deer = nulchk(deer);
		$("#matchARec").html("");
		$("#matchRec").html("");
		advSearch = SupplyTitle + "##" + SMTTitle + "##" + boat + "##" + yacht + "##" + sail + "##" + vessel + "##" + tanker + "##" + marine + "##" + rocket + "##"
			+ zebra + "##" + eleph + "##" + eagle + "##" + tiger + "##" + lion + "##" + horse + "##" + worm + "##" + hole + "##"
			+ xman + "##" + quita + "##" + fox + "##" + owl + "##" + deer;
		var classSupp = $('#classSupp').val();
		var classSMT = $('#classSMT').val();
		var classA = $('#classA').val();
		var classB = $('#classB').val();
		var classC = $('#classC').val();
		var classD = $('#classD').val();
		var classE = $('#classE').val();
		var classF = $('#classF').val();
		var classG = $('#classG').val();
		var classH = $('#classH').val();
		var classI = $('#classI').val();
		var classJ = $('#classJ').val();
		var classK = $('#classK').val();
		var classL = $('#classL').val();
		var classM = $('#classM').val();
		var classO = $('#classO').val();
		var classP = $('#classP').val();
		var classQ = $('#classQ').val();
		var classR = $('#classR').val();
		var classS = $('#classS').val();
		var classT = $('#classT').val();
		var classU = $('#classU').val();
		advToken = classSupp + "::" + SupplyTitle + "##" + classSMT + "::" + SMTTitle + "##" + classA + "::" + boat +
			"##" + classB + "::" + yacht + "##" + classC + "::" + sail + "##" + classD + "::" + vessel +
			"##" + classE + "::" + tanker + "##" + classF + "::" + marine + "##" + classG + "::" + rocket +
			"##" + classH + "::" + zebra + "##" + classI + "::" + eleph + "##" + classJ + "::" + eagle +
			"##" + classK + "::" + tiger + "##" + classL + "::" + lion + "##" + classM + "::" + horse +
			"##" + classO + "::" + worm + "##" + classP + "::" + hole + "##" + classQ + "::" + xman +
			"##" + classR + "::" + quita + "##" + classS + "::" + fox + "##" + classT + "::" + owl +
			"##" + classU + "::" + deer;
		console.log("时势", advSearch);
		// console.log("英雄", advToken);
		var advstr = '';
		if (advSearch != null && advSearch != undefined) {
			advSearch = advSearch.replace(new RegExp("共用", "gm"), "");
			advSearch = advSearch.replace(new RegExp("预留", "gm"), "");
			advSearch = advSearch.replace(new RegExp("缺省", "gm"), "");
			advstr = advSearch.replace(new RegExp("##", "gm"), "");
		}
		var signoption = $("#SIGN option:selected");
		var signTxt = signoption.text();
		$("#matchARec").html(signTxt + "查找条件:" + advstr);
		$("#matchRec").html(signTxt + "查找条件:" + advstr);
	}
	$('#SeaBtn').click(function () {
		var obj = {
			"Value1": boat,
			"Value2": yacht,
			"Value3": sail,
			"Value4": vessel,
			"Value5": tanker,
			"Value6": marine,
			"Value7": rocket,
			"Value8": zebra,
			"Value9": eleph,
			"Value10": eagle,
			"Value11": tiger,
			"Value12": lion,
			"Value13": horse,
			"Value14": worm,
			"Value15": hole,
			"Value16": xman,
			"Value17": quita,
			"Value18": fox,
			"Value19": owl,
			"Value20": deer,
		};
		// console.log("凯迪", JSON.stringify(obj));
		$("#center_TB").dataTable().fnDestroy();
		var myear = $('#mainyear').val();
		var mrule = $('#mainrule').val();
		var mclass = $('#mainclass').val();
		var mpcode = $('#mainpcode').val();
		var mpast = $('#mainpast').val();
		var mname = $('#mainname').val();
		var mprop = $('#mainprop').val();
		var msource = '';
		var morder = "";
		reloadCol();
		showDBDataSelf(DataPara, columnsData, myear, mrule, mclass, mpcode, mpast, mname, mprop, msource, morder, advSearch, advToken);
	});

</script>