<!--本地路径-->
<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">

<!--<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/jquery.dataTables.css">-->

<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.css">

<!-- JS  -->
<script type="text/javascript" src="/css/PM/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/css/PM/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>

<!-- JS 这3个管分析视窗 -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/PM/FileSaver.min.js"></script>
<script src="/js/PM/tableExport.js"></script>

<script src="/js/PM/PMfuns.js"></script>
<script src="/banq/TMEvent.js"></script>
<script type="text/javascript" src="/css/MSTools/layui/layui.js"></script>
<link rel="stylesheet" type="text/css" href="/css/MSTools/layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="/css/MSTools/divContent.css">
<link rel="stylesheet" type="text/css" href="/css/TM/tmcode-font.css">

<link rel="stylesheet" type="text/css" href="/public/DataTablesExcel/Bootstrap-3.3.7/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/public/DataTablesExcel/DataTables-1.10.18/css/dataTables.bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/public/DataTablesExcel/Buttons-1.5.6/css/buttons.bootstrap.css" />

<script src="/js/sweetalert.min.js"></script>
<script src="/public/funs.js"></script>
<script src="/banq/cycleNew.js"></script>
<script src="/banq/NeedRule.js"></script>
<script src="/banq/TMfun.js"></script>
<script src="/banq/supplier.js"></script>
<script src="/banq/energy.js"></script>
<script src="/banq/wipeR.js"></script>
<script src="/banq/wipeRpack.js"></script>
<script src="/banq/Mizualert.js"></script>
<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>
<div>
</div>
<H1>弘讯科技新品编码提交</H1>
<div class="layui-form-item">
	<label class="green-label">版本识别:</label>
	<div class="layui-inline">
		<input name="mainyear" class="can-drop" id="mainyear" value="2020" autocomplete="off">
	</div>
	<label class="green-label">编码复制:</label>
	<div class="layui-inline">
		<input name="poldcode" class="can-drop-large" id="poldcode" size="40" value="" autocomplete="off">
	</div>
	<input type="button" id="SeaBtn" onclick="copyFloor()" class="btn btn-info" value="带入" />
</div>

<div class="btn-group">
	<label class="layui-form-label">产品设备</label>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		物料类别
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" id="IllumA" name="IllumA">

	</ul>
</div>
<div class="btn-group">
	<label class="layui-form-label">电子电气原料</label>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		物料类别
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" id="IllumE" name="IllumE">

	</ul>
</div>
<br></br>
<div class="btn-group">
	<label class="layui-form-label">配件连接线</label>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		物料类别
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" id="IllumG" name="IllumG">

	</ul>
</div>
<div class="btn-group">
	<label class="layui-form-label">包材配件伺服</label>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		物料类别
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" id="IllumJ" name="IllumJ">

	</ul>
</div>
<div class="btn-group">
	<label class="layui-form-label">系统软件程序</label>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		物料类别
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" id="IllumR" name="IllumR">
	</ul>
	<span id="pclass" class="green-label">.</span>
	<input name="mainclass" id="mainclass" type="text" size="50" value="" style="visibility:hidden"> </input>
	<input name="mainchi" id="mainchi" type="text" size="50" value="" style="visibility:hidden"> </input>
</div>
<br></br>
<span id="rule-label" class="can-mini" style="visibility:hidden"></span>
<input name="mainrule" id="mainrule" class="can-mini" width="0px" type="text" size="10" value="A"
	style="visibility:hidden"> </input>
<span id="spec-label" class="green-label" style="visibility:hidden"> 物料名称 </span>
<input name="specName" id="specName" class="can-drop-spec" style="visibility:hidden" width="400px" type="text" size="50"
	value="">
<br></br>
<span id="model-label" class="green-label" style="visibility:hidden"> 型号 </span>
<input name="Model" id="Model" class="can-drop" style="visibility:hidden" width="150px" type="text" size="50" value="">
</input>
<span id="assembly-label" class="green-label" style="visibility:hidden"> 组合件 </span>
<select id="Assembly" name="Assembly" style="visibility:hidden" class="can-drop"></select>
<br></br>
<span id="unitE-label" class="green-label" style="visibility:hidden"> 基本单位 </span>
<input name="UnitE" id="UnitE" class="can-drop" style="visibility:hidden" width="150px" readonly='true' type="text"
	size="50" value="">
</input>
<span id="phase-label" class="green-label" style="visibility:hidden"> 物料状态 </span>
<select id="Phase" name="Phase" class="can-drop" style="visibility:hidden"></select>
<br></br>
<span id="priority-label" class="green-label" style="visibility:hidden"> 优先耗用 </span>
<select id="Priority" name="Priority" class="can-drop" style="visibility:hidden"></select>
<br></br>
<span id="classSupp" class="green-label" style="visibility:hidden" onclick="searchFile(this)"> 制造商 </span>
<select id="soup" name="soup" class="can-drop" style="visibility:hidden"  ></select>
<span id="classSMT" class="green-label" style="visibility:hidden" onclick="searchFile(this)"> 属性EF </span>
<select id="beef" name="beef" class="can-drop" style="visibility:hidden"  ></select>
<br></br>
<span id="classA" class="blue-label" style="visibility:hidden"> 分类 </span>
<select id="boat" name="boat" class="can-drop" style="visibility:hidden"></select>
<span id="classB" class="blue-label" style="visibility:hidden"> 系列 </span>
<select id="yacht" name="yacht" class="can-drop" style="visibility:hidden"></select>
<span id="classB-br">
	</br>
</span>
<span id="classC" class="blue-label" style="visibility:hidden"> 型号 </span>
<select id="sail" name="sail" class="can-drop" style="visibility:hidden"></select>
<span id="classD" class="blue-label" style="visibility:hidden"> 厂家 </span>
<select id="vessel" name="vessel" class="can-drop" style="visibility:hidden"></select>
<span id="classD-br">
	</br>
</span>
<span id="classE" class="blue-label" style="visibility:hidden"> 定制规格 </span>
<input name="tankerName" id="tankerName" class="can-mini" width="0px" type="text" size="50" value="" 
	style="visibility:hidden"> </input>
<select id="tanker" name="tanker" style="visibility:hidden" class="can-drop"></select>
<span id="classF" class="blue-label" style="visibility:hidden"> 版本 </span>
<select id="marine" name="marine" style="visibility:hidden" class="can-drop"></select>
<span id="classF-br">
	</br>
</span>
<span id="classG" class="blue-label" style="visibility:hidden"> 包装 </span>
<select id="rocket" name="rocket" class="can-drop" style="visibility:hidden"></select>
<span id="classH" class="blue-label" style="visibility:hidden"> 联轴器/键轴</span>
<select id="zebra" name="zebra" class="can-drop" style="visibility:hidden"></select>
<span id="classH-br">
	</br>
</span>
<span id="classI" class="blue-label" style="visibility:hidden"> 油泵分类</span>
<select id="eleph" name="eleph" class="can-drop" style="visibility:hidden"></select>
<span id="classJ" class="blue-label" style="visibility:hidden"> 油泵系列</span>
<select id="eagle" name="eagle" class="can-drop" style="visibility:hidden"></select>
<span id="classJ-br">
	</br>
</span>
<span id="classK" class="blue-label" style="visibility:hidden"> 油泵型号</span>
<select id="tiger" name="tiger" class="can-drop" style="visibility:hidden"></select>
<span id="classL" class="blue-label" style="visibility:hidden"> 油泵排量</span>
<select id="lion" name="lion" class="can-drop" style="visibility:hidden"></select>
<span id="classL-br">
	</br>
</span>
<span id="classM" class="blue-label" style="visibility:hidden"> 进出油口方向</span>
<select id="horse" name="horse" class="can-drop" style="visibility:hidden"></select>
<span id="classO" class="blue-label" style="visibility:hidden"> 接线盒方向 </span>
<select id="worm" name="worm" class="can-drop" style="visibility:hidden"></select>
<span id="classO-br">
</br>
</span>
<span id="classP" class="blue-label" style="visibility:hidden"> 出线方向 </span>
<select id="hole" name="hole" class="can-drop" style="visibility:hidden"></select>
<span id="classQ" class="blue-label" style="visibility:hidden"> 版本 </span>
<select id="xman" name="xman" class="can-drop" style="visibility:hidden"></select>
<span id="classQ-br">
</br>
</span>
<span id="classR" class="blue-label" style="visibility:hidden"> 包装 </span>
<select id="quita" name="quita" class="can-drop" style="visibility:hidden"></select>
<span id="classS" class="blue-label" style="visibility:hidden"> 属性18 </span>
<select id="fox" name="fox" class="can-drop" style="visibility:hidden"></select>
<span id="classS-br">
</br>
</span>
<span id="classT" class="blue-label" style="visibility:hidden"> 属性19 </span>
<select id="owl" name="owl" class="can-drop" style="visibility:hidden"></select>
<span id="classU" class="blue-label" style="visibility:hidden"> 属性20 </span>
<select id="deer" name="deer" class="can-drop" style="visibility:hidden"></select>
<br></br>
<span id="reason-label" class="green-label-Verti" style="visibility:hidden"> 备注 </span>
<textarea name="Reason" id="Reason" class="can-area-note" style="visibility:hidden" rows="2"></textarea>
<a class="btn btn-lg btn-info" id="bt_approvalhmi" style="visibility:hidden" onclick="approvalhmi();">提交审批</a>
<a class="btn btn-lg btn-info" id="bt_preview" style="visibility:hidden" style="margin-left:30px"
	onclick="preview();">预览</a>

<!-- 点击弹出窗口开始 -->
<div class="modal fade" id="lovewindow" tabindex="-1" role="dialog" aria-labelledby="lovewindowLabel" aria-hidden="true"
	data-backdrop="static">
	<div class="modal-dialog" style="width:65%">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="panel-title">物料号面板
					<button id="BTNFormClose" type="button" class="btn btn-primary"
						data-dismiss="modal">关闭</button></h3>
			</div>
			<div class="modal-body">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">物料基本信息与规格</h3>
					</div>

					<div class="panel-body">

						<div class="form-horizontal" id="DivAnaly">
							<!-------------------------------------------------------------------------->
							<div class="form-group">
								<label class="col-sm-1 control-label">新物料号:</label>
								<div class="col-sm-4">
									<input id="specNHead" class="form-control" type="text" value=""
										disabled="true">
								</div>
								<label class="col-sm-1 control-label">类别:</label>
								<div class="col-sm-4">
									<input id="specOHead" class="form-control" type="text" value=""
										disabled="true">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">检核:</label>
								<div class="col-sm-4">
									<input id="specCHead" class="form-control" type="text" value=""
										disabled="true">
								</div>
								<label class="col-sm-1 control-label">EF码:</label>
								<div class="col-sm-4">
									<input id="specEF" class="form-control" type="text" value=""
										disabled="true">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">型号:</label>
								<div class="col-sm-4">
									<input id="specModel" class="form-control" type="text" value=""
										disabled="true">
								</div>
								<label class="col-sm-1 control-label">组合件:</label>
								<div class="col-sm-4">
									<input id="specAssem" class="form-control" type="text" value=""
										disabled="true">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">基本单位:</label>
								<div class="col-sm-4">
									<input id="specUnitE" class="form-control" type="text" value=""
										disabled="true">
								</div>
								<label class="col-sm-1 control-label">物料状态:</label>
								<div class="col-sm-4">
									<input id="specPhase" class="form-control" type="text" value=""
										disabled="true">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">优先耗用:</label>
								<div class="col-sm-4">
									<input id="specPrior" class="form-control" type="text" value=""
										disabled="true">
								</div>
								<label class="col-sm-1 control-label">备注:</label>
								<div class="col-sm-4">
									<input id="specReason" class="form-control" type="text" value=""
										disabled="true">
								</div>
							</div>

							<!-------------------------------------------------------------------------->
							<div class="form-group">
								<label class="col-sm-1 control-label" for="name">规格详细:</label>
								<div class="col-sm-8">
									<textarea id="specList" class="can-drop-super" width="500px"
										rows="18"></textarea>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="BTNFormClose" type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div><!-- modal fade -->

<script>
	var despec = 'N/A';
	let active = {};
	var sessionName = '';
	$(document).ready(function () {
		layuse();
		sessionName = "<%-locals.session.yjUser.Name%>";
		$("#classS").css('visibility', 'hidden'); $("#fox").css('visibility', 'hidden');
		$("#classT").css('visibility', 'hidden'); $("#owl").css('visibility', 'hidden');
		$("#classU").css('visibility', 'hidden'); $("#deer").css('visibility', 'hidden');
		getSupply(); IllumationA(); IllumationE(); IllumationG(); IllumationJ(); IllumationR();
		missA = getQueryString("missA");
		// console.log("紫米", missA);
		if (missA == undefined) {
		} else {
			var obj = {};
			Gold(missA, obj);
			getPack(missA, obj);
			$("#year-label").css('visibility', 'visible');
			$("#mainyear").css('visibility', 'visible');
			$("#pclass").css('visibility', 'visible');
			$("#mainrule").css('visibility', 'visible');
			$("#rule-label").css('visibility', 'visible');
			$("#spec-label").css('visibility', 'visible');
			$("#specName").css('visibility', 'visible');
			$("#specold-label").css('visibility', 'visible');
			$("#specOldName").css('visibility', 'visible');
			$("#model-label").css('visibility', 'visible');
			$("#Model").css('visibility', 'visible');
			$("#assembly-label").css('visibility', 'visible');
			$("#Assembly").css('visibility', 'visible');
			$("#unitE-label").css('visibility', 'visible');
			$("#UnitE").css('visibility', 'visible');
			$("#phase-label").css('visibility', 'visible');
			$("#Phase").css('visibility', 'visible');
			$("#priority-label").css('visibility', 'visible');
			$("#Priority").css('visibility', 'visible');
			$("#reason-label").css('visibility', 'visible');
			$("#Reason").css('visibility', 'visible');
			$("#bt_approvalhmi").css('visibility', 'visible');
			$("#bt_preview").css('visibility', 'visible');
			$("#classSupp").css('visibility', 'visible');
			$("#soup").css('visibility', 'visible');
			$("#classA").css('visibility', 'visible');
			$("#boat").css('visibility', 'visible');
			$("#classB").css('visibility', 'visible');
			$("#yacht").css('visibility', 'visible');
			$("#classC").css('visibility', 'visible');
			$("#sail").css('visibility', 'visible');
			$("#classD").css('visibility', 'visible');
			$("#vessel").css('visibility', 'visible');
			$("#pclass").html(obj.parts_class + obj.parts_chi);
			$("#mainclass").val(obj.parts_class);
			$("#mainchi").val(obj.parts_chi);
		}
		$("#specName").val(despec);
	});

	$('#bt_approval').click(function () {

	})

	function copyFloor() {
		var ret = '';
		var PartsOldCode = $('#poldcode').val();
		if (PartsOldCode == null || PartsOldCode.length == 0 || PartsOldCode == undefined) {
			layer.alert("清空表单!<" + PartsOldCode + ">");
			$("#classA").html("分类"); $("#boat").html("");
			$("#classB").html("型号"); $("#yacht").html("");
			$("#classC").html("款型"); $("#sail").html("");
			$("#classD").html("电压"); $("#vessel").html("");
			$("#classE").html("方式"); $("#tanker").html("");
			$("#classF").html("包装"); $("#marine").html("");
			$("#classG").html("平/花键"); $("#classG").css('visibility', 'hidden');
			$("#rocket").html(""); $("#rocket").css('visibility', 'hidden');
			$("#classH").html("联轴器/键轴"); $("#classH").css('visibility', 'hidden');
			$("#zebra").html(""); $("#zebra").css('visibility', 'hidden');
			$("#classI").html("泵分类"); $("#classI").css('visibility', 'hidden');
			$("#eleph").html(""); $("#eleph").css('visibility', 'hidden');
			$("#classJ").html("泵型号"); $("#classJ").css('visibility', 'hidden');
			$("#eagle").html(""); $("#eagle").css('visibility', 'hidden');
			$("#classK").html("泵款型"); $("#classK").css('visibility', 'hidden');
			$("#tiger").html(""); $("#tiger").css('visibility', 'hidden');
			$("#classL").html("泵排量1"); $("#classL").css('visibility', 'hidden');
			$("#lion").html(""); $("#lion").css('visibility', 'hidden');
			$("#classM").html("泵排量2"); $("#classM").css('visibility', 'hidden');
			$("#horse").html(""); $("#horse").css('visibility', 'hidden');
			$("#classO").html("接线盒方向"); $("#classO").css('visibility', 'hidden');
			$("#worm").html(""); $("#worm").css('visibility', 'hidden');
			$("#classP").html("出油口方向"); $("#classP").css('visibility', 'hidden');
			$("#hole").html(""); $("#hole").css('visibility', 'hidden');
			$("#classQ").html("进出油口夹角"); $("#classQ").css('visibility', 'hidden');
			$("#xman").html(""); $("#xman").css('visibility', 'hidden');
			$("#classR").html("出线方向"); $("#classR").css('visibility', 'hidden');
			$("#quita").html(""); $("#quita").css('visibility', 'hidden');
			$("#classS").css('visibility', 'hidden'); $("#fox").css('visibility', 'hidden');
			$("#classT").css('visibility', 'hidden'); $("#owl").css('visibility', 'hidden');
			$("#classU").css('visibility', 'hidden'); $("#deer").css('visibility', 'hidden');
			$("#soup").val('000');
			$("#pclass").html(".");
			$("#specName").val(despec);
			return;
		}
		layer.alert("複制已存在之料号!<" + PartsOldCode + ">");
		var chooseCode = PartsOldCode;
		var chooseOld = '';
		var reportType = 'callPcode';
		var taskData = { "reportType": reportType, "PartsCode": chooseCode, "PartsOldCode": chooseOld }
		$.ajax({
			method: 'post',
			data: taskData,
			url: "/app/TMCode/getRoute",
			success: function (data) {
				var obj = data;
				var retcode = data.status;
				if (retcode == 'fail') {
					layer.alert("此编码无效 " + (data.status));
					return;
				}
				DH_class = obj.parts_class;
				if (DH_class.startsWith("A")) {
					Gold(DH_class, obj);
				}
				if (DH_class.startsWith("B")) {
					Gold(DH_class, obj);
				}
				if (DH_class.startsWith("C")) {
					Gold(DH_class, obj);
				}
				if (DH_class.startsWith("D")) {
					Gold(DH_class, obj);
				}
				if (DH_class.startsWith("E")) {
					Gold(DH_class, obj);
				}
				if (DH_class.startsWith("F")) {
					Gold(DH_class, obj);
				}
				if (DH_class.startsWith("G")) {
					Gold(DH_class, obj);
				}
				if (DH_class.startsWith("H")) {
					Gold(DH_class, obj);
				}
				if (DH_class.startsWith("J")) {
					Gold(DH_class, obj);
				}
				if (DH_class.startsWith("K")) {
					Gold(DH_class, obj);
				}
				if (DH_class.startsWith("L")) {
					Gold(DH_class, obj);
				}
				if (DH_class.startsWith("Q")) {
					Gold(DH_class, obj);
				}
				if (DH_class.startsWith("R")) {
					Gold(DH_class, obj);
				}
				if (DH_class.startsWith("S")) {
					Gold(DH_class, obj);
				}
				if (DH_class.startsWith("U")) {
					Gold(DH_class, obj);
				}
				console.log("佟梨", JSON.stringify(obj));
				getSupply(obj);
				getPack(DH_class, obj);
				$("#pclass").html(obj.parts_class + obj.parts_chi);
				$("#mainclass").val(obj.parts_class);
				$("#mainchi").val(obj.parts_chi);
				$("#mainpid").val(obj.pid);
				$("#tankerName").html(obj.SoftNo); $("#tankerName").val(obj.SoftNo);
				$("#mainyear").val(obj.parts_year);
				$("#poldcode").val(obj.parts_old_code);
				$("#pnewcode").val(obj.parts_code);
				$("#specName").val(obj.parts_name);
				$("#mainrule").val('A');
				$("#soup").val(obj.supply_id);
			},
			error: function () {

			}
		})
		$("#year-label").css('visibility', 'visible');
		$("#mainyear").css('visibility', 'visible');
		$("#pclass").css('visibility', 'visible');
		$("#mainrule").css('visibility', 'visible');
		$("#rule-label").css('visibility', 'visible');
		$("#spec-label").css('visibility', 'visible');
		$("#specName").css('visibility', 'visible');
		$("#specold-label").css('visibility', 'visible');
		$("#specOldName").css('visibility', 'visible');
		$("#model-label").css('visibility', 'visible');
		$("#Model").css('visibility', 'visible');
		$("#assembly-label").css('visibility', 'visible');
		$("#Assembly").css('visibility', 'visible');
		$("#unitE-label").css('visibility', 'visible');
		$("#UnitE").css('visibility', 'visible');
		$("#phase-label").css('visibility', 'visible');
		$("#Phase").css('visibility', 'visible');
		$("#priority-label").css('visibility', 'visible');
		$("#Priority").css('visibility', 'visible');
		$("#reason-label").css('visibility', 'visible');
		$("#Reason").css('visibility', 'visible');
		$("#bt_approvalhmi").css('visibility', 'visible');
		$("#bt_preview").css('visibility', 'visible');
		$("#classSupp").css('visibility', 'visible');
		$("#soup").css('visibility', 'visible');
		$("#classA").css('visibility', 'visible');
		$("#boat").css('visibility', 'visible');
		$("#classB").css('visibility', 'visible');
		$("#yacht").css('visibility', 'visible');
		$("#classC").css('visibility', 'visible');
		$("#sail").css('visibility', 'visible');
		$("#classD").css('visibility', 'visible');
		$("#vessel").css('visibility', 'visible');
		// $("#classS").css('visibility', 'hidden'); $("#fox").css('visibility', 'hidden');
		// $("#classT").css('visibility', 'hidden'); $("#owl").css('visibility', 'hidden');
		// $("#classU").css('visibility', 'hidden'); $("#deer").css('visibility', 'hidden');
	}
	function preview() {
		analysisWin();
		// $('#pptwindow').window('open');
		$('#lovewindow').modal('show');
	}
	$('#BTNFormClose').click(function () {
		$('#lovewindow').window('close');
	});
	// $('#ComfirmBtn').click(function () {
	// 	$('#pptwindow').window('close');
	// });
	function analysisWin() {
		var BILLID = '20200131_F11';
		var PartsYear = $('#mainyear').val();
		var PartsRule = $('#mainrule').val();
		var PartsClass = $('#mainclass').val();
		var PartsChi = $('#mainchi').val();
		var PartsOldCode = $('#poldcode').val();
		let now = new Date();
		var PartsApplyDate = now.Format("yyyy-MM-dd");
		var PartsLimitDate = '2025-07-31';
		var Partsstatus = '0';
		var Staff = sessionName;
		var SupplyID = $('#soup').val();
		var suppoption = $("#soup option:selected");
		var Supplyindex = suppoption.val();
		var SupplyTitle = suppoption.text();

		var SMTID = $('#beef').val();
		var beefoption = $("#beef option:selected");
		var SMTindex = beefoption.val();
		var SMTTitle = beefoption.text();

		var Property = '';
		var boat = $('#boat').val(); boat = nulchk(boat);
		var yacht = $('#yacht').val(); yacht = nulchk(yacht);
		var sail = $('#sail').val(); sail = nulchk(sail);
		var vessel = $('#vessel').val(); vessel = nulchk(vessel);
		var tanker = $('#tanker').val(); tanker = nulchk(tanker);
		var Soft_No = $('#tankerName').val(); tankerName = nulchk(tankerName);
		var marine = $('#marine').val(); marine = nulchk(marine);
		var rocket = $('#rocket').val(); rocket = nulchk(rocket);
		var zebra = $('#zebra').val(); zebra = nulchk(zebra);
		var eleph = $('#eleph').val(); eleph = nulchk(eleph);
		var eagle = $('#eagle').val(); eagle = nulchk(eagle);
		var tiger = $('#tiger').val(); tiger = nulchk(tiger);
		var lion = $('#lion').val(); lion = nulchk(lion);
		var horse = $('#horse').val(); horse = nulchk(horse);
		var worm = $('#worm').val(); worm = nulchk(worm);
		var hole = $('#hole').val(); hole = nulchk(hole);
		var xman = $('#xman').val(); xman = nulchk(xman);
		var quita = $('#quita').val(); quita = nulchk(quita);
		Property = boat + "/" + yacht + "/" + sail + "/" + vessel + "/" + tanker + "/" + marine + "/" +
			rocket + "/" + zebra + "/" + eleph + "/" + eagle + "/" + tiger + "/" + lion + "/" + horse + "/" + worm + "/" + hole + "/" + xman + "/" + quita;
		var Prop1 = $('#boat').val();
		var Prop2 = $('#yacht').val();
		var Prop3 = $('#sail').val();
		var Prop4 = $('#vessel').val();
		var Prop5 = $('#tanker').val();
		var Prop6 = $('#marine').val();
		var Prop7 = $('#rocket').val();
		var Prop8 = $('#zebra').val();
		var Prop9 = $('#eleph').val();
		var Prop10 = $('#eagle').val();
		var Prop11 = $('#tiger').val();
		var Prop12 = $('#lion').val();
		var Prop13 = $('#horse').val();
		var Prop14 = $('#worm').val();
		var Prop15 = $('#hole').val();
		var Prop16 = $('#xman').val();
		var Prop17 = $('#quita').val();
		var Prop18 = $('#fox').val();
		var Prop19 = $('#owl').val();
		var Prop20 = $('#deer').val();
		PreViewCargo(PartsClass);
		var Cargo = $('#specName').val();

		var Model = $('#Model').val();
		var Assembly = $('#Assembly').val();
		var UnitE = $('#UnitE').val();
		var Phase = $('#Phase').val();
		var Priority = $('#Priority').val();

		var reportType = 'analysisRec';
		var taskData = {
			"Parts_Prop1": Prop1, "Parts_Prop2": Prop2, "Parts_Prop3": Prop3, "Parts_Prop4": Prop4, "Parts_Prop5": Prop5,
			"Parts_Prop6": Prop6, "Parts_Prop7": Prop7, "Parts_Prop8": Prop8, "Parts_Prop9": Prop9, "Parts_Prop10": Prop10,
			"Parts_Prop11": Prop11, "Parts_Prop12": Prop12, "Parts_Prop13": Prop13, "Parts_Prop14": Prop14, "Parts_Prop15": Prop15,
			"Parts_Prop16": Prop16, "Parts_Prop17": Prop17, "Parts_Prop18": Prop18, "Parts_Prop19": Prop19, "Parts_Prop20": Prop20,
			"Soft_No": Soft_No, "reportType": reportType, "PartsClass": PartsClass, "SupplyID": SupplyID, "SupplyTitle": SupplyTitle,
			"SMTID": SMTID, "SMTTitle": SMTTitle, "Model": Model, "Assembly": Assembly, "UnitE": UnitE, "Phase": Phase, "Priority": Priority,
			"DBTable": "virtual"
		}
		Prop1 = (Prop1 == null || Prop1 == undefined) ? ('' + '\n') : Prop1 + '\n';
		Prop2 = (Prop2 == null || Prop2 == undefined) ? ('' + '\n') : Prop2 + '\n';
		Prop3 = (Prop3 == null || Prop3 == undefined) ? ('' + '\n') : Prop3 + '\n';
		Prop4 = (Prop4 == null || Prop4 == undefined) ? ('' + '\n') : Prop4 + '\n';
		Prop5 = (Prop5 == null || Prop5 == undefined) ? ('' + '\n') : Prop5 + '\n';
		Prop6 = (Prop6 == null || Prop6 == undefined) ? ('' + '\n') : Prop6 + '\n';
		Prop7 = (Prop7 == null || Prop7 == undefined) ? ('' + '\n') : Prop7 + '\n';
		Prop8 = (Prop8 == null || Prop8 == undefined) ? ('' + '\n') : Prop8 + '\n';
		Prop9 = (Prop9 == null || Prop9 == undefined) ? ('' + '\n') : Prop9 + '\n';
		Prop10 = (Prop10 == null || Prop10 == undefined) ? ('' + '\n') : Prop10 + '\n';
		Prop11 = (Prop11 == null || Prop11 == undefined) ? ('' + '\n') : Prop11 + '\n';
		Prop12 = (Prop12 == null || Prop12 == undefined) ? ('' + '\n') : Prop12 + '\n';
		Prop13 = (Prop13 == null || Prop13 == undefined) ? ('' + '\n') : Prop13 + '\n';
		Prop14 = (Prop14 == null || Prop14 == undefined) ? ('' + '\n') : Prop14 + '\n';
		Prop15 = (Prop15 == null || Prop15 == undefined) ? ('' + '\n') : Prop15 + '\n';
		Prop16 = (Prop16 == null || Prop16 == undefined) ? ('' + '\n') : Prop16 + '\n';
		Prop17 = (Prop17 == null || Prop17 == undefined) ? ('' + '\n') : Prop17 + '\n';
		Prop18 = (Prop18 == null || Prop18 == undefined) ? ('' + '\n') : Prop18 + '\n';
		Prop19 = (Prop19 == null || Prop19 == undefined) ? ('' + '\n') : Prop19 + '\n';
		Prop20 = (Prop20 == null || Prop20 == undefined) ? ('' + '\n') : Prop20 + '\n';
		$.ajax({
			method: 'post',
			data: taskData,
			url: "/app/TMCode/getRoute",
			success: function (data, textStatus) {
				console.log("壟族", JSON.stringify(data));
				const json2 = JSON.stringify(data);
				const bjob = JSON.parse(json2);
				$("#specNHead").val("编码:未知 " + " 物料名称: " + PartsName);
				$("#specOHead").val(" 类别: " + PartsChi + PartsClass);
				$("#specCHead").val(" 有无重复: " + bjob.status);
				$("#specEF").val("EF: " + SMTTitle + " 供应商: " + SupplyTitle);
				$("#specModel").val(Model);
				$("#specAssem").val(Assembly);
				$("#specUnitE").val(UnitE);
				$("#specPhase").val(Phase);
				$("#specPrior").val(Priority);
				$("#specList").val(bjob.Value1 + Prop1 + bjob.Value2 + Prop2 + bjob.Value3 + Prop3 + bjob.Value4 + Prop4 + bjob.Value5 + Prop5 + bjob.Value6 + Prop6 + bjob.Value7 + Prop7 + bjob.Value8 + Prop8
					+ bjob.Value9 + Prop9 + bjob.Value10 + Prop10 + bjob.Value11 + Prop11 + bjob.Value12 + Prop12 + bjob.Value13 + Prop13 + bjob.Value14 + Prop14 + bjob.Value15 + Prop15
					+ bjob.Value16 + Prop16 + bjob.Value17 + Prop17 + bjob.Value18 + Prop18 + bjob.Value19 + Prop19 + bjob.Value20 + Prop20);
			},
			error: function () {
				layer.alert("不成功");
			}
		})
	}
	function approvalhmi() {
		var BILLID = '20200131_F11';
		var PartsYear = $('#mainyear').val();
		var PartsRule = $('#mainrule').val();
		var PartsClass = $('#mainclass').val();
		var PartsChi = $('#mainchi').val();
		var PartsOldCode = $('#poldcode').val();
		let now = new Date();
		var PartsApplyDate = now.Format("yyyy-MM-dd");
		var PartsLimitDate = '2025-07-31';
		var Partsstatus = '0';
		var Staff = sessionName;
		var SupplyID = $('#soup').val();
		var suppoption = $("#soup option:selected");
		var Supplyindex = suppoption.val();
		var SupplyTitle = suppoption.text();

		var SMTID = $('#beef').val();
		var beefoption = $("#beef option:selected");
		var SMTindex = beefoption.val();
		var SMTTitle = beefoption.text();

		var Property = '';
		var boat = $('#boat').val(); boat = nulchk(boat);
		var yacht = $('#yacht').val(); yacht = nulchk(yacht);
		var sail = $('#sail').val(); sail = nulchk(sail);
		var vessel = $('#vessel').val(); vessel = nulchk(vessel);
		var tanker = $('#tanker').val(); tanker = nulchk(tanker);
		var Soft_No = $('#tankerName').val(); tankerName = nulchk(tankerName);
		var marine = $('#marine').val(); marine = nulchk(marine);
		var rocket = $('#rocket').val(); rocket = nulchk(rocket);
		var zebra = $('#zebra').val(); zebra = nulchk(zebra);
		var eleph = $('#eleph').val(); eleph = nulchk(eleph);
		var eagle = $('#eagle').val(); eagle = nulchk(eagle);
		var tiger = $('#tiger').val(); tiger = nulchk(tiger);
		var lion = $('#lion').val(); lion = nulchk(lion);
		var horse = $('#horse').val(); horse = nulchk(horse);
		var worm = $('#worm').val(); worm = nulchk(worm);
		var hole = $('#hole').val(); hole = nulchk(hole);
		var xman = $('#xman').val(); xman = nulchk(xman);
		var quita = $('#quita').val(); quita = nulchk(quita);
		Property = boat + "/" + yacht + "/" + sail + "/" + vessel + "/" + tanker + "/" + marine + "/" +
			rocket + "/" + zebra + "/" + eleph + "/" + eagle + "/" + tiger + "/" + lion + "/" + horse + "/" + worm + "/" + hole + "/" + xman + "/" + quita;
		if (Inputcheck(PartsChi, "类别")) {
			if (NeedRulecheck(PartsClass)) {
				layer.alert("必要Ok!");
			} else {
				layer.alert("必要不对，请检查!");
				return;
			}
		} else {
			layer.alert("类别不对，请检查!");
			return;
		}
	}
	var obj = {};
	$('#A1').click(function () {
		Gold("A1", obj);
		//  $("#pclass").html("A1控制器");
		//   $("#mainclass").val("A1"); 
		//   $("#mainchi").val("控制器");
	});
	$('#A2').click(function () {
		Gold("A2", obj); //$("#pclass").html("A2人机界面"); $("#mainclass").val("A2"); $("#mainchi").val("人机界面");
	});
	$('#A3').click(function () {
		Gold("A3", obj); //$("#pclass").html("A3变频/驱动器"); $("#mainclass").val("A3"); $("#mainchi").val("变频/驱动器");
	});
	$('#A4').click(function () {
		Gold("A4", obj); //$("#pclass").html("A4电机"); $("#mainclass").val("A4"); $("#mainchi").val("电机");
	});
	$('#A5').click(function () {
		Gold("A5", obj); // $("#pclass").html("A5油泵"); $("#mainclass").val("A5"); $("#mainchi").val("油泵");
	});
	$('#B1').click(function () {
		Gold("B1", obj); // $("#pclass").html("B1电机+油泵"); $("#mainclass").val("B1"); $("#mainchi").val("电机+油泵");
	});
	$('#B2').click(function () {
		Gold("B2", obj); // $("#pclass").html("B2电机+减速机"); $("#mainclass").val("B2"); $("#mainchi").val("电机+减速机");
	});
	$('#B3').click(function () {
		Gold("B3", obj); // $("#pclass").html("B3组件盒"); $("#mainclass").val("B3"); $("#mainchi").val("组件盒");
	});
	$('#B4').click(function () {
		Gold("B4", obj); // $("#pclass").html("B4电控箱/柜"); $("#mainclass").val("B4"); $("#mainchi").val("电控箱/柜");
	});
	$('#B5').click(function () {
		Gold("B5", obj); // $("#pclass").html("B5新能源柜"); $("#mainclass").val("B5"); $("#mainchi").val("新能源柜");
	});
	$('#C1').click(function () {
		Gold("C1", obj); // $("#pclass").html("C1机械手"); $("#mainclass").val("C1"); $("#mainchi").val("机械手");
	});
	$('#C2').click(function () {
		Gold("C2", obj); // $("#pclass").html("C2机器人"); $("#mainclass").val("C2"); $("#mainchi").val("机器人");
	});
	$('#C3').click(function () {
		Gold("C3", obj); // $("#pclass").html("C3热流道"); $("#mainclass").val("C3"); $("#mainchi").val("热流道");
	});
	$('#C4').click(function () {
		Gold("C4", obj); // $("#pclass").html("C4输送带"); $("#mainclass").val("C4"); $("#mainchi").val("输送带");
	});
	$('#D1').click(function () {
		Gold("D1", obj); $("#pclass").html("D1电控单板"); $("#mainclass").val("D1"); $("#mainchi").val("电控单板");
	});
	$('#D2').click(function () {
		Gold("D2", obj); $("#pclass").html("D2驱动器单板"); $("#mainclass").val("D2"); $("#mainchi").val("驱动器单板");
	});
	$('#D3').click(function () {
		Gold("D3", obj); $("#pclass").html("D3驱动器单板"); $("#mainclass").val("D3"); $("#mainchi").val("驱动器单板");
	});
	$('#D3').click(function () {
		Gold("D3", obj); $("#pclass").html("D3新能源单板"); $("#mainclass").val("D3"); $("#mainchi").val("新能源单板");
	});
	$('#D4').click(function () {
		Gold("D4", obj); $("#pclass").html("D4IOT单板"); $("#mainclass").val("D4"); $("#mainchi").val("IOT单板");
	});
	$('#D5').click(function () {
		Gold("D5", obj); $("#pclass").html("D5智能楼宇单板"); $("#mainclass").val("D5"); $("#mainchi").val("智能楼宇单板");
	});
	$('#D6').click(function () {
		Gold("D6", obj); $("#pclass").html("D6智慧农业单板"); $("#mainclass").val("D6"); $("#mainchi").val("智慧农业单板");
	});
	$('#D7').click(function () {
		Gold("D7", obj); $("#pclass").html("D7新能源物流单板"); $("#mainclass").val("D7"); $("#mainchi").val("新能源物流单板");
	});
	$('#E1').click(function () {
		Gold("E1", obj); $("#pclass").html("E1PCB光板"); $("#mainclass").val("E1"); $("#mainchi").val("PCB光板");
	});
	$('#E2').click(function () {
		Gold("E2", obj); $("#pclass").html("E2电阻"); $("#mainclass").val("E2"); $("#mainchi").val("电阻");
	});
	$('#E3').click(function () {
		Gold("E3", obj); $("#pclass").html("E3电容"); $("#mainclass").val("E3"); $("#mainchi").val("电容");
	});
	$('#E4').click(function () {
		Gold("E4", obj); $("#pclass").html("E4电感"); $("#mainclass").val("E4"); $("#mainchi").val("电感");
	});
	$('#E5').click(function () {
		Gold("E5", obj); $("#pclass").html("E5磁珠"); $("#mainclass").val("E5"); $("#mainchi").val("磁珠");
	});
	$('#E6').click(function () {
		Gold("E6", obj); $("#pclass").html("E6二极管"); $("#mainclass").val("E6"); $("#mainchi").val("二极管");
	});
	$('#E7').click(function () {
		Gold("E7", obj); $("#pclass").html("E7晶体管"); $("#mainclass").val("E7"); $("#mainchi").val("晶体管");
	});
	$('#E8').click(function () {
		Gold("E8", obj); $("#pclass").html("E8集成电路IC"); $("#mainclass").val("E8"); $("#mainchi").val("集成电路IC");
	});
	$('#E9').click(function () {
		Gold("E9", obj); $("#pclass").html("E9半导体模块"); $("#mainclass").val("E9"); $("#mainchi").val("半导体模块");
	});
	$('#EA').click(function () {
		Gold("EA", obj); $("#pclass").html("EA电源模块"); $("#mainclass").val("EA"); $("#mainchi").val("电源模块");
	});
	$('#EB').click(function () {
		Gold("EB", obj); $("#pclass").html("EB发光器件"); $("#mainclass").val("EB"); $("#mainchi").val("发光器件");
	});
	$('#EC').click(function () {
		Gold("EC", obj); $("#pclass").html("EC电声器件"); $("#mainclass").val("EC"); $("#mainchi").val("电声器件");
	});
	$('#ED').click(function () {
		Gold("ED", obj); $("#pclass").html("ED晶振"); $("#mainclass").val("ED"); $("#mainchi").val("晶振");
	});
	$('#EE').click(function () {
		Gold("EE", obj); $("#pclass").html("EE电池"); $("#mainclass").val("EE"); $("#mainchi").val("电池");
	});
	$('#EF').click(function () {
		Gold("EF", obj); $("#pclass").html("EF按钮开关"); $("#mainclass").val("EF"); $("#mainchi").val("按钮");
	});
	$('#EG').click(function () {
		Gold("EG", obj); $("#pclass").html("EG继电器"); $("#mainclass").val("EG"); $("#mainchi").val("继电器");
	});
	$('#EH').click(function () {
		Gold("EH", obj); $("#pclass").html("EH保险熔断"); $("#mainclass").val("EH"); $("#mainchi").val("保险熔断");
	});
	$('#EJ').click(function () {
		GoldE("EJ", obj); $("#pclass").html("EJ板载变压器"); $("#mainclass").val("EJ"); $("#mainchi").val("板载变压器");
	});
	$('#EK').click(function () {
		Gold("EK", obj); $("#pclass").html("EK连接器"); $("#mainclass").val("EK"); $("#mainchi").val("连接器");
	});
	$('#EM').click(function () {
		Gold("EM", obj); $("#pclass").html("EM液晶"); $("#mainclass").val("EM"); $("#mainchi").val("液晶");
	});
	$('#EN').click(function () {
		Gold("EN", obj); $("#pclass").html("EN触屏"); $("#mainclass").val("EN"); $("#mainchi").val("触屏");
	});
	$('#EP').click(function () {
		Gold("EP", obj); $("#pclass").html("EP面膜"); $("#mainclass").val("EP"); $("#mainchi").val("面膜");
	});
	$('#F1').click(function () {
		Gold("F1", obj); $("#pclass").html("F1电子尺"); $("#mainclass").val("F1"); $("#mainchi").val("电子尺");
	});
	$('#F2').click(function () {
		Gold("F2", obj); $("#pclass").html("F2编码器"); $("#mainclass").val("F2"); $("#mainchi").val("编码器");
	});
	$('#F3').click(function () {
		Gold("F3", obj); $("#pclass").html("F3阀"); $("#mainclass").val("F3"); $("#mainchi").val("阀");
	});
	$('#F4').click(function () {
		Gold("F4", obj); $("#pclass").html("F4传感器"); $("#mainclass").val("F4"); $("#mainchi").val("传感器");
	});
	$('#F5').click(function () {
		Gold("F5", obj); $("#pclass").html("F5电抗滤波"); $("#mainclass").val("F5"); $("#mainchi").val("电抗滤波");
	});
	$('#F6').click(function () {
		Gold("F6", obj); $("#pclass").html("F6磁环/突波"); $("#mainclass").val("F6"); $("#mainchi").val("磁环/突波");
	});
	$('#F7').click(function () {
		Gold("F7", obj); $("#pclass").html("F7刹车电阻"); $("#mainclass").val("F7"); $("#mainchi").val("刹车电阻");
	});
	$('#F8').click(function () {
		Gold("F8", obj); $("#pclass").html("F8压电盘"); $("#mainclass").val("F8"); $("#mainchi").val("压电盘");
	});
	$('#F9').click(function () {
		Gold("F9", obj); $("#pclass").html("F9开关电源"); $("#mainclass").val("F9"); $("#mainchi").val("开关电源");
	});
	$('#FA').click(function () {
		Gold("FA", obj); $("#pclass").html("FA变压器"); $("#mainclass").val("FA"); $("#mainchi").val("变压器");
	});
	$('#FB').click(function () {
		Gold("FB", obj); $("#pclass").html("FB低压配电器件"); $("#mainclass").val("FB"); $("#mainchi").val("低压配电器件");
	});
	$('#FC').click(function () {
		Gold("FC", obj); $("#pclass").html("FC工业开关按钮指示灯"); $("#mainclass").val("FC"); $("#mainchi").val("工业开关按钮指示灯");
	});
	$('#FD').click(function () {
		Gold("FD", obj); $("#pclass").html("FD风扇"); $("#mainclass").val("FD"); $("#mainchi").val("风扇");
	});
	$('#FE').click(function () {
		Gold("FE", obj); $("#pclass").html("FE互感器"); $("#mainclass").val("FE"); $("#mainchi").val("互感器");
	});
	$('#FF').click(function () {
		Gold("FF", obj); $("#pclass").html("FF导轨端子"); $("#mainclass").val("FF"); $("#mainchi").val("导轨端子");
	});
	$('#FG').click(function () {
		Gold("FG", obj); $("#pclass").html("FG工业连接器"); $("#mainclass").val("FG"); $("#mainchi").val("工业连接器");
	});
	$('#FH').click(function () {
		Gold("FH", obj); $("#pclass").html("FHUPS电源"); $("#mainclass").val("FH"); $("#mainchi").val("UPS电源");
	});
	$('#FJ').click(function () {
		Gold("FJ", obj); $("#pclass").html("FJ导轨端子"); $("#mainclass").val("FJ"); $("#mainchi").val("导轨端子");
	});
	$('#FK').click(function () {
		Gold("FK", obj); $("#pclass").html("FK工业连接器"); $("#mainclass").val("FK"); $("#mainchi").val("工业连接器");
	});
	$('#FL').click(function () {
		Gold("FL", obj); $("#pclass").html("FLUPS电源"); $("#mainclass").val("FL"); $("#mainchi").val("UPS电源");
	});
	$('#G1').click(function () {
		Gold("G1", obj); $("#pclass").html("G1丝杆/导轨"); $("#mainclass").val("G1"); $("#mainchi").val("丝杆/导轨");
	});
	$('#G2').click(function () {
		Gold("G2", obj); $("#pclass").html("G2减速机"); $("#mainclass").val("G2"); $("#mainchi").val("减速机");
	});
	$('#G3').click(function () {
		Gold("G3", obj); $("#pclass").html("G3皮带轮"); $("#mainclass").val("G3"); $("#mainchi").val("皮带轮");
	});
	$('#G4').click(function () {
		Gold("G4", obj); $("#pclass").html("G4皮带"); $("#mainclass").val("G4"); $("#mainchi").val("皮带");
	});
	$('#G5').click(function () {
		Gold("G5", obj); $("#pclass").html("G5机柜/机箱/机架"); $("#mainclass").val("G5"); $("#mainchi").val("机柜/机箱/机架");
	});
	$('#G6').click(function () {
		Gold("G6", obj); $("#pclass").html("G6结构件"); $("#mainclass").val("G6"); $("#mainchi").val("结构件");
	});
	$('#G7').click(function () {
		Gold("G7", obj); $("#pclass").html("G7散热器"); $("#mainclass").val("G7"); $("#mainchi").val("散热器");
	});
	$('#G8').click(function () {
		Gold("G8", obj); $("#pclass").html("G8紧固件"); $("#mainclass").val("G8"); $("#mainchi").val("紧固件");
	});
	$('#G9').click(function () {
		Gold("G9", obj); $("#pclass").html("G9轴环"); $("#mainclass").val("G9"); $("#mainchi").val("轴环");
	});
	$('#GA').click(function () {
		Gold("GA", obj); $("#pclass").html("GA法兰"); $("#mainclass").val("GA"); $("#mainchi").val("法兰");
	});
	$('#GB').click(function () {
		Gold("GB", obj); $("#pclass").html("GB联轴器"); $("#mainclass").val("GB"); $("#mainchi").val("联轴器");
	});
	$('#GC').click(function () {
		Gold("GC", obj); $("#pclass").html("GC润滑系统"); $("#mainclass").val("GC"); $("#mainchi").val("润滑系统");
	});
	$('#GD').click(function () {
		Gold("GD", obj); $("#pclass").html("GD轴承"); $("#mainclass").val("GD"); $("#mainchi").val("轴承");
	});
	$('#GE').click(function () {
		Gold("GE", obj); $("#pclass").html("GE亚克力"); $("#mainclass").val("GE"); $("#mainchi").val("亚克力");
	});
	$('#GF').click(function () {
		Gold("GF", obj); $("#pclass").html("GF视窗玻璃"); $("#mainclass").val("GF"); $("#mainchi").val("视窗玻璃");
	});
	$('#GG').click(function () {
		Gold("GG", obj); $("#pclass").html("GG泡棉"); $("#mainclass").val("GG"); $("#mainchi").val("泡棉");
	});
	$('#GH').click(function () {
		Gold("GH", obj); $("#pclass").html("GH密封圈"); $("#mainclass").val("GH"); $("#mainchi").val("密封圈");
	});
	$('#GJ').click(function () {
		Gold("GJ", obj); $("#pclass").html("GJ支架"); $("#mainclass").val("GJ"); $("#mainchi").val("支架");
	});
	$('#GK').click(function () {
		Gold("GK", obj); $("#pclass").html("GK电控箱配件"); $("#mainclass").val("GK"); $("#mainchi").val("电控箱配件");
	});
	$('#GL').click(function () {
		Gold("GL", obj); $("#pclass").html("GL管接头"); $("#mainclass").val("GL"); $("#mainchi").val("管接头");
	});
	$('#G15').click(function () {
		Gold("GL", obj); $("#pclass").html("GL管接头"); $("#mainclass").val("GL"); $("#mainchi").val("管接头");
	});
	$('#H1').click(function () {
		Gold("H1", obj); $("#pclass").html("H1动力线"); $("#mainclass").val("H1"); $("#mainchi").val("动力线");
	});
	$('#H2').click(function () {
		Gold("H2", obj); $("#pclass").html("H2编码器反馈线"); $("#mainclass").val("H2"); $("#mainchi").val("编码器反馈线");
	});
	$('#H3').click(function () {
		Gold("H3", obj); $("#pclass").html("H3连接线"); $("#mainclass").val("H3"); $("#mainchi").val("连接线");
	});
	$('#H4').click(function () {
		Gold("H4", obj); $("#pclass").html("H4通讯线"); $("#mainclass").val("H4"); $("#mainchi").val("通讯线");
	});
	$('#H5').click(function () {
		Gold("H5", obj); $("#pclass").html("H5冷压接端子"); $("#mainclass").val("H5"); $("#mainchi").val("冷压接端子");
	});
	$('#H6').click(function () {
		Gold("H6", obj); $("#pclass").html("H6线配件"); $("#mainclass").val("H6"); $("#mainchi").val("线配件");
	});
	$('#H7').click(function () {
		Gold("H7", obj); $("#pclass").html("H7线原材"); $("#mainclass").val("H7"); $("#mainchi").val("线原材");
	});
	$('#J1').click(function () {
		Gold("J1", obj); $("#pclass").html("J1包装箱"); $("#mainclass").val("J1"); $("#mainchi").val("包装箱");
	});
	$('#J2').click(function () {
		Gold("J2", obj); $("#pclass").html("J2包装袋"); $("#mainclass").val("J2"); $("#mainchi").val("包装袋");
	});
	$('#J3').click(function () {
		Gold("J3", obj); $("#pclass").html("J3缓冲材料"); $("#mainclass").val("J3"); $("#mainchi").val("缓冲材料");
	});
	$('#J4').click(function () {
		Gold("J4", obj); $("#pclass").html("J4说明书"); $("#mainclass").val("J4"); $("#mainchi").val("说明书");
	});
	$('#J5').click(function () {
		Gold("J5", obj); $("#pclass").html("J5零件包"); $("#mainclass").val("J5"); $("#mainchi").val("零件包");
	});
	$('#J6').click(function () {
		Gold("J6", obj); $("#pclass").html("J6生产辅料"); $("#mainclass").val("J6"); $("#mainchi").val("生产辅料");
	});
	$('#J7').click(function () {
		Gold("J7", obj); $("#pclass").html("J7工装治具"); $("#mainclass").val("J7"); $("#mainchi").val("工装治具");
	});
	$('#J8').click(function () {
		Gold("J8", obj); $("#pclass").html("J8配件"); $("#mainclass").val("J8"); $("#mainchi").val("配件");
	});
	$('#J9').click(function () {
		Gold("J9", obj); $("#pclass").html("J9资产"); $("#mainclass").val("J9"); $("#mainchi").val("资产");
	});
	$('#K1').click(function () {
		Gold("K1", obj); $("#pclass").html("K1代加工设备"); $("#mainclass").val("K1"); $("#mainchi").val("代加工设备");
	});
	$('#K2').click(function () {
		Gold("K2", obj); $("#pclass").html("K2代加工产品"); $("#mainclass").val("K2"); $("#mainchi").val("代加工产品");
	});
	$('#K3').click(function () {
		Gold("K3", obj); $("#pclass").html("K3代加工单板"); $("#mainclass").val("K3"); $("#mainchi").val("代加工单板");
	});
	$('#L1').click(function () {
		Gold("L1", obj); $("#pclass").html("L1油泵维修备件"); $("#mainclass").val("L1"); $("#mainchi").val("油泵维修备件");
	});
	$('#L2').click(function () {
		Gold("L2", obj); $("#pclass").html("L2机械手非标治具"); $("#mainclass").val("L2"); $("#mainchi").val("机械手非标治具");
	});
	$('#L3').click(function () {
		Gold("L3", obj); $("#pclass").html("L3农机相关"); $("#mainclass").val("L3"); $("#mainchi").val("农机相关");
	});
	$('#L4').click(function () {
		Gold("L4", obj); $("#pclass").html("L4电机维修备件"); $("#mainclass").val("L4"); $("#mainchi").val("电机维修备件");
	});
	$('#Q1').click(function () {
		Gold("Q1", obj); $("#pclass").html("Q1挂账类"); $("#mainclass").val("Q1"); $("#mainchi").val("挂账类");
	});
	$('#U1').click(function () {
		Gold("U1", obj); $("#pclass").html("U1电控成套"); $("#mainclass").val("U1"); $("#mainchi").val("电控成套");
	});
	$('#U2').click(function () {
		Gold("U2", obj); $("#pclass").html("U2伺服成套"); $("#mainclass").val("U2"); $("#mainchi").val("伺服成套");
	});
	$('#U3').click(function () {
		Gold("U3", obj); $("#pclass").html("U3电控+伺服成套"); $("#mainclass").val("U3"); $("#mainchi").val("电控+伺服成套");
	});
	$('#U4').click(function () {
		Gold("U4", obj); $("#pclass").html("U4伺服+机械成套"); $("#mainclass").val("U4"); $("#mainchi").val("伺服+机械成套");
	});
	$('#U5').click(function () {
		Gold("U5", obj); $("#pclass").html("U5电控+伺服+机械成套"); $("#mainclass").val("U5"); $("#mainchi").val("电控+伺服+机械成套");
	});
	$('#R1').click(function () {
		Gold("R1", obj); $("#pclass").html("R1电控产品配套程式"); $("#mainclass").val("R1"); $("#mainchi").val("电控产品配套程式");
	});
	$('#R2').click(function () {
		Gold("R2", obj); $("#pclass").html("R2伺服产品配套程式"); $("#mainclass").val("R2"); $("#mainchi").val("伺服产品配套程式");
	});
	$('#R3').click(function () {
		Gold("R3", obj); $("#pclass").html("R3新能源产品配套程式"); $("#mainclass").val("R3"); $("#mainchi").val("新能源产品配套程式");
	});
	$('#R4').click(function () {
		Gold("R4", obj); $("#pclass").html("R4橡塑产品配套程式"); $("#mainclass").val("R4"); $("#mainchi").val("橡塑产品配套程式");
	});
	$('#S1').click(function () {
		Gold("S1", obj); $("#pclass").html("S1管理系统软件"); $("#mainclass").val("S1"); $("#mainchi").val("管理系统软件");
	});
</script>