<!--本地路径-->
<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">

<!-- JS  -->
<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/MSTools/layui/css/layui.css">

<style media=print type="text/css">  
    .noprint{visibility:visible}  
    #oDiv2 div{width: 100px;height: 100px;border:1px solid #c50000;}
    </style>
 
<link rel="stylesheet" type="text/css" href="/css/TM/tmcode-font.css">

<script src="/js/HMIPrint/jquery.easyui.min.js"></script>
<script type="text/javascript"  src="/css/MSTools/layui/layui.js"></script>

<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>
 
<div id ="noprint" class="noprint">
  <div class="divcontent">
	<br />
	<br /><br />

	<h1>不合法用户，请重新登入</h1>
	<br /><br /> 
    <br></br>
    <div class="lineitem">
    </div>
<script>
 
  
//页面加载函数---------------
$(document).ready( function () {
		
  	layui.use(['form','layedit', 'laydate'], function(){
	    var form = layui.form
	            ,layer = layui.layer
	            ,layedit = layui.layedit
	            ,laydate = layui.laydate;
	        form.render();
	 });
    
}); 
  
$('#PopBtn').click(function () { 
 });
</script>
