/*
body{
    font-family: "Microsoft Yahei";
}
*/
div.divContent {
    width: 99%;
    heigth: 99%;
    margin: 5px;
    padding: 5px;
    overflow: auto;
    background: #ffffff;
    font-family: "Microsoft Yahei";
}

/* 分散风格  2个汉字一行*/
#monidata th {
    padding: 4px;
    min-width: 30px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

#monidata td {
    padding: 2px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

/* 紧凑风格*/
/*.divContent .table th {
    min-width: 25px;
    padding: 0px;
    font-size: 14px;
    text-align: center !important;
    vertical-align: middle !important;
}

.divContent .table td {
    padding: 0px;
    font-size: 15px;
    text-align: center !important;
    vertical-align: middle !important;
}*/

/* 表格数据鼠标悬浮时，颜色突出效果 */
.divContent .table td:hover {
    background: #AADFFD;
}

/* 头行显示底色 */
.divContent table th {
    background-color: #F2F2F2;
}

.divContent a:link {
    color: black;
}
