/*
body{
    font-family: "Microsoft Yahei";
}
*/
div.divContent {
    width: 99%;
    heigth: 99%;
    margin: 5px;
    padding: 5px;
    overflow: auto;
    background: #ffffff;
    font-family: "Microsoft Yahei";
    /*word-break: keep-all;*/
}

.divContent .table th {
    min-width: 25px;
    padding: 0px;
    font-size: 14px;
    text-align: center !important;
    vertical-align: middle !important;
}


.divContent .table td {
    padding: 0px;
    font-size: 15px;
    text-align: center !important;
    vertical-align: middle !important;
}

/* 表格数据鼠标悬浮时，颜色突出效果 */
.divContent .table td:hover {
    background: #AADFFD;
}

/* chenly mark，不搞双色了，感觉没啥卵用*/
/*.divContent .table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

.divContent .table tr:nth-child(even) {
    background-color: #ffffff;
}*/

.divContent .table th {
    background-color: #E8EAEA;
}

.divContent a:link {
    color: black;
}
