/*
body{
    font-family: "Microsoft Yahei";
}
*/
div.divContent {
    margin: 0;
    padding: 10px 10px;
}

.divContent .table th, .table td { 
font-size:14px!important;
padding:0px!important;
text-align: center;
vertical-align: middle!important;
}

.divContent .table th { 
background-color: #f1f1f1;
}