/* form 蓝底标题 */
body .layui-layer-blue .layui-layer-title {
    background: #5BC0DE;
    color: #fff;
    border: none;
}

/* form 黄底标题 */
body .layui-layer-yellow .layui-layer-title {
    background: #FFB800;
    color: #fff;
    border: none;
}
