/* 内容区 */
.content {
    width: 98%;
    heigth: 98%;
    margin: 5px;
    padding: 5px;
    /* overflow: auto; */
    font-family: "Microsoft Yahei";
    background: #ffffff;
}

/* 标题区 */
.content .content-title {
    margin: 10px 0;
}

/* 操作区 */
.content .content-operate {
    margin-bottom: 5px;
}

/* 操作区，汇出excel（ID=dlink）的超链接，文字颜色 */
.content .content-operate #dlink:link {
    color: #333;
}

/* 模具头区 */
.content .mold-hdr {
    width: 99%;
}
