/* tab水平标签页 */
.tab {
    width: 99%;
}

.tab .nav-tabs {
    border-bottom: 0 none;
    background: #eaeaea;
    border-radius: 5px;
}

/* tab水平标签页上的文字 */
/* Muc 倒圆角才有灵魂 */
.tab .nav-tabs li a {
    background: transparent;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: #333;
    padding: 12px 22px;
}

.tab .nav-tabs li a i {
    margin-right: 10px;
    color: #009688;
}

.tab .nav-tabs li:first-child a {
    border-bottom-left-radius: 5px;
}

.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a i {
    border: none;
    background: #009688;
    color: #fff;
}

/* 水平导航标签底部的三角箭头 */
.tab .nav-tabs li.active a:after {
    content: "";
    position: absolute;
    left: 42%;
    bottom: -14px;
    border: 7px solid transparent;
    border-top: 7px solid #009688;
}

.tab .tab-content {
    padding: 12px;
    color: #5a5c5d;
    font-size: 14px;
    line-height: 24px;
    /*margin-top: 15px;*/
    /*mark，底部横线，还挺骚气的，但是暂时不开出来*/
    /*border-bottom: 3px solid #009688;*/
}

/* 表格数据鼠标悬浮时，颜色突出效果 */
.tab .tab-content .table td:hover {
    background: #AADFFD;
}
