<!-- 导入css库 -->
<link rel="stylesheet" type="text/css" href="/rpLib/css/divCss.css">

<!-- 导入js库 -->
<script type="text/javascript" src="/rpLib/publicFuns.js"></script>

<!-- 导入datatables -->
<link rel="stylesheet" type="text/css" href="/rpLib/DataTables/datatables.min.css" />
<script type="text/javascript" src="/rpLib/DataTables/datatables.min.js"></script>

<!-- 导入bootstrapSelect -->
<link rel="stylesheet" href="/rpLib/bootstrapSelect/bootstrap-select.min.css" />
<script type="text/javascript" src="/rpLib/bootstrapSelect/bootstrap-select.min.js"></script>

<!-- 导入datatimepicker -->
<link href="/rpLib/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="/rpLib/datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/rpLib/datetimepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<!-- 导入instascan 二维码扫描库 -->
<script type="text/javascript" src="/rpLib/instascan/instascan.min.js"></script>

<!-- 导入echarts-->
<script type="text/javascript" src="/rpLib/echarts/echarts.min.js"></script>

<!-- 加载foil外框架 -->
<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>

<!-- 定义html元素 -->
<div class="rpContent">

    <!-- 按钮：用于打开模态框 -->

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>工作流程-历史单据</h1>
            </div>
        </div>
    </div>





    <div class="row clearfix">
        <div class="col-md-12 column">

            <!-- 功能组按钮 -->
            <div class="well">
                <button id='btnTrack' type="button" class="btn btn-info">流程总览</button>
                <button id='btnFilter' type="button" class="btn btn-info">过滤器</button>
                <button id='btnReports' type="button" class="btn btn-info">报表</button>
            </div>



            <!-- 定义基础模块数据表 -->
            <table id="rp_billsDB" class=" table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>申请单号</th>
                        <th>客户简称</th>
                        <th>申请日期</th>
                        <th>完结日期</th>
                        <th>产品编号</th>
                        <th>维修结果</th>
                        <th>出货结果</th>
                        <th>是否结清</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>


        </div>
    </div>

    <!-- 模态框跟踪（Modal） -->
    <div class="modal fade" id="rp_billsDBModal" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-dialog" style="width: 65%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        流程详情
                    </h4>


                </div>
                <div class="modal-body">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">维修需求单</h3>
                        </div>
                        <div class="panel-body">
                            <!-- 定义基础模块数据表 -->
                            <table id="rp_requestbills" class=" table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>申请单号</th>
                                        <th>送修时间</th>
                                        <th>客户编号</th>
                                        <th>客户简称</th>
                                        <th>区域</th>
                                        <th>国内外</th>
                                        <th>送修人</th>
                                        <th>送修方式</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                            <div class="panel panel-default" id='rp_requestbillsPanel'>
                                <div class="panel-heading">
                                    <h3 class="panel-title">申请单详情</h3>
                                </div>
                                <div class="panel-body">

                                    <form class="form-horizontal" role="form" id='rp_requestbillsForm'>

                                        <!-- <input id="rp_requestbillsForm-DBID"  value=""> -->

                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">申请单号</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static" id="rp_requestbillsForm-requestBillId">
                                                </p>
                                            </div>

                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">送修时间</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static" id="rp_requestbillsForm-requestDate"></p>
                                            </div>

                                            <label class="col-sm-1 control-label">客户编号</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static" id="rp_requestbillsForm-customerId"></p>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">客户简称</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static"
                                                    id="rp_requestbillsForm-customerShortName"></p>
                                            </div>

                                            <label class="col-sm-1 control-label">联系人</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static" id="rp_requestbillsForm-contact">
                                                </p>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">移动电话</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static" id="rp_requestbillsForm-mobilePhone">
                                                </p>
                                            </div>

                                            <label class="col-sm-1 control-label">送修方式</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static" id="rp_requestbillsForm-requestWay">
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">维修记录单</h3>
                        </div>
                        <div class="panel-body">
                            <table id="rp_recordbills" class=" table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>记录单号</th>
                                        <th>产品编号</th>
                                        <th>产品描述</th>
                                        <th>是否返修</th>
                                        <th>是否紧急</th>
                                        <th>质保期内</th>
                                        <th>维修金额</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                            <div class="panel panel-default" id='rp_recordbillsPanel'>
                                <div class="panel-heading">
                                    <h3 class="panel-title">记录单详情</h3>
                                </div>
                                <div class="panel-body">

                                    <form class="form-horizontal" role="form" id='rp_recordbillsForm'>

                                        <!-- <input id="rp_recordbillsForm-DBID"  value=""> -->

                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">记录单号</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static" id="rp_recordbillsForm-recordBillId"></p>
                                            </div>

                                            <label class="col-sm-1 control-label">申请单号</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static" id="rp_recordbillsForm-requestBillId">
                                                </p>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">产品编号</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static" id="rp_recordbillsForm-productId"></p>
                                            </div>

                                            <label class="col-sm-1 control-label">产品描述</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static"
                                                    id="rp_recordbillsForm-productDescription"></p>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">维修结果</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static" id="rp_recordbillsForm-repairResult"></p>
                                            </div>

                                            <label class="col-sm-1 control-label">维修金额</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static" id="rp_recordbillsForm-repairTotalFee">
                                                </p>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">故障描述</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static" id="rp_recordbillsForm-faultDescription">
                                                </p>
                                            </div>

                                            <label class="col-sm-1 control-label">是否返修</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static" id="rp_recordbillsForm-isRework">
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">附件</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static" id="rp_recordbillsForm-files">
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>



                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">维修出货单</h3>
                        </div>
                        <div class="panel-body">
                            <!-- 定义基础模块数据表 -->
                            <table id="rp_responsebills" class=" table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>出货单号</th>
                                        <th>出货时间</th>
                                        <th>出货方式</th>
                                        <th>出货人</th>
                                        <th>折扣金额</th>
                                        <th>付款方式</th>
                                        <th>付款金额</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                            <div class="panel panel-default" id='rp_responsebillsPanel'>
                                <div class="panel-heading">
                                    <h3 class="panel-title">记录单详情</h3>
                                </div>
                                <div class="panel-body">

                                    <form class="form-horizontal" role="form" id='rp_responsebillsForm'>

                                        <!-- <input id="rp_responsebillsForm-DBID"  value=""> -->

                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">出货单号</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static" id="rp_responsebillsForm-responseBillId">
                                                </p>
                                            </div>

                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">出货方式</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static" id="rp_responsebillsForm-sendWay"></p>
                                            </div>

                                            <label class="col-sm-1 control-label">出货人</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static" id="rp_responsebillsForm-responseStaff">
                                                </p>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">折扣金额</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static" id="rp_responsebillsForm-discountAmount">
                                                </p>
                                            </div>

                                            <label class="col-sm-1 control-label">付款金额</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static" id="rp_responsebillsForm-payAmount">
                                                </p>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">付款方式</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static" id="rp_responsebillsForm-payWay">
                                                </p>
                                            </div>

                                            <label class="col-sm-1 control-label">付款日期</label>
                                            <div class="col-sm-5">
                                                <p class="form-control-static" id="rp_responsebillsForm-payDate">
                                                </p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>



                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>


    </div>


    <!-- 模态框过滤（Modal） -->
    <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-dialog" style="width: 65%;">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        过滤器
                    </h4>
                </div>
                <div class="modal-body">

                    <div class="panel panel-info">
                        <div class="panel-body" style="height:500px">
                            <form class="form-horizontal" role="form" id='filterForm'>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">客户简称</label>
                                    <div class="col-sm-5">
                                        <select class="selectpicker" id="filterForm-customerShortName" multiple
                                            data-live-search="true" data-size="10"
                                            data-selected-text-format="count > 3">
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">送修日期</label>
                                    <div class="col-sm-3">
                                        <div class="input-group date form_date ">
                                            <input id="filterForm-requestDateB" class="form-control " size="16"
                                                type="text" value="" placeholder="起始日期" readonly>
                                            <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>



                                    <div class="col-sm-3">
                                        <div class="input-group date form_date ">
                                            <input id="filterForm-requestDateE" class="form-control " size="16"
                                                type="text" value="" placeholder="结束日期" readonly>
                                            <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>

                                </div>



                                <div class="form-group">
                                    <label class="col-sm-1 control-label"></label>

                                    <div class="col-sm-5">
                                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                            id="closeFilter">关闭
                                        </button>
                                        <button type="button" class="btn btn-primary" id="confirmFilter">
                                            确定
                                        </button>

                                    </div>


                                </div>


                            </form>

                        </div>
                    </div>


                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>


    </div>


    <!-- 模态框报表（Modal） -->
    <div class="modal fade" id="reportsModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width: 65%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        报表
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-info">
                        <div class="panel-body">

                            <ul id="myTab" class="nav nav-tabs">
                                <li class="active">
                                    <a href="#home" data-toggle="tab">
                                        报表1
                                    </a>
                                </li>
                                <li><a href="#ios" data-toggle="tab">报表2</a></li>

                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="home">
                                    <p>
                                        <div id="echartDemo1" style="width: 600px;height:400px;"></div>
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="ios">
                                    <p>
                                        <div id="echartDemo2" style="width: 600px;height:400px;"></div>
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>


                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>


    </div>

</div>

<script type="text/javascript">
    //历史表主表dataTable column 数组
    const mainColumnsArray = [{
            data: 'requestBillId',
        },
        {
            data: 'recordBillId'
        }, {
            data: 'responseBillId'
        }, {
            data: 'customerShortName',
        }, {
            data: 'productId',
        }, {
            data: 'repairResult',
        }, {
            data: 'isSended',
        }, {
            data: 'isFullPay',
        },
    ]

    //申请单dataTable column 数组
    const rqColumnsArray = [{
        data: 'requestBillId',
        // visable: 'false'
    }, {
        data: 'requestDate'
    }, {
        data: 'customerId'
    }, {
        data: 'customerShortName',
    }, {
        data: 'customerArea',
    }, {
        data: 'isInland',
    }, {
        data: 'requestStaff',
    }, {
        data: 'requestWay',
    }];

    //记录单dataTable column 数组
    const rcColumnsArray = [{
        data: 'recordBillId'
    }, {
        data: 'productId',
    }, {
        data: 'repairResult',
    }, {
        data: 'isRework',
    }, {
        data: 'urgent',
    }, {
        data: 'inWarranty',
    }, {
        data: 'repairTotalFee',
    }]

    //记录单dataTable column 数组
    const rpColumnsArray = [{
        data: 'responseBillId'
    }, {
        data: 'responseDate',
    }, {
        data: 'sendWay',
    }, {
        data: 'responseStaff',
    }, {
        data: 'discountAmount',
    }, {
        data: 'payWay',
    }, {
        data: 'payAmount',
    }]


    //加载主表数据			
    const loadBillMainTable = async (filter) => {
        //加载表格

        let mainTableParams = {
            elementId: 'rp_billsDB',
            sqlParams: {
                sqlId: 'sqlHistoryBills',
                params: {}
            },
            dtParams: {
                columns: mainColumnsArray
            }
        }

        if (filter) {
            mainTableParams.sqlParams.params.filter = filter;
        }
        loadBillDataTable(mainTableParams)
    }

    //添加主表监听器,定义双击打开事件
    const addMainTableListener = () => {
        //定义主表双击事件
        $('#rp_billsDB tbody').on('dblclick', 'tr', async function () {
            //设定选中
            let table = $('#rp_billsDB').DataTable();
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            let dataSelect = table.row('.selected').data();
            $('#btnTrack').click();
        });
    }


    //添加流程跟踪按钮触发事件

    const addBtnTrackListener = () => {

        $('#btnTrack').click(function () {

            //定义元素

            let table = $('#rp_billsDB').DataTable();
            let rowSelect = table.row('.selected').data();
            console.log("rowSelect:" + JSON.stringify(rowSelect));

            //检查条件

            if (!rowSelect) {
                alert('请先点击表格中的记录,选定单据!')
                return;
            }

            //打开面板
            $('#rp_billsDBModal').modal('show');
            $('#rp_recordbillsPanel').hide();


            //加载申请单数据
            loadSubDataTableView({
                elementId: 'rp_requestbills',
                sqlParams: {
                    sqlId: 'sqlRequestBills',
                    params: {
                        filter: 'requestBillId="' + rowSelect.requestBillId + '"',
                        orderBy: 'billSaveTimeStamp desc'
                    }
                },
                dtParams: {
                    dtConfig: 'dtConfigSimple',
                    columns: rqColumnsArray
                }
            })

            //加载记录单数据
            loadSubDataTableView({
                elementId: 'rp_recordbills',
                sqlParams: {
                    sqlId: 'sqlSubRecordBills',
                    params: {
                        filter: 'requestBillId="' + rowSelect.requestBillId + '"',
                        orderBy: 'billSaveTimeStamp desc'
                    }
                },
                dtParams: {
                    dtConfig: 'dtConfigSimple',
                    columns: rcColumnsArray
                }
            })

            //加载出货单数据

            loadSubDataTableView({
                elementId: 'rp_responsebills',
                sqlParams: {
                    sqlId: 'sqlSubResponseBills',
                    params: {
                        filter: 'requestBillId="' + rowSelect.requestBillId + '"',
                        orderBy: 'billSaveTimeStamp desc'
                    }
                },
                dtParams: {
                    dtConfig: 'dtConfigSimple',
                    columns: rpColumnsArray
                }
            })


        })

    }


    /**
     *加载子表视图,仅查看,不带保存功能
     *
     * @param {*} i={elementId,sqlParams,dtParams,parmas:{}}
     */
    const loadSubDataTableView = async (i) => {

        $('#' + i.elementId + 'Panel').hide();
        $('#' + i.elementId).DataTable().destroy(); //销毁原数据表格,防止加载错误


        //初始化主表
        await loadBillDataTable({
            elementId: i.elementId,
            sqlParams: i.sqlParams,
            dtParams: i.dtParams
        })



        //定义子表双击事件
        $('#' + i.elementId + ' tbody').unbind(); //解绑原有事件
        $('#' + i.elementId + ' tbody').on('click', 'tr', function () {

            // let table = $('#' + i.elementId).DataTable();
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                $('#' + i.elementId + 'Panel').hide();
            } else {

                let subTable = $('#' + i.elementId).DataTable();
                subTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');


                let rowSelect = subTable.row('.selected').data();
                console.log("rowSelect:" + JSON.stringify(rowSelect));

                //初始化并填写form内inputs
                initAndFillFormInputs({
                    formId: i.elementId + 'Form',
                    params: rowSelect
                })


                //如存在file属性,对其单独处理生成下载链接
                // alert(JSON.stringify(dataSelect))
                if (rowSelect.files) {
                    let filesLink = getFilesUrl(rowSelect.files)
                    $('#' + i.elementId + 'Form-files').html(filesLink);
                }



                //打开面板
                $('#' + i.elementId + 'Panel').show();
            }
        });
    }


    //画图
    const echartCreate = (elementId, option) => {
        // 基于准备好的dom，初始化echarts实例
        let myChart = echarts.init(document.getElementById(elementId));
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }



    $(document).ready(function () {



        //元素数据-主表
        loadBillMainTable();

        //初始化selector

        loadBootStrapSelector({
            elementId: 'filterForm-customerShortName',
            sqlParams: {
                sql: 'getCustomerSelector'
            },
        })

        //初始化日期组件
        loadDatePicker({
            elementId: "filterForm-requestDateB",
        })

        loadDatePicker({
            elementId: "filterForm-requestDateE",
        })

        //加载主表功能
        addMainTableListener();

        //添加跟踪按钮功能

        addBtnTrackListener();





        //过滤器
        $('#btnFilter').click(function () {
            //打开面板
            $('#filterModal').modal('show');
            clearFormInputs({
                formId: 'filterForm'
            })
        })

        //过滤器确认按钮

        $('#confirmFilter').click(function () {
            //获取filterform内数据
            let filter = '';

            //客户简称过滤
            let customerSelectedValues = [];
            $("#filterForm-customerShortName option:selected ").each(function () {
                customerSelectedValues.push($(this).val());
            });



            if (customerSelectedValues.length > 0) {
                let customerRange = getRangeString(customerSelectedValues);
                filter = ' and customerShortName in ' + customerRange;
            }
            //申请日期过滤
            let requestDateB = $('#filterForm-requestDateB').val();
            let requestDateE = $('#filterForm-requestDateE').val();

            if (requestDateB) {
                filter = filter + ' and requestDate>="' + requestDateB + '"'
            }

            if (requestDateE) {
                filter = filter + ' and requestDate<="' + requestDateE + '"'
            }



            //去除filter中开始的and关键字避免sql错误;

            if (filter) {
                filter = filter.substring(4, filter.length);
            }

            $('#closeFilter').click();
            loadBillMainTable(filter)

        })

        //报表
        $('#btnReports').click(function () {
            //打开面板
            $('#reportsModal').modal('show');

            // demo1指定图表的配置项和数据
            let option1 = {
                title: {
                    text: '图表示例'
                },
                tooltip: {},
                legend: {
                    data: ['维修量']
                },
                xAxis: {
                    data: ["产品A", "产品B", "产品C", "产品D", "产品E", "产品F"]
                },
                yAxis: {},
                series: [{
                    name: '维修量',
                    type: 'bar',
                    data: [5, 20, 36, 10, 10, 20]
                }]
            };

            echartCreate('echartDemo1', option1);

            // demo2指定图表的配置项和数据

            option2 = {
                series: {
                    type: 'pie',
                    data: [{
                            name: 'A',
                            value: 1212
                        },
                        {
                            name: 'B',
                            value: 2323
                        },
                        {
                            name: 'C',
                            value: 1919
                        }
                    ]
                }
            }

            echartCreate('echartDemo2', option2);
        })




        // 关闭事件重置选中datatable选中,避免显示错误
        $('#rp_billsDBModal').on('hidden.bs.modal', function () {
            let table = $('#rp_billsDB').DataTable();
            table.$('tr.selected').removeClass('selected');
        })





    });
</script>