<!-- 导入css库 -->
<link rel="stylesheet" type="text/css" href="/rpLib/css/divCss.css">

<!-- 导入js库 -->
<script type="text/javascript" src="/rpLib/publicFuns.js"></script>

<script>
    $.noConflict();
</script>

<!-- 导入datatables -->
<link rel="stylesheet" type="text/css" href="/rpLib/DataTables/datatables.min.css" />
<script type="text/javascript" src="/rpLib/DataTables/datatables.min.js"></script>


<!-- 导入bootstrapSelect -->
<link rel="stylesheet" href="/rpLib/bootstrapSelect/bootstrap-select.min.css" />
<script type="text/javascript" src="/rpLib/bootstrapSelect/bootstrap-select.min.js"></script>

<!-- 导入datatimepicker -->
<link href="/rpLib/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="/rpLib/datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/rpLib/datetimepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>



<!-- 加载foil外框架 -->
<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>




<!-- 定义html元素 -->
<div class="rpContent">

    <!-- 按钮：用于打开模态框 -->

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>基础信息-客户</h1>
            </div>
        </div>
    </div>





    <div class="row clearfix">
        <div class="col-md-12 column">


            <!-- 定义基础模块数据表 -->
            <table id="rp_customers" class=" table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>简称</th>
                        <th>地址</th>
                        <th>客户类型</th>
                        <th>联系人</th>
                        <th>手机号</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>


        </div>
    </div>





    <!-- 模态框（Modal） -->
    <div class="modal fade" id="rp_customersModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" style="width: 65%;">
            <!-- 按钮触发模态框 -->
            <button class="btn btn-primary" data-toggle="modal" data-target="#rp_customersModal"
                id="rp_customersModalOpen" style="display: none;">
                开始演示模态框
            </button>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        客户信息
                    </h4>
                </div>
                <div class="modal-body">




                    <!-- 表单面板 -->
                    <div class="panel panel-default">
                        <div class="panel-body">


                            <form class="form-horizontal" role="form" id='rp_customersForm'>

                                <!-- <input id="rp_customersForm-DBID" type="hidden" value=""> -->

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">客户编号</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-customerId" type="text"
                                            value="">
                                    </div>

                                    <label class="col-sm-1 control-label">简称</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-customerShortName" type="text"
                                            value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">公司名称</label>
                                    <div class="col-sm-11">
                                        <input class="form-control" id="rp_customersForm-customerName" type="text"
                                            value="">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-1 control-label">客户类型</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-customerType" type="text"
                                            value="">
                                    </div>

                                    <label class="col-sm-1 control-label">客户归属</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-customerBelongShort"
                                            type="text" value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">付款方式</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-paymentType" type="text"
                                            value="">
                                    </div>

                                    <label class="col-sm-1 control-label">客户区域</label>
                                    <div class="col-sm-5">
                                        <select id="rp_customersForm-customerArea" class="selectpicker form-control"
                                            data-live-search="true" data-size="10">
                                        </select>
                                    </div>



                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">地址</label>
                                    <div class="col-sm-11">
                                        <input class="form-control" id="rp_customersForm-address" type="text" value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">联系人</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-contact" type="text" value="">
                                    </div>

                                    <label class="col-sm-1 control-label">手机号</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-mobilePhone" type="text"
                                            value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">工作电话</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-workPhone" type="text"
                                            value="">
                                    </div>

                                    <label class="col-sm-1 control-label">传真号</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-fax" type="text" value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">邮政编码</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-zipCode" type="text" value="">
                                    </div>

                                    <label class="col-sm-1 control-label">电子邮箱</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-email" type="text" value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">信用等级</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-creditRank" type="text"
                                            value="">
                                    </div>

                                    <label class="col-sm-1 control-label">纳税号</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-taxId" type="text" value="">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-1 control-label">备注</label>
                                    <div class="col-sm-11">
                                        <textarea id="rp_customersForm-remark" class="form-control" rows="3"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">是否有效</label>
                                    <div class="col-sm-5">
                                        <select id="rp_customersForm-effective" class="selectpicker dropup"
                                            data-dropup-auto="false">
                                            <option>是</option>
                                            <option>否</option>
                                        </select>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="rp_customersModalClose">关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="rp_customersSave">
                        保存
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


</div>







<script type="text/javascript">
    $(document).ready(function () {



        //加载表格
        loadDataTable({
            elementId: 'rp_customers',
            sqlParams: {
                tableId: 'rp_customers',
                filter: ''
            },
            dtParams: {
                columns: [{
                        data: 'customerId'
                    }, {
                        data: 'customerShortName'
                    },
                    {
                        data: 'address'
                    }, {
                        data: 'customerType',
                    }, {
                        data: 'contact',
                    }, {
                        data: 'mobilePhone',
                    }
                ],
            }
        })




        loadBootStrapSelector({
            elementId: 'rp_customersForm-customerArea',
            sqlParams: {
                sql: 'getRegionSelector'
            },
            // initValue:'中国,北京'
        })

        // loadDatePicker({
        //     elementId: 'saveTimeStamp',
        //     params: {
        //         endDate: '2019-12-30'
        //     }
        // })






    });
</script>