<!-- 导入css库 -->
<link rel="stylesheet" type="text/css" href="/rpLib/css/divCss.css">

<!-- 导入js库 -->
<script type="text/javascript" src="/rpLib/publicFuns.js"></script>


<!-- 导入datatables -->
<link rel="stylesheet" type="text/css" href="/rpLib/DataTables/datatables.min.css" />
<script type="text/javascript" src="/rpLib/DataTables/datatables.min.js"></script>


<!-- 导入bootstrapSelect -->
<link rel="stylesheet" href="/rpLib/bootstrapSelect/bootstrap-select.min.css" />
<script type="text/javascript" src="/rpLib/bootstrapSelect/bootstrap-select.min.js"></script>

<!-- 导入datatimepicker -->
<link href="/rpLib/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="/rpLib/datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/rpLib/datetimepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>



<!-- 加载foil外框架 -->
<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>


<!-- 定义html元素 -->
<div class="rpContent">

    <!-- 按钮：用于打开模态框 -->

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>基础信息-客户</h1>
            </div>
        </div>
    </div>

    <div>
        <button type="button" style="display: none;" id="rp_customersNew">
            新增
        </button>
    </div>


    <div class="row clearfix">
        <div class="col-md-12 column">

            <!-- 定义基础模块数据表 -->
            <table id="rp_customers" class=" table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>简称</th>
                        <th>地址</th>
                        <th>客户类型</th>
                        <th>联系人</th>
                        <th>手机号</th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>


        </div>
    </div>


    <!-- 模态框（Modal） -->
    <div class="modal fade" id="rp_customersModal" tabindex="-1" role="dialog" aria-hidden="true"
        data-backdrop="static">
        <div class="modal-dialog" style="width: 70%;">
            <!-- 按钮触发模态框 -->
            <button class="btn btn-primary" data-toggle="modal" data-target="#rp_customersModal"
                id="rp_customersModalOpen" style="display: none;">
                开始演示模态框
            </button>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        客户信息
                    </h4>
                </div>
                <div class="modal-body">

                    <!-- 表单面板 -->
                    <div class="panel panel-default">
                        <div class="panel-body" style="min-height: 750px;">


                            <form class="form-horizontal" role="form" id='rp_customersForm'>

                                <!-- <input id="rp_customersForm-DBID" type="hidden" value=""> -->

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">客户编号</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-customerId" type="text"
                                            value="">
                                    </div>

                                    <label class="col-sm-1 control-label">简称</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-customerShortName" type="text"
                                            value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">公司名称</label>
                                    <div class="col-sm-11">
                                        <input class="form-control" id="rp_customersForm-customerName" type="text"
                                            value="">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-1 control-label">客户类型</label>
                                    <div class="col-sm-5">
                                        <!-- <input class="form-control" id="rp_customersForm-customerType" type="text"
                                            value=""> -->
                                        <select id="rp_customersForm-customerType" class="selectpicker form-control">
                                        </select>
                                    </div>

                                    <label class="col-sm-1 control-label">客户归属</label>
                                    <div class="col-sm-5">
                                        <!-- <input class="form-control" id="rp_customersForm-customerBelongShort"
                                            type="text" value=""> -->
                                        <select id="rp_customersForm-customerBelongShort"
                                            class="selectpicker form-control" data-live-search="true" data-size="10">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">收款方式</label>
                                    <div class="col-sm-5">

                                        <select id="rp_customersForm-paymentType" class="selectpicker form-control">
                                        </select>
                                    </div>

                                    <label class="col-sm-1 control-label">保固期</label>
                                    <div class="col-sm-5">

                                        <select id="rp_customersForm-warrantyPeriod" class="selectpicker form-control">
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">国内外</label>
                                    <div class="col-sm-5">
                                        <select id="rp_customersForm-isInland" class="selectpicker form-control">
                                        </select>
                                    </div>

                                    <label class="col-sm-1 control-label">客户区域</label>
                                    <div class="col-sm-5">
                                        <select id="rp_customersForm-customerArea" class="selectpicker form-control"
                                            data-live-search="true" data-size="10">
                                        </select>
                                    </div>



                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">地址</label>
                                    <div class="col-sm-11">
                                        <input class="form-control" id="rp_customersForm-address" type="text" value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">联系人</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-contact" type="text" value="">
                                    </div>

                                    <label class="col-sm-1 control-label">手机号</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-mobilePhone" type="text"
                                            value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">多联系人</label>
                                    <div class="col-sm-11">
                                        <textarea id="rp_customersForm-contacts" placeholder='范例:  张三,13512345678;'
                                            class="form-control" rows="3"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">工作电话</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-workPhone" type="text"
                                            value="">
                                    </div>

                                    <label class="col-sm-1 control-label">传真号</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-fax" type="text" value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">邮政编码</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-zipCode" type="text" value="">
                                    </div>

                                    <label class="col-sm-1 control-label">电子邮箱</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-email" type="text" value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">信用等级</label>
                                    <div class="col-sm-5">
                                        <select id="rp_customersForm-creditRank" class="selectpicker form-control">
                                        </select>
                                    </div>

                                    <label class="col-sm-1 control-label">纳税号</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-taxId" type="text" value="">
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label class="col-sm-1 control-label">备注</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_customersForm-remark" type="text" value="">
                                    </div>

                                    <label class="col-sm-1 control-label">备注人</label>
                                    <div class="col-sm-5">
                                        <p class="form-control-static" id="rp_customersForm-remarker"></p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">有效性</label>
                                    <div class="col-sm-5">
                                        <!-- <select id="rp_customersForm-effective" class="selectpicker dropup"
                                            data-dropup-auto="false"> -->

                                        <select id="rp_customersForm-effective" class="selectpicker form-control">
                                        </select>
                                        </select>


                                    </div>

                                    <label class="col-sm-1 control-label">保存人</label>
                                    <div class="col-sm-5">
                                        <p class="form-control-static" id="rp_customersForm-creater"></p>
                                    </div>
                                </div>



                            </form>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="rp_customersModalClose">关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="rp_customersSave">
                        保存
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


</div>







<script type="text/javascript">
    const mainColumnsArray = [{
            data: 'customerId'
        }, {
            data: 'customerShortName'
        },
        {
            data: 'address'
        }, {
            data: 'customerType',
        }, {
            data: 'contact',
        }, {
            data: 'mobilePhone',
        }
    ]

    //表dt参数
    const mainDtParams = {
        dtConfig: 'dtConfigFull',
        iDisplayLength:10, //每页初始显示5条记录
        columns: mainColumnsArray


    }

    //添加主表监听器,定义双击打开事件

    const addMainTableListener = () => {
        //定义主表双击事件
        $('#rp_customers tbody').on('dblclick', 'tr', function () {

            //设定选中
            let table = $('#rp_customers').DataTable();
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            let dataSelect = table.row('.selected').data();

            //初始化并填写form内inputs
            initAndFillFormInputs({
                formId: 'rp_customersForm',
                params: dataSelect
            })

            //打开面板
            $('#rp_customersModal').modal('show');

        });
    }
    //主表加载数据函数;
    const loadBillMainTable = async () => {
        //初始化主表
        loadBillDataTable({
            elementId: 'rp_customers',
            sqlParams: {
                sqlId: 'sqlTableSelect',
                params: {
                    tableId: 'rp_customers',
                    orderBy: 'saveTimeStamp desc'
                }
            },
            dtParams: mainDtParams
        })
    }


    //新增客户 
    const addCustomer = async () => {
        clearFormInputs({
            formId: 'rp_customersForm'
        })

        //设置初始值
        $('#rp_customersForm-customerType').selectpicker('val', '客户');
        $('#rp_customersForm-paymentType').selectpicker('val', '款到发货');
        $('#rp_customersForm-creditRank').selectpicker('val', '正常');
        $('#rp_customersForm-effective').selectpicker('val', '是');

        //打开面板
        $('#rp_customersModalOpen').click();

    }



    //保存客户
    const saveCustomer = async () => {

        //检查保存条件
        if (!$('#rp_customersForm-customerId').val()) {
            alert('客户编号未填!')
            return
        }


        //检查保存条件
        if ($('#rp_customersForm-creditRank option:selected').val() === '黑名单' &&
            $('#rp_customersForm-remark').val() === '') {
            alert('顾客设为黑名单,必须在备注中注明原因!')
            return
        }

        let mainFormData = getPostFormData({
            formId: 'rp_customersForm'
        })

        //调整contacts内的标点符号
        if (mainFormData.data[0].contacts) {
            mainFormData.data[0].contacts = cn2enPunctuation(mainFormData.data[0].contacts)
        }


        //有备注时记录备注人
        if (mainFormData.data[0].remark) {
            mainFormData.data[0].remarker = sessionName
        }

        console.log('mainFormData:' + JSON.stringify(mainFormData));

        let r1 = await postDBData({
            sql: 'replace',
            params: mainFormData
        })

        if (r1.affectedRows > 0) {
            alert('保存成功!')

            // $('#rp_customersModal').modal('hide');多层modal存在失效问题,改用click关闭
            $('#rp_customersModalClose').click()

            loadBillMainTable();
        } else {
            alert('出现错误!')
        }

    }

    //区域监听器
    const addCustomerAreaListener = () => {
        $('#rp_customersForm-customerArea').unbind();
        $('#rp_customersForm-customerArea').change(function () {
            let customerArea = $('#rp_customersForm-customerArea option:selected').val();
            if (customerArea) {
                let customerAreaText = customerArea.replace(/-/g, '')
                let address = $('#rp_customersForm-address').val()
                if (address.indexOf('customerAreaText') === -1) {
                    $('#rp_customersForm-address').val(customerAreaText + address);
                }
            }
        });
    }


    $(document).ready(function () {

        //定义全局变量,当前用户名
        sessionName = "<%-locals.session.yjUser.Name%>";

        //初始化主表
        loadBillMainTable();

        //添加主表监听
        addMainTableListener();


        //客户新增按钮
        $('#rp_customersNew').click(function () {
            addCustomer();
        })

        //表单保存按钮
        $('#rp_customersSave').click(function () {

            saveCustomer();
        })


        loadBootStrapSelector({
            elementId: 'rp_customersForm-customerType',
            sqlParams: {
                sql: 'getOptionSelector',
                params: {
                    filter: 'optionClass="客户类型"',
                    orderBy: 'orderId'
                }
            },
        })

        loadBootStrapSelector({
            elementId: 'rp_customersForm-paymentType',
            sqlParams: {
                sql: 'getOptionSelector',
                params: {
                    filter: 'optionClass="收款方式"',
                    orderBy: 'orderId'
                }
            },
        })

        loadBootStrapSelector({
            elementId: 'rp_customersForm-isInland',
            sqlParams: {
                sql: 'getOptionSelector',
                params: {
                    filter: 'optionClass="国内外"',
                    orderBy: 'orderId'
                }
            },
        })

       


        loadBootStrapSelector({
            elementId: 'rp_customersForm-creditRank',
            sqlParams: {
                sql: 'getOptionSelector',
                params: {
                    filter: 'optionClass="信用等级"',
                    orderBy: 'orderId'
                }
            },
        })

        loadBootStrapSelector({
            elementId: 'rp_customersForm-warrantyPeriod',
            sqlParams: {
                sql: 'getOptionSelector',
                params: {
                    filter: 'optionClass="保固期"',
                    orderBy: 'orderId'
                }
            },
        })


        loadBootStrapSelector({
            elementId: 'rp_customersForm-effective',
            sqlParams: {
                sql: 'getOptionSelector',
                params: {
                    filter: 'optionClass="是或否"',
                    orderBy: 'orderId'
                }
            },
        })




        loadBootStrapSelector({
            elementId: 'rp_customersForm-customerBelongShort',
            // initValue:'',
            sqlParams: {
                sql: 'getCustomerSelector',
                params: {
                    filter: 'customerType="客户"'
                }
            },
            // initValue:'中国,北京'
        })

        loadBootStrapSelector({
            elementId: 'rp_customersForm-customerArea',
            sqlParams: {
                sql: 'getRegionSelector'
            },
            // initValue:'中国,北京'
        })


        addCustomerAreaListener()


        // 关闭事件重置选中datatable选中,避免显示错误
        $('#rp_customersModal').on('hidden.bs.modal', function () {
            let table = $('#rp_customers').DataTable();
            table.$('tr.selected').removeClass('selected');


        })








    });
</script>