<!-- 导入css库 -->
<link rel="stylesheet" type="text/css" href="/rpLib/css/divCss.css">

<!-- 导入js库 -->
<script type="text/javascript" src="/rpLib/publicFuns.js"></script>

<!-- 导入datatables -->
<link rel="stylesheet" type="text/css" href="/rpLib/DataTables/datatables.min.css" />
<script type="text/javascript" src="/rpLib/DataTables/datatables.min.js"></script>



<!-- 加载foil外框架 -->
<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>

<!-- 定义html元素 -->
<div class="rpContent">

    <!-- 按钮：用于打开模态框 -->

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>工作流程-显示面板</h1>
            </div>
        </div>
    </div>


    <div class="row clearfix">
        <div class="col-md-6 column">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">待维修</h3>
                </div>
                <div class="panel-body">
                    <table class="table" id='tableWait'>
                        <thead>
                            <th>申请单号 </th>
                            <th>客户简称 </th>
                            <th>产品ID</th>
                            <th>送修日期</th>
                        </thead>
                        <tbody></tbody>

                    </table>
                </div>

            </div>
        </div>


        <div class="col-md-6 column">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">维修中</h3>
                </div>
                <div class="panel-body">
                    <table class="table" id='tableDoing'>
                        <thead>
                            <th>申请单号 </th>
                            <th>客户简称 </th>
                            <th>产品ID</th>
                            <th>维修日期</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>

    <div class="row clearfix">

        <div class="col-md-6 column">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">待出货</h3>
                </div>
                <div class="panel-body">
                    <table class="table" id='tableWaitSend'>
                        <thead>
                            <th>申请单号 </th>
                            <th>客户简称 </th>
                            <th>产品ID</th>
                            <th>维修完成</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="col-md-6 column">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">未结清</h3>
                </div>
                <div class="panel-body">
                    <table class="table" id='tableWaitPay'>
                        <thead>
                            <th>出货单号 </th>
                            <th>客户简称 </th>
                            <th>出货方式</th>
                            <th>出货日期</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
        </div>



    </div>



</div>



<script type="text/javascript">
    //申请表子表dataTable column 数组
    const subColumnsWaitArray = [{
        data: 'requestBillId',
    }, {
        data: 'customerShortName',
    }, {
        data: 'productId',
    }, {
        data: 'requestDate',
    }]

    //申请表子表dataTable column 数组
    const subColumnsDoingArray = [{
        data: 'requestBillId',
    }, {
        data: 'customerShortName',
    }, {
        data: 'productId',
    }, {
        data: 'makeDate',
    }]

    //申请表子表dataTable column 数组
    const subColumnsWaitSendArray = [{
        data: 'requestBillId',
    }, {
        data: 'customerShortName',
    }, {
        data: 'productId',
    }, {
        data: 'finishDate',
    }]


    //申请表子表dataTable column 数组
    const subColumnsWaitPayArray = [{
        data: 'responseBillId',
    }, {
        data: 'customerShortName',
    }, {
        data: 'sendWay',
    }, {
        data: 'makeDate',
    }]




    //加载展开选定表子表关联数据

    const loadTrackTable = async (i) => {
        //加载表格
        loadBillDataTable({
            elementId: i.elementId,
            sqlParams: i.sqlParams,
            dtParams: {
                dtConfig: 'dtConfigSimple',
                columns: i.columns
            }
        })

    }

    //重载所有表格数据函数
    const loadAllTrackTable = async () => {

        console.log('run');

        loadTrackTable({
            elementId: 'tableWait',
            sqlParams: {
                sqlId: 'sqlRecordBills',
                params: {
                    filter: 'status = "待维修"'
                }
            },
            columns: subColumnsWaitArray
        })


        loadTrackTable({
            elementId: 'tableDoing',
            sqlParams: {
                sqlId: 'sqlRecordBills',
                params: {
                    filter: 'status = "维修中"'
                }
            },
            columns: subColumnsDoingArray
        })


        loadTrackTable({
            elementId: 'tableWaitSend',
            sqlParams: {
                sqlId: 'sqlResponseBills',
                params: {
                    filter: 'isSended is null and finishDate is not null'
                }
            },
            columns: subColumnsWaitSendArray
        })


        loadTrackTable({
            elementId: 'tableWaitPay',
            sqlParams: {
                sqlId: 'sqlResponseBills',
                params: {
                    filter: 'isFullPay <> "已结清" and makeDate is not null'
                }
            },
            columns: subColumnsWaitPayArray
        })
    }


    $(document).ready(function () {

        //先执行一次,防止第一次进入等待无数据
        loadAllTrackTable()

        //定时重载数据
        setInterval(function () {
            loadAllTrackTable()
        }, 60000);



    });
</script>