<!-- 导入css库 -->
<link rel="stylesheet" type="text/css" href="/rpLib/css/divCss.css">

<!-- 导入js库 -->
<script type="text/javascript" src="/rpLib/publicFuns.js"></script>

<!-- 导入datatables -->
<link rel="stylesheet" type="text/css" href="/rpLib/DataTables/datatables.min.css" />
<script type="text/javascript" src="/rpLib/DataTables/datatables.min.js"></script>

<!-- 导入bootstrapSelect -->
<link rel="stylesheet" href="/rpLib/bootstrapSelect/bootstrap-select.min.css" />
<script type="text/javascript" src="/rpLib/bootstrapSelect/bootstrap-select.min.js"></script>

<!-- 导入datatimepicker -->
<link href="/rpLib/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="/rpLib/datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/rpLib/datetimepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<!-- 导入instascan 二维码扫描库 -->
<script type="text/javascript" src="/rpLib/instascan/instascan.min.js"></script>

<!-- 加载foil外框架 -->
<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>

<!-- 定义html元素 -->
<div class="rpContent">

    <!-- 按钮：用于打开模态框 -->

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>工作流程-显示面板</h1>
            </div>
        </div>
    </div>


    <div class="row clearfix">
        <div class="col-md-4 column">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">待维修</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <th>产品</th>
                        <th>客户 </th>
                        <tr>
                            <td>产品 A</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>产品 B</td>
                            <td>400</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>


        <div class="col-md-4 column">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">维修中</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <th>产品</th>
                        <th>价格 </th>
                        <tr>
                            <td>产品 A</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>产品 B</td>
                            <td>400</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>


        <div class="col-md-4 column">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">待出货</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <th>产品</th>
                        <th>价格 </th>
                        <tr>
                            <td>产品 A</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>产品 B</td>
                            <td>400</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>


    </div>



</div>



<script type="text/javascript">
    $(document).ready(function () {








    });
</script>