<!-- 导入css库 -->
<link rel="stylesheet" type="text/css" href="/rpLib/css/divCss.css">

<!-- 导入js库 -->
<script type="text/javascript" src="/rpLib/publicFuns.js"></script>

<!-- 导入datatables -->
<link rel="stylesheet" type="text/css" href="/rpLib/DataTables/datatables.min.css" />
<script type="text/javascript" src="/rpLib/DataTables/datatables.min.js"></script>

<!-- 导入bootstrapSelect -->
<link rel="stylesheet" href="/rpLib/bootstrapSelect/css/bootstrap-select.min.css" />
<script type="text/javascript" src="/rpLib/bootstrapSelect/js/bootstrap-select.min.js"></script>


<!-- 导入datatimepicker -->
<link href="/rpLib/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="/rpLib/datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/rpLib/datetimepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>


<!-- 定义html元素 -->
<div class="rpContent">







    <div class="row clearfix">
        <div class="col-md-12 column">


            <!-- 定义基础模块数据表 -->
            <table id="rp_partsFee" class=" table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>原件编号</th>
                        <th>单价</th>
                        <th>创建人</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>


        </div>
    </div>





    <!-- 模态框（Modal） -->
    <div class="modal fade" id="rp_partsFeeModal" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-dialog" style="width: 65%;">

            <!-- 按钮触发模态框 -->
            <button class="btn btn-primary" data-toggle="modal" data-target="#rp_partsFeeModal"
                id="rp_partsFeeModalOpen" style="display: none;">
                开始演示模态框
            </button>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        产品信息
                    </h4>


                </div>
                <div class="modal-body">




                    <!-- 表单面板 -->
                    <div class="panel panel-default">
                        <div class="panel-body">


                            <form class="form-horizontal" role="form" id='rp_partsFeeForm'>

                                <input id="rp_partsFeeForm-DBID" type="hidden" value="">

                                <div class="form-group">
                                    <label class="col-sm-1 control-label">原件编号</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_partsFeeForm-partId" type="text"
                                            value="该输入框获得焦点...">
                                    </div>

                                    <label class="col-sm-1 control-label">单价</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_partsFeeForm-price" type="text"
                                            value="该输入框获得焦点...">
                                    </div>

                                </div>


                                <div class="form-group">

                                    <label class="col-sm-1 control-label">创建人</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="rp_partsFeeForm-creater" type="text"
                                            value="该输入框获得焦点...">
                                    </div>

                                    <label class="col-sm-1 control-label">有效性</label>
                                    <div class="col-sm-5">
                                        <select id="rp_partsFeeForm-effective" class="selectpicker"
                                            data-dropup-auto="true">
                                            <option>是</option>
                                            <option>否</option>
                                        </select>

                                    </div>

                                </div>



                            </form>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="rp_partsFeeModalClose">关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="rp_partsFeeSave">
                        保存
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


</div>







<script type="text/javascript">
    $(document).ready(function () {


        //加载表格
        loadDataTable({
            elementId: 'rp_partsFee',
            sqlParams: {
                tableId: 'rp_partsFee',
                filter: ''
            },
            dtParams: {
                columns: [{
                        data: 'partId'
                    },
                    {
                        data: 'price'
                    }, {
                        data: 'creater',
                    }
                ],
            }
        })




        // loadBootStrapSelector({
        //     elementId: 'customerArea',
        //     sqlParams: {
        //         sql: 'getRegionSelector'
        //     },
        //     // initValue:'中国,北京'
        // })

        // loadDatePicker({
        //     elementId: 'saveTimeStamp',
        //     params: {
        //         endDate: '2019-12-30'
        //     }
        // })







    });
</script>