

<script src="/js/sweetalert.min.js"></script>
<script src="/public/funs.js"></script>

<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>

<div>
<button id="bt_test">测试按钮</button>
</div>

<script>

var test=i=>console.log(i)

var getconfirmv=async (i,o)=>{
	o=await iof_swcf(i)
	alert(o)
}

$(function(){
	
$('#bt_test').click(function(){
	

	var fun1=()=>alert('11111');
	
	let i='aaaaa'
	
	io_swal(i,'',fun1)

})

}); 
</script>
