

<script src="/js/sweetalert.min.js"></script>
<script src="/public/funs.js"></script>

<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>

<div>
<button id="bt_test">测试按钮</button>

<button id="bt_test2">弹出消息测试后刷新</button>
</div>

<script>

var test=i=>console.log(i)

var getconfirmv=async (i,o)=>{
	o=await iof_swcf(i)
	alert(o)
}

$(function(){
	
$('#bt_test').click(function(){
	
	var fun1=()=>{console.log(111)}
	
	let i={
			confirmMsg:'新增T计划单成功,是否发送钉钉提醒消息?',
			DDMsg:{
				at:$('#auditor option:selected').text(),
				msg:"@"+$('#auditor option:selected').text()+",您存在未审核的T计划单,请登陆系统处理!"}
	}	
	let o={f:io_refresh}
	
	aio_chooseSendDDMsg(i,o)

})

$('#bt_test2').click(function(){

	let i={alertMsg:"11111"}
	swalAndRefresh(i)
	

})


}); 
</script>
