

<script src="/js/sweetalert.min.js"></script>
<script src="/public/funs.js"></script>

<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>

<div>
<button id="bt_test">测试按钮</button>
</div>

<script>

var test=i=>console.log(i)

var getconfirmv=async (i,o)=>{
	o=await iof_swcf(i)
	alert(o)
}

$(function(){
	
$('#bt_test').click(function(){
	
	var fun1=()=>{console.log(111)}
	
//	function fun1(){
//		console.log(111)
//	}
	let b={f:'1'}
	console.log('b:'+fun1)
	
//	let i={confirmMsg:'内核任务已确认,是否发送钉钉消息?',DDMsg:{at:'熊奇龙',msg:'内核任务已确认,请新增内核计划!'},alertMsg:'发送成功'}
//	let o={f:io_refresh}
//	console.log('o11:'+JSON.stringify(o))
//	
//	aio_chooseSendDDMsg(i,o)

})

}); 
</script>
