<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>

<div>
</br>

  <table width="293" border="0">
    <tr>
      <td width="53">姓名</td>
      <td width="230"><label for="textfield"></label>
      <input type="text" name="textfield" id="SName" /></td>
    </tr>
   
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="bButton" id="SBtn" value="提交" /></td>
    </tr>
  </table>
 
  
  <table id="tableTest" border="1">
  
  <thead>
  </thead>
  <tbody>
  <tr>
  <td>1
  </td>
  <td>1
  </td>
  <td>3
  </td>
  </tr>
  
  <tr>
  <td>1
  </td>
  <td>2
  </td>
  <td>3
  </td>
  </tr>
  
  <tr>
  <td>1
  </td>
  <td>2
  </td>
  <td>3
  </td>
  </tr>
  <tbody>
  </table>
  


</div>


<script>
function callback(data){
	alert(JSON.stringify(data));
}


function ajaxFun(callback){
	 $.ajax({
        method:'get',
        data:{"SQL":"SQLTableTestContents"},
        url:"/app/PM/getSQLDBData",
        success:function(data){
        	callback(data);
        },
        error:function(){}
    })
	
}

	
//相同列合并插件//封装的一个JQuery小插件
 jQuery.fn.rowspan = function(colIdx) { 
	        return this.each(function(){
	           var that;
	           $('tr', this).each(function(row) {
	              $('td:eq('+colIdx+')', this).filter(':visible').each(function(col) {
	                 if (that!=null && $(this).html() == $(that).html()) {
	                    rowspan = $(that).attr("rowSpan");
	                    if (rowspan == undefined) {
	                       $(that).attr("rowSpan",1);
	                       rowspan = $(that).attr("rowSpan"); }
	                    rowspan = Number(rowspan)+1;
	                    $(that).attr("rowSpan",rowspan);
	                    $(that).css("vertical-align","middle");
	                    $(this).hide();
	                 } else {
	                    that = this;
	                 }
	              });
	           });
	        });
}
    
	
	




$(function(){
	
	
	$("#tableTest").rowspan(0);
	
//	$("#tableTest").rowspan(1);
	$("#tableTest").rowspan(2);
	
//	MergeTableCell("tableTest",0,0,2)
//	var a=ajaxFun(callback);
//	
//	alert("a11111111111:"+a);
//	
////	alert(JSON.stringify(ajaxFun()));
////	
//	alert("aa:"+JSON.stringify(aa));

    

}); 
</script>
