<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>

<div>
</br>

  <table width="293" border="0">
    <tr>
      <td width="53">姓名</td>
      <td width="230"><label for="textfield"></label>
      <input type="text" name="textfield" id="SName" /></td>
    </tr>
   
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="bButton" id="SBtn" value="提交" /></td>
    </tr>
  </table>
  


</div>


<script>
function callback(data){
	alert(JSON.stringify(data));
}


function ajaxFun(callback){
	 $.ajax({
        method:'get',
        data:{"SQL":"SQLTableTestContents"},
        url:"/app/PM/getSQLDBData",
        success:function(data){
        	callback(data);
        },
        error:function(){}
    })
	
}

	
	
    
    
	
	




$(function(){
	
	var a=ajaxFun(callback);
	
	alert("a11111111111:"+a);
	
//	alert(JSON.stringify(ajaxFun()));
//	
//	alert("aa:"+JSON.stringify(aa));

    

}); 
</script>
