.fee-approval {
    font-size: 14px; 
    font-family: Consolas;
    font-weight:bold;
    background-color: rgba(185, 185, 183, 0.575);
    color: rgb(45, 0, 128);     
}
.fee-drop {
    /*财务费用 */
    margin-left:1px;
	font-size: 14px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 30px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    width : 90px;  
}
.fee-label {
	margin-left:1px;
	font-size: 14px;
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 1px;
    padding: 4px 12px;
   /* overflow: hidden;*/
    color: green;
    /*text-decoration: none;*/
    /*文字横线*/
    /* text-indent: 0; */
    line-height: 35px;
    /*首行缩进 0*/
    cursor: pointer;
    /*光标效果：小手*/
	width : 90px;
}
.fee-drop-mid {
    /*财务费用 */
    margin-left:1px;
	font-size: 14px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 30px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    width : 185px;  
}
.fee-label-mid {
	margin-left:1px;
	font-size: 14px;
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 1px;
    padding: 4px 12px;
   /* overflow: hidden;*/
    color: green;
    /*text-decoration: none;*/
    /*文字横线*/
    /* text-indent: 0; */
    line-height: 35px;
    /*首行缩进 0*/
    cursor: pointer;
    /*光标效果：小手*/
	width : 185px;
}
.fee-drop-date {
    /*财务费用 */
    margin-left:1px;
	font-size: 14px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 30px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    width : 130px;  
}
.fee-drop-large {
    /*财务费用 */
    margin-left:1px;
	font-size: 14px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 30px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    width : 565px;  
}
.fee-label-large {
	margin-left:1px;
	font-size: 14px;
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 1px;
    padding: 4px 12px;
   /* overflow: hidden;*/
    color: green;
    /*text-decoration: none;*/
    /*文字横线*/
    /* text-indent: 0; */
    line-height: 35px;
    /*首行缩进 0*/
    cursor: pointer;
    /*光标效果：小手*/
	width : 565px;
}
.new-prod-drop{   
    /*新品提交下拉 pipeAAA*/
	font-size: 16px;
    position: relative;
    display: inline-block;
   /* background: #f4f7f8;*/
    border: 1px solid #99D3F5;
    border-radius: 1px;
    padding: 4px 12px;
    /*overflow: hidden;*/
    color: #01090e;
    /*text-decoration: none;*/
    /*文字横线*/
    text-indent: 0;
    line-height: 20px;
    /*首行缩进 0*/
    cursor: pointer;
    /*光标效果：小手*/
    width : 180px;  
}
.win-green-large{
    margin-left:1px;
	font-size: 16px;
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 1px;
    padding: 4px 12px;
    /*overflow: hidden;*/
    color: #1E88C7;
    /*text-decoration: none;*/
    /*文字横线*/
    text-indent: 0;
    line-height: 20px;
    /*首行缩进 0*/
    cursor: pointer;
    /*光标效果：小手*/
    width : 480px;  
}
.win-green-mid{
    margin-left:1px;
	font-size: 14px;
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 1px;
    padding: 4px 12px;
    /*overflow: hidden;*/
    color: #1E88C7;
    /*text-decoration: none;*/
    /*文字横线*/
    text-indent: 0;
    line-height: 20px;
    /*首行缩进 0*/
    cursor: pointer;
    /*光标效果：小手*/
    width : 480px;  
}
.win-green-small{
    margin-left:1px;
	font-size: 13px;
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 1px;
    padding: 4px 12px;
    /*overflow: hidden;*/
    color: #1E88C7;
    /*text-decoration: none;*/
    /*文字横线*/
    text-indent: 0;
    line-height: 20px;
    /*首行缩进 0*/
    cursor: pointer;
    /*光标效果：小手*/
    width : 480px;  
}
.blue-label{
	margin-left:30px;
	font-size: 16px;
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    /*overflow: hidden;*/
    color: #1E88C7;
    /*text-decoration: none;*/
    /*文字横线*/
    text-indent: 0;
    line-height: 20px;
    /*首行缩进 0*/
    cursor: pointer;
    /*光标效果：小手*/
	width : 120px;
}
.green-label-small {
	margin-left:30px;
	font-size: 12px;
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
   /* overflow: hidden;*/
    color: green;
    /*text-decoration: none;*/
    /*文字横线*/
    text-indent: 0;
    line-height: 20px;
    /*首行缩进 0*/
    cursor: pointer;
    /*光标效果：小手*/
	width : 60px;
}
.green-label-test{
	margin-left:30px;
	font-size: 16px;
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    /*overflow: hidden;*/
    color: green;
    /*text-decoration: none;*/
    /*文字横线*/
    text-indent: 0;
    line-height: 20px;
    /*首行缩进 0*/
    cursor: pointer;
    /*光标效果：小手*/
	width : 120px;
}
.green-label-alert{
	margin-left:30px;
	font-size: 16px;
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    /*overflow: hidden;*/
    color: green;
    /*text-decoration: none;*/
    /*文字横线*/
    text-indent: 0;
    line-height: 20px;
    /*首行缩进 0*/
    cursor: pointer;
    /*光标效果：小手*/
	width : 240px;
}
.green-match-search{
	margin-left:0px;
	font-size: 14px;
    position: relative;
    display: inline-block;
    background: rgb(223, 243, 237);
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    /*overflow: hidden;*/
    color: green;
    /*text-decoration: none;*/
    /*文字横线*/
    text-indent: 0;
    line-height: 20px;
    /*首行缩进 0*/
    cursor: pointer;
    /*光标效果：小手*/
	width : 960px;
}
.green-label-Verti {
	margin-left:30px;
	font-size: 16px;
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px ;
   /* overflow: hidden;*/
    color: green;
    /*text-decoration: none;*/
    /*文字横线*/
    text-indent: 0;
    line-height: 20px;
    /*首行缩进 0*/
    cursor: pointer;
    /*光标效果：小手*/
    top: -20px;   
	width : 120px;
}
.coffee-label {
	margin-left:30px;
	font-size: 16px;
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
   /* overflow: hidden;*/
    color: #8B4513;
    /*text-decoration: none;*/
    /*文字横线*/
    text-indent: 0;
    line-height: 20px;
    /*首行缩进 0*/
    cursor: pointer;
    /*光标效果：小手*/
	width : 120px;
}
.green-label {
	margin-left:30px;
	font-size: 16px;
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
   /* overflow: hidden;*/
    color: green;
    /*text-decoration: none;*/
    /*文字横线*/
    text-indent: 0;
    line-height: 20px;
    /*首行缩进 0*/
    cursor: pointer;
    /*光标效果：小手*/
	width : 120px;
}
.green-label-large {
	margin-left:30px;
	font-size: 16px;
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
   /* overflow: hidden;*/
    color: green;
    /*text-decoration: none;*/
    /*文字横线*/
    text-indent: 0;
    line-height: 20px;
    /*首行缩进 0*/
    cursor: pointer;
    /*光标效果：小手*/
	width : 180px;
}
.can-mini {
	font-size: 18px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    width : 0px;  
}
.coffee-drop {
    font-size: 18px;
    color:#8B0A50;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    width : 200px;  
}
.coffee-drop-large {
    /**属性下拉更改 **/
    font-size: 18px;
    color:#8B0A50;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    width : 300px;  
}
.can-drop {
	font-size: 18px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    width : 200px;  
}
.can-drop-large {
	font-size: 18px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    width : 300px;  
}
.can-drop-spec {
	font-size: 18px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    width : 400px;  
}
.can-area-note {
	font-size: 18px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    width : 560px;  
}
.can-drop-super {
	font-size: 18px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    width : 480px;  
}
.win-zone-input{
    margin-left:5px;
	font-size: 16px;
    position: relative;
    display: inline-block;
    background: #fff;
    border: 1px solid #99D3F5;
    border-radius: 1px;
    padding: 4px 12px;
    /*overflow: hidden;*/
    color: #1E88C7;
    /*text-decoration: none;*/
    /*文字横线*/
    text-indent: 0;
    line-height: 20px; 
    width : 400px;  
}
.win-zone-blue{
    margin-left:5px;
	font-size: 16px;
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 1px;
    padding: 4px 12px;
    /*overflow: hidden;*/
    color: #1E88C7;
    /*text-decoration: none;*/
    /*文字横线*/
    text-indent: 0;
    line-height: 20px;
    /*首行缩进 0*/
    cursor: pointer;
    /*光标效果：小手*/
    width : 400px;  
}
.can-drop-zone {
	font-size: 16px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    width : 480px;  
}
.can-find-small {
	font-size: 16px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    width : 60px;  
}
/*业务客户下拉*/
.can-find-M360 {
	font-size: 16px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    width : 360px;
    height: 35px;   
}
.can-find-M260 {
	font-size: 16px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    width : 260px;
    height: 35px;   
}
.can-find-M180 {
	font-size: 18px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    width : 180px;
    height: 35px;   
}
.can-find-M140 {
	font-size: 15px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    width : 140px;
    height: 35px;   
}
.can-find-mid {
	font-size: 14px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    width : 180px;  
}
.can-find-large{
	font-size: 16px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
    background-image: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
    background-image: linear-gradient(top, #eeeeee 0%, #ffffff 50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    width : 240px;  
}
.blue-label-simp {
	font-size: 16px;
    color: blue;
	margin-left:30px;
	width : 300px; 
}