<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">

<link rel="stylesheet" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/PM/bootstrap-select.min.css" />
<link rel="stylesheet" href="/css/PM/datetimepicker/bootstrap-datetimepicker.min.css" >
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.css">

<!-- JS -->
<script src="/css/PM/DataTables/Bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/css/PM/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>

<script src="/js/PM/PMfuns.js"></script>



<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>


<div class="divcontent">

	<h1>数据绑定示例</h1>
	<hr>

	<div class="panel panel-info">
	
    <div class="panel-heading">
        <h3 class="panel-title">数据绑定</h3>
    </div>
    
    
    
    <div class="panel-body" style="height:300px;" >




    <!-------------------------------------------------------------------------->
    <div class="col-sm-12" >
    
    <label  class="col-sm-1 control-label" for="name">源数据:</label>    
    <div class="col-sm-2">
    <select  id="OrgDBType" class="selectpicker" data-live-search="true" > 
    <option>请选择</option>
    <option value="pm_customers">客户</option>
    <option value="pm_functions">功能</option>
    <option value="pm_staffs">人员</option>
    <option value="pm_machinetypes">机器类型</option>
    </select>
    </div>
      
    <div class="col-sm-2" >
    <select  id="OrgDBTypeSub" class="selectpicker" data-live-search="true" > 
    </select>
    </div>
    
    
    </div>
    <!-------------------------------------------------------------------------->
    <div class="col-sm-12">
    
    <label  class="col-sm-1 control-label" for="name">绑定数据:</label>    
    <div class="col-sm-2">
    <select  id="BindDBType" class="selectpicker" data-live-search="true"> 
    <option value="0">请选择</option>
    <option value="pm_customers">客户</option>
    <option value="pm_functions">功能</option>
    <option value="pm_staffs">人员</option>
    <option value="pm_machinetypes">机器类型</option>

    </select>
    </div>
    

    <div class="col-sm-2">
    <select  id="BindDBTypeSub" class="selectpicker" data-live-search="true"> 
    </select>
    </div>
    
    <div class="col-sm-1" >
    <button id="bindBtn" class="btn btn-info">添加绑定</button>
    </div>

    </div>
   
    
    <!-------------------------------------------------------------------------->

    
    <hr>
    
    <!-------------------------------------------------------------------------->
    
    <div class="col-sm-12" >
    
    <label  class="col-sm-1 control-label" for="name">选择数据:</label>    
    <div class="col-sm-2">
    <select  id="ChoDBType" class="selectpicker" data-live-search="true" > 
    <option value="0">请选择</option>
    <option value="pm_customers">客户</option>
    <option value="pm_functions">功能</option>
    <option value="pm_staffs">人员</option>
    <option value="pm_machinetypes">机器类型</option>
    </select>
    </div>
      
    <div class="col-sm-2" >
    <select  id="ChoDBTypeSub" class="selectpicker" data-live-search="true" > 
    </select>
    </div>
    
    <div class="col-sm-1" >
    <button id="getBindInfoBtn" class="btn btn-info">验证数据</button>
    </div>
    
    </div>
    <!-------------------------------------------------------------------------->


    

    </div>
    
    
    
   
    
    
    
    
   </div>
   
   
   <hr>
   
   <!-- 操作区（按钮等） -->
   <div class="lineitem">

       <button id="unbindBtn" class="btn btn-danger">解除绑定</button>
   </div>
   <br/>

   <!--数据呈现区-->
   <table id="bind_DB" class="table table-striped table-bordered"  >
       <thead>
           <tr>
               <th>ID</th>
               <th>源数据类型</th>
               <th>源数据值</th>
               <th>绑定数据类型</th>
               <th>绑定数据值</th>
           </tr>
       </thead>
   </table>
   
  
   
   
   
	

</div>

<script>


//定义绑定发送数据结构---------------------

function Fun_bindDataInfo(DBTable,OrgDBType,OrgDBTypeName,OrgDBTypeSub,OrgDBTypeSubName,BindDBType,BindDBTypeName,BindDBTypeSub,BindDBTypeSubName){
	this.DBTable=DBTable;
	this.OrgDBType=OrgDBType;
	this.OrgDBTypeName=OrgDBTypeName;
	this.OrgDBTypeSub=OrgDBTypeSub;
	this.OrgDBTypeSubName=OrgDBTypeSubName;
	this.BindDBType=BindDBType;
	this.BindDBTypeName=BindDBTypeName;
	this.BindDBTypeSub=BindDBTypeSub;
	this.BindDBTypeSubName=BindDBTypeSubName;
} 


//检查输入信息-------------------
function Fun_checkinput(Data) {
	
//	alert(JSON.stringify(Data));
	
    if (Data.OrgDBType=="0") {
        alert('源数据类型未选择，请检查!');
        return false;
    } else if (Data.OrgDBTypeSub==null) {
        alert('源数据值未选择，请检查!');
        return false;
    }else if (Data.BindDBType=="0") {
        alert('绑定数据类型未选择，请检查!');
        return false;
    }else if (Data.BindDBTypeSub==null) {
        alert('绑定数据值未选择，请检查!');
        return false;
    }else if (Data.OrgDBType==Data.BindDBType) {
        alert('选择同类型数据不能绑定，请检查!');
        return false;
    }
    return true;
}  






$(document).ready( function () {
	
	
	

	
	

//定义原数据变更实际-----------------------------	
	$("#OrgDBType").change(function(){

		var DBtype=$("#OrgDBType").val();

		switch(DBtype)
		{
		    case "pm_customers":
//		    	alert("case1");
		    	var Select_Para={DBTable:"pm_customers",selectTitle:"cust_Name"};
		    	getSelectDBData(Select_Para,"#OrgDBTypeSub");
		        break;
		    case "pm_staffs":
//		    	alert("case2");
		    	var Select_Para={DBTable:"pm_staffs",selectTitle:"staff_Name"};
		    	getSelectDBData(Select_Para,"#OrgDBTypeSub");
		        break;
		    case "pm_machinetypes":
//		    	alert("case3");
		    	var Select_Para={DBTable:"pm_machinetypes",selectTitle:"mach_Type_Name"};
		    	getSelectDBData(Select_Para,"#OrgDBTypeSub");
		        break;
		        
		    case "pm_functions":
//		    	alert("case4");
		    	var Select_Para={DBTable:"pm_functions",selectTitle:"funct_Name"};
		    	getSelectDBData(Select_Para,"#OrgDBTypeSub");
		        break;
		        
		    default:
		    	alert("case0");
		    	break;
		      
		}
		
	})
	
//定义绑定数据变更事件---------------------------------	
	$("#BindDBType").change(function(){

		var DBtype=$("#BindDBType").val();

		switch(DBtype)
		{
		    case "pm_customers":
//		    	alert("case1");
		    	var Select_Para={DBTable:"pm_customers",selectTitle:"cust_Name"};
		    	getSelectDBData(Select_Para,"#BindDBTypeSub");
		        break;
		    case "pm_staffs":
//		    	alert("case2");
		    	var Select_Para={DBTable:"pm_staffs",selectTitle:"staff_Name"};
		    	getSelectDBData(Select_Para,"#BindDBTypeSub");
		        break;
		    case "pm_machinetypes":
//		    	alert("case3");
		    	var Select_Para={DBTable:"pm_machinetypes",selectTitle:"mach_Type_Name"};
		    	getSelectDBData(Select_Para,"#BindDBTypeSub");
		        break;
		        
		    case "pm_functions":
//		    	alert("case4");
		    	var Select_Para={DBTable:"pm_functions",selectTitle:"funct_Name"};
		    	getSelectDBData(Select_Para,"#BindDBTypeSub");
		        break;
		        
		    default:
		    	alert("case0");
		    	break;
		      
		}
		
	})
	
//定义选择数据变更事件---------------------------------	
	$("#ChoDBType").change(function(){

		var DBtype=$("#ChoDBType").val();

		switch(DBtype)
		{
		    case "pm_customers":
//		    	alert("case1");
		    	var Select_Para={DBTable:"pm_customers",selectTitle:"cust_Name"};
		    	getSelectDBData(Select_Para,"#ChoDBTypeSub");
		        break;
		    case "pm_staffs":
//		    	alert("case2");
		    	var Select_Para={DBTable:"pm_staffs",selectTitle:"staff_Name"};
		    	getSelectDBData(Select_Para,"#ChoDBTypeSub");
		        break;
		    case "pm_machinetypes":
//		    	alert("case3");
		    	var Select_Para={DBTable:"pm_machinetypes",selectTitle:"mach_Type_Name"};
		    	getSelectDBData(Select_Para,"#ChoDBTypeSub");
		        break;
		        
		    case "pm_functions":
//		    	alert("case4");
		    	var Select_Para={DBTable:"pm_functions",selectTitle:"funct_Name"};
		    	getSelectDBData(Select_Para,"#ChoDBTypeSub");
		        break;
		        
		    default:
		    	alert("case0");
		    	break;
		      
		}
		
	})	
	
	
	var cust_Select_Para={DBTable:"pm_customers",selectTitle:"cust_Name"};
	var cust_selectorID="#cust_Selector";
    getSelectDBData(cust_Select_Para,cust_selectorID);
	
    
	var staff_Select_Para={DBTable:"pm_staffs",selectTitle:"staff_Name"};
	var staff_selectorID="#staff_Selector";
    getSelectDBData(staff_Select_Para,staff_selectorID);
    
    
    var mach_Type_Select_Para={DBTable:"pm_machinetypes",selectTitle:"mach_Type_Name"};
	var mach_Type_selectorID="#mach_Type_Selector";
    getSelectDBData(mach_Type_Select_Para,mach_Type_selectorID);
    
    
    $('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
    
    

    
    
  //添加按钮-----
    $('#bindBtn').click(function() {
    	var DBTable="PM_dbbinds";
    	var OrgDBType=$('#OrgDBType').val();
    	var OrgDBTypeName=$('#OrgDBType').find("option:selected").text();
    	var OrgDBTypeSub=$('#OrgDBTypeSub').val();
    	var OrgDBTypeSubName=$('#OrgDBTypeSub').find("option:selected").text();
    	var BindDBType=$('#BindDBType').val();
    	var BindDBTypeName=$('#BindDBType').find("option:selected").text();
    	var BindDBTypeSub=$('#BindDBTypeSub').val();
    	var BindDBTypeSubName=$('#BindDBTypeSub').find("option:selected").text();  	
    	var postInfo=new Fun_bindDataInfo(DBTable,OrgDBType,OrgDBTypeName,OrgDBTypeSub,OrgDBTypeSubName,BindDBType,BindDBTypeName,BindDBTypeSub,BindDBTypeSubName);

    	
    	if(Fun_checkinput(postInfo)){
    		
    		addDBData(postInfo);
    	}
    	
//    	alert("postInfo:"+JSON.stringify(postInfo));
    	
    });
    
    
    
    
    //获取绑定数据按钮-----
    $('#getBindInfoBtn').click(function() {

    	var ChoDBType=$('#ChoDBType').val();
    	var ChoDBTypeSub=$('#ChoDBTypeSub').val();
    	
    	var ChoData={"OrgDBType":ChoDBType,"OrgDBTypeSub":ChoDBTypeSub};
 	
    	F_getBindDBData(ChoData);
    	
    });
    
    
    
	//表加载数据------------------
	var DataPara={
			"tableID":"#bind_DB",
			"DBTable":"PM_dbbinds"			
	}
		
	
	var columnsData=[
		{ data: 'DBID' ,"visible": false},
        { data: 'OrgDBTypeName' },
        { data: 'OrgDBTypeSubName'},
        { data: 'BindDBTypeName'},
        { data: 'BindDBTypeSubName'}
    ];

// alert(JSON.stringify(DataPara));
	showDBData(DataPara,columnsData);
	
////判断是否选中数据-------
var table = $('#bind_DB').DataTable();
$('#bind_DB tbody').on('click', 'tr', function() {
    if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
    } else {
        table.$('tr.selected').removeClass('selected');
        $(this).addClass('selected');
    }
});

//解除绑定按钮----------
$('#unbindBtn').click(function() {
    var dataSelect = table.row('.selected').data();
    
//    alert(JSON.stringify(dataSelect));
    
    if (dataSelect == undefined) {
        alert("当前未选择任何数据,请先点击需要删除的数据行!");
    } else {
        var msg1 = confirm("风险操作！此行数据内容移除后无法还原，请确认操作是否无误！");
        if (msg1 === true) {
            var msg2 = confirm("确认删除此行数据？");
            if (msg2 === true) {
            	
            //	alert(dataSelect.DBID);
                var IDData = {"DBTable":"PM_dbbinds","DBID":dataSelect.DBID};
             //   alert("IDData:"+JSON.stringify(IDData));
                delDBData(IDData);
            }
        }
    }
    //          table.row('.selected').remove().draw( false );//前端删除显示数据 ,数据库不删除
});
    
    
    

	
	

});

</script>