<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">

<link rel="stylesheet" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/PM/bootstrap-select.min.css" />
<link rel="stylesheet" href="/css/PM/datetimepicker/bootstrap-datetimepicker.min.css" >


<!-- JS -->
<script src="/css/PM/DataTables/Bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/css/PM/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>




<!-- JS  -->
<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>

<script src="/js/PM/PMfuns.js"></script>



<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>


<div class="divcontent">

	<h1>数据绑定示例</h1>
	<hr>

	<div class="panel panel-info">
	
    <div class="panel-heading">
        <h3 class="panel-title">数据绑定</h3>
    </div>
    
    <div class="panel-body" style="height:500px;y-overflow:scroll" >


   <form class="form-horizontal" > 
   

    <!-------------------------------------------------------------------------->
    <div class="form-group" >
    
    <label  class="col-sm-1 control-label" for="name">源数据:</label>    
    <div class="col-sm-2">
    <select  id="OrgDBType" class="selectpicker" data-live-search="true" > 
    <option>请选择</option>
    <option value="pm_customers">客户</option>
    <option value="pm_functions">功能</option>
    <option value="pm_staffs">人员</option>
    <option value="pm_machinetypes">机器类型</option>
    </select>
    </div>
      
    <div class="col-sm-2" >
    <select  id="OrgDBTypeSub" class="selectpicker" data-live-search="true" > 
    </select>
    </div>
    
    
    </div>
    <!-------------------------------------------------------------------------->
    <div class="form-group">
    
    <label  class="col-sm-1 control-label" for="name">绑定数据:</label>    
    <div class="col-sm-2">
    <select  id="BindDBType" class="selectpicker" data-live-search="true"> 
    <option>请选择</option>
    <option value="pm_customers">客户</option>
    <option value="pm_functions">功能</option>
    <option value="pm_staffs">人员</option>
    <option value="pm_machinetypes">机器类型</option>

    </select>
    </div>
    

    <div class="col-sm-2">
    <select  id="BindDBTypeSub" class="selectpicker" data-live-search="true"> 
    </select>
    </div>

    </div>
   
    
    <!-------------------------------------------------------------------------->
    <div class="form-group">    
    <label  class="col-sm-1 control-label" for="name"></label>  
    <div class="col-sm-6">
    <button id="Add" class="btn btn-info">添加绑定</button>
    </div>    
    </div>
    <!-------------------------------------------------------------------------->
    
    </form>
    

    </div>
   </div>
	

</div>

<script>






$(document).ready( function () {
	

//定义原数据变更实际-----------------------------	
	$("#OrgDBType").change(function(){

		var DBtype=$("#OrgDBType").val();

		switch(DBtype)
		{
		    case "pm_customers":
//		    	alert("case1");
		    	var Select_Para={DBTable:"pm_customers",selectTitle:"cust_Name"};
		    	getSelectDBData(Select_Para,"#OrgDBTypeSub");
		        break;
		    case "pm_staffs":
//		    	alert("case2");
		    	var Select_Para={DBTable:"pm_staffs",selectTitle:"staff_Name"};
		    	getSelectDBData(Select_Para,"#OrgDBTypeSub");
		        break;
		    case "pm_machinetypes":
//		    	alert("case3");
		    	var Select_Para={DBTable:"pm_machinetypes",selectTitle:"mach_Type_Name"};
		    	getSelectDBData(Select_Para,"#OrgDBTypeSub");
		        break;
		        
		    case "pm_functions":
//		    	alert("case4");
		    	var Select_Para={DBTable:"pm_functions",selectTitle:"funct_Name"};
		    	getSelectDBData(Select_Para,"#OrgDBTypeSub");
		        break;
		        
		    default:
		    	alert("case0");
		    	break;
		      
		}
		
	})
	
//定义绑定数据变更事件---------------------------------	
	$("#BindDBType").change(function(){

		var DBtype=$("#BindDBType").val();

		switch(DBtype)
		{
		    case "pm_customers":
//		    	alert("case1");
		    	var Select_Para={DBTable:"pm_customers",selectTitle:"cust_Name"};
		    	getSelectDBData(Select_Para,"#BindDBTypeSub");
		        break;
		    case "pm_staffs":
//		    	alert("case2");
		    	var Select_Para={DBTable:"pm_staffs",selectTitle:"staff_Name"};
		    	getSelectDBData(Select_Para,"#BindDBTypeSub");
		        break;
		    case "pm_machinetypes":
//		    	alert("case3");
		    	var Select_Para={DBTable:"pm_machinetypes",selectTitle:"mach_Type_Name"};
		    	getSelectDBData(Select_Para,"#BindDBTypeSub");
		        break;
		        
		    case "pm_functions":
//		    	alert("case4");
		    	var Select_Para={DBTable:"pm_functions",selectTitle:"funct_Name"};
		    	getSelectDBData(Select_Para,"#BindDBTypeSub");
		        break;
		        
		    default:
		    	alert("case0");
		    	break;
		      
		}
		
	})
	
	
	
	
	var cust_Select_Para={DBTable:"pm_customers",selectTitle:"cust_Name"};
	var cust_selectorID="#cust_Selector";
    getSelectDBData(cust_Select_Para,cust_selectorID);
	
    
	var staff_Select_Para={DBTable:"pm_staffs",selectTitle:"staff_Name"};
	var staff_selectorID="#staff_Selector";
    getSelectDBData(staff_Select_Para,staff_selectorID);
    
    
    var mach_Type_Select_Para={DBTable:"pm_machinetypes",selectTitle:"mach_Type_Name"};
	var mach_Type_selectorID="#mach_Type_Selector";
    getSelectDBData(mach_Type_Select_Para,mach_Type_selectorID);
    
    
    $('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
    
    
    


	
	

});

</script>