<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">

<link rel="stylesheet" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/PM/bootstrap-select.min.css" />
<link rel="stylesheet" href="/css/PM/datetimepicker/bootstrap-datetimepicker.min.css" >


<!-- JS -->
<script src="/css/PM/DataTables/Bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/css/PM/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<script src="/js/PM/PMfuns.js"></script>



<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>


<div class="divcontent">

	<h1>表单示例</h1>
	<hr>

	<div class="panel panel-info">
	
    <div class="panel-heading">
        <h3 class="panel-title">基本信息</h3>
    </div>
    
    <div class="panel-body">


   <form class="form-horizontal" > 
   
   
   <!-------------------------------------------------------------------------->
    <div class="form-group">
      <label class="col-sm-1 control-label">单号:</label>
      <div class="col-sm-5">
        <input class="form-control" id="focusedInput" type="text" value="该输入框获得焦点...">
      </div>
    </div>
    <!-------------------------------------------------------------------------->
    <div class="form-group">
    
    <label  class="col-sm-1 control-label" for="name">客户:</label>    
    <div class="col-sm-2">
    <select  id="cust_Selector" class="selectpicker" data-live-search="true" > 
    </select>
    </div>
    
    <label  class="col-sm-1 control-label" for="name">负责人:</label>    
    <div class="col-sm-2">
    <select  id="staff_Selector" class="selectpicker" data-live-search="true"> 
    </select>
    </div>

    </div>
    <!-------------------------------------------------------------------------->
    <div class="form-group">   
    <label  class="col-sm-1 control-label" for="name">机型:</label>    
    <div class="col-sm-5">
    <select  id="mach_Type_Selector" class="selectpicker" data-live-search="true"> 
    </select>
    </div>  
    </div>
    <!-------------------------------------------------------------------------->
    <div class="form-group">   
    <label  class="col-sm-1 control-label" for="name">来源:</label>    
    <div class="col-sm-5">
    <select  id="from_Selector" class="selectpicker" data-live-search="true"> 
    <option>邮件</option>
    <option>电话</option>
    <option>传真</option>
    <option>微信</option>
    <option>其他</option>
    </select>
    </div>  
    </div>
    <!-------------------------------------------------------------------------->
    <div class="form-group">
    <label for="dtp_input2" class="col-sm-1 control-label">下单日期:</label>
    
    <div class="col-sm-2">
    <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd" >
        <input class="form-control " size="16" type="text" value="" readonly>

		<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
	<input type="hidden" id="dtp_input2" value="" />
	
	</div>
	</div>
	
    
    <!-------------------------------------------------------------------------->

	<div class="form-group">
	
	<label class="col-sm-1 control-label">多选:</label>   
	
	<div class="col-sm-2">
	    <label class="checkbox-inline">
	        <input type="checkbox" id="inlineCheckbox1" value="option1"> 选项 1
	    </label>
	    <label class="checkbox-inline">
	        <input type="checkbox" id="inlineCheckbox2" value="option2"> 选项 2
	    </label>
	    <label class="checkbox-inline">
	        <input type="checkbox" id="inlineCheckbox3" value="option3"> 选项 3
	    </label>
	       
	</div>
    
    </div>
    
    <!-------------------------------------------------------------------------->

	<div class="form-group">
	
	<label class="col-sm-1 control-label">单选:</label>   
	<div class="col-sm-2">
      
	    <label class="radio-inline">
	        <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked> 选项 1
	    </label>
	    <label class="radio-inline">
	        <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option2"> 选项 2
	    </label>
	</div>
    
    </div>
    
    <!-------------------------------------------------------------------------->

    <div class="form-group">
    <label class="col-sm-1 control-label">修改主题:</label>
    <div class="col-sm-5">
      <input class="form-control" id="focusedInput" type="text" value="修改主题...">
    </div>
    </div>
    
    <!-------------------------------------------------------------------------->
    <div class="form-group">
    <label  class="col-sm-1 control-label" for="name">文本框</label>    
    <div class="col-sm-6">
    <textarea class="form-control" rows="6"></textarea>
    </div>
    </div>
    
    <!-------------------------------------------------------------------------->
    
    <div class="form-group">
    <label  class="col-sm-1 control-label" for="name">上传</label>  
    
    <div class="col-sm-6">
    <div id="div_previewImages"></div>
    <div id="progressNumber"></div>
    
    
    <input type="file" name="myHead" multiple="multiple" id="fileToUpload" style="display:none;" onchange="fileSelected()" >
    <a class="btn btn-info" onclick="$('#fileToUpload').click();">选择文件</a>
    
    
	<input type="button" class="btn " onclick="uploadFile()" value="确认上传" >
	<input type="button" class="btn " onclick="deleteFile()" value="delete" >
    
    
    </div>

    
   

	
	</div>
	
	<!-------------------------------------------------------------------------->
	 <div class="form-group">
	<label  class="col-sm-1 control-label" for="name">服务器获取</label>
	
	<div class="col-sm-6">

	<div id="div_images"></div>
	</div>
	
	
	</div>
    
    <!-------------------------------------------------------------------------->
    <div class="form-group">    
    <label  class="col-sm-1 control-label" for="name"></label>  
    <div class="col-sm-6">
    <button id="Add" class="btn btn-info">添加</button>
    </div>    
    </div>
    <!-------------------------------------------------------------------------->
    
    </form>
    

    </div>
   </div>
	

</div>

<script>
$(document).ready( function () {
	
	
	
	var cust_Select_Para={DBTable:"pm_customers",selectTitle:"cust_Name"};
	var cust_selectorID="#cust_Selector";
    getSelectDBData(cust_Select_Para,cust_selectorID);
	
    
	var staff_Select_Para={DBTable:"pm_staffs",selectTitle:"staff_Name"};
	var staff_selectorID="#staff_Selector";
    getSelectDBData(staff_Select_Para,staff_selectorID);
    
    
    var mach_Type_Select_Para={DBTable:"pm_machinetypes",selectTitle:"mach_Type_Name"};
	var mach_Type_selectorID="#mach_Type_Selector";
    getSelectDBData(mach_Type_Select_Para,mach_Type_selectorID);
    
    
    $('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
    
  //添加按钮-----
    $('#Add').click(function() {
alert($('#cust_Selector').val());
        
    });
    
    
    


	
	

});

</script>