<!--本地路径-->
<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">


<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">




<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.css">

<!-- JS  -->
<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>


<script src="/js/PM/FileSaver.min.js"></script>
<script src="/js/PM/tableExport.js"></script>
<script src="/js/PM/PMfuns.js"></script>




<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>



<div class="divcontent">
    <h1>订单搜索示例</h1>
    <hr>
    <!--<button id="Add"  onclick="javascript:$('#win').window('open')">添加</button>-->
    <!-- 操作区（按钮等） -->
    <div class="lineitem">
        <button id="Add" class="btn btn-info">添加</button>
        <button id="Upd" class="btn btn-warning">更新</button>
        <button id="Del" class="btn btn-danger">删除</button>
    </div>
    <br/>
    
    <div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <button  type="button" class="btn btn-default">过滤条件:</button>
        <button id="dftFilterBtn" type="button" class="btn btn-info">默认</button>
        <button id="allFilterBtn" type="button" class="btn btn-info">全部</button>
        <button id="divFilterBtn" type="button" class="btn btn-info">自定义</button>
     </div>
    </div>
    <br/>

    <!--数据呈现区-->
    <table id="orders_DB" class="table table-striped table-bordered"  >
        <thead>
            <tr>
                <th>数据库ID</th>
                <th>订单号</th>
                <th>客户ID</th>
                <th>客户简称</th>
                <th>主题</th>
                <th>申请日期</th>
                <th>完成期限</th>
                <th>当前状态</th>

            </tr>
        </thead>
    </table>
    
    

    

<!-- 点击自定义过滤弹出的窗口 -->
<div id="divFilter" class="easyui-window" title="自定义过滤器" closed="true" style="width:600px;height:560px;">
<form style="padding:10px 50px;">

<div class="form-group">   
订单号 :
    <select  id="from_Selector1" class="selectpicker" data-live-search="true"> 
           <option value="=">等于</option>
           <option value="!=">不等于</option>
           <option value=">">大于</option>
           <option value=">=">大于等于</option>
           <option value="<">小于</option> 
           <option value="<=">小于等于</option>
    </select>
    	<input id="Bill_ID" size="30" type="text" class="required">
</div>

<div class="form-group">   
客户ID :
    <select  id="from_Selector2" class="selectpicker" data-live-search="true"> 
           <option value="=">等于</option>
           <option value="!=">不等于</option>
           <option value=">">大于</option>
           <option value=">=">大于等于</option>
           <option value="<">小于</option> 
           <option value="<=">小于等于</option>
    </select>
    <input id="Customer_ID" size="30" type="text" class="required">
</div>

<div class="form-group">   
订单日期范围:<input id="BDate1" size="30" type="date" class="required">-
         <input id="EDate1" size="30" type="date" class="required">


</div>

    <div style="padding:5px;text-align:center;">
        <a id="FilterComfirmBtn"　href="#" class="easyui-linkbutton" icon="icon-ok">确认</a>
        <a id="FilterCancelBtn" href="#" class="easyui-linkbutton" icon="icon-cancel">取消</a>
    </div>
</form>
</div>


</div>


<script>

////定义显示客户信息数据参数结构-------------
//function factDataPara(tableID,DBTable,Bill_Topic) {
//    this.tableID = tableID;
//    this.DBTable = DBTable;
//    this.Bill_Topic = Bill_Topic;
//}
//检查输入信息-------------------
function checkinput(Data) {
    if (Data.Bill_ID=="") {
        alert('厂商码不能为空，请检查!');
        return false;
    } else if (Data.Customer_ID=="") {
        alert('厂商名称不能为空，请检查!');
        return false;
    }
    return true;
}

//定义添加发送数据结构---------------------

function addDataInfo(DBTable,Bill_ID,Customer_ID,Bill_Topic){
	this.DBTable=DBTable;
	this.Bill_ID=Bill_ID;
	this.Customer_ID=Customer_ID;
	this.Bill_Topic=Bill_Topic;
}


//页面加载函数---------------
$(document).ready( function () {
		
	
	
	
	
	
	
//判断是否选中数据-------
var table = $('#orders_DB').DataTable();
$('#orders_DB tbody').on('click', 'tr', function() {
    if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
    } else {
        table.$('tr.selected').removeClass('selected');
        $(this).addClass('selected');
    }
 
    var dataSelect = table.row('.selected').data();
    
    //--抓取主机对应数据-------------------------   
    var DSPDataPara={
			"tableID":"#orders_DSP",
			"DBTable":"PM_orders_DSP",
			"Filter":[{"Bill_ID":dataSelect.Bill_ID,"CType":"="}]
			
	}
		
	var DSPColumnsData=[
		{ data: 'DBID' ,"visible": false},
        { data: 'Bill_ID' },
        { data: 'Bill_DSP_EndTime'},
        { data: 'Bill_DSP_Describe'},
        { data: 'Bill_DSPTestMan'},
        { data: 'Bill_DSPTestTime'},
    ];
    
//  alert("DSPDataPara:"+JSON.stringify(DSPDataPara));
    showFilterDBData(DSPDataPara,DSPColumnsData);
    
    //--抓取面板对应数据-------------------------   
    var MMIDataPara={
			"tableID":"#orders_MMI",
			"DBTable":"PM_orders_MMI",
			"Filter":[{"Bill_ID":dataSelect.Bill_ID,"CType":"="}]
			
	}
		
	var MMIColumnsData=[
		{ data: 'DBID' ,"visible": false},
        { data: 'Bill_ID' },
        { data: 'Bill_MMI_EndTime'},
        { data: 'Bill_MMI_Describe'},
        { data: 'Bill_MMITestMan'},
        { data: 'Bill_MMITestTime'},
    ];
    
//  alert("DSPDataPara:"+JSON.stringify(DSPDataPara));
    showFilterDBData(MMIDataPara,MMIColumnsData);
  
    

    
    
});
	




//添加按钮-----
$('#Add').click(function() {
    $('#win').window('open');
    $('#AddDoButton').show();
    $('#UpdDoButton').hide();
    
});


//更新按钮---------
$('#Upd').click(function() {
 //   alert("seclet: "+JSON.stringify(table.row('.selected').data()));
    // table.row('.selected').remove().draw( false );
    var dataSelect = table.row('.selected').data();
    if (dataSelect == undefined) {
        alert("当前未选择任何数据,请先点击需要更新的数据行!");
    } else {
        $('#win').window('open');
        $('#AddDoButton').hide();
        $('#UpdDoButton').show();
        
        $('#Bill_ID').val(dataSelect.Bill_ID);
        $('#Customer_ID').val(dataSelect.Customer_ID);
        $('#Bill_Topic').val(dataSelect.Bill_Topic);
        
    }
});


//删除按钮----------
$('#Del').click(function() {
    var dataSelect = table.row('.selected').data();
    
//    alert(JSON.stringify(dataSelect));
    
    if (dataSelect == undefined) {
        alert("当前未选择任何数据,请先点击需要删除的数据行!");
    } else {
        var msg1 = confirm("风险操作！此行数据内容移除后无法还原，请确认操作是否无误！");
        if (msg1 === true) {
            var msg2 = confirm("确认删除此行数据？");
            if (msg2 === true) {
            	
            //	alert(dataSelect.DBID);
                var IDData = {"DBTable":"PM_orders","DBID":dataSelect.DBID};
             //   alert("IDData:"+JSON.stringify(IDData));
                delDBData(IDData);
            }
        }
    }
    //          table.row('.selected').remove().draw( false );//前端删除显示数据 ,数据库不删除
});



//过滤功能组 显示默认按钮-----
$('#dftFilterBtn').click(function() {
	
	var DataPara={
			"tableID":"#orders_DB",
			"Filter":[{"State_Flag":"4","CType":"<>"}]
		
	}
		
	
	var columnsData=[
		{ data: 'DBID' ,"visible": false},
        { data: 'Bill_ID' },
        { data: 'Customer_ID'},
        { data: 'cust_Name'},
        { data: 'Bill_Topic'},
        { data: 'Bill_Apply_Date'},
        { data: 'Bill_Limit_Date'},
        { data: 'State_Flag'},
    ];

//	alert(JSON.stringify(DataPara));
	showOrdersDBData(DataPara,columnsData);

    
});

$('#dftFilterBtn').click();//开始时默认点击一下,加载默认数据


//过滤功能组 显示全部按钮-----
$('#allFilterBtn').click(function() {
	
	var DataPara={
			"tableID":"#orders_DB"
		
	}
		
	
	var columnsData=[
		{ data: 'DBID' ,"visible": false},
        { data: 'Bill_ID' },
        { data: 'Customer_ID'},
        { data: 'cust_Name'},
        { data: 'Bill_Topic'},
        { data: 'Bill_Apply_Date'},
        { data: 'Bill_Limit_Date'},
        { data: 'State_Flag'},
    ];

//	alert(JSON.stringify(DataPara));
	showOrdersDBData(DataPara,columnsData);

    
});

//过滤功能组 自定义按钮-----
$('#divFilterBtn').click(function() {
	
	 $('#divFilter').window('open');
	

    
});

//过滤器确认按钮--------------------
$('#FilterComfirmBtn').click(function() {
	
//	 $('#divFilter').window('open');

	var DataPara={
			"tableID":"#orders_DB",
			"Filter":[
				{"Bill_ID":$("#Bill_ID").val(),"CType":$("#from_Selector1").val()},
				{"Bill_Apply_Date":[$("#BDate1").val(),$("#EDate1").val()]}
				
				]
	}
	
	var columnsData=[
		{ data: 'DBID' ,"visible": false},
        { data: 'Bill_ID' },
        { data: 'Customer_ID'},
        { data: 'cust_Name'},
        { data: 'Bill_Topic'},
        { data: 'Bill_Apply_Date'},
        { data: 'Bill_Limit_Date'},
        { data: 'State_Flag'},
    ];
	
	 alert("Filter:"+JSON.stringify(DataPara));
	 
	 showOrdersDBData(DataPara,columnsData);
	 
});






//form框添加按钮----------
$('#AddDoButton').click(function() {
	var DBTable="PM_orders";
	var Bill_ID=$("#Bill_ID").val();
	var Customer_ID=$("#Customer_ID").val();
	var Bill_Topic=$("#Bill_Topic").val();
	
	var DBData=new addDataInfo(DBTable,Bill_ID,Customer_ID,Bill_Topic);
	
	
	addDBData(DBData);


});




//form 更新按钮------------
$('#UpdDoButton').click(function() {
	
 //   var UID = table.row('.selected').data().UID;
	
//	var Bill_ID=$('#Bill_ID').val();
//    var Customer_ID=$('#Customer_ID').val();
//    var Bill_Topic=$('#Bill_Topic').val();
	
	var updInput={
			Bill_ID:$('#Bill_ID').val(),
			Customer_ID:$('#Customer_ID').val(),
			Bill_Topic:$('#Bill_Topic').val()			
	}

   
    var updJSON={
			'DBTable':"PM_orders",
			'DBID':table.row('.selected').data().DBID
    	};
	var changed=0;

    for (var key in updInput) {   	
//   	alert(key);
    	if(updInput[key]!=table.row('.selected').data()[key]){    		
//    		alert("updInput:"+updInput[key]);
//    		alert("selected:"+table.row('.selected').data()[key]);    		
    		updJSON[key]=updInput[key];//不可用updJSON.key 会以"key"属性直接加入
    		changed=changed+1;
    	}
    }

//   alert("updJSON:"+JSON.stringify(updJSON));
    
    if(changed!=0){
    	if (checkinput(updJSON)) {
    		 var msg = confirm("共调整"+changed+"处信息,请确认！");
    		 if(msg==true){
    			 updDBData(updJSON);
    		 }
    		 
    	}
    }else{
    	alert("未有任何信息修改!");
    }
    
});


//form框 取消按钮----------------
$('#CancelButton').click(function() {
    $('#win').window('close');
});

	
	
}); 

</script>
