<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.css">
<link href="/css/PM/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="/css/PM/bootstrap-select.min.css" />


<!-- JS  -->

<script src="/css/PM/DataTables/Bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/css/PM/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>
<script src="/js/PM/FileSaver.min.js"></script>
<script src="/js/PM/tableExport.js"></script>
<script src="/js/PM/PMfuns.js"></script>




<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>


<!------begin view-------------------------->
<div class="divcontent">
    <h1>工作流程-任务单</h1>
    <hr>

    <!-- 操作区（按钮等） -->
    <div class="lineitem">
        
     <!--   <button id="BTNInfo" class="btn btn-warning">详情</button> -->
        
        <!-- 按钮触发模态框 -->
        <button id="BTNTaskAccept" class="btn btn-primary" data-toggle="modal" >任务确认</button>
        <button id="BTNTaskRecord" class="btn btn-info" data-toggle="modal" >任务登记</button>
        <button id="BTNTaskUpdVer" class="btn btn-danger" data-toggle="modal" >更新版本</button>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="BillTask" tabindex="-1" role="dialog" aria-labelledby="BillTaskLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:70%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="BillTaskLabel">任务单详情</h4>
                    </div>
                    <div class="modal-body">
                    
                    <!---折叠------------------------>
                    
                    <div class="panel-group" id="accordion">
                	
                	<div class="panel panel-default">
                		<div class="panel-heading">
                			<h4 class="panel-title">
                				<a data-toggle="collapse" data-parent="#accordion" 
                				   href="#collapseTrack">
                					流程跟踪面板:点击可收起
                				</a>
                			</h4>
                		</div>
                		<div id="collapseTrack" class="panel-collapse collapse in">
                			<div class="panel-body">
                			
                			 <!--------------panel--------------------->
                             
                             <h3 class="panel-title">计划单信息</h3>
                             </br>

                             <table id="tableTrackPLD" class="table table-bordered">
                             <thead></thead>
                             
                             <tbody></tbody>
                             </table>
                             
                             <h3 class="panel-title">方案单信息</h3>
                             </br>
                             
                             <table id="tableTrackBPT" class="table table-bordered">
                             <thead></thead>
                             <tbody></tbody>
                             </table>
                             
                             <h3 class="panel-title">任务单信息</h3>
                             </br>
                             
                             <table id="tableTrackTask" class="table table-bordered">
                             <thead></thead>
                             <tbody></tbody>
                             </table>
                             

                             
                             <!--------------panel--------------------->
                			</div>
                		</div>
                	</div>
                	
                </div>
                    
                <!---折叠------------------------>
                    
                   
                    
                    <!--------------方案单面板----------------->

                    <div class="panel panel-info" >
                	
                    <div class="panel-heading">
                        <h3 class="panel-title">任务单</h3>
                    </div>
                    
                    <div class="panel-body">
                    <!--begin task panel-------------->
                    
                    <div id="DivTaskInfo" class="panel panel-info" >
                    <div class="panel-heading">
                        <h3 class="panel-title">任务信息</h3>
                    </div>
                    
                    
                    <div class="panel-body">
                    
                    
                    <div class="form-horizontal" > 
                    <span id="DBID" style="display:none"></span>
                    <span id="taskBPID" style="display:none"></span>
                    <!-------------------------------------------------------------------------->
                    
                    <div class="form-group">
                    
                    <label class="col-sm-1 control-label">任务单号:</label>
                    <div class="col-sm-2">
                  
                    <span id="BTID" class="help-block"></span>

                    </div>
                    
                    <label class="col-sm-2 control-label">任务单版本号:</label>
                    <div class="col-sm-1">
                    <span id="BTVersion" class="help-block"></span>
                    </div>
                    
                    <label class="col-sm-1 control-label">客户名称:</label>
                    <div class="col-sm-1">
                    <span id="taskCTRName" class="help-block"></span>
                    </div>
                    
                   
                    
                    </div>
                    
                    <!-------------------------------------------------------------------------->
                    
                    
                    <!-------------------------------------------------------------------------->
                    <div class="form-group">

                    <label class="col-sm-1 control-label">单据类别:</label>
                	 <div class="col-sm-8">
                	    <label class="radio-inline">
                	        <input type="radio" name="taskSortType" id="radio1" value="D" checked> DSP任务单
                	    </label>
                	    <label class="radio-inline">
                	        <input type="radio" name="taskSortType" id="radio2" value="H"> HMI任务单
                	    </label>
                	    <label class="radio-inline">
                	        <input type="radio" name="taskSortType" id="radio3" value="P"> PLC任务单
                	    </label>
                	    <label class="radio-inline">
               	        <input type="radio" name="taskSortType" id="radio4" value="C"> codesys任务单
               	    </label>

                	 </div>

                    </div>

                    <!-------------------------------------------------------------------------->

                    <!-------------------------------------------------------------------------->
                    <div class="form-group">

                    <label class="col-sm-1 control-label">类型:</label>
                	 <div class="col-sm-8">
                	    <label class="radio-inline">
                	        <input type="radio" name="taskType" id="radio1" value="A" checked> APP
                	    </label>
                	    <label class="radio-inline">
                	        <input type="radio" name="taskType" id="radio2" value="K"> Kernel
                	    </label>
                	    <label class="radio-inline">
                	        <input type="radio" name="taskType" id="radio3" value="L"> LIB
                	    </label>
                	    <label class="radio-inline">
               	        <input type="radio" name="taskType" id="radio4" value="O"> OS
               	    </label>

                	</div>

                    </div>

                    <!-------------------------------------------------------------------------->
                    <div class="form-group">

                    <label class="col-sm-1 control-label">修改属性:</label>
                	 <div class="col-sm-8">
                	    <label class="checkbox-inline">
                	        <input type="checkbox" name="modfiyABE"  value="ABE1"> 画面
                	    </label>
                	    <label class="checkbox-inline">
                	        <input type="checkbox" name="modfiyABE"  value="ABE2"> 结构
                	    </label>
                	    <label class="checkbox-inline">
                	        <input type="checkbox" name="modfiyABE"  value="ABE3"> 参数
                	    </label>

                	    <label class="checkbox-inline">
               	        <input type="checkbox" name="modfiyABE"  value="ABE4">通信
               	    </label>
               	        <label class="checkbox-inline">
               	        <input type="checkbox" name="modfiyABE"  value="ABE5">逻辑
               	    </label>
               	        
                	 </div>


                    </div>
                    
                     <div class="form-group">  
                     
                     <label  class="col-sm-1 control-label" for="name">负责人:</label>    
                     <div class="col-sm-2">
                   <!--  <span id="taskStaff"  class="help-block"></span>-->
                     <select  id="taskStaff" class="selectpicker" data-live-search="true"> 
                     </select>
                     </div>
                     
                     
                     

                     
                     <label for="limitDate" class="col-sm-2 control-label">任务完成期限:</label>
                     <div class="col-sm-3">
                     <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-link-field="limitDate" data-link-format="yyyy-mm-dd" >
                         <input id="taskLimitDate" class="form-control " size="16" type="text" value="" readonly>
                 		<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                     </div>
                     <input type="hidden" id="taskLimitDate" value="" />
                 	 </div>
                     
                     </div>
                    
                     <!-------------------------------------------------------------------------->
                     <div class="form-group"> 
                     <label class="col-sm-1 control-label">任务要求:</label>
                     <div class="col-sm-10">
                    <!-- <span id="taskDBE" class="help-block"></span>-->
                     
                     <textarea id="taskDBE" class="form-control" rows="2"></textarea>
                     </div>
                     
                     </div>
                     
                     <!-------------------------------------------------------------------------->
                     
                     <div class="form-group"> 
                     <label class="col-sm-1 control-label">确认意见:</label>
                     <div class="col-sm-10">

                     <textarea id="BTAcceptOpinion" class="form-control" rows="2"></textarea>
                     </div>
                     
                     </div>
                     
                     <!-------------------------------------------------------------------------->
                     <div class="form-group"> 

                     <label class="col-sm-1 control-label">FQC申请:</label>   
                 	 <div class="col-sm-3">
                 	    <label class="radio-inline">
                 	        <input type="radio" name="FQCRequest" id="radio1" value="1"> <span>有</span>
                 	    </label>
                 	    <label class="radio-inline">
                 	        <input type="radio" name="FQCRequest" id="radio2" value="2" checked> <span>无</span>
                 	    </label>
                 	    
                 	 </div>
                 	 
                 	 
                 	<label class="col-sm-1 control-label">返工任务:</label>
                 	<div class="col-sm-2">
                 	 <span id="taskRepeat"  style="display:none"></span>
                 	 <span id="taskRepeatText"  class="help-block"></span>
                 	</div>
                 	 
                 	 
                 	<label class="col-sm-1 control-label">IPQC填单:</label>
               	 
               	    <div class="col-sm-3 ">
                    <select  id="IPQCMaker" class="selectpicker" data-live-search="true"> 
                    </select>
                    </div>

                     </div>
                     
                     
                   
                     <!-------------------------------------------------------------------------->
                     
                     <div class="form-group" id="DivTaskAcceptBTNS"> 
                     <label class="col-sm-1 control-label">确认:</label>
                     <div class="col-sm-10">
                     <button id="BTNTaskAcceptYes" class="btn btn-success" data-toggle="modal" >确认任务</button>
                     <button id="BTNTaskAcceptNo" class="btn btn-warning" data-toggle="modal" >驳回任务</button>
                     </div>
                     
                     </div>
                     
                     <!-------------------------------------------------------------------------->

                    </div>
                    
                    
                    </div>
                    </div>
                    
                    
                    <!-------------------------------------------------------------------------->
                    <div class="panel panel-warning" id="DivRecordPanel">
                    <div class="panel-heading">
                        <h3 class="panel-title">任务记录</h3>
                    </div>
                    <div class="panel-body">
                    
                    <div class="form-horizontal" > 
                    
                    
                    <button id="BTNTaskRecordAdd" class="btn btn-success" data-toggle="modal" >添加记录</button>
                    <button id="BTNTaskRecordAudit" class="btn btn-warning" data-toggle="modal" >审核记录</button>
                    <button id="BTNTaskRecordClear" class="btn btn-danger" data-toggle="modal" >清除记录</button>
                    
                    <hr>
                    
                    <table id="tableRecords" class="table table-bordered" style="width:100%;" >
                    <thead>
                        <tr>
                            <th>记录号</th>
                            <th>修改内容</th>
                            <th>功能说明</th>
                            <th>记录人</th>
                            <th>记录日期</th>
                            <th>审核人</th>
                            <th>审核日期</th>
                        </tr>
                    </thead>
                    </table>
                    
                    <hr>
                    
                    <div id="DIVRecordContent">
                    
                    
                    <span id="recordDBID" style="display:none"></span>
                    
                    <!-------------------------------------------------------------------------->
                    <div class="form-group"> 
                    <label class="col-sm-1 control-label">修改内容说明:</label>
                    <div class="col-sm-10">
                    <textarea id="modifyContent" class="form-control" rows="2"></textarea>
                    </div>
                    
                    </div>
                    <!-------------------------------------------------------------------------->
                    <div class="form-group"> 
                    <label class="col-sm-1 control-label">程序功能说明:</label>
                    <div class="col-sm-10">
                    <textarea id="functionsDBE" class="form-control" rows="2"></textarea>
                    </div>
                    
                    </div>
                    
                    <!-------------------------------------------------------------------------->
                    
                    <div class="form-group" id="DivUploadBTNS">
                    <label  class="col-sm-1 control-label" for="name">上传</label>  
                    
                    <div class="col-sm-8">
                    <input type="file" name="myHead" multiple="multiple" id="fileToUpload" style="display:none;" onchange="fileSelected()" >
                    <a class="btn btn-info" onclick="$('#fileToUpload').click()">选择文件</a>
                	<input  type="button" class="btn btn-success" onclick="uploadFile()" value="确认上传" >
                	<input type="button" class="btn btn-warning" onclick="deleteFile()" value="清空附件" >

                    </div>

                	</div>
                	
                	<!-------------------------------------------------------------------------->
                	 <div class="form-group">
                	<label  class="col-sm-1 control-label" for="name">程序附件:</label>
                	
                	<div class="col-sm-8">
                	<div id="div_previewImages"></div>
                    <div id="progressNumber"></div> 
                    <div id="divFilesUploaded"></div>
                	</div>

                	</div>

                    <!-------------------------------------------------------------------------->
                    
                    
                    <div class="form-group"> 
                    <label class="col-sm-1 control-label">备注:</label>
                    <div class="col-sm-10">
                    <textarea id="recordRemark" class="form-control" rows="2"></textarea>
                    </div>
                    
                    </div>
                    
                    
                	 
                	 
                	 <!-------------------------------------------------------------------------->
                	 <div class="form-group">  
                	 
                	  <label for="recordMaker" class="col-sm-1 control-label">记录人:</label>                     
                      <div class="col-sm-5">
                      <span id="recordMaker" class="help-block"></span>  	
                  	 </div>
                	 
                	 

                     <label for="recordMakeDate" class="col-sm-1 control-label">记录日期:</label>                     
                     <div class="col-sm-5">
                     <span id="recordMakeDate" class="help-block"></span>  	
                 	 </div>
                 	</div>
                	
                    <!-------------------------------------------------------------------------->
                    <div class="form-group" id="DivRecordAuditInfo">  
                    
                    <label  class="col-sm-1 control-label" for="name">审核人:</label>    
                    <div class="col-sm-5">
                    
                    <span id="recordAuditor"  class="help-block"></span>
                    </div>
                    
                    
                    <label for="recordAuditDate" class="col-sm-1 control-label">审核日期:</label>                     
                    <div class="col-sm-5">
                    <span id="recordAuditDate" class="help-block"></span>  	
                	 </div>
                	 

                    </div>
                    
                    
                	 <!-------------------------------------------------------------------------->
                    
                    <div class="form-group" id="DivTaskRecordBTNS"> 
                    <label class="col-sm-1 control-label">登记:</label>
                    <div class="col-sm-10">
                    <button id="BTNTaskRecordSave" class="btn btn-success" data-toggle="modal" >保存记录</button>
                   
                   
                    
                    </div>
                    
                    </div>
                    <!-------------------------------------------------------------------------->
                    
                    <div class="form-group" id="DivTaskUpdVerBTN"> 
                    <label class="col-sm-1 control-label"></label>
                    <div class="col-sm-10">
                    
                    </div>
                    
                    </div>
                    
                    
                    
                    <!-------------------------------------------------------------------------->
                    
                    </div>


                        
                        
                        
                    </div>      
                        
                    
                    </div>
                    </div>
                    

                    

                    
                   
                    

                   
                     
                     
                    <!----end task panel---------------------->

                    </div>
                    
                    <div class="panel-footer">
                    
                   
                    
               

                    
                    </div>
                   
                    
                   </div>
                   
                  
                   
                   
                   
                   <!--------------方案单面板----------------->

                   
                   
                   <!---------清除浮动---------------------------------->
                   <div style='clear:both'></div>

                    
                    
                    </div>
                    <div class="modal-footer">
                      
                        
                       
                     
                        <button id="BTNFormClose" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        
        

    </div>
    
    
    
    
    <br/>

    <!--数据呈现区-->
    <table id="billsTaskTable" class="table table-striped table-bordered"  >
        <thead>
            <tr>
                <th>时间戳</th>
                <th>数据库ID</th>
                <th>任务单号</th>
                <th>版本号</th>
                <th>客户名称</th>
                <th>任务类别</th>
                <th>任务类型</th>
                <th>任务负责人</th>
                <th>完成期限</th>
                <th>确认结果</th>
                <th>任务记录数</th>
                <th>IPQC结果</th>
                <th>任务状态</th>

            </tr>
        </thead>
    </table>

    
</div>

<!--------end view-------------------->
<script>


////函数:计划单号生成规则
//
//function Fun_billIDCreate(para){
//	var BillID=new Date(Ndate).Format("yyyyMMdd")+para+Math.floor(Math.random()*1000);
//	return BillID;
//}

//函数:加载 系统内最新单据数据

function Fun_getTaskTrackData(dataSelect){
	
	var SQLParamPLD={
			"tableName":"ppm_bills_plan",
			"titles":[
				"BPID",
				"version",
				"CTRName",
				"topic",
				"PGEMaker",
				"MHEName",
				"model",
				"limitDate",
				"files"

				],
			"BID":"BPID",
			"VER":"version",
			"filter":"BPID='"+dataSelect.taskBPID+"'"
			};
	
	
	Fun_fillTrackTable("#tableTrackPLD",SQLParamPLD);
	
	var SQLParamBPT={
			"tableName":"ppm_bills_blueprint",
			"titles":[
				"BPTID",
				"BPTVersion",
				"CTRName",
				"BPTDescribe",
				"PGEMaker",
				"auditor",
				"auditDate",
				"model",
				"limitDate",
				"files"
				],
				"BID":"BPTID",
				"VER":"BPTVersion",
			"filter":"BPTID='"+dataSelect.taskBPID+"'"
			};
	
	
	Fun_fillTrackTable("#tableTrackBPT",SQLParamBPT);
	
	
	var SQLParamTask={
			"tableName":"ppm_bills_task",
			"titles":[
				"BTID",
				"BTVersion",
//				"taskSortTypeText",
				"taskTypeText",
				"taskStaff",
				"taskDBE",
				"taskLimitDate",
				"IPQCAuditResultText",
				"taskFiles"
				],
				"BID":"BTID",
				"VER":"BTVersion",
			"filter":"taskBPID='"+dataSelect.taskBPID+"'"
			};
	
	
	Fun_fillTrackTable("#tableTrackTask",SQLParamTask);
	
	
	
}


//函数-添加任务单,并刷新任务单列表
function Fun_saveTaskRecord(DBData) {

    $.ajax({
        method: 'post',
        url: '/app/PM/saveDBData',
        data: DBData,
        success: function(data) {
//            alert("成功数据:" + JSON.stringify(data));
           if (data.affectedRows != 0) {
               alert("保存任务记录成功!");
               Fun_showRecordsLiteTable(recordsTableSQL,tasksTableInfo);
          	   $('#BTNTaskRecordAdd').click();

           }
       },
       error:function(err){
       	alert("失败数据:"+JSON.stringify(err));
       }
    });
}





//函数-添加任务单,并刷新任务单列表
function Fun_delTaskRecord(IDData) {
    $.ajax({
        method: 'post',
        url: '/app/PM/delDBData',
        data: IDData,
        success: function(data, textStatus) {
            //  alert("成功数据:"+JSON.stringify(data));
            if (data.affectedRows != 0) {
                alert("删除任务单成功!");
                Fun_showRecordsLiteTable(recordsTableSQL,tasksTableInfo);
                $('#BTNTaskRecordAdd').click();

            } else {
                alert("删除任务单失败!");
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {}
    });
}

//函数:确认按钮详情页自动填写内容------------------------
function Fun_taskAcceptInit(dataSelect){
	
	$('#BillTask').modal('show')
	
	Fun_getTaskTrackData(dataSelect);

	$('#DBID').text(dataSelect.DBID); 
	$('#taskBPID').text(dataSelect.taskBPID);
	
	$('#taskRepeat').text(dataSelect.taskRepeat); 
	$('#taskRepeatText').text(dataSelect.taskRepeatText); 
	
	$("input:radio[name=taskSortType][value="+dataSelect.taskSortType+"]").prop("checked",true);
    $('input:radio[name="taskSortType"]').attr("disabled",true);

     $("input:radio[name=taskType][value="+dataSelect.taskType+"]").prop("checked",true);
     $('input:radio[name="taskType"]').attr("disabled",true);
	
	$('input:checkbox[name="modfiyABE"]').prop("checked",false);
    setCheckBoxValue("modfiyABE",dataSelect.modfiyABE);
//    $('input:checkbox[name="modfiyABE"]').attr("disabled",true);
	
	$('#BTID').text(dataSelect.BTID); 
	$('#BTVersion').text(dataSelect.BTVersion); 
	$('#taskCTRName').text(dataSelect.taskCTRName);
	
	
	var SQLTaskStaff={SQL:"SQLSRStaffs"};
	var taskStaff="#taskStaff";
	Fun_getSQLSelectDBData(SQLTaskStaff,taskStaff,dataSelect.taskStaff);
	
//	$('#taskStaff').text(dataSelect.taskStaff);
	$('#taskLimitDate').val(dataSelect.taskLimitDate);
	
	
	
	
	$('#taskDBE').val(dataSelect.taskDBE);
	
	$('#BTAcceptOpinion').val(dataSelect.BTAcceptOpinion);
	
	$("input:radio[name=FQCRequest][value="+dataSelect.FQCRequest+"]").prop("checked",true); 


	
	var SQLIPQCMaker={SQL:"SQLSRStaffs"};
	var IPQCMaker="#IPQCMaker";
	
	if(dataSelect.IPQCMaker==null){
		Fun_getSQLSelectDBData(SQLIPQCMaker,IPQCMaker,sessionName);
	}else{
		Fun_getSQLSelectDBData(SQLIPQCMaker,IPQCMaker,dataSelect.IPQCMaker);
	}
	
	
	if(dataSelect.BTAcceptResult==0||dataSelect.BTAcceptResult==null){
		$('#DivTaskAcceptBTNS').show();
		
		$('.form_date').datetimepicker({
		      language:  'zh-CN',
		      weekStart: 1,
		      todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				minView: 2,
				forceParse: 0,
				startDate:Ndate,//设置最小日期
				endDate:dataSelect.limitDate//设置最大日期
		  });
		
	}else{
		
		alert("该任务已确认或驳回,无法再次确认!");
		
		$('input').attr("disabled",true);
		$('select').attr("disabled",true);
		$('textarea').attr("disabled",true);
		
		$('#DivTaskAcceptBTNS').hide();
	}
	
	$('#DivRecordPanel').hide();
	
	
	
	




}


//函数:记录按钮详情页自动填写内容------------------------
function Fun_taskRecordInit(dataSelect){
	
	
	
	if(dataSelect.BTAcceptResult!=1){
		alert("该任务未确认,无法登记处理记录,请先确认!");
	}else{
		
		
		$('#DivTaskInfo input').attr("disabled",true);
		$('#DivTaskInfo select').attr("disabled",true);
		$('#DivTaskInfo textarea').attr("disabled",true);
		
		$('#BillTask').modal('show');
		
		Fun_getTaskTrackData(dataSelect);

		$('#DBID').text(dataSelect.DBID); 
		$('#taskBPID').text(dataSelect.taskBPID); 
		
		$('#taskRepeat').text(dataSelect.taskRepeat); 
		$('#taskRepeatText').text(dataSelect.taskRepeatText);
		
		 $("input:radio[name=taskSortType][value="+dataSelect.taskSortType+"]").prop("checked",true);
//	     $('input:radio[name="taskSortType"]').attr("disabled",true);
	     

	     $("input:radio[name=taskType][value="+dataSelect.taskType+"]").prop("checked",true);
//	     $('input:radio[name="taskType"]').attr("disabled",true);
		
		$('input:checkbox[name="modfiyABE"]').prop("checked",false);
	    setCheckBoxValue("modfiyABE",dataSelect.modfiyABE);
//	    $('input:checkbox[name="modfiyABE"]').attr("disabled",true);
		
		
		$('#BTID').text(dataSelect.BTID); 
		$('#BTVersion').text(dataSelect.BTVersion); 
		$('#taskCTRName').text(dataSelect.taskCTRName);
		
		var SQLTaskStaff={SQL:"SQLSRStaffs"};
		var taskStaff="#taskStaff";
		Fun_getSQLSelectDBData(SQLTaskStaff,taskStaff,dataSelect.taskStaff);

//		$('#taskStaff').text(dataSelect.taskStaff);
		$('#taskLimitDate').val(dataSelect.taskLimitDate);
		
		
		$('#taskDBE').val(dataSelect.taskDBE);
		
		$('#BTStatusText').text(dataSelect.BTStatusText);

		$('#BTAcceptOpinion').hide();
		
		
		$("input:radio[name=FQCRequest][value="+dataSelect.FQCRequest+"]").prop("checked",true); 
	    $('input:radio[name="FQCRequest"]').attr("disabled",true);


		
		var SQLIPQCMaker={SQL:"SQLSRStaffs"};
		var IPQCMaker="#IPQCMaker";

		Fun_getSQLSelectDBData(SQLIPQCMaker,IPQCMaker,dataSelect.IPQCMaker);
		
		 $('#IPQCMaker').attr("disabled",true);

		$('#DivTaskAcceptBTNS').hide();
		
		
		recordsTableSQL={"SQL":"SQLTaskRecords","filter":"BTID = '"+dataSelect.BTID+"' AND BTVersion='"+dataSelect.BTVersion+"' AND disable IS NULL ","orderBy":" saveTimeStamp DESC"};

		tasksTableInfo={
					"tableID":"#tableRecords",
					"columnsData":[
						{ data: 'DBID' ,"visible": false},
				        { data: 'modifyContent' },
				        { data: 'functionsDBE'},
				        { data: 'recordMaker'},
				        { data: 'recordMakeDate'},
				        { data: 'recordAuditor'},
				        { data: 'recordAuditDate'}
					]
		     }
		
		
		Fun_showRecordsLiteTable(recordsTableSQL,tasksTableInfo);
		

		
		$('#DIVRecordContent').hide();
		
	
//		 $('#divFilesUploaded').html("");
//		  
//	      if(dataSelect.taskFiles!=null){
//			  
//			  var taskFiles=JSON.parse(dataSelect.taskFiles);
//			  if(taskFiles!=null){
//			  var downloadurl="<a id='filePath' href="+'/system.files.download/upload_'+taskFiles.fileKey+" download="+taskFiles.fileName+">"+"<span id='fileName'>"+taskFiles.fileName+"</span></a>";
//			  }else{
//				  downloadurl="";
//			  }
//			  $('#divFilesUploaded').html(downloadurl);
//		  }
		  
		  

		
		
		
	}
	
	
	
	  
	
}

//函数 -加载任务记录表格

function Fun_showRecordsLiteTable(SQL,tableInfo){

	//alert(JSON.stringify(DataPara));

		$(tableInfo.tableID).DataTable().destroy();//销毁原数据表格,防止加载错误

		$(tableInfo.tableID).DataTable({
		    ajax: {
		        url: '/app/PM/getSQLDBData',
		        data:SQL,
		        dataSrc: ''
		    },
		    columns: tableInfo.columnsData,
		    aaSorting: [0, 'desc'],//默认排序
		    paging: false, // 禁止分页
		    bFilter: false,    //去掉搜索框方法三：这种方法可以
//	        bLengthChange: false,   //去掉每页显示多少条数据方法
		    "language": languageCN
		});

//		//判断是否选中数据-------
//
		 $(tableInfo.tableID+' tbody').unbind();//解除事件绑定,防止重复定义.

		var tableRecords = $(tableInfo.tableID).DataTable();
		 
		 console.log("tableRecords:"+JSON.stringify(tableRecords));


		 $(tableInfo.tableID+' tbody').on('click', 'tr', function() {

		     if ($(this).hasClass('selected')) {
		         $(this).removeClass('selected');
		         
		         $('#DIVRecordContent').hide();

		     } else {
		    	 tableRecords.$('tr.selected').removeClass('selected');
		         $(this).addClass('selected');
		         
		         $('#DIVRecordContent').show();


		          var dataSelectRecord = tableRecords.row('.selected').data();

			     console.log("dataSelectRecord11111:"+JSON.stringify(dataSelectRecord));
			     
			     $('#DIVRecordContent').show();
			     
			     
			     $('#recordDBID').text(dataSelectRecord.DBID);
			     
			     $('#modifyContent').val(dataSelectRecord.modifyContent);
			     $('#functionsDBE').val(dataSelectRecord.functionsDBE);
			     $('#recordRemark').val(dataSelectRecord.recordRemark);

                 
                 $('#div_previewImages').html("");
                 $('#progressNumber').html("");
			     $('#divFilesUploaded').html("");
				  
//				 if(dataSelectRecord.taskFiles!=null){
//					  
//					  var taskFiles=JSON.parse(dataSelectRecord.taskFiles);
//					  if(taskFiles!=null){
//					  var downloadurl="<a id='filePath' href="+'/system.files.download/upload_'+taskFiles.fileKey+" download="+taskFiles.fileName+">"+"<span id='fileName'>"+taskFiles.fileName+"</span></a>";
//					  }else{
//						  downloadurl="";
//					  }
//					  $('#divFilesUploaded').html(downloadurl);
//				  }

				 if(dataSelectRecord.taskFiles!=null){
					  
					 var taskFiles=JSON.parse(dataSelectRecord.taskFiles);
					  if(taskFiles!=null){
						  
						  var fileLink="";
							 if(taskFiles.length>0){
								 for(var i=0;i<taskFiles.length;i++){

									 
									fileLink=fileLink+"<a  href="+'/system.files.download/upload_'+taskFiles[i].fileKey+" download="+taskFiles[i].fileName+">"+"<span>"+taskFiles[i].fileName+"</span></a>"+" ; ";
								 } 
							 }
							 fileLink=fileLink.substr(0, fileLink.length-3); 
							 
							 
					  var downloadurl=fileLink;
					  }else{
						  downloadurl="";
					  }
					  $('#divFilesUploaded').html(downloadurl);
				  }
			     
			     
			     $('#recordMaker').text(dataSelectRecord.recordMaker);
			     $('#recordMakeDate').text(dataSelectRecord.recordMakeDate);
			     $('#recordAuditor').text(dataSelectRecord.recordAuditor);
			     $('#recordAuditDate').text(dataSelectRecord.recordAuditDate);
			     

//			     //控制其他组件防止误操作.bear
//			     
//			     $("input:radio[name=taskSortType][value="+dataSelectTask.taskSortType+"]").prop("checked",true);
//			     $('input:radio[name="taskSortType"]').attr("disabled",true);
//			     
//
//			     $("input:radio[name=taskType][value="+dataSelectTask.taskType+"]").prop("checked",true);
//			     $('input:radio[name="taskType"]').attr("disabled",true);
//
//
//			 	 $('input:checkbox[name="modfiyABE"]').prop("checked",false);
//
//			     setCheckBoxValue("modfiyABE",dataSelectTask.modfiyABE);
//
//
//			     $("#BTID").val(dataSelectTask.BTID);
//			     $("#BTID").attr("disabled","true");
//
//			    var SQLTaskStaff={SQL:"SQLSRStaffs"};
//				var taskStaff="#taskStaff";
//				Fun_getSQLSelectDBData(SQLTaskStaff,taskStaff,dataSelectTask.taskStaff);
//				
//				 $('#taskLimitDate').val(dataSelectTask.taskLimitDate);
//
//				 $("#BTVersion").text(dataSelectTask.BTVersion);
//
//				 $("#BTAcceptResultText").text(dataSelectTask.BTAcceptResultText);
//
//				 $("#taskDBE").val(dataSelectTask.taskDBE);
		     }
		 });
		 
		 
}



//页面加载函数---------------
$(document).ready( function () {
	
	
	
	
    sessionName="<%-locals.session.yjUser.Name%>";
	
	console.log("sessionName:"+sessionName);
	
    var undone=getQueryString("undone");
	
	if(undone=="true"){
		
		var tableSQL={"SQL":"SQLTableBillsTaskRecord","filter":" (taskStaff = '"+sessionName+"' OR BTAcceptor = '"+sessionName+"' OR IPQCMaker = '"+sessionName+"'  OR IPQCAuditor = '"+sessionName+"') AND BTStatus <>3","orderBy":" saveTimeStamp DESC"};
	}else{
		var tableSQL={"SQL":"SQLTableBillsTaskRecord","orderBy":" saveTimeStamp DESC"};
	}
	
	

	
	
	const tableInfo={
			"tableID":"#billsTaskTable",
			"columnsData":[
				{ data: 'saveTimeStamp' ,"visible": false},
				{ data: 'DBID' ,"visible": false},
		        { data: 'BTID' },
		        { data: 'BTVersion'},
		        { data: 'taskCTRName'},
		        { data: 'taskSortTypeText'},
		        { data: 'taskTypeText'},
		        { data: 'taskStaff'},
		        { data: 'taskLimitDate'},
		        { data: 'BTAcceptResultText'},
		        { data: 'recordNum'},
		        { data: 'IPQCAuditResultText'},
		        { data: 'BTStatusText'}
			]
	}
	
	
	Fun_showSQLTable(tableSQL,tableInfo)

	
//判断是否选中数据-------
var table = $('#billsTaskTable').DataTable();
$('#billsTaskTable tbody').on('click', 'tr', function() {
    if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
    } else {
        table.$('tr.selected').removeClass('selected');
        $(this).addClass('selected');
    }
 
    var dataSelect = table.row('.selected').data();

});

//dbclick 测试判断是否选中数据-------

$('#billsTaskTable tbody').on('dblclick', 'tr', function() {
	$('#BTNTaskRecord').click();

});
	

//按钮-审核任务单---------
$('#BTNTaskAccept').click(function() {
	
	  var dataSelect = table.row('.selected').data();
	    if (dataSelect == undefined) {
	        alert("操作提示:单击选中数据行后,再双击可快速打开表单!");
	    } else {
	    	console.log("dataSelect:"+JSON.stringify(dataSelect));
	    	
	    
	    	Fun_taskAcceptInit(dataSelect);
	    	

	    	
	    }
	
 
});

//按钮-任务审核通过按钮
$('#BTNTaskAcceptYes').click(function() {
	
	if(sessionName==$('#taskStaff option:selected').text()){
		var msg = confirm("确认后即将开始任务单流程!");
		if(msg==true){	
			
			
			var FQCRequest=$('input:radio[name="FQCRequest"]:checked').val();
			
			if(FQCRequest==1){
				
				
				
				
				var acceptData={
						"DBTable":"ppm_bills_task",
						"DBID":$('#DBID').text(),
						"taskStaff":$('#taskStaff option:selected').text(),
						"taskDBE":$('#taskDBE').val(),
						"taskLimitDate":$('#taskLimitDate').val(),
						"BTAcceptOpinion":$('#BTAcceptOpinion').val(),
						"BTAcceptor":sessionName,
						"BTAcceptDate":Ndate,
						"FQCRequest":$('input:radio[name="FQCRequest"]:checked').val(),
						"FQCRequestText":$('input:radio[name="FQCRequest"]:checked').next("span").text(),
						"IPQCMaker":$('#IPQCMaker option:selected').text(),
						"BTAcceptResult":1,
						"BTAcceptResultText":"已确认",
						"BTStatus":2,
						"BTStatusText":"进行中"
				}
				
				
				var PLDUpdData={
						"DBTable":"ppm_bills_plan",
						"BillIDName":"BPID",
						"BillID":$('#taskBPID').text(),
						"FQCRequest":1,
						"FQCRequestText":"有"
				}
				

				 
				var ajax1=$.ajax({
			        method: 'post',
			        url: '/app/PM/updDBData',
			        data: acceptData,
			        success: function(data, textStatus) {
			        },
			        error: function(XMLHttpRequest, textStatus, errorThrown) {}
			        });
				
				 var ajax2=$.ajax({
				        method: 'post',
				        url: '/app/PM/updBillStatus',
				        data: PLDUpdData,
				        success: function(data, textStatus) {
				        },
				        error: function(XMLHttpRequest, textStatus, errorThrown) {}
				        });
			

				$.when(ajax1,ajax2).done(function(){
						alert("任务单确认状态已更新,计划单FQC申请更新!");
					window.location.reload();
					
				});
				
				//updDBData(acceptData,"任务单确认状态");
				

				
			}else{
				var acceptData={
						"DBTable":"ppm_bills_task",
						"DBID":$('#DBID').text(),
						"BTAcceptOpinion":$('#BTAcceptOpinion').val(),
						"BTAcceptor":sessionName,
						"BTAcceptDate":Ndate,
						"FQCRequest":$('input:radio[name="FQCRequest"]:checked').val(),
						"FQCRequestText":$('input:radio[name="FQCRequest"]:checked').next("span").text(),
						"taskStaff":$('#taskStaff option:selected').text(),
						"IPQCMaker":$('#IPQCMaker option:selected').text(),
						"BTAcceptResult":1,
						"BTAcceptResultText":"已确认",
						"BTStatus":2,
						"BTStatusText":"进行中"
				}
				updDBData(acceptData,"任务单确认状态");
			}

			
			
			
			
			
			
		}
	}else{
		alert("非该方案单的负责人,不允许审核!");
	}


});


//按钮-任务审核驳回按钮
$('#BTNTaskAcceptNo').click(function() {
	
	if(sessionName==$('#taskStaff option:selected').text()){
		var msg = confirm("驳回后该任务终止,是否立即审核驳回?");
		if(msg==true){	

			var acceptData={
					"DBTable":"ppm_bills_task",
					"DBID":$('#DBID').text(),
					"BTAcceptOpinion":$('#BTAcceptOpinion').val(),
					"BTAcceptor":sessionName,
					"BTAcceptDate":Ndate,
					"BTAcceptResult":2,
					"BTAcceptResultText":"已驳回",
					"BTStatus":4,
					"BTStatusText":"任务终止"
			}

			updDBData(acceptData,"任务单驳回状态");
		}
	}else{
		alert("非该方案单的负责人,不允许审核!");
	}
});

//按钮-记录任务单---------
$('#BTNTaskRecord').click(function() {
	
	  var dataSelect = table.row('.selected').data();
	    if (dataSelect == undefined) {
	        alert("操作提示:单击选中数据行后,再双击可快速打开表单!");
	    } else {
	    	console.log("dataSelect:"+JSON.stringify(dataSelect));
	    	
	    	if(dataSelect.taskType=="A"){
	    		Fun_taskRecordInit(dataSelect);
	    	}else{
	    		alert("该任务非普通任务,请走内核任务流程!");
	    	}
	    }
});

//按钮-任务记录保存按钮
$('#BTNTaskRecordSave').click(function() {

		if(sessionName==$('#taskStaff option:selected').text()){
			
			
//			 if($('#filePath').attr('href')!=undefined){
//					var fileKey=$('#filePath').attr('href').substring(30);//去掉多余的字符串前缀
//					var fileName=$('#fileName').html();
//					}else{
//					var fileKey="";
//					var fileName="";
//
//				}
//			
//			 var taskFiles=[{"fileName":fileName,"fileKey":fileKey}];
			 
			 
			 var taskFiles=[];
				
				$('#divFilesUploaded a').each(function(){
					var fileKey=$(this).attr('href').substring(30);
					var fileName=$(this).attr('download');
					
					var fileInfo={
							"fileName":fileName,
							"fileKey":fileKey
					}
					
					taskFiles.push(fileInfo);
				});
			 
			 if(taskFiles.length==0){
				 alert("程序附件必须上传!");
			 }else{
				 
				 var recordData={
							"DBTable":"ppm_bills_taskrecord",
							"DBID":$('#recordDBID').text(),
							"BTID":$('#BTID').text(),
							"BTVersion":$('#BTVersion').text(),
							"BPID":$('#taskBPID').text(),
							"modifyContent":$('#modifyContent').val(),
							"functionsDBE":$('#functionsDBE').val(),
							"recordRemark":$('#recordRemark').val(),
							"taskFiles":JSON.stringify(taskFiles),
							"recordMaker":sessionName,
							"recordMakeDate":Ndate
					}
					
					console.log("recordData:"+JSON.stringify(recordData));

				 Fun_saveTaskRecord(recordData);
				 
			 }
		}else{
			alert("非该方案单的负责人,不允许填单!");
		}

});







////详情按钮---------
//$('#BTNInfo').click(function() {
//    console.log("seclet: "+JSON.stringify(table.row('.selected').data()));
//    // table.row('.selected').remove().draw( false );
//    var dataSelect = table.row('.selected').data();
//    if (dataSelect == undefined) {
//        alert("请先点击表格中的表单!");
//    } else {
//    	
//    	
//    	$('#BillTask').modal('show')
//    	Fun_winDetailInit(dataSelect);
//    	
//
//    }
//});

//
//
//按钮-更新版本---------
$('#BTNTaskUpdVer').click(function() {
	
	
  console.log("seclet: "+JSON.stringify(table.row('.selected').data()));
  // table.row('.selected').remove().draw( false );
  var dataSelect = table.row('.selected').data();
  if (dataSelect == undefined) {
      alert("请先选中需要更新版本的任务单!");
  } else {
	  
	 console.log(dataSelect.T_BPID);
	 
	 if(dataSelect.T_BPID!=null){
		 
		 alert("该任务单内核流程已启动,不允许版本更新,变更信息请更新内核流程相关单据进行调整!");
		 
	 }else{
		 
			var msg1 = confirm("风险操作！更新任务版本后,系统内任务单将被新版本替代!");
	    if (msg1 === true) {
	        var msg2 = confirm("再次确认？");
	        if (msg2 === true) {
	        	
	        	var newBTVersion=parseInt(dataSelect.BTVersion)+1;
	        	
	        	var IPQCResultText=$('#IPQCResultText').text();
	        	
	        	if(dataSelect.BTStatusText=="任务完成"){
	        		var taskRepeat=1;
	        	}else{
	        		var taskRepeat=0;
	        	}
	
	        	var taskData={
						"DBTable":"ppm_bills_task",
						"BTID":dataSelect.BTID,
						"BTVersion":newBTVersion,
						"taskSortType":dataSelect.taskSortType,
						"taskSortTypeText":dataSelect.taskSortTypeText,
						"taskType":dataSelect.taskType,
						"taskTypeText":dataSelect.taskTypeText,
						"taskRepeat":taskRepeat,
						"taskCTRName":dataSelect.taskCTRName,
						"taskStaff":dataSelect.taskStaff,
						"taskBPID":dataSelect.taskBPID,
						"modfiyABE":dataSelect.modfiyABE,
						"taskDBE":dataSelect.taskDBE,
						"taskLimitDate":dataSelect.taskLimitDate,
						"BTAcceptResult":0,
						"BTStatus":1,
						"BTStatusText":"新增"
						}
	        	addDBData(taskData);
	        }
	    }
		 
		 
		 
		 
		 
	 }
	  

  	
  	
  
  	

  }

    	
});







//按钮-添加记录
$('#BTNTaskRecordAdd').click(function() {
	$('#DIVRecordContent').show();
	
	$('#recordDBID').text("");
    
    $('#modifyContent').val("");
    $('#functionsDBE').val("");
    $('#recordRemark').val("");
    
    $('#recordMaker').text("");
    $('#recordMakeDate').text("");
    $('#recordAuditor').text("");
    $('#recordAuditDate').text("");

    $('#div_previewImages').html("");
    $('#progressNumber').html("");
    $('#divFilesUploaded').html("");
});
	
//按钮-记录审核按钮
$('#BTNTaskRecordAudit').click(function() {
	
	 var tableRecords = $("#tableRecords").DataTable();
	 
	 var dataSelectRecord = tableRecords.row('.selected').data();
	
	console.log("dataSelectRecord:"+JSON.stringify(dataSelectRecord));
	
	
	  if (dataSelectRecord == undefined) {
		  alert("当前未选择任何记录,请先点击需要审核的记录!");
		  }else{
			  
			  if(dataSelectRecord.recordAuditDate!=null){
				  alert("该记录已审核,无需再次审核!");
			  }else{
				  
				  var msg = confirm("审核后无法再次进行任务登记,如任务记录有误,请修改后再审核,是否立即审核通过?");
					if(msg==true){	

							 var recordData={
										"DBTable":"ppm_bills_taskrecord",
										"DBID":$('#recordDBID').text(),
										"recordAuditor":sessionName,
										"recordAuditDate":Ndate
								}

							 
							 var taskData={
										"DBTable":"ppm_bills_task",
										"BillIDName":"BTID",
										"BillID":$('#BTID').text(),
										"recordNum":1
							}
							 
							 
							 
							 var ajax1=$.ajax({
							        method: 'post',
							        url: '/app/PM/updDBData',
							        data: recordData,
							        success: function(data, textStatus) {
							        },
							        error: function(XMLHttpRequest, textStatus, errorThrown) {}
							        });
							 
							var ajax2=$.ajax({
						        method: 'post',
						        url: '/app/PM/updBillStatus',
						        data: taskData,
						        success: function(data, textStatus) {
						        },
						        error: function(XMLHttpRequest, textStatus, errorThrown) {}
						        });
						

							$.when(ajax1,ajax2).done(function(){
								alert("任务登记审核完成,如不需要再添加新记录,可开始IPQC检测!");
								
								Fun_showRecordsLiteTable(recordsTableSQL,tasksTableInfo);
					          	$('#BTNTaskRecordAdd').click();
								
							});
		
					}
				  
			  }
			  
			  
			 
			  
		  }

});


//按钮-清除记录

$('#BTNTaskRecordClear').click(function() {
	
	
	 var tableRecords = $("#tableRecords").DataTable();
	 
    var dataSelectRecord = tableRecords.row('.selected').data();
    
//   console.log(JSON.stringify(dataSelectRecord));
    
    if (dataSelectRecord == undefined) {
        alert("当前未选择任何数据,请先点击需要删除的数据行!");
    } else {
    	
    	
    	if(dataSelectRecord.recordAuditDate!=null){

    		
    		
    		var msg1 = confirm("该记录已审核,是否清除?");
            if (msg1 === true) {
            	var recordData={
						"DBTable":"ppm_bills_taskrecord",
						"DBID":$('#recordDBID').text(),
						"disable":1

				}
                    Fun_saveTaskRecord(recordData);
            }

    	}else{
    		
    		var msg2 = confirm("风险操作！此行数据内容移除后无法还原，请确认操作是否无误！");
            if (msg2 === true) {
                    var IDData = {"DBTable":"ppm_bills_taskrecord","DBID":dataSelectRecord.DBID};
                    Fun_delTaskRecord(IDData);
            }
    	}
    }
    //          table.row('.selected').remove().draw( false );//前端删除显示数据 ,数据库不删除
});


//按钮-表单关闭按钮,添加刷新数据功能
$('#BTNFormClose').click(function() {
	 window.location.reload();
});
	
}); 

</script>
