<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.css">
<link href="/css/PM/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="/css/PM/bootstrap-select.min.css" />


<!-- JS  -->

<script src="/css/PM/DataTables/Bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/css/PM/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>
<script src="/js/PM/FileSaver.min.js"></script>
<script src="/js/PM/tableExport.js"></script>
<script src="/js/PM/PMfuns.js"></script>




<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>


<!------begin view-------------------------->
<div class="divcontent">
    <h1>工作流程-IPQC单</h1>
    <hr>

    <!-- 操作区（按钮等） -->
    <div class="lineitem">
        
     <!--   <button id="BTNInfo" class="btn btn-warning">详情</button> -->
        
        <!-- 按钮触发模态框 -->
        <!--   <button id="BTNIPQCAudit" class="btn btn-primary" data-toggle="modal" >IPQC审核</button> -->
        <button id="BTNIPQCRecord" class="btn btn-info" data-toggle="modal" >IPQC登记</button>
        <!--      <button id="BTNDelete" class="btn btn-danger" data-toggle="modal" >删除</button> -->
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="BillTask" tabindex="-1" role="dialog" aria-labelledby="BillTaskLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:98%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="BillTaskLabel">任务单详情</h4>
                    </div>
                    <div class="modal-body">
                    
                    <!--------------跟踪面板----------------->
                    
                    <div class="panel panel-info" style="width:24%;float:left;">
                    
                    <!--------------panel--------------------->
                    <div class="panel-heading">
                        <h3 class="panel-title">计划单信息</h3>
                    </div>
                    <div class="panel-body" >
                    
                    <table class="table table-bordered">
                    <tr>
                      <td id="TBillPLD-BPID"></td>
                      <td id="TBillPLD-version"></td>
                      <td id="TBillPLD-CTRName"></td>
                      <td id="TBillPLD-orderFrom"></td>
                    </tr>
                    <tr>
                      <td id="TBillPLD-MHEName"></td>
                      <td id="TBillPLD-model"></td>
                      <td id="TBillPLD-OGNSystemVersion"></td>
                      <td id="TBillPLD-urgency"></td>
                    </tr>
                    <tr>
                    <td id="TBillPLD-applyDate"></td>
                    <td id="TBillPLD-limitDate"></td>
                    <td id="TBillPLD-PGEMaker"></td>
                    <td id="TBillPLD-fileName"></td>
                    </tr>

                    <tr>
                    <td id="TBillPLD-topic" colspan="2"></td>
                    <td id="TBillPLD-detail" colspan="2"></td>

                    </tr>
                    
                    <tr>
                    <td id="TBillPLD-maker"></td>
                    <td id="TBillPLD-makeDate"></td>
                    <td id="TBillPLD-auditor"></td>
                    <td id="TBillPLD-auditDate"></td>
                    </tr>
                    
                    </table>
                    
                    
                    </div>
                    <!--------------panel--------------------->
                    <!--------------panel--------------------->
                    <div class="panel-heading">
                        <h3 class="panel-title">方案单信息</h3>
                    </div>
                    
                    <div class="panel-body">
                    
                    <table class="table table-bordered">
                    
                    <tr>
                      <td>&nbsp;</td>
                      <td colspan="3">&nbsp;</td>
                      <td>&nbsp;</td>
                      <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td colspan="7">&nbsp;</td>
                    </tr>
                    </table>
                    </div>
                    <!--------------panel--------------------->
                    </div>
                    
                    
                    
                    
                    <!--------------跟踪面板----------------->
                    
                    <!--------------方案单面板----------------->

                    <div class="panel panel-info" style="width:75%;float:right;">
                	
                    <div class="panel-heading">
                        <h3 class="panel-title">任务单</h3>
                    </div>
                    
                    <div class="panel-body">
                    <!--begin task panel-------------->
                    
                    <div id="DivTaskInfo" class="panel panel-info" >
                    <div class="panel-heading">
                        <h3 class="panel-title">任务信息</h3>
                    </div>
                    
                    
                    <div class="panel-body">
                    
                    
                    <div class="form-horizontal" > 
                    <span id="DBID" style="display:none"></span>
                    <span id="taskBPID" style="display:none"></span>
                    <span id="taskRepeat" style="display:none"></span>
                    
                    
                    <!-------------------------------------------------------------------------->
                    <div class="form-group">
                    <label class="col-sm-1 control-label">类型:</label>   
                	 <div class="col-sm-10">
                	    <label class="radio-inline">
                	        <input type="radio" name="taskType" id="radio1" value="T1"> DSP任务单
                	    </label>
                	    <label class="radio-inline">
                	        <input type="radio" name="taskType" id="radio2" value="T2"> HMI任务单
                	    </label>
                	    <label class="radio-inline">
                	        <input type="radio" name="taskType" id="radio3" value="T3"> 内核任务单
                	    </label>
                	 </div>
                	 </div>
                	 <!-------------------------------------------------------------------------->
                     <div class="form-group">
                    
                     
                     <label class="col-sm-1 control-label">修改属性:</label>   
                 	 <div class="col-sm-8">
                 	    <label class="checkbox-inline">
                 	        <input type="checkbox" name="modfiyABE"  value="ABE1"> 画面
                 	    </label>
                 	    <label class="checkbox-inline">
                 	        <input type="checkbox" name="modfiyABE"  value="ABE2"> 结构
                 	    </label>
                 	    <label class="checkbox-inline">
                 	        <input type="checkbox" name="modfiyABE"  value="ABE3"> 参数
                 	    </label>
                 	        
                 	    <label class="checkbox-inline">
                	        <input type="checkbox" name="modfiyABE"  value="ABE4">通信
                	    </label>   
                	        <label class="checkbox-inline">
                	        <input type="checkbox" name="modfiyABE"  value="ABE5">逻辑
                	    </label>
                	        <label class="checkbox-inline">
                 	        <input type="checkbox" name="modfiyABE"  value="ABE6"> kernel
                 	    </label>
                 	    <label class="checkbox-inline">
                 	        <input type="checkbox" name="modfiyABE"  value="ABE7"> LIB
                 	    </label>
                 	    <label class="checkbox-inline">
                 	        <input type="checkbox" name="modfiyABE"  value="ABE8"> OS
                 	    </label>
                 	 </div>
                 	 
                 	 
                     </div>
                     <!-------------------------------------------------------------------------->
                     
                     <div class="form-group">
                     
                     <label class="col-sm-1 control-label">任务单号:</label>
                     <div class="col-sm-2">
                   
                     <span id="BTID" class="help-block"></span>

                     </div>
                     
                     <label class="col-sm-2 control-label">任务单版本号:</label>
                     <div class="col-sm-2">
                     <span id="BTVersion" class="help-block"></span>
                     </div>
                     
                     <label class="col-sm-2 control-label">客户名称:</label>
                     <div class="col-sm-1">
                     <span id="taskCTRName" class="help-block"></span>
                     </div>
                     
                    
                     
                     </div>
                     
                     <!-------------------------------------------------------------------------->
                     <div class="form-group">  
                     
                     <label  class="col-sm-1 control-label" for="name">负责人:</label>    
                     <div class="col-sm-1">
                     
                     <span id="taskStaff"  class="help-block"></span>
                     </div>
                     
                     <label class="col-sm-1 control-label"></label>
                     <label for="limitDate" class="col-sm-2 control-label">任务完成期限:</label>                     
                     <div class="col-sm-2">
                     <span id="taskLimitDate" class="help-block"></span>  	
                 	 </div>
                 	 
                 	 <label class="col-sm-2 control-label">任务单审核状态:</label>
                     <div class="col-sm-1">
                     <span id="BTAuditResultText" class="help-block"></span>
                     </div>
                 	 

                     </div>
                     <!-------------------------------------------------------------------------->
                     
                     <div class="form-group"> 
                     <label class="col-sm-1 control-label">任务要求:</label>
                     <div class="col-sm-10">
                     <span id="taskDBE" class="help-block"></span>
                     </div>
                     
                     </div>
                     
                     <!-------------------------------------------------------------------------->
                     
                     <div class="form-group"> 
                     <label class="col-sm-1 control-label">审核意见:</label>
                     <div class="col-sm-10">
                     <span id="BTAuditOpinionShow" class="help-block"></span>
                     <textarea id="BTAuditOpinion" class="form-control" rows="2"></textarea>
                     </div>
                     
                     </div>
                     
                     
                     <!-------------------------------------------------------------------------->

                    </div>
                    
                    
                    </div>
                    </div>
                    
                    
                    <!-------------------------------------------------------------------------->
                    <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">任务记录</h3>
                    </div>
                    <div class="panel-body">
                    
                    <div class="form-horizontal" > 
                    
                    <!-------------------------------------------------------------------------->
                    <div class="form-group"> 
                    <label class="col-sm-1 control-label">修改内容说明:</label>
                    <div class="col-sm-10">
                    <span id="modifyContent" class="help-block"></span>

                    </div>
                    
                    </div>
                    <!-------------------------------------------------------------------------->
                    <div class="form-group"> 
                    <label class="col-sm-1 control-label">程序功能说明:</label>
                    <div class="col-sm-10">
                    <span id="functionsDBE" class="help-block"></span>
                 
                    </div>
                    
                    </div>
                    
                	
                	<!-------------------------------------------------------------------------->
                	 <div class="form-group">
                	<label  class="col-sm-1 control-label" for="name">程序附件:</label>
                	
                	<div class="col-sm-8">
                	<div id="div_previewImages"></div>
                    <div id="progressNumber"></div> 
                    <div id="divFilesUploaded"></div>
                	</div>

                	</div>

                    <!-------------------------------------------------------------------------->
                    
                    
                    <div class="form-group"> 
                    <label class="col-sm-1 control-label">备注:</label>
                    <div class="col-sm-10">
                    <span id="recordRemark" class="help-block"></span>
                    </div>
                    
                    </div>
                    <!-------------------------------------------------------------------------->
                    <div class="form-group">
                    <label class="col-sm-1 control-label">FQC申请:</label>   
                	 <div class="col-sm-3">
                	    <label class="radio-inline">
                	        <input type="radio" name="FQCRequest" id="radio1" value="1"> FQC申请
                	    </label>
                	    <label class="radio-inline">
                	        <input type="radio" name="FQCRequest" id="radio2" value="2" checked> 无需FQC
                	    </label>
                	    
                	 </div>
                	 
                	 <label class="col-sm-1 control-label">IPQC填单:</label>
                	 
                	 <div class="col-sm-3 ">
                	 <span id="IPQCMaker"  class="help-block"></span>
                  
                     </div>
                	 
                	 
                	 </div>
                    <!-------------------------------------------------------------------------->
                    <div class="form-group" id="DivRecordAuditInfo">  
                    
                    <label  class="col-sm-1 control-label" for="name">记录审核人:</label>    
                    <div class="col-sm-1">
                    
                    <span id="recordAuditor"  class="help-block"></span>
                    </div>
                    
                    <label class="col-sm-1 control-label"></label>
                    <label for="recordAuditDate" class="col-sm-2 control-label">记录审核日期:</label>                     
                    <div class="col-sm-2">
                    <span id="recordAuditDate" class="help-block"></span>  	
                	 </div>
                	 
                	 <label class="col-sm-2 control-label">记录审核状态:</label>
                    <div class="col-sm-1">
                    <span id="recordAuditResultText" class="help-block"></span>
                    </div>

                    </div>
                    

                        
                    </div>      
                        
                    
                    </div>
                    </div>
                    
                    <!-------------------------------------------------------------------------->
                    

                    <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">IPQC记录</h3>
                    </div>
                    <div class="panel-body">
                    
                    
                    <div class="form-horizontal" > 
                    <!-------------------------------------------------------------------------->
                    
                    <div class="form-group"> 
                    <label class="col-sm-1 control-label">测试内容:</label>
                    <div class="col-sm-10">
                    
                    <table id="TableTestContents" class="table table-bordered" style="width:100%;" >
                    <thead>
                        <tr>
                            <th>测试内容</th>
                            <th>测试结果</th>
                            <th>备注</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    </table>


                    
                    
                    
                    </div>
                    </div>
                    
                    <!-------------------------------------------------------------------------->
                    
                    <div class="form-group"> 
                    <label class="col-sm-1 control-label">测试内容:</label>
                    <div class="col-sm-10">
                    <span id="IPQCContentShow" class="help-block"></span>
                    <textarea id="IPQCContent" class="form-control" rows="2"></textarea>
                    </div>
                    </div>
                    
                    <!-------------------------------------------------------------------------->
                    <div class="form-group">
                    <label class="col-sm-1 control-label">测试结果:</label>   
                	 <div class="col-sm-10">
                	    <label class="radio-inline">
                	        <input type="radio" name="IPQCResult" id="radio1" value="1" checked> 测试通过
                	    </label>
                	    <label class="radio-inline">
                	        <input type="radio" name="IPQCResult" id="radio2" value="2"> 出货后修正
                	    </label>
                	    <label class="radio-inline">
                	        <input type="radio" name="IPQCResult" id="radio3" value="3"> 立即修正
                	    </label>
                	 </div>
                	 </div>
                	 
                	 
                	 <!-------------------------------------------------------------------------->
                     <div class="form-group" id="DivIPQCAuditInfo">  
                     
                     <label  class="col-sm-1 control-label" for="name">IPQC审核人:</label>    
                     <div class="col-sm-1">
                     <span id="IPQCAuditor"  class="help-block"></span>
                     </div>
                     
                     <label class="col-sm-1 control-label"></label>
                     <label for="recordAuditDate" class="col-sm-2 control-label">IPQC审核日期:</label>                     
                     <div class="col-sm-2">
                     <span id="IPQCAuditDate" class="help-block"></span>  	
                 	 </div>
                 	 
                 	 <label class="col-sm-2 control-label">IPQC状态:</label>
                     <div class="col-sm-1">
                     <span id="IPQCAuditResultText" class="help-block"></span>
                     </div>

                     </div>
                         
                     <!-------------------------------------------------------------------------->
                	 
                	 
                	 
                	 <div class="form-group" id="DivIPQCBTNS"> 
                     <label class="col-sm-1 control-label">登记:</label>
                     <div class="col-sm-10">
                     <button id="BTNTaskIPQCSave" class="btn btn-success" data-toggle="modal" >保存IPQC记录</button>
                     <button id="BTNTaskIPQCAudit" class="btn btn-warning" data-toggle="modal" >审核IPQC记录</button>
                     </div>
                     
                     </div>
                	 
                	 
                	 
                    </div>
                    
                    
                    
                    </div>
                    </div>

                    
                   
                    

                   
                     
                     
                    <!----end task panel---------------------->

                    </div>
                    
                    <div class="panel-footer">
                    
                    
                    
               

                    
                    </div>
                   
                    
                   </div>
                   
                  
                   
                   
                   
                   <!--------------方案单面板----------------->

                   
                   
                   <!---------清除浮动---------------------------------->
                   <div style='clear:both'></div>

                    
                    
                    </div>
                    <div class="modal-footer">
                      
                        
                       
                     
                        <button id="BTNFormClose" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        
        

    </div>
    

    
    <br/>

    <!--数据呈现区-->
    <table id="billsTaskTable" class="table table-striped table-bordered"  >
        <thead>
            <tr>
                <th>数据库ID</th>
                <th>任务单号</th>
                <th>版本号</th>
                <th>客户名称</th>
                <th>任务类型</th>
                <th>任务负责人</th>
                <th>完成期限</th>
                <th>IPQC结果</th>

               
            </tr>
        </thead>
    </table>

    
</div>

<!--------end view-------------------->
<script>


//函数-根据自定义SQL获取数据加载Task表格,不显示搜索分页,简易模式


function Fun_showSQLTestContentsTable(SQL,tableID){
	
	//alert(JSON.stringify(DataPara));
	
	 $.ajax({
         method:'get',
         data:SQL,
         url:"/app/PM/getSQLDBData",
         success:function(data){
        	 console.log("back data:"+JSON.stringify(data));
        	 for(var i=0;i<data.length;i++){
        		 var tr="<tr>" +
        		 		"<td>"+data[i].content+"</td>" +
        		 		"<td><input type='radio' name='testRadio"+i+"'  value='1'>正确 <input type='radio' name='testRadio' value='2'> 不正确</td>"+
        		 		"<td><input id='testRemark"+i+"' type='text' value='' style='width:100%'></td>"+
        		 		"</tr>";
        		 
        		 $(tableID+" tbody").append(tr);
        		 
        	 }
         },
         error:function(){}
     })

}



//函数:记录按钮详情页自动填写内容------------------------
function Fun_IPQCRecordInit(dataSelect){
	
	$('#DBID').text(dataSelect.DBID); 
	$('#taskBPID').text(dataSelect.taskBPID); 
	$('#taskRepeat').text(dataSelect.taskRepeat); 
	
	$("input:radio[name=taskType][value="+dataSelect.taskType+"]").prop("checked",true); 
	$('input:radio[name="taskType"]').attr("disabled",true);
	
	$('input:checkbox[name="modfiyABE"]').prop("checked",false);
    setCheckBoxValue("modfiyABE",dataSelect.modfiyABE);
    $('input:checkbox[name="modfiyABE"]').attr("disabled",true);
	
	
	$('#BTID').text(dataSelect.BTID); 
	$('#BTVersion').text(dataSelect.BTVersion); 
	$('#taskCTRName').text(dataSelect.taskCTRName);
	
	

	$('#taskStaff').text(dataSelect.taskStaff);
	$('#taskLimitDate').text(dataSelect.taskLimitDate);
	$('#BTAuditResultText').text(dataSelect.BTAuditResultText);
	
	$('#taskDBE').text(dataSelect.taskDBE);
	$('#BTAuditOpinionShow').text(dataSelect.BTAuditOpinion);
	
	$('#BTAuditOpinionShow').show();
	$('#BTAuditOpinion').hide();
	

	
	
	if(dataSelect.recordAuditResult==1){

		$('#recordAuditor').text(dataSelect.recordAuditor);
		$('#recordAuditDate').text(dataSelect.recordAuditDate);
		$('#recordAuditResultText').text(dataSelect.recordAuditResultText);
		
		
		$('#DivRecordAuditInfo').show();

	}else{
		
		$('#DivRecordAuditInfo').hide();

		
	}
	
	
	
	
	$('#modifyContent').text(dataSelect.modifyContent);
	
	$('#functionsDBE').text(dataSelect.functionsDBE);
	
	$('#recordRemark').text(dataSelect.recordRemark);
	
	 $('#divFilesUploaded').html("");
	  
	  if(dataSelect.taskFileKey!=null){
		  
		  console.log("不为空"+dataSelect.taskFileKey);
		  var downloadurl="<a id='filePath' href="+'/system.files.download/upload_'+dataSelect.taskFileKey+" download="+dataSelect.taskFileName+">"+"<span id='fileName'>"+dataSelect.taskFileName+"</span></a>";
		  $('#divFilesUploaded').html(downloadurl);
	  }
	  
	  
	  
	  tasksTableSQL={"SQL":"SQLTableTestContents","filter":"taskType = '"+dataSelect.taskType+"'"};

	  var tableID="#TableTestContents";
	  
	  
	  Fun_showSQLTestContentsTable(tasksTableSQL,tableID);
	  
	  
	  
	  
	  $("input:radio[name=FQCRequest][value="+dataSelect.FQCRequest+"]").prop("checked",true); 
	  $('input:radio[name="FQCRequest"]').attr("disabled",true);
	  $('#IPQCMaker').text(dataSelect.IPQCMaker);
	  
	  
	  
	  $("input:radio[name=IPQCResult][value="+dataSelect.IPQCResult+"]").prop("checked",true);
	  $('#IPQCContent').val(dataSelect.IPQCContent);
	  
	 
	  $('#IPQCAuditor').text(dataSelect.IPQCAuditor);
	  $('#IPQCAuditDate').text(dataSelect.IPQCAuditDate);
	  $('#IPQCAuditResultText').text(dataSelect.IPQCAuditResultText);
	  
	  if(dataSelect.IPQCAuditResult==1||dataSelect.IPQCAuditResult==2){
		  $('#DivIPQCBTNS').hide();
		}else{
			$('#DivIPQCBTNS').show();
		}

}





//页面加载函数---------------
$(document).ready( function () {
	
	
	 tableSQL={"SQL":"SQLTableBillsTaskIPQC"};
	
	 sessionName="<%-locals.session.yjUser.Name%>";
	
	console.log("sessionName:"+sessionName);
	
	
	 tableInfo={
			"tableID":"#billsTaskTable",
			"columnsData":[
				{ data: 'DBID' ,"visible": false},
		        { data: 'BTID' },
		        { data: 'BTVersion'},
		        { data: 'taskCTRName'},
		        { data: 'taskTypeText'},
		        { data: 'taskStaff'},
		        { data: 'taskLimitDate'},
		        { data: 'IPQCResultText'}
		        
		     
			]
	}
	
	
	Fun_showSQLTable(tableSQL,tableInfo)

	
//判断是否选中数据-------
var table = $('#billsTaskTable').DataTable();
$('#billsTaskTable tbody').on('click', 'tr', function() {
    if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
    } else {
        table.$('tr.selected').removeClass('selected');
        $(this).addClass('selected');
    }
 
    var dataSelect = table.row('.selected').data();
    
    

});
	


//按钮-记录任务单---------
$('#BTNIPQCRecord').click(function() {
	
	  var dataSelect = table.row('.selected').data();
	    if (dataSelect == undefined) {
	        alert("请先点击选择表格中的任务单!");
	    } else {
	    	console.log("dataSelect:"+JSON.stringify(dataSelect));
	    	
	    	
	    		$('#BillTask').modal('show')
		    	Fun_IPQCRecordInit(dataSelect);

	    }

});

//按钮-任务记录保存按钮
$('#BTNTaskIPQCSave').click(function() {
	
	if(sessionName==$('#IPQCMaker').text()){

			 var recordData={
						"DBTable":"ppm_bills_task",
						"DBID":$('#DBID').text(),
						"IPQCContent":$('#IPQCContent').val(),
						"IPQCResult":$('input:radio[name="IPQCResult"]:checked').val(),
						"IPQCMaker":sessionName,
						"IPQCMakeDate":Ndate,
						"IPQCAuditResult":0,
						"BTStatus":5
				}
				
				console.log("recordData:"+JSON.stringify(recordData));

				updDBData(recordData,"IPQC记录");

	}else{
		alert("非指定的IPQC填单人,不允许填单!");
	}


});


//按钮-任务记录审核按钮
$('#BTNTaskIPQCAudit').click(function() {
	
	var msg = confirm("审核后无法对IPQC记录进行修改,是否立即审核?");
	if(msg==true){	
		
		         var IPQCResult=$('input:radio[name="IPQCResult"]:checked').val();
		         
		         var taskRepeat=$('#taskRepeat').text();
		         

		         
		         var resultMsg1="通过IPQC测试,该任务单完结!";
		         var resultMsg2="未通过IPQC测试,需出货后修正,请后续更新任务单版本继续修改!";
		         var resultMsg3="未通过IPQC测试,需立即修正,请立即更新任务单版本重新开始该任务!";
		         
		         //如果为重复订单 则不更新计划单信息
		         if(taskRepeat!=1&&(IPQCResult==1||IPQCResult==2)){

		        	 var PLDUpdData={
								"DBTable":"ppm_bills_plan",
								"BillIDName":"BPID",
								"BillID":$('#taskBPID').text(),
								"TaskNumDone":1,
								"WFStatus":25
						}
						

					 var taskUpdData={
								"DBTable":"ppm_bills_task",
								"DBID":$('#DBID').text(),
								"IPQCAuditResult":1,
								"IPQCAuditor":sessionName,
								"IPQCAuditDate":Ndate,
								"BTStatus":7
					}
					
					 
					 var ajax1=$.ajax({
					        method: 'post',
					        url: '/app/PM/updBillStatus',
					        data: PLDUpdData,
					        success: function(data, textStatus) {
					        },
					        error: function(XMLHttpRequest, textStatus, errorThrown) {}
					        });
					 
					var ajax2=$.ajax({
				        method: 'post',
				        url: '/app/PM/updDBData',
				        data: taskUpdData,
				        success: function(data, textStatus) {
				        },
				        error: function(XMLHttpRequest, textStatus, errorThrown) {}
				        });
				

					$.when(ajax1,ajax2).done(function(){
						
						if(IPQCResult==1){
							 alert("IPQCResult3:"+IPQCResult);
							alert(resultMsg1);
							
						}else{
							alert(resultMsg2);
						}

						window.location.reload();
						
					});

		         }else{

		        	 
		        	 var taskUpdData={
								"DBTable":"ppm_bills_task",
								"DBID":$('#DBID').text(),
								"IPQCAuditResult":2,
								"IPQCAuditor":sessionName,
								"IPQCAuditDate":Ndate,
								"BTStatus":8
					}
		        	 
		        	 var ajax1=$.ajax({
					        method: 'post',
					        url: '/app/PM/updDBData',
					        data: taskUpdData,
					        success: function(data, textStatus) {
					        },
					        error: function(XMLHttpRequest, textStatus, errorThrown) {}
					        });
		        	 
		        	 $.when(ajax1).done(function(){
		        		    alert(resultMsg3);
							window.location.reload();
							
					 });

		         }

	}

});


//按钮-表单关闭按钮,添加刷新数据功能
$('#BTNFormClose').click(function() {
	 window.location.reload();
});
	
}); 

</script>
