<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.css">
<link href="/css/PM/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="/css/PM/bootstrap-select.min.css" />


<!-- JS  -->

<script src="/css/PM/DataTables/Bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/css/PM/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>
<script src="/js/PM/FileSaver.min.js"></script>
<script src="/js/PM/tableExport.js"></script>
<script src="/js/PM/PMfuns.js"></script>




<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>



<div class="divcontent">
    <h1>工作流程-进度跟踪</h1>
    <hr>

    <!-- 操作区（按钮等） -->
    <div class="lineitem">
        
     <!--   <button id="BTNInfo" class="btn btn-warning">详情</button> -->
        
        <!-- 按钮触发模态框 -->

        <button id="BTNInfo" class="btn btn-info" data-toggle="modal" >查看详情</button>
        <button id="BTNDelete" class="btn btn-danger" data-toggle="modal" >完结归档</button>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="BillPLD" tabindex="-1" role="dialog" aria-labelledby="BillPLDLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:90%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="BillPLDLabel">进度信息汇总</h4>
                    </div>
                    <div class="modal-body">

                    
                    
                    <div class="panel panel-info" style="width:100%">
                    
                    <!--------------panel--------------------->
                    <div class="panel-heading">
                        <h3 class="panel-title">计划单信息</h3>
                    </div>
                    <div class="panel-body" >
                    
                    <table class="table table-bordered">
                    <tr>
                      <td id="TBillPLD-BPID"></td>
                      <td id="TBillPLD-version"></td>
                      <td id="TBillPLD-CTRName"></td>
                      <td id="TBillPLD-orderFrom"></td>
                    </tr>
                    <tr>
                      <td id="TBillPLD-MHEName"></td>
                      <td id="TBillPLD-model"></td>
                      <td id="TBillPLD-OGNSystemVersion"></td>
                      <td id="TBillPLD-urgency"></td>
                    </tr>
                    <tr>
                    <td id="TBillPLD-applyDate"></td>
                    <td id="TBillPLD-limitDate"></td>
                    <td id="TBillPLD-PGEMaker"></td>
                    <td id="TBillPLD-fileName"></td>
                    </tr>
                    
                    
                    <tr>
                    <td id="TBillPLD-topic" colspan="2"></td>
                    <td id="TBillPLD-detail" colspan="2"></td>

                    </tr>
                    
                    <tr>
                    <td id="TBillPLD-maker"></td>
                    <td id="TBillPLD-makeDate"></td>
                    <td id="TBillPLD-auditor"></td>
                    <td id="TBillPLD-auditDate"></td>
                    </tr>
                    
                    </table>
                    
                    
                    </div>
                    <!--------------panel--------------------->
                    <!--------------panel--------------------->
                    <div class="panel-heading">
                        <h3 class="panel-title">方案单信息</h3>
                    </div>
                    
                    <div class="panel-body">
                    
                    <table class="table table-bordered">
                    
                    <tr>
                      <td>&nbsp;</td>
                      <td colspan="3">&nbsp;</td>
                      <td>&nbsp;</td>
                      <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td colspan="7">&nbsp;</td>
                    </tr>
                    </table>
                    </div>
                    <!--------------panel--------------------->
                    </div>
                    
                    
                    
                    
                 

                    
                    
                    </div>
                    <div class="modal-footer">
                        <button id="BTNFormClose" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        
        

    </div>
    
    
    
    
    <br/>

    <!--数据呈现区-->
    <table id="billsTrackTable" class="table table-striped table-bordered"  >
        <thead>
            <tr>
                <th>数据库ID</th>
                <th>计划单号</th>
                <th>版本号</th>
                <th>客户简称</th>
                <th>主题</th>
                <th>方案负责人</th>
                <th>进度状态</th>


            </tr>
        </thead>
    </table>
    


    
    
</div>


<script>

//函数:加载计划单数据
function Fun_getBillPLDData(DBID){
	
	var SQLPara={"SQL":"SQLTableBillsPLD","DBID":DBID}
	
	 $.ajax({
	        method: 'get',
	        url: '/app/PM/getSQLDBData',
	        data: SQLPara,
	        success: function(data) {
	            console.log("成功数据:" + JSON.stringify(data));
	        	$('#TBillPLD-BPID').html("计划单号:"+data[0].BPID); 
	        	$('#TBillPLD-version').html("版本号:"+data[0].version); 
	        	$('#TBillPLD-CTRName').html("客户名称:"+data[0].CTRName); 
	        	$('#TBillPLD-orderFrom').html("需求来源:"+data[0].orderFrom); 
	        	$('#TBillPLD-MHEName').html("机型:"+data[0].MHEName); 
	        	$('#TBillPLD-model').html("系统:"+data[0].model); 
	        	$('#TBillPLD-OGNSystemVersion').html("原系统版本:"+data[0].OGNSystemVersion);
	        	$('#TBillPLD-urgency').html("紧急度:"+data[0].urgency);
	        	$('#TBillPLD-applyDate').html("申请日期:"+data[0].applyDate);
	        	$('#TBillPLD-limitDate').html("完成期限:"+data[0].limitDate);
	        	$('#TBillPLD-fileName').html("附件:"+data[0].fileName);
	        	$('#TBillPLD-PGEMaker').html("方案负责人:"+data[0].PGEMaker);
	        	$('#TBillPLD-maker').html("制单人:"+data[0].maker);
	        	$('#TBillPLD-makeDate').html("制单日期:"+data[0].makeDate);
	        	$('#TBillPLD-auditor').html("审核人:"+data[0].auditor);
	        	$('#TBillPLD-auditDate').html("审核日期:"+data[0].auditDate);
	        	$('#TBillPLD-topic').html("修改主题:"+data[0].topic);
	        	$('#TBillPLD-detail').html("修改要求:"+data[0].detail);

	        	
	        	
	        	
	        	
	        },
	        error: function(err) {
	        	alert("失败数据:"+JSON.stringify(err));   
	        }
	    });
}


	
	





//函数:详情按钮详情页自动填写内容------------------------
function Fun_winDetailInit(dataSelect){
//	$('#TBillPLD-BPID').html("计划单号:"+dataSelect.BPID); 
	Fun_getBillPLDData(dataSelect.DBID);


}

//页面加载函数---------------
$(document).ready( function () {
	
	
	const tableSQL={"SQL":"SQLTableBillsTrack"};
	
	var sessionName="<%-locals.session.yjUser.Name%>";
	
	console.log("sessionName:"+sessionName);
	
	
	const tableInfo={
			"tableID":"#billsTrackTable",
			"columnsData":[
				{ data: 'DBID' ,"visible": false},
		        { data: 'BPID' },
		        { data: 'version'},
		        { data: 'CTRName'},
		        { data: 'topic'},
		        { data: 'PGEMaker'},
		        { data: 'WFStatusText'}
			]
	}
	
	
	Fun_showSQLTable(tableSQL,tableInfo)

	
//判断是否选中数据-------
var table = $('#billsTrackTable').DataTable();
$('#billsTrackTable tbody').on('click', 'tr', function() {
    if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
    } else {
        table.$('tr.selected').removeClass('selected');
        $(this).addClass('selected');
    }
 
    var dataSelect = table.row('.selected').data();
    
    

});
	







//详情按钮---------
$('#BTNInfo').click(function() {
    console.log("seclet: "+JSON.stringify(table.row('.selected').data()));
    // table.row('.selected').remove().draw( false );
    var dataSelect = table.row('.selected').data();
    if (dataSelect == undefined) {
        alert("请先点击表格中的表单!");
    } else {
    	
    	
    	$('#BillPLD').modal('show')
    	Fun_winDetailInit(dataSelect);
    	

    }
});




//删除按钮----------
$('#BTNDelete').click(function() {
    var dataSelect = table.row('.selected').data();
    
 //   alert(JSON.stringify(dataSelect));
    
    if (dataSelect == undefined) {
        alert("当前未选择任何数据,请先点击需要删除的数据行!");
    } else {
    	
    	
    	if(dataSelect.auditDate!=null){
    		alert("已审核单据禁止删除!");
    	}else{
    		
    		
    		var msg1 = confirm("风险操作！此行数据内容移除后无法还原，请确认操作是否无误！");
            if (msg1 === true) {
                var msg2 = confirm("确认删除此行数据？");
                if (msg2 === true) {
                	
                //	alert(dataSelect.DBID);
                    var IDData = {"DBTable":"ppm_bills_plan","DBID":dataSelect.DBID};
 //                   alert("IDData:"+JSON.stringify(IDData));
                    delDBData(IDData);
                }
            }
    		
    		
    	}

    }
    //          table.row('.selected').remove().draw( false );//前端删除显示数据 ,数据库不删除
});



	
}); 

</script>
