<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.css">
<link href="/css/PM/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="/css/PM/bootstrap-select.min.css" />


<!-- JS  -->

<script src="/css/PM/DataTables/Bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/css/PM/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>
<script src="/js/PM/FileSaver.min.js"></script>
<script src="/js/PM/tableExport.js"></script>
<script src="/js/PM/PMfuns.js"></script>




<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>



<div class="divcontent">
    <h1>工作流程-方案单</h1>
    <hr>

    <!-- 操作区（按钮等） -->
    <div class="lineitem">


        <!-- 按钮触发模态框 -->

        <button id="BTNBPTInfo" class="btn btn-info" data-toggle="modal" >方案维护</button>
        <button id="BTNBPTAudit" class="btn btn-warning" data-toggle="modal" >方案审核</button>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="BillBPT" tabindex="-1" role="dialog" aria-labelledby="BillBPTLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:70%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="BillPLDLabel">方案单面板</h4>
                    </div>
                    <div class="modal-body">
                    
                    
                    <!---折叠------------------------>
                    
                    <div class="panel-group" id="accordion">
                	
                	<div class="panel panel-default">
                		<div class="panel-heading">
                			<h4 class="panel-title">
                				<a data-toggle="collapse" data-parent="#accordion" 
                				   href="#collapseTrack">
                					流程跟踪面板:点击展开,再次点击收起
                				</a>
                			</h4>
                		</div>
                		<div id="collapseTrack" class="panel-collapse collapse">
                			<div class="panel-body">
                			
                			 <!--------------panel--------------------->
                             
                             <h3 class="panel-title">计划单信息</h3>
                             </br>
                            

                             <table id="tableTrackPLD" class="table table-bordered">
                             <thead></thead>
                             
                             <tbody></tbody>
                             </table>

                             
                             <!--------------panel--------------------->
                			</div>
                		</div>
                	</div>
                	
                </div>
                    
                <!---折叠------------------------>
                    
                    
                    
                    



                    <!--------------方案单面板----------------->

                    <div class="panel panel-info" >

                    <div class="panel-heading">
                        <h3 class="panel-title">方案单</h3>
                    </div>

                    <div class="panel-body">




                    <form class="form-horizontal" >

                    <input id="PLDDBID" type="text" value="" style="display:none;">

                    <input id="DBID" type="text" value="" style="display:none;">


                    <input id="auditResult" type="text" value="" style="display:none;">
                    
                    <div  style="z-index:999;position:absolute;right:50px" >
                    <img id="DivAuditImage" src="">
                    </div>



                     <!-------------------------------------------------------------------------->

                     <div class="form-group">
                       <label class="col-sm-1 control-label">计划单号:</label>
                       <div class="col-sm-3">
                         <input id="BPTBPID" class="form-control"  type="text" value="">
                       </div>

                       <label class="col-sm-1 control-label">客户名称:</label>
                       <div class="col-sm-3">
                         <input id="CTRName" class="form-control"  type="text" value="">
                       </div>

                     </div>



                     <!-------------------------------------------------------------------------->

                     <div class="form-group">
                     <label class="col-sm-1 control-label">方案人:</label>
                     <div class="col-sm-3">
                       <input id="PGEMaker" class="form-control"  type="text" value="">
                     </div>

                     <label for="limitDate" class="col-sm-1 control-label">完成期限:</label>
                     <div class="col-sm-3">
                     <input id="limitDate" class="form-control"  type="text" value="">
                     </div>

                     </div>

                     <!-------------------------------------------------------------------------->
                     <div class="form-group">

                     <label class="col-sm-1 control-label">方案单号:</label>
                     <div class="col-sm-3">
                       <input id="BPTID" class="form-control"  type="text" value="">
                     </div>

                     <label class="col-sm-2 control-label">方案单版本号: <span id="BPTVersion"></span></label>

                     <label class="col-sm-2 control-label">方案单状态: <span id="BPTStatusText"></span></label>

                     </div>

                     <!-------------------------------------------------------------------------->
                     <div class="form-group">

                     <label  class="col-sm-1 control-label" for="name">机型:</label>
                     <div class="col-sm-3">
                     <select  id="MHEName" class="selectpicker" data-live-search="true">
                     </select>
                     </div>


                     <label  class="col-sm-1 control-label" for="name">系统:</label>
                     <div class="col-sm-3">
                     <select  id="model" class="selectpicker" data-live-search="true">
                     </select>
                     </div>

                     <label class="col-sm-1 control-label">系统版本:</label>
                     <div class="col-sm-2">
                       <input id="OGNSystemVersion" class="form-control"  type="text" value="">
                     </div>

                     </div>
                     <!-------------------------------------------------------------------------->
                     <div class="form-group">



                 	 </div>

                     <!-------------------------------------------------------------------------->

                     <div class="form-group">

                     <label class="col-sm-1 control-label"> 是否修改:</label>
                  	 <div class="col-sm-6">

                  	    <label class="radio-inline">
                  	        <input type="radio" name="modifyType" id="modifyTypeOption1" value="1"> 修改
                  	    </label>
                  	    <label class="radio-inline">
                  	        <input type="radio" name="modifyType" id="modifyTypeOption2"  value="2"> 程序已有不处理
                  	    </label>
                  	    <label class="radio-inline">
                 	        <input type="radio" name="modifyType" id="modifyTypeOption3"  value="3"> 要求不合理
                 	    </label>

                 	    <label class="radio-inline">
                	        <input type="radio" name="modifyType" id="modifyTypeOption4"  value="4"> 非常规维护产品
                	    </label>

                  	</div>

                     </div>

                     <!-------------------------------------------------------------------------->
                     <div class="form-group">

                     <label class="col-sm-1 control-label">修改原因:</label>
                 	 <div class="col-sm-8">
                 	    <label class="checkbox-inline">
                 	        <input type="checkbox" name="modifyReason" id="modifyReasonCheckbox1" value="R1"> 功能修改
                 	    </label>
                 	    <label class="checkbox-inline">
                 	        <input type="checkbox" name="modifyReason" id="modifyReasonCheckbox2" value="R2"> 功能新增
                 	    </label>
                 	    <label class="checkbox-inline">
                 	        <input type="checkbox" name="modifyReason" id="modifyReasonCheckbox3" value="R3"> 优化
                 	    </label>
                 	    <label class="checkbox-inline">
                	        <input type="checkbox" name="modifyReason" id="modifyReasonCheckbox3" value="R4">测试程序
                	    </label>
                 	 </div>


                     </div>





                     <!-------------------------------------------------------------------------->
                     <div class="form-group">
                     <label  class="col-sm-1 control-label" for="name">修改方案说明:</label>
                     <div class="col-sm-8">
                     <textarea id="BPTDescribe" class="form-control" rows="3"></textarea>
                     </div>
                     </div>


                      <!-------------------------------------------------------------------------->

                     <div class="form-group" id="DivFileBTNS">
                     <label  class="col-sm-1 control-label" for="name">上传</label>

                     <div class="col-sm-8">
                     <input type="file" name="myHead" multiple="multiple" id="fileToUpload" style="display:none;" onchange="fileSelected()" >
                     <a class="btn btn-info" onclick="$('#fileToUpload').click()">选择文件</a>


                 	<input  type="button" class="btn btn-success" onclick="uploadFile()" value="确认上传" >
                 	<input type="button" class="btn btn-warning" onclick="deleteFile()" value="清空附件" >

                     </div>

                 	</div>

                 	<!-------------------------------------------------------------------------->
                 	 <div class="form-group">
                 	<label  class="col-sm-1 control-label" for="name">附件:</label>

                 	<div class="col-sm-8">


                 	<div id="div_previewImages"></div>
                    <div id="progressNumber"></div>

                    <div id="divFilesUploaded"></div>

                 	</div>


                 	</div>








                     <!-------------------------------------------------------------------------->
                     <div class="form-group">
                     <label  class="col-sm-1 control-label" for="name">任务清单:</label>
                     <div class="col-sm-11">

                     <div class="panel panel-default">
                     <div class="panel-heading">任务清单</div>

                     <div style="margin:10px;">
                  	 <table id="billsTaskTable" class="table table-bordered" style="width:100%;" >
                     <thead>
                         <tr>
                             <th>数据库ID</th>
                             <th>任务单号</th>
                             <th>任务单版本号</th>
                             <th>任务类别</th>
                             <th>任务类型</th>
                             <th>任务负责人</th>
                             <th>任务完成期限</th>
                             <th>任务状态</th>
                         </tr>
                     </thead>
                     </table>
                     </div>

                     </div>
                     </div>
                     </div>

                     <!-------------------------------------------------------------------------->
                     <div class="form-group" id="DivTaskBTNS">
                     <label  class="col-sm-1 control-label" for="name">任务管理:</label>

                     <div class="col-sm-11">

                     <button id="BTNTaskAdd" type="button" class="btn btn-primary">新增任务</button>

                 	 <button id="BTNTaskDel" type="button" class="btn btn-danger">删除任务</button>
                 	 </div>
                 	 </div>

                 	 <!-------------------------------------------------------------------------->
                     <div class="form-group">
                     <label  class="col-sm-1 control-label" for="name"></label>

                     <div class="col-sm-11">


                     <div class="panel panel-default" id="billTaskPanel">
                     <div class="panel-heading">任务单填写</div>
                     
                     
 
                     <!-------------------------------------------------------------------------->
                     <div class="form-group">

                     <label class="col-sm-2 control-label">单据类别:</label>
                 	 <div class="col-sm-10">
                 	    <label class="radio-inline">
                 	        <input type="radio" name="taskSortType" id="radio1" value="D" checked> DSP任务单
                 	    </label>
                 	    <label class="radio-inline">
                 	        <input type="radio" name="taskSortType" id="radio2" value="H"> HMI任务单
                 	    </label>
                 	    <label class="radio-inline">
                 	        <input type="radio" name="taskSortType" id="radio3" value="P"> PLC任务单
                 	    </label>
                 	    <label class="radio-inline">
                	        <input type="radio" name="taskSortType" id="radio4" value="C"> codesys任务单
                	    </label>

                 	 </div>

                     </div>

                     <!-------------------------------------------------------------------------->

                     <!-------------------------------------------------------------------------->
                     <div class="form-group">

                     <label class="col-sm-2 control-label">类型:</label>
                 	 <div class="col-sm-10">
                 	    <label class="radio-inline">
                 	        <input type="radio" name="taskType" id="radio1" value="A" checked> APP
                 	    </label>
                 	    <label class="radio-inline">
                 	        <input type="radio" name="taskType" id="radio2" value="K"> Kernel
                 	    </label>
                 	    <label class="radio-inline">
                 	        <input type="radio" name="taskType" id="radio3" value="L"> LIB
                 	    </label>
                 	    <label class="radio-inline">
                	        <input type="radio" name="taskType" id="radio4" value="O"> OS
                	    </label>



                 	 </div>

                     </div>

                     <!-------------------------------------------------------------------------->
                     <div class="form-group">

                     <label class="col-sm-2 control-label">修改属性:</label>
                 	 <div class="col-sm-8">
                 	    <label class="checkbox-inline">
                 	        <input type="checkbox" name="modfiyABE"  value="ABE1"> 画面
                 	    </label>
                 	    <label class="checkbox-inline">
                 	        <input type="checkbox" name="modfiyABE"  value="ABE2"> 结构
                 	    </label>
                 	    <label class="checkbox-inline">
                 	        <input type="checkbox" name="modfiyABE"  value="ABE3"> 参数
                 	    </label>

                 	    <label class="checkbox-inline">
                	        <input type="checkbox" name="modfiyABE"  value="ABE4">通信
                	    </label>
                	        <label class="checkbox-inline">
                	        <input type="checkbox" name="modfiyABE"  value="ABE5">逻辑
                	    </label>
                	        
                 	 </div>


                     </div>
                     <!-------------------------------------------------------------------------->

                     <div class="form-group">

                     <label class="col-sm-2 control-label">任务单号:</label>
                     <div class="col-sm-3">
                       <input id="taskBPID" class="form-control"  type="hidden" value="">

                       <input id="BTID" class="form-control"  type="text" value="">
                     </div>

                     <label class="col-sm-2 control-label">任务单版本号: <span id="BTVersion"></span></label>

                     <label class="col-sm-2 control-label">任务单审核状态: <span id="BTAcceptResultText"></span></label>


                     </div>


                     <div class="form-group">

                     <label  class="col-sm-2 control-label" for="name">负责人:</label>
                     <div class="col-sm-2">
                     <select  id="taskStaff" class="selectpicker" data-live-search="true"  data-dropup-auto="false">
                     </select>
                     </div>

                     <label for="limitDate" class="col-sm-2 control-label">任务完成期限:</label>
                     <div class="col-sm-3">
                     <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-link-field="limitDate" data-link-format="yyyy-mm-dd" >
                         <input id="taskLimitDate" class="form-control " size="16" type="text" value="" readonly>
                 		<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                     </div>
                     <input type="hidden" id="taskLimitDate" value="" />
                 	 </div>

                     </div>
                     <!-------------------------------------------------------------------------->

                     <div class="form-group">
                     <label class="col-sm-2 control-label">任务要求:</label>
                     <div class="col-sm-8">
                     <textarea id="taskDBE" class="form-control" rows="2"></textarea>
                     </div>

                     </div>



                     <!-------------------------------------------------------------------------->
                     <div class="form-group">
                     <label class="col-sm-2 control-label"></label>
                  	 <div class="col-sm-6">
                  	<button id="BTNTaskSave" type="button" class="btn btn-success">保存</button>


                  	 </div>
                  	 </div>

                  	 <!-------------------------------------------------------------------------->


                     </div>


                     </div>
 
                     </div>
  

                     <!-------------------------------------------------------------------------->

                     <div class="form-group">

                     <label  class="col-sm-1 control-label" for="name">制单人:</label>
                     <div class="col-sm-3">
                     <input id="maker" class="form-control"  type="text" disabled="true" >
                     </div>

                     <label  class="col-sm-1 control-label" for="name">制单日期:</label>
                     <div class="col-sm-3">
                     <input id="makeDate" class="form-control"  type="text" disabled="true" >
                     </div>


                     </div>

                     <!-------------------------------------------------------------------------->



                  	<div id="auditTypeDiv" class="form-group">

                  	<label class="col-sm-1 control-label">审核方式:</label>
                  	<div class="col-sm-6">

                  	    <label class="radio-inline">
          	            <input type="radio" name="auditType" id="auditTypeOption1"  value="1"> 暂不审核
          	            </label>

                  	    <label class="radio-inline">
                  	        <input type="radio" name="auditType" id="auditTypeOption2" value="2"> 自我审核
                  	    </label>

                  	    <label class="radio-inline">
                 	        <input type="radio" name="auditType" id="auditTypeOption3"  value="3"> 指定审核人
                 	    </label>


                  	</div>

                     </div>

                     <!-------------------------------------------------------------------------->

                     <div class="form-group">

                     <label  class="col-sm-1 control-label" for="name">审核人:</label>
                     <div class="col-sm-3">
                     <select  id="auditor" class="selectpicker" data-live-search="true">
                     </select>
                     </div>

                     <label  class="col-sm-1 control-label" for="name">审核日期:</label>
                     <div class="col-sm-3">
                     <input id="auditDate" class="form-control"  type="text" disabled="true" >
                     </div>


                     </div>

                     <!-------------------------------------------------------------------------->
                     <div class="form-group">
                     <label class="col-sm-1 control-label">审核意见:</label>
                     <div class="col-sm-8">
                     <textarea id="BPTAuditOpinion" class="form-control" rows="2"></textarea>
                     </div>

                     </div>

                     </form>




                    </div>

                    <div class="panel-footer">

                    <label class="col-sm-1 control-label"></label>
                    <button id="BTNBPTSave" type="button" class="btn btn-primary">保存方案</button>
                    <button id="BTNBPTUpdateVer" type="button" class="btn btn-warning">更新版本</button>
                    <button id="BTNBPTAuditYes" type="button" class="btn btn-success">审核通过</button>
                    <button id="BTNBPTAuditNo" type="button" class="btn btn-danger">审核驳回</button>


                    </div>


                   </div>


                   <!--------------方案单面板----------------->



                   <!---------清除浮动---------------------------------->
                   <div style='clear:both'></div>



                    </div>
                    <div class="modal-footer">

                        <button id="BTNBPTClose" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>



    </div>




    <br/>

    <!--数据呈现区-->
    <table id="billsBPTTable" class="table table-striped table-bordered"  >
        <thead>
            <tr>
                <th>数据库ID</th>
                <th>计划单号</th>
                <th>计划版本号</th>
                <th>客户简称</th>
                <th>计划单完成期限</th>
                <th>方案人</th>
                <th>方案版本号</th>
                <th>方案单状态</th>

            </tr>
        </thead>
    </table>


</div>


<script>




//函数:任务单号生成规则

function Fun_BTIDCreate(){
	

	
	 var BPTBPID=$('#BPTBPID').val();
	 var tableTask = $('#billsTaskTable').DataTable();
	 var TaskNum = (tableTask.page.info()).recordsTotal;//总任务数
	 var BTID="T"+BPTBPID.substring(1,11)+"_"+$('input:radio[name="taskSortType"]:checked').val()+$('input:radio[name="taskType"]:checked').val()+"_"+(TaskNum+1);
	 $("#BTID").val(BTID);

}






//函数:详情按钮详情页自动填写内容1:所有情况必定加载------------------------

function Fun_BPTDetailInitPart1(dataSelect){
	
	
	
	var SQLParamPLD={
			"tableName":"ppm_bills_plan",
			"titles":[
				"BPID",
				"version",
				"CTRName",
				"topic",
				"detail",
				"MHEName",
				"model",
				"OGNSystemVersion",
				"limitDate",
				"files"
				],
			"BID":"BPID",
			"VER":"version",
			"filter":"BPID='"+dataSelect.BPID+"'"
			};
	
	
	Fun_fillTrackTable("#tableTrackPLD",SQLParamPLD);
	


	$('#PLDDBID').val(dataSelect.PLDDBID);

    $('#DBID').val(dataSelect.DBID);

	$('#BPTBPID').val(dataSelect.BPID);
	$("#BPTBPID").attr("disabled",true);

	$('#CTRName').val(dataSelect.PLDCTRName);
	$("#CTRName").attr("disabled",true);

	$('#BPTID').val(dataSelect.BPID);
	$("#BPTID").attr("disabled",true);

//	var BPTID=Fun_billIDCreate('FA');
//	$('#BPTID').val(BPTID); 

	$('#PGEMaker').val(dataSelect.PLDPGEMaker);
	$("#PGEMaker").attr("disabled",true);

	$('#limitDate').val(dataSelect.PLDLimitDate);
	$("#limitDate").attr("disabled",true);

	$('#taskLimitDate').val(dataSelect.limitDate);

	if(dataSelect.BPTVersion==null){
		$('#BPTVersion').text(0);
	}else{
		$('#BPTVersion').text(dataSelect.BPTVersion);
	}


	$('#BPTStatusText').text(dataSelect.BPTStatusText);
//	//设定初始化的select值,如果方案单有数据加载方案单数据,如没有加载计划单数据
//	if(dataSelect.MHEName==""){
//		var showMHEName=dataSelect.PLDMHEName;
//	}else{
//		var showMHEName=dataSelect.MHEName;
//	}
//	
//	if(dataSelect.model==""){
//		var showModel=dataSelect.PLDModel;
//	}else{
//		var showModel=dataSelect.model;
//	}






	$('#billTaskPanel').hide();

	$('#taskBPID').val(dataSelect.BPID);

	$('.form_date').datetimepicker({
	      language:  'zh-CN',
	      weekStart: 1,
	      todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView: 2,
			forceParse: 0,
			startDate:Ndate,//设置最小日期
			endDate:dataSelect.limitDate//设置最大日期
	  });

	tasksTableSQL={"SQL":"SQLTableBillsTask","filter":"taskBPID = '"+dataSelect.BPID+"'"};

	tasksTableInfo={
				"tableID":"#billsTaskTable",
				"columnsData":[
					{ data: 'DBID' ,"visible": false},
			        { data: 'BTID' },
			        { data: 'BTVersion'},
			        { data: 'taskSortTypeText'},
			        { data: 'taskTypeText'},
			        { data: 'taskStaff'},
			        { data: 'taskLimitDate'},
			        { data: 'BTAcceptResultText'}
				]
	     }
	
	Fun_showSQLLiteTable(tasksTableSQL,tasksTableInfo);

}

//函数:详情按钮详情页自动填写内容2:方案单审核状态为0,1,2时加载------------------------

function Fun_BPTDetailInitPart2(dataSelect){
	switch(dataSelect.modifyType){
	  case 1:
		  $("#modifyTypeOption1").prop("checked",true);
		  break;
	  case 2:
		  $("#modifyTypeOption2").prop("checked",true);
		  break;
	  case 3:
		  $("#modifyTypeOption3").prop("checked",true);
		  break;
    case 4:
	      $("#modifyTypeOption4").prop("checked",true);
	      break;
	  default:
		  $("#modifyTypeOption1").prop("checked",true);
    }

	 if(dataSelect.modifyReason!=null){
		 setCheckBoxValue("modifyReason",dataSelect.modifyReason);
	 }

	 $('#BPTDescribe').val(dataSelect.BPTDescribe);

//	 var Para={"billName":"ppm_bills_blueprint","billID":dataSelect.BPTID,"billVersion":dataSelect.version}
//	 Fun_getBillFile(Para,"#divFilesUploaded",true);

	 $('#divFilesUploaded').html("");

//	  if(dataSelect.fileKey!=null){
//
//		  console.log("不为空"+dataSelect.fileKey);
//		  var downloadurl="<a id='filePath' href="+'/system.files.download/upload_'+dataSelect.fileKey+" download="+dataSelect.fileName+">"+"<span id='fileName'>"+dataSelect.fileName+"</span></a>";
//		  $('#divFilesUploaded').html(downloadurl);
//	  }
	  
	 if(dataSelect.files!=null){
		  
		  var files=JSON.parse(dataSelect.files);
		  if(files!=null){
		  var downloadurl="<a id='filePath' href="+'/system.files.download/upload_'+files.fileKey+" download="+files.fileName+">"+"<span id='fileName'>"+files.fileName+"</span></a>";
		  }else{
			  downloadurl="";
		  }
		  $('#divFilesUploaded').html(downloadurl);
	  }


	  Fun_showSQLLiteTable(tasksTableSQL,tasksTableInfo);
	  $('#maker').val(dataSelect.maker);
	  $('#makeDate').val(dataSelect.makeDate);

	  var SQLAuditor={SQL:"SQLSRStaffs"};
	  var auditor="#auditor";
	  Fun_getSQLSelectDBData(SQLAuditor,auditor,dataSelect.auditor);
	  $("#auditor").attr("disabled",true);


}


//函数:详情按钮详情页自动填写内容------------------------
function Fun_BPTDetailInit(dataSelect){

	Fun_BPTDetailInitPart1(dataSelect);
	var auditResult=dataSelect.auditResult;

	var auditor=dataSelect.auditor;
//	var auditor=Fun_getSelectText($('#auditor option:selected').text());
	console.log("Fun_BPTDetailInit auditor:"+auditor);

	if(auditResult==null){
		
		
		var SQLMHEName={SQL:"SQLSRMachines"};
		var MHEName="#MHEName";
		Fun_getSQLSelectDBData(SQLMHEName,MHEName,dataSelect.PLDMHEName);

		var SQLModel={SQL:"SQLSRSystems"};
		var model="#model";
		Fun_getSQLSelectDBData(SQLModel,model,dataSelect.PLDModel);

		$('#OGNSystemVersion').val(dataSelect.PLDOGNSystemVersion);
	}else{
		var SQLMHEName={SQL:"SQLSRMachines"};
		var MHEName="#MHEName";
		Fun_getSQLSelectDBData(SQLMHEName,MHEName,dataSelect.MHEName);

		var SQLModel={SQL:"SQLSRSystems"};
		var model="#model";
		Fun_getSQLSelectDBData(SQLModel,model,dataSelect.model);

		$('#OGNSystemVersion').val(dataSelect.OGNSystemVersion);
	}



	if(auditor==null){
		 $("#auditTypeOption1").prop("checked",true);
	}else{
		$("#auditTypeOption3").prop("checked",true);
	}




	switch(auditResult){
	case null:
		 $("#DivAuditImage").attr('src',"");


		 $("#modifyTypeOption1").prop("checked",true);
		 $('#maker').val(sessionName);

		 $("#DivFileBTNS").show();
		 $("#DivTaskBTNS").show();
		 $('#BTNTaskSave').show();

		 $("#BTNBPTSave").show();
		 $("#BTNBPTUpdateVer").hide();
		 $("#BTNBPTAuditYes").hide();
		 $("#BTNBPTAuditNo").hide();

		 break;
	case 0:
		 $("#DivAuditImage").attr('src',"");
		Fun_BPTDetailInitPart2(dataSelect);

		 $("#DivFileBTNS").show();
		 $("#DivTaskBTNS").show();
		 $('#BTNTaskSave').show();

		 $("#BTNBPTSave").show();
		 $("#BTNBPTUpdateVer").hide();

		 $("#BTNBPTAuditYes").hide();
		 $("#BTNBPTAuditNo").hide();
		break;
	case 1:
		
		
		$("#DivAuditImage").attr('src',"/images/auditYes.png");
		$('input').attr("disabled",true);
		$('select').attr("disabled",true);
		$('textarea').attr("disabled",true);
		  
		Fun_BPTDetailInitPart2(dataSelect);

	  $('#auditDate').val(dataSelect.auditDate);
	  $('#BPTAuditOpinion').val(dataSelect.BPTAuditOpinion);

	  $("#DivFileBTNS").hide();
	  $("#DivTaskBTNS").hide();
	  $('#BTNTaskSave').hide();

	  $("#BTNBPTSave").hide();
	  $("#BTNBPTUpdateVer").show();
	  $("#BTNBPTAuditYes").hide();
	  $("#BTNBPTAuditNo").hide();
	  
	    break;
	
	case 2:
		
		$("#DivAuditImage").attr('src',"/images/auditNo.png");
		$('input').attr("disabled",true);
		$('select').attr("disabled",true);
		$('textarea').attr("disabled",true);
		
		Fun_BPTDetailInitPart2(dataSelect);

	  $('#auditDate').val(dataSelect.auditDate);
	  $('#BPTAuditOpinion').val(dataSelect.BPTAuditOpinion);

	  $("#DivFileBTNS").hide();
	  $("#DivTaskBTNS").hide();
	  $('#BTNTaskSave').hide();

	  $("#BTNBPTSave").hide();
	  $("#BTNBPTUpdateVer").show();
	  $("#BTNBPTAuditYes").hide();
	  $("#BTNBPTAuditNo").hide();
	  
	    break;






	}


}

//函数-根据自定义SQL获取数据加载Task表格,不显示搜索分页,简易模式


function Fun_showSQLLiteTable(SQL,tableInfo){

	//alert(JSON.stringify(DataPara));

		$(tableInfo.tableID).DataTable().destroy();//销毁原数据表格,防止加载错误

		$(tableInfo.tableID).DataTable({
		    ajax: {
		        url: '/app/PM/getSQLDBData',
		        data:SQL,
		        dataSrc: ''
		    },
		    columns: tableInfo.columnsData,
		    aaSorting: [0, 'desc'],//默认排序
		    paging: false, // 禁止分页
		    bFilter: false,    //去掉搜索框方法三：这种方法可以
//	        bLengthChange: false,   //去掉每页显示多少条数据方法
		    "language": languageCN
		});

		//判断是否选中数据-------

		 $(tableInfo.tableID+' tbody').unbind();//解除事件绑定,防止重复定义.

		 var tableTask = $(tableInfo.tableID).DataTable();


		 $(tableInfo.tableID+' tbody').on('click', 'tr', function() {

		     if ($(this).hasClass('selected')) {
		         $(this).removeClass('selected');
		         $('#billTaskPanel').hide();
		     } else {
		    	 tableTask.$('tr.selected').removeClass('selected');
		         $(this).addClass('selected');
		         $('#billTaskPanel').show();

		         var dataSelectTask = tableTask.row('.selected').data();

			     console.log("dataSelectTask:"+JSON.stringify(dataSelectTask));

			     //控制其他组件防止误操作.bear
			     
			     $("input:radio[name=taskSortType][value="+dataSelectTask.taskSortType+"]").prop("checked",true);
			     $('input:radio[name="taskSortType"]').attr("disabled",true);
			     

			     $("input:radio[name=taskType][value="+dataSelectTask.taskType+"]").prop("checked",true);
			     $('input:radio[name="taskType"]').attr("disabled",true);


			 	 $('input:checkbox[name="modfiyABE"]').prop("checked",false);

			     setCheckBoxValue("modfiyABE",dataSelectTask.modfiyABE);


			     $("#BTID").val(dataSelectTask.BTID);
			     $("#BTID").attr("disabled","true");

			    var SQLTaskStaff={SQL:"SQLSRStaffs"};
				var taskStaff="#taskStaff";
				Fun_getSQLSelectDBData(SQLTaskStaff,taskStaff,dataSelectTask.taskStaff);
				
				 $('#taskLimitDate').val(dataSelectTask.taskLimitDate);

				 $("#BTVersion").text(dataSelectTask.BTVersion);

				 $("#BTAcceptResultText").text(dataSelectTask.BTAcceptResultText);

				 $("#taskDBE").val(dataSelectTask.taskDBE);

		     }

		 });

}



//函数-添加任务单,并刷新任务单列表
function Fun_addTask(DBData) {

    $.ajax({
        method: 'post',
        url: '/app/PM/addDBData',
        data: DBData,
        success: function(data) {
//            alert("成功数据:" + JSON.stringify(data));
           if (data.affectedRows != 0) {
               alert("新增任务单成功!");
          	   Fun_showSQLLiteTable(tasksTableSQL,tasksTableInfo);
          	   $('#BTNTaskAdd').click();
          	   $('#billTaskPanel').hide();

           }
       },
       error:function(err){
       	alert("失败数据:"+JSON.stringify(err));
       }
    });
}


///函数-更新任务单,并刷新任务单列表
function Fun_updTask(DBData) {
    $.ajax({
        method: 'post',
        url: '/app/PM/updDBData',
        data: DBData,
        success: function(data, textStatus) {
 //                alert("成功数据:"+JSON.stringify(data));
            if (data.changedRows != 0) {
                alert("更新任务单数据成功!");

                Fun_showSQLLiteTable(tasksTableSQL,tasksTableInfo);

                $('#BTNTaskAdd').click();
           	    $('#billTaskPanel').hide();

            } else {
                alert("未有任务单数据更新!");
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {}
    });
}


//函数-添加任务单,并刷新任务单列表
function Fun_delTask(IDData) {
    $.ajax({
        method: 'post',
        url: '/app/PM/delDBData',
        data: IDData,
        success: function(data, textStatus) {
            //  alert("成功数据:"+JSON.stringify(data));
            if (data.affectedRows != 0) {
                alert("删除任务单成功!");
             	   Fun_showSQLLiteTable(tasksTableSQL,tasksTableInfo);
             	  $('#BTNTaskAdd').click();
             	  $('#billTaskPanel').hide();

            } else {
                alert("删除任务单失败!");
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {}
    });
}






//页面加载函数---------------
$(document).ready( function () {


    tableSQL={"SQL":"SQLTableBillsBPT"};

    sessionName="<%-locals.session.yjUser.Name%>";

//	console.log("sessionName:"+sessionName);


    tableInfo={
			"tableID":"#billsBPTTable",
			"columnsData":[
				{ data: 'DBID' ,"visible": false},
		        { data: 'BPID' },
		        { data: 'PLDVersion'},
		        { data: 'PLDCTRName'},
		        { data: 'PLDLimitDate'},
		        { data: 'PLDPGEMaker'},
		        { data: 'BPTVersion'},
		        { data: 'BPTStatusText'}

			]
	}

	Fun_showSQLTable(tableSQL,tableInfo);


//判断是否选中数据-------
var table = $('#billsBPTTable').DataTable();
$('#billsBPTTable tbody').on('click', 'tr', function() {
    if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
    } else {
        table.$('tr.selected').removeClass('selected');
        $(this).addClass('selected');
    }

    var dataSelect = table.row('.selected').data();


});


//绑定radio切换改变任务单号事件

$('input[type=radio][name=taskSortType]').change(function() {
	Fun_BTIDCreate();

});

$('input[type=radio][name=taskType]').change(function() {
	Fun_BTIDCreate();

});


//定义左侧跟踪栏按钮效果,设定可添加html
$("[data-toggle='popover']").popover({html : true });


////按钮-新增计划单---------
//$('#BTNAdd').click(function() {
//	$('#BillBPT').modal('show');
//	Fun_winAddInit();
// 
//});



//radio 定义更换按键触发事件-----------
$('input:radio[name="auditType"]').click(function(){
	var radioValue = $('input:radio[name="auditType"]:checked').val();
//	alert(radioValue);

	switch(radioValue){
	case "1":
		var SQLAuditor={SQL:"SQLSRStaffs"};
		var auditor="#auditor";
		Fun_getSQLSelectDBData(SQLAuditor,auditor);
	    $("#auditor").attr("disabled",true);
	    $('#auditDate').val("");
	    $('#auditResult').val("");

	    break;
	case "2":

	    var SQLAuditor={SQL:"SQLSRStaffs"};
		var auditor="#auditor";
		Fun_getSQLSelectDBData(SQLAuditor,auditor,sessionName);
	    $("#auditor").attr("disabled",true);
	    $('#auditDate').val("");
	    $('#auditResult').val(0);
	    break;
	case "3":

	    $('#auditDate').val("");
	    var SQLAuditor={SQL:"SQLSRStaffs"};
		var auditor="#auditor";
		Fun_getSQLSelectDBData(SQLAuditor,auditor);
	    $("#auditor").attr("disabled",false);
	    $('#auditResult').val(0);
	    break;


	}

});



//按钮-方案维护--------
$('#BTNBPTInfo').click(function() {
    console.log("seclet: "+JSON.stringify(table.row('.selected').data()));
    // table.row('.selected').remove().draw( false );
    var dataSelect = table.row('.selected').data();
    if (dataSelect == undefined) {
        alert("请点击表格先选中需要维护方案的计划单!");
    } else {

    	$('#BillBPT').modal('show');
    	Fun_BPTDetailInit(dataSelect);


    }
});


//按钮-方案审核--------
$('#BTNBPTAudit').click(function() {
    console.log("seclet: "+JSON.stringify(table.row('.selected').data()));
    // table.row('.selected').remove().draw( false );
    var dataSelect = table.row('.selected').data();
    if (dataSelect == undefined) {
        alert("请点击表格先选中需要审核的方案!");
    } else {

    	switch(dataSelect.auditResult){
    	case null:
    		alert("该计划单不存在方案,请与方案人确认!");
    		break;
    	case 0:
    		$('#BillBPT').modal('show');
        	Fun_BPTDetailInit(dataSelect);

        	 $("#DivFileBTNS").hide();
      	     $("#DivTaskBTNS").hide();

        	 $('#BTNBPTSave').hide();
        	 $("#BTNBPTAuditYes").show();
    		 $("#BTNBPTAuditNo").show();
        	break;
    	default:
    		alert("该方案已经审核,无需再次审核!");

    	}

    }
});









//按钮-任务新增

$('#BTNTaskAdd').click(function(){

	$('#billTaskPanel').show();
	
	Fun_BTIDCreate();

//	$('input:radio[name="taskType"]').prop("checked",false);
	
	$('input:radio[name="taskSortType"]').attr("disabled",false);

	$('input:radio[name="taskType"]').attr("disabled",false);

	$('input:checkbox[name="modfiyABE"]').prop("checked",false);

	$('#BTVersion').text(0);
	$('#BTAcceptResultText').text('新增');

	var SQLTaskStaff={SQL:"SQLSRStaffs"};
	var taskStaff="#taskStaff";
	Fun_getSQLSelectDBData(SQLTaskStaff,taskStaff);

	$('#taskLimitDate').val($('#limitDate').val());

	$('#taskDBE').val("");


});


//按钮-任务删除---------
$('#BTNTaskDel').click(function() {

	var tableTask = $('#billsTaskTable').DataTable();
    var dataSelectTask = tableTask.row('.selected').data();

   console.log(JSON.stringify(dataSelectTask));

    if (dataSelectTask == undefined) {
        alert("未选择任何任务单,请在任务清单中选中需要删除的任务单!");
    } else {

    	if(dataSelectTask.BTAcceptResult==1||dataSelectTask.BTAcceptResult==2){
    		alert("已确认过的任务单禁止删除!");
    	}else{

    		var msg = confirm("风险操作！此行数据内容移除后无法还原，请确认操作是否无误！");
            if (msg === true) {

                    var IDData = {"DBTable":"ppm_bills_task","DBID":dataSelectTask.DBID};
 //                   console.log("IDData:"+JSON.stringify(IDData));
                    Fun_delTask(IDData);

            }


    	}

    }

});


//按钮-任务保存

$('#BTNTaskSave').click(function(){

	var taskType = $('input:radio[name="taskType"]:checked').val();
	var taskBPID=$('#taskBPID').val();
	var modfiyABE=getCheckBoxValue('modfiyABE');

	var BTAcceptResultText=$('#BTAcceptResultText').text();

	switch(BTAcceptResultText){
	case '新增':
		var billData={
		"DBTable":"ppm_bills_task",
		"BTID":$('#BTID').val(),
		"BTVersion":0,
		"taskBPID":taskBPID,
		"taskSortType":$('input:radio[name="taskSortType"]:checked').val(),
		"taskType":$('input:radio[name="taskType"]:checked').val(),
		"taskCTRName":$('#CTRName').val(),
		"taskStaff":$('#taskStaff option:selected').text(),
		"modfiyABE":modfiyABE,
		"taskDBE":$('#taskDBE').val(),
		"taskLimitDate":$('#taskLimitDate').val(),
		"taskMaker":sessionName,
		"taskMakeDate":Ndate,
//		"BTAcceptResult":0,
		"BTStatus":1
        }

        console.log("billData:"+JSON.stringify(billData));
        Fun_addTask(billData);

	break;
	case '未确认':

		var tableTask = $('#billsTaskTable').DataTable();
	    var dataSelectTask = tableTask.row('.selected').data();

		var billData={
		"DBTable":"ppm_bills_task",
		"DBID":dataSelectTask.DBID,
		"BTID":$('#BTID').val(),
		"BTVersion":0,
		"taskBPID":taskBPID,
		"taskSortType":$('input:radio[name="taskSortType"]:checked').val(),
		"taskType":$('input:radio[name="taskType"]:checked').val(),
		"taskStaff":$('#taskStaff option:selected').text(),
		"modfiyABE":modfiyABE,
		"taskDBE":$('#taskDBE').val(),
		"taskLimitDate":$('#taskLimitDate').val(),
		"taskMaker":sessionName,
		"taskMakeDate":Ndate,
//		"BTAcceptResult":0,
		"BTStatus":1
        }

        console.log("billData:"+JSON.stringify(billData));
		Fun_updTask(billData);

	break;

	default:

		var msg = confirm("风险操作！已审核任务单不允许修改,如保存将更新任务单版本!");
        if (msg === true){

        	var tableTask = $('#billsTaskTable').DataTable();
            var dataSelectTask = tableTask.row('.selected').data();

            var billData={
            		"DBTable":"ppm_bills_task",
            		"BTID":dataSelectTask.BTID,
            		"BTVersion":dataSelectTask.BTVersion+1,
            		"taskBPID":taskBPID,
            		"taskSortType":$('input:radio[name="taskSortType"]:checked').val(),
            		"taskType":$('input:radio[name="taskType"]:checked').val(),
            		"taskStaff":$('#taskStaff option:selected').text(),
            		"modfiyABE":modfiyABE,
            		"taskDBE":$('#taskDBE').val(),
            		"taskLimitDate":$('#taskLimitDate').val(),
            		"taskMaker":sessionName,
            		"taskMakeDate":Ndate,
//            		"BTAcceptResult":0,
            		"BTStatus":1
                    }

                    console.log("billData:"+JSON.stringify(billData));
                    Fun_addTask(billData);

        }


    }



});




//按钮-方案保存

$('#BTNBPTSave').click(function(){

	var BPTBPID=$('#BPTBPID').val();
	var BPTID=$('#BPTID').val();
	var BPTVersion=$('#BPTVersion').text();
	var CTRName=$('#CTRName').val();
	var PGEMaker=$('#PGEMaker').val();
	var limitDate=$('#limitDate').val();
    var	MHEName=Fun_getSelectText($('#MHEName option:selected').text());
    var	model=Fun_getSelectText($('#model option:selected').text());
    var OGNSystemVersion=$('#OGNSystemVersion').val();



    var modifyType=$('input:radio[name="modifyType"]:checked').val();
    var	modifyReason=getCheckBoxValue("modifyReason");
    var BPTDescribe=$('#BPTDescribe').val();
    var auditor=Fun_getSelectText($('#auditor option:selected').text());
    console.log("auditor:"+auditor);

    if($('#filePath').attr('href')!=undefined){
		var fileKey=$('#filePath').attr('href').substring(30);//去掉多余的字符串前缀
		var fileName=$('#fileName').html();
		}else{
		var fileKey="";
		var fileName="";
	}
    
    files={"fileName":fileName,"fileKey":fileKey};


    var BPTStatusText=$('#BPTStatusText').text();
    
    
	var DBID=$('#DBID').val();
    
        	var BPTData={
    			"DBTable":"ppm_bills_blueprint",
    			"DBID":DBID,
    			"BPTBPID":BPTBPID,
    			"BPTID":BPTID,
    			"BPTVersion":BPTVersion,
    			"CTRName":CTRName,
    			"PGEMaker":PGEMaker,
    			"limitDate":limitDate,
    			"MHEName":MHEName,
    			"model":model,
    			"OGNSystemVersion":OGNSystemVersion,
    			"modifyType":modifyType,
    			"modifyReason":modifyReason,
    			"BPTDescribe":BPTDescribe,
    			"maker":sessionName,
    			"makeDate":Ndate,
    			"auditResult":0,
    			"auditor":auditor,
    			"files":JSON.stringify(files),
    			"fileKey":fileKey,
    			"fileName":fileName
    			}
    
        	
//        	alert("BPTData:"+JSON.stringify(BPTData));
    
        	saveDBData(BPTData,"方案单");
        	


});


//按钮-方案更新

$('#BTNBPTUpdateVer').click(function(){


	var msg1 = confirm("风险操作！已审核的单据更新版本,原单据将失效!");
    if (msg1 === true) {
        var msg2 = confirm("确认更新版本？");
        if (msg2 === true) {

        	var BPTBPID=$('#BPTBPID').val();
        	var BPTID=$('#BPTID').val();
        	var newVersion=parseInt($('#BPTVersion').text())+1;
        	var CTRName=$('#CTRName').val();
        	var PGEMaker=$('#PGEMaker').val();
        	var limitDate=$('#limitDate').val();
            var	MHEName=Fun_getSelectText($('#MHEName option:selected').text());
            var	model=Fun_getSelectText($('#model option:selected').text());
            var OGNSystemVersion=$('#OGNSystemVersion').val();

            var modifyType=$('input:radio[name="modifyType"]:checked').val();
            var	modifyReason=getCheckBoxValue("modifyReason");
            var BPTDescribe=$('#BPTDescribe').val();
//            var auditor=Fun_getSelectText($('#auditor option:selected').text());
//            console.log("auditor:"+auditor);

            if($('#filePath').attr('href')!=undefined){
        		var fileKey=$('#filePath').attr('href').substring(30);//去掉多余的字符串前缀
        		var fileName=$('#fileName').html();
        		}else{
        		var fileKey="";
        		var fileName="";
        	}
            
            files={"fileName":fileName,"fileKey":fileKey};


            var billData={
        			"DBTable":"ppm_bills_blueprint",
        			"BPTBPID":BPTBPID,
        			"BPTID":BPTID,
        			"BPTVersion":newVersion,
        			"CTRName":CTRName,
        			"PGEMaker":PGEMaker,
        			"limitDate":limitDate,
        			"MHEName":MHEName,
        			"model":model,
        			"OGNSystemVersion":OGNSystemVersion,
        			"modifyType":modifyType,
        			"modifyReason":modifyReason,
        			"BPTDescribe":BPTDescribe,
        			"maker":sessionName,
        			"makeDate":Ndate,
        			"auditResult":0,

        			"files":JSON.stringify(files),
        			"fileKey":fileKey,
        			"fileName":fileName
        			}

            	console.log("无方案 billData:"+JSON.stringify(billData));
        	    addDBData(billData);

//            	if(auditor!=null&&auditor!=""){
//            		var DDMsg={"Msg":billData.auditor+"您已被指定为,方案单号:"+billData.BPTID+"的审核人,请注意审核!"};
//            		Fun_addDBDataDD(billData,DDMsg,"新版本方案单");
//
//            	}else{
//
//            		console.log("billData:"+JSON.stringify(billData));
//                
//
//            	}

        	}
        }



});



//按钮-表单审核通过按钮
$('#BTNBPTAuditYes').click(function() {


	if(sessionName==$('#auditor option:selected').text()){
		var msg = confirm("审核后无法修改单据,是否立即审核通过?");
		if(msg==true){


			 var tableTask = $('#billsTaskTable').DataTable();
			 var TaskNum = (tableTask.page.info()).recordsTotal;//总任务数
//			 alert("TaskNum:"+TaskNum);


			 var PLDUpdData={
						"DBTable":"ppm_bills_plan",
						"BillIDName":"BPID",
						"BillID":$('#BPTBPID').val(),
						"TaskNum":TaskNum,
						"WFStatus":20
				}

	//		 updDBDataS(PLDUpdData);




			var BPTAuditData={
					"DBTable":"ppm_bills_blueprint",
					"DBID":$('#DBID').val(),
					"auditor":sessionName,
					"auditDate":Ndate,
					"auditResult":1,
					"BPTAuditOpinion":$('#BPTAuditOpinion').val(),
					"BPTStatus":1
			}


			 var taskUpdData={
						"DBTable":"ppm_bills_task",
						"BillIDName":"taskBPID",
						"BillID":$('#BPTBPID').val(),
						"BTAcceptResult":0
			}


			 var ajax1=$.ajax({
			        method: 'post',
			        url: '/app/PM/updBillStatus',
			        data: PLDUpdData,
			        success: function(data, textStatus) {
			        },
			        error: function(XMLHttpRequest, textStatus, errorThrown) {}
			        });

			var ajax2=$.ajax({
		        method: 'post',
		        url: '/app/PM/updDBData',
		        data: BPTAuditData,
		        success: function(data, textStatus) {
		        },
		        error: function(XMLHttpRequest, textStatus, errorThrown) {}
		        });

			var ajax3=$.ajax({
			        method: 'post',
			        url: '/app/PM/updBillStatus',
			        data: taskUpdData,
			        success: function(data, textStatus) {
			        },
			        error: function(XMLHttpRequest, textStatus, errorThrown) {}
			        });


	//		updDBData(BPTAuditData,"方案审核状态");


			$.when(ajax1,ajax2,ajax3).done(function(){
				alert("方案已审核通过!");
				window.location.reload();

			});




//	window.location.reload();
		}
	}else{
		alert("审核人未指定或,当前账号非该单据的指定审核人,不允许审核!");
	}


});

//按钮-表单审核驳回按钮
$('#BTNBPTAuditNo').click(function() {

	if(sessionName==$('#auditor option:selected').text()){
		var msg = confirm("如计划单信息有误,可先修改后再审核,驳回后此单立即完结,是否立即审核驳回?");
		if(msg==true){




			var PLDUpdData={
					"DBTable":"ppm_bills_plan",
					"BillIDName":"BPID",
					"DBID":$('#PLDDBID').val(),
					"WFStatus":19
			}



			var BPTAuditData={
					"DBTable":"ppm_bills_blueprint",
					"DBID":$('#DBID').val(),
					"auditor":sessionName,
					"auditDate":Ndate,
					"auditResult":2,
					"BPTAuditOpinion":$('#BPTAuditOpinion').val(),
					"BPTStatus":2
			}

//			var taskUpdData={
//					"DBTable":"ppm_bills_task",
//					"BillIDName":"taskBPID",
//					"DBID":$('#PLDDBID').val(),
//					"BTAcceptResult":19
//			}


			var ajax1=$.ajax({
		        method: 'post',
		        url: '/app/PM/updBillStatus',
		        data: PLDUpdData,
		        success: function(data, textStatus) {
		        },
		        error: function(XMLHttpRequest, textStatus, errorThrown) {}
		        });

			var ajax2=$.ajax({
	        method: 'post',
	        url: '/app/PM/updDBData',
	        data: BPTAuditData,
	        success: function(data, textStatus) {
	        },
	        error: function(XMLHttpRequest, textStatus, errorThrown) {}
	        });



		$.when(ajax1,ajax2).done(function(){
			alert("方案已审核驳回!");
			window.location.reload();

		});


		}
	}else{
		alert("审核人未指定或,当前账号非该单据的指定审核人,不允许审核!");
	}


});



//按钮-表单关闭按钮,添加刷新数据功能
$('#BTNBPTClose').click(function() {
	 window.location.reload();
});

});

</script>
