<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.css">
<link href="/css/PM/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="/css/PM/bootstrap-select.min.css" />


<!-- JS  -->

<script src="/css/PM/DataTables/Bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/css/PM/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>
<script src="/js/PM/FileSaver.min.js"></script>
<script src="/js/PM/tableExport.js"></script>
<script src="/js/PM/PMfuns.js"></script>



<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>


<div class="divcontent">

	<h1>基础信息-数据关系(开发中)</h1>
	<hr>
	
	<div class="modal fade" id="winModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:75%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">数据关系</h4>
            </div>
            <div class="modal-body">
            
            
            
            <div class="form-group">  
            
            <label  class="control-label">基础数据:</label>
            
            <select  id="OrgDBType" class="selectpicker" > 

            <option value="ppm_customers">客户</option>
            <option value="ppm_systems">系统</option>
            <option value="ppm_staffs">人员</option>
            <option value="ppm_machines">机种</option>
            </select>
            
            <select  id="OrgDBTypeSub" class="selectpicker" data-live-search="true" > 
            </select>
            

            </div>

            <!-------------------------------------------------------------------------->
            
            <div class="form-group">  
           
            <label  class="control-label">绑定数据:</label>  
            
         
            <select  id="BindDBType" class="selectpicker"> 

            <option value="ppm_customers">客户</option>
            <option value="ppm_systems">系统</option>
            <option value="ppm_staffs">人员</option>
            <option value="ppm_machines">机种</option>
            </select>


            <select  id="BindDBTypeSub" class="selectpicker" data-live-search="true"> 
            </select>

            <button id="BTNAddBindDo" class="btn btn-info">添加绑定</button>
   
            </div>
            <!-------------------------------------------------------------------------->
            
            <div class="form-group">  
            
            <label  class="control-label">选中基础数据:</label> 
            
            <p>bindDBID:<span id="spanDBID"></span></p> 
            <p>类型:<span id="spanDBType"></span> </p> 
            <p>类型表名:<span id="spanTableName"></span> </p> 
            <p>数据DBID:<span id="spanBaseDBID"></span></p> 
            <p>数据值:<span id="spanBaseName"></span></p> 
            <table id="tableSingleDataBinds" class="table table-bordered"  >
            <thead>
                <tr>
                    <th>基础数据类型</th>
                    <th>基础数据值</th>
                    <th>绑定DBID</th>
                    <th>绑定数据类型</th>
                    <th>绑定数据值</th>
                    <th>绑定数据分组</th>
                    <th>解除绑定</th>
                </tr>
            </thead> 
            <tbody>
            </tbody>
           
            </table>
            
            
            </div>
            
            <!-------------------------------------------------------------------------->
            </div>
            <div class="modal-footer">
                <button id="BTNSaveDataBinds" type="button" class="btn btn-success" >保存绑定关系</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
    </div>


   <!-- 操作区（按钮等） -->
   <div class="lineitem">
       <button id="BTNAddBinds" class="btn btn-primary">添加</button>
       <button id="BTNUpdBinds" class="btn btn-info">更新</button>
       <button id="BTNDelBinds" class="btn btn-danger">删除</button>
   </div>
   <br/>

   <!--数据呈现区-->
   <table id="tableDataBinds" class="table table-striped table-bordered"  >
       <thead>
           <tr>
               <th>ID</th>
               <th>源数据类型</th>
               <th>源数据值</th>
               <th>状态</th>
           </tr>
       </thead>
   </table>
   
   
   

</div>

<script>


//定义绑定发送数据结构---------------------

function Fun_bindDataInfo(DBTable,OrgDBType,OrgDBTypeName,OrgDBTypeSub,OrgDBTypeSubName,BindDBType,BindDBTypeName,BindDBTypeSub,BindDBTypeSubName){
	this.DBTable=DBTable;
	this.OrgDBType=OrgDBType;
	this.OrgDBTypeName=OrgDBTypeName;
	this.OrgDBTypeSub=OrgDBTypeSub;
	this.OrgDBTypeSubName=OrgDBTypeSubName;
	this.BindDBType=BindDBType;
	this.BindDBTypeName=BindDBTypeName;
	this.BindDBTypeSub=BindDBTypeSub;
	this.BindDBTypeSubName=BindDBTypeSubName;
} 


//检查输入信息-------------------
function Fun_checkinput(Data) {
	
//	alert(JSON.stringify(Data));
	
    if (Data.OrgDBType=="0") {
        alert('源数据类型未选择，请检查!');
        return false;
    } else if (Data.OrgDBTypeSub==null) {
        alert('源数据值未选择，请检查!');
        return false;
    }else if (Data.BindDBType=="0") {
        alert('绑定数据类型未选择，请检查!');
        return false;
    }else if (Data.BindDBTypeSub==null) {
        alert('绑定数据值未选择，请检查!');
        return false;
    }else if (Data.OrgDBType==Data.BindDBType) {
        alert('选择同类型数据不能绑定，请检查!');
        return false;
    }
    return true;
}  

//函数 检查绑定DBID是否已经添加

function checkBindDBID(DBID){
	let tableTrNum=$("#tableSingleDataBinds").find("tr").length-1;

		for(let i=0;i<tableTrNum;i++){
		 let tableDBID=$("#tableSingleDataBinds tr:eq("+(i+1)+") td:eq(2)").html();

		 if(DBID==tableDBID){
			 alert("该绑定数据已存在,无需重复添加!");
			 return false;
		  }
		 }

	return true;

}


/**删除一行*/
function delTr(trID){
    $(trID).parent().parent().remove();
}



$(document).ready( function () {
	


//定义原数据变更实际-----------------------------	
	$("#OrgDBType").change(function(){

		var DBtype=$("#OrgDBType").val();

		switch(DBtype)
		{
		    case "ppm_customers":
		    	Fun_getSQLSelectDBData({SQL:"SQLSRCustomers"},"#OrgDBTypeSub");
		    	
		    	$("#BindDBType option").attr("disabled", false);
		    	$("#BindDBType option[value='ppm_customers']").attr("disabled", true);
		        break;
		    case "ppm_staffs":

		    	Fun_getSQLSelectDBData({SQL:"SQLSRWorkTypeStaffs"},"#OrgDBTypeSub");
		    	$("#BindDBType option").attr("disabled", false);
		    	$("#BindDBType option[value='ppm_staffs']").attr("disabled", true);
		        break;
		    case "ppm_machines":

		    	Fun_getSQLSelectDBData({SQL:"SQLSRMachines"},"#OrgDBTypeSub");
		    	$("#BindDBType option").attr("disabled", false);
		    	$("#BindDBType option[value='ppm_machines']").attr("disabled", true);
		        break;
		        
		    case "ppm_systems":

		    	Fun_getSQLSelectDBData({SQL:"SQLSRSystems"},"#OrgDBTypeSub");
		    	$("#BindDBType option").attr("disabled", false);
		    	$("#BindDBType option[value='ppm_systems']").attr("disabled", true);
		        break;
		        
		    default:

		    	break;
		      
		}
		
		$("#spanDBType").text($("#OrgDBType option:selected").text());
		$("#spanTableName").text($("#OrgDBType option:selected").val());
		$("#spanBaseDBID").text("");
		$("#spanBaseName").text("");
		
})
	
//定义绑定数据变更事件---------------------------------	
$("#BindDBType").change(function(){

		var DBtype=$("#BindDBType").val();

				switch(DBtype)
				{
				    case "ppm_customers":
				    	Fun_getSQLSelectDBData({SQL:"SQLSRCustomers"},"#BindDBTypeSub");
				        break;
				    case "ppm_staffs":

				    	Fun_getSQLSelectDBData({SQL:"SQLSRWorkTypeStaffs"},"#BindDBTypeSub");
				        break;
				    case "ppm_machines":

				    	Fun_getSQLSelectDBData({SQL:"SQLSRMachines"},"#BindDBTypeSub");
				        break;
				        
				    case "ppm_systems":

				    	Fun_getSQLSelectDBData({SQL:"SQLSRSystems"},"#BindDBTypeSub");
				        break;
				        
				    default:
				    	
				    	break;
				      
				}

})
	

//	
//定义基础数据选择数据变更事件---------------------------------	
$("#OrgDBTypeSub").change(function(){
	
	console.log("OrgDBType:"+$("#OrgDBType option:selected").val());
	console.log("OrgDBTypeSub:"+$("#OrgDBTypeSub option:selected").val());
	

    	$("#spanDBType").text($("#OrgDBType option:selected").text());
    	$("#spanBaseDBID").text($("#OrgDBTypeSub option:selected").val());
		$("#spanBaseName").text(Fun_getSelectText($("#OrgDBTypeSub option:selected").text()));
		
		
		if($("#OrgDBType option:selected").val()!=undefined&&$("#OrgDBTypeSub option:selected").val()!=undefined){
			
			
				 $("#OrgDBType").attr("disabled",true);
				 $("#OrgDBTypeSub").attr("disabled",true);
	
		}
    	


		
})	


//按钮-添加绑定触发按钮

$('#BTNAddBinds').click(function() {
    $('#winModal').modal('show');
    
    
    $("#OrgDBType").selectpicker('val',"");
    $("#OrgDBTypeSub").selectpicker('val',"");
    $("#BindDBType").selectpicker('val',"");
    $("#BindDBTypeSub").selectpicker('val',"");
    
    
     $("#spanDBID").text("");
	 $("#spanDBType").text("");
	 $("#spanTableName").text("");
	 $("#spanBaseDBID").text("");
	 $("#spanBaseName").text("");
	 
	 $("#OrgDBType").attr("disabled",false);
	 $("#OrgDBTypeSub").attr("disabled",false);

});
	
//按钮-更新绑定触发按钮

$('#BTNUpdBinds').click(function() {
	
	var table = $('#tableDataBinds').DataTable();
	var dataSelect = table.row('.selected').data();
	
	console.log("dataSelect:"+JSON.stringify(dataSelect));
	
	 $('#winModal').modal('show');
	 
	 
	 $("#spanDBID").text(dataSelect.DBID);
	 $("#spanDBType").text(dataSelect.DBType);
	 $("#spanBaseDBID").text(dataSelect.baseDBID);
	 $("#spanBaseName").text(dataSelect.baseName);
	 
	 $("#OrgDBType").selectpicker('val',dataSelect.tableName);
	 
	 
	 
	 switch(dataSelect.tableName)
		{
		    case "ppm_customers":
		    	Fun_getSQLSelectDBData({SQL:"SQLSRCustomers"},"#OrgDBTypeSub",dataSelect.baseName);
		    	
		    	$("#BindDBType option").attr("disabled", false);
		    	$("#BindDBType option[value='ppm_customers']").attr("disabled", true);
		        break;
		    case "ppm_staffs":

		    	Fun_getSQLSelectDBData({SQL:"SQLSRWorkTypeStaffs"},"#OrgDBTypeSub",dataSelect.baseName);
		    	$("#BindDBType option").attr("disabled", false);
		    	$("#BindDBType option[value='ppm_staffs']").attr("disabled", true);
		        break;
		    case "ppm_machines":

		    	Fun_getSQLSelectDBData({SQL:"SQLSRMachines"},"#OrgDBTypeSub",dataSelect.baseName);
		    	$("#BindDBType option").attr("disabled", false);
		    	$("#BindDBType option[value='ppm_machines']").attr("disabled", true);
		        break;
		        
		    case "ppm_systems":

		    	Fun_getSQLSelectDBData({SQL:"SQLSRSystems"},"#OrgDBTypeSub",dataSelect.baseName);
		    	$("#BindDBType option").attr("disabled", false);
		    	$("#BindDBType option[value='ppm_systems']").attr("disabled", true);
		        break;
		        
		    default:
		    	
		    	break;
		      
		}
	 
	 let bindsInfo=JSON.parse(dataSelect.bindsInfo);

	 
	 

});


//按钮-添加绑定关系按钮

$('#BTNAddBindDo').click(function() {
	
	if($("#BindDBTypeSub option:selected").val()==undefined||$("#BindDBTypeSub option:selected").val()==undefined){
		alert("未选择基础数据或绑定数据,不允许添加绑定,请检查!");
	}else{
		
		if(checkBindDBID($("#BindDBTypeSub option:selected").val())){
			let tr="<tr>" +
			"<td>"+$("#OrgDBType option:selected").text()+"</td>" +
			"<td>"+Fun_getSelectText($("#OrgDBTypeSub option:selected").text())+"</td>" +
			"<td>"+$("#BindDBTypeSub option:selected").val()+"</td>" +
			"<td>"+$("#BindDBType option:selected").text()+"</td>" +
			"<td>"+Fun_getSelectText($("#BindDBTypeSub option:selected").text())+"</td>" +
			"<td>"+Fun_getSelectTextPre($("#BindDBTypeSub option:selected").text())+"</td>" +
			"<td><a onclick='delTr(this)'>删除</a></td>" +
			"</tr>";
	     $('#tableSingleDataBinds').append(tr);
	     
	     
		}
	}
}); 
		
	
    
//添加按钮-----
$('#BTNSaveDataBinds').click(function() {
	
	let tableTrNum=$("#tableSingleDataBinds").find("tr").length-1;
	
	if(tableTrNum==0){
		alert("未添加任何绑定关系,请检查!");
	}else{
		let bindsInfo=[];
		
		for(let i=0;i<tableTrNum;i++){
			let bindInfo={
					DBID:$("#tableSingleDataBinds tr:eq("+(i+1)+") td:eq(2)").html(),
					DataType:$("#tableSingleDataBinds tr:eq("+(i+1)+") td:eq(3)").html(),
					DataVal:$("#tableSingleDataBinds tr:eq("+(i+1)+") td:eq(4)").html(),
					DataSort:$("#tableSingleDataBinds tr:eq("+(i+1)+") td:eq(5)").html()
			}
			bindsInfo.push(bindInfo);
			
		}
		
		
	    	let DataBinds={
	    			DBTable:"ppm_dbbinds",
	    			DBID:"",
	    			DBType:$("#OrgDBType option:selected").text(),
	    			tableName:$("#OrgDBType option:selected").val(),
	    			baseDBID:$("#OrgDBTypeSub option:selected").val(),
	    			baseName:Fun_getSelectText($("#OrgDBTypeSub option:selected").text()),
	    			bindsInfo:JSON.stringify(bindsInfo),
	    			status:1,
	    			statusText:"正常"
	    	}
	    	
	    	saveDBData(DataBinds,"绑定关系");
		
	}
	
	
    	
});
    
    
    
    
    //获取绑定数据按钮-----
    $('#getBindInfoBtn').click(function() {

    	var ChoDBType=$('#ChoDBType').val();
    	var ChoDBTypeSub=$('#ChoDBTypeSub').val();
    	
    	var ChoData={"OrgDBType":ChoDBType,"OrgDBTypeSub":ChoDBTypeSub};
 	
    	F_getBindDBData(ChoData);
    	
    });
    
    
    
	//表加载数据------------------
	var DataPara={
			"tableID":"#tableDataBinds",
			"DBTable":"ppm_dbbinds"			
	}
		
	
	var columnsData=[
		{ data: 'DBID' ,"visible": false},
        { data: 'DBType' },
        { data: 'baseName'},
        { data: 'statusText'}

    ];

// alert(JSON.stringify(DataPara));
	showDBData(DataPara,columnsData);
	
////判断是否选中数据-------
var table = $('#tableDataBinds').DataTable();
$('#tableDataBinds tbody').on('click', 'tr', function() {
    if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
    } else {
        table.$('tr.selected').removeClass('selected');
        $(this).addClass('selected');
    }
    
    
});

//解除绑定按钮----------
$('#unbindBtn').click(function() {
    var dataSelect = table.row('.selected').data();
    
//    alert(JSON.stringify(dataSelect));
    
    if (dataSelect == undefined) {
        alert("当前未选择任何数据,请先点击需要删除的数据行!");
    } else {
        var msg1 = confirm("风险操作！此行数据内容移除后无法还原，请确认操作是否无误！");
        if (msg1 === true) {
            var msg2 = confirm("确认删除此行数据？");
            if (msg2 === true) {
            	
            //	alert(dataSelect.DBID);
                var IDData = {"DBTable":"ppm_dbbinds","DBID":dataSelect.DBID};
             //   alert("IDData:"+JSON.stringify(IDData));
                delDBData(IDData);
            }
        }
    }
    //          table.row('.selected').remove().draw( false );//前端删除显示数据 ,数据库不删除
});
    


});

</script>