<!--本地路径-->
<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">


<div class="divcontent">
    <h1>点击按钮进入</h1>
    <hr>

    <!-- 操作区（按钮等） -->
    <div class="lineitem">
       <!-- <a href="http://172.16.3.48:2019/app/PM/billsTrack" target="_blank"><button  class="btn btn-info">进度跟踪</button></a>-->
        <a href="http://172.16.3.48:2019/app/PM/workCenter" target="_blank"><button  class="btn btn-warning">个人中心</button></a>
    </div>
    <br/>

</div>


