<!--本地路径-->
<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">


<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">


<!--<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/jquery.dataTables.css">-->

<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.css">

<!-- JS  -->
<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>


<script src="/js/PM/FileSaver.min.js"></script>
<script src="/js/PM/tableExport.js"></script>
<script src="/js/PM/PMfuns.js"></script>



<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>



<div class="divcontent">
    <h1>基础信息-角色</h1>
    <hr>
    <!--<button id="Add"  onclick="javascript:$('#win').window('open')">添加</button>-->
    <!-- 操作区（按钮等） -->
    <div class="lineitem">
        <button id="Add" class="btn btn-info">添加</button>
        <button id="Upd" class="btn btn-warning">更新</button>
        <button id="Del" class="btn btn-danger">删除</button>
    </div>
    <br/>

    <!--数据呈现区-->
    <table id="tableRoles" class="table table-striped table-bordered"  >
        <thead>
            <tr>
                <th>ID</th>
                <th>角色名称</th>
                <th>说明</th>
                <th>状态</th>
            </tr>
        </thead>
    </table>
    <!-- 点击更新、添加按钮后弹出的窗口 -->
    <div id="win" class="easyui-window" title="DBinfo" closed="true" style="width:80%;">
        <form style="padding:10px 50px;">

            <p>角色名称 : <input id="roleName" size="30" type="text" class="required"></p>
            
            <p>角色描述 : </br><textarea id="remark" rows="3" cols="100" ></textarea></p>
            
            <!-------------------------------------------------------------------------->
         

            <p>权限维护:</p>
            <table id="tableAuthorities"   class="table table-bordered">
            <tr>
            <th>计划单</th>
            <th>方案单</th>
            <th>任务单</th>
            <th>IPQC单</th>
            <th>FQC单</th>
            <th>发布单</th>
            </tr>
            <tr>
            <td>
            <p><input type="checkbox"  value="PLD01"> <span>计划单-新增</span></p>
            <p><input type="checkbox"  value="PLD02"> <span>计划单-修改</span></p>
            <p><input type="checkbox"  value="PLD03"> <span>计划单-删除</span></p>
            <p><input type="checkbox"  value="PLD04"> <span>计划单-审核</span></p>
            </td>
            <td>
            <p><input type="checkbox"  value="BPT01"> <span>方案单-新增</span></p>
            <p><input type="checkbox"  value="BPT02"> <span>方案单-修改</span></p>
            <p><input type="checkbox"  value="BPT03"> <span>方案单-删除</span></p>
            <p><input type="checkbox"  value="BPT04"> <span>方案单-审核</span></p>
            </td>
            <td>
            <p><input type="checkbox"  value="Task01"> <span>任务单-确认</span></p>
            <p><input type="checkbox"  value="Task02"> <span>任务单-登记</span></p>
            </td>
            <td>
            <p><input type="checkbox"  value="R1"> <span>功能修改1</span></p>
            <p><input type="checkbox"  value="R1"> <span>功能修改1</span></p>
            <p><input type="checkbox"  value="R1"> <span>功能修改1</span></p>
            </td>
            <td>
            <p><input type="checkbox"  value="R1"> <span>功能修改1</span></p>
            <p><input type="checkbox"  value="R1"> <span>功能修改1</span></p>
            <p><input type="checkbox"  value="R1"> <span>功能修改1</span></p>
            </td>
            <td>
            <p><input type="checkbox"  value="R1"> <span>功能修改1</span></p>
            <p><input type="checkbox"  value="R1"> <span>功能修改1</span></p>
            <p><input type="checkbox"  value="R1"> <span>功能修改1</span></p>
            </td>
            </tr>
            
            
            <tr>
            <th>T计划单</th>
            <th>T方案单</th>
            <th>T任务单</th>
            <th>T-IPQC单</th>
            <th>T-FQC单</th>
            <th>T发布单</th>
            </tr>
            
            </table>
        	 

            <p>数据状态 : 
                <select id="status">
                <option value="1">正常</option>
                <option value="2">作废</option>
                </select>
            </p>

          
            <div style="padding:5px;text-align:center;">
                <a id="AddDoButton"　href="#" class="easyui-linkbutton" icon="icon-ok">添加</a>
                <a id="UpdDoButton"　href="#" class="easyui-linkbutton" icon="icon-ok">更新</a>
                <a id="CancelButton" href="#" class="easyui-linkbutton" icon="icon-cancel">取消</a>
            </div>
        </form>
    </div>
</div>


<script>


//检查输入信息-------------------
function checkinput(Data) {
    if (Data.roleID=="") {
        alert('工号不能为空，请检查!');
        return false;
    } else if (Data.roleName=="") {
        alert('姓名不能为空，请检查!');
        return false;
    }
    return true;
}




//页面加载函数---------------
$(document).ready( function () {
		
	var DataPara={
			"tableID":"#tableRoles",
			"DBTable":"PPM_roles"			
	}
		
	
	var columnsData=[
		{ data: 'DBID' ,"visible": false},
        { data: 'roleName'},
        { data: 'roleDSC'},
        { data: 'statusText'}
    ];

//	alert(JSON.stringify(DataPara));
	showDBData(DataPara,columnsData);
	
//判断是否选中数据-------
var table = $('#tableRoles').DataTable();
$('#tableRoles tbody').on('click', 'tr', function() {
    if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
    } else {
        table.$('tr.selected').removeClass('selected');
        $(this).addClass('selected');
    }
});
	

//dbclick 测试判断是否选中数据-------

$('#tableRoles tbody').on('dblclick', 'tr', function() {
	
	 table.$('tr.selected').removeClass('selected');
     $(this).addClass('selected');
	$('#Upd').click();

});


//添加按钮-----
$('#Add').click(function() {
    $('#win').window('open');
    $('#AddDoButton').show();
    $('#UpdDoButton').hide();
    
});


//更新按钮---------
$('#Upd').click(function() {
 //   alert("seclet: "+JSON.stringify(table.row('.selected').data()));
    // table.row('.selected').remove().draw( false );
    var dataSelect = table.row('.selected').data();
    if (dataSelect == undefined) {
        alert("当前未选择任何数据,请先点击需要更新的数据行!");
    } else {
        $('#win').window('open');
        $('#AddDoButton').hide();
        $('#UpdDoButton').show();
        
        $('#roleName').val(dataSelect.roleName);
        $('#roleDSC').val(dataSelect.roleDSC);

        roleAuthorities=JSON.parse(dataSelect.roleAuthorities);
        
        if(roleAuthorities.length>0){
        	for(let i=0;i<roleAuthorities.length;i++){
//        		 console.log("Auths:"+JSON.stringify(roleAuthorities[i]));
        		
        		 $("#tableAuthorities").find(":checkbox").each(function(){
        			 
//        			 console.log("thisv:"+$(this).val());
        			 if($(this).val()==roleAuthorities[i].val){
        				 $(this).prop("checked",true);
        			 }
        		 });
        		
        		
        	}
        }
       
        
        $('#status').val(dataSelect.status);  
    }
});


//删除按钮----------
$('#Del').click(function() {
    var dataSelect = table.row('.selected').data();
    
//    alert(JSON.stringify(dataSelect));
    
    if (dataSelect == undefined) {
        alert("当前未选择任何数据,请先点击需要删除的数据行!");
    } else {
        var msg1 = confirm("风险操作！此行数据内容移除后无法还原，请确认操作是否无误！");
        if (msg1 === true) {
            var msg2 = confirm("确认删除此行数据？");
            if (msg2 === true) {
            	
            //	alert(dataSelect.DBID);
                var IDData = {"DBTable":"PPM_roles","DBID":dataSelect.DBID};
             //   alert("IDData:"+JSON.stringify(IDData));
                delDBData(IDData);
            }
        }
    }
    //          table.row('.selected').remove().draw( false );//前端删除显示数据 ,数据库不删除
});


//form框添加按钮----------
$('#AddDoButton').click(function() {

	var dataAuthorities = [];

	    $("#tableAuthorities").find(":checkbox:checked").each(function(){
	       var valText = $(this).next("span").text();
	       var val=$(this).val();
	       var valJSON={
	    		   val:val,
	    		   valText:valText
	       }
	       
	       dataAuthorities.push(valJSON);
	    });

	
	
	roleData={
			DBTable:"ppm_roles",
			roleName:$("#roleName").val(),
			roleDSC:$("#roleDSC").val(),
			roleAuthorities:JSON.stringify(dataAuthorities),
			status:$('#status option:selected').val(),
			statusText:$('#status option:selected').text()
	}
	
	alert(JSON.stringify(roleData));
	
	addDBData(roleData);


});




//form 更新按钮------------
$('#UpdDoButton').click(function() {
	
	var dataAuthorities = [];

    $("#tableAuthorities").find(":checkbox:checked").each(function(){
       var valText = $(this).next("span").text();
       var val=$(this).val();
       var valJSON={
    		   val:val,
    		   valText:valText
       }
       
       dataAuthorities.push(valJSON);
    });
	

    var updJSON={
			DBTable:"PPM_roles",
			DBID:table.row('.selected').data().DBID,
			roleName:$("#roleName").val(),
			roleDSC:$("#roleDSC").val(),
			roleAuthorities:JSON.stringify(dataAuthorities),
			status:$('#status option:selected').val(),
			statusText:$('#status option:selected').text()
    	};
	
    updDBData(updJSON,"角色信息");
    
});


//form框 取消按钮----------------
$('#CancelButton').click(function() {
    $('#win').window('close');
});

	
	
}); 

</script>
