<!--本地路径-->
<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">


<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">


<!--<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/jquery.dataTables.css">-->

<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.css">

<!-- JS  -->

<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>


<script src="/js/PM/FileSaver.min.js"></script>
<script src="/js/PM/tableExport.js"></script>
<script src="/js/PM/PMfuns.js"></script>

<script src="/js/sweetalert.min.js"></script>
<script src="/public/funs.js"></script>

<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>



<div class="divcontent">
    <h1>基础信息-人员</h1>
    <hr>
    <!--<button id="Add"  onclick="javascript:$('#win').window('open')">添加</button>-->
    <!-- 操作区（按钮等） -->
    <div class="lineitem">
        <button id="Add" class="btn btn-info">添加</button>
        <button id="Upd" class="btn btn-warning">更新</button>
        <button id="Del" class="btn btn-danger">删除</button>
    </div>
    <br/>

    <!--数据呈现区-->
    <table id="tableStaffs" class="table table-striped table-bordered"  >
        <thead>
            <tr>
                <th>ID</th>
                <th>工号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>角色</th>
                <th>FQC要求</th>
                <th>状态</th>
            </tr>
        </thead>
    </table>
    <!-- 点击更新、添加按钮后弹出的窗口 -->
    <div id="win" class="easyui-window" title="DBinfo" closed="true" style="width:400px;height:560px;">
        <form style="padding:10px 50px;">
            <p>工号 : <input id="staffID" size="30" type="text" class="required"></p>
            <p>姓名 : <input id="staffName" size="30" type="text" class="required"></p>
            
            <p>性别 :
            	<select id="staffSex">
                <option value="男">男</option>
                <option value="女">女</option>
                </select>
            </p>
            
            <!-------------------------------------------------------------------------->
            
            <p>角色:   
            <select  id="staffRole" class="selectpicker" data-live-search="true"> 
            </select>
            </p>
            
            
            
            <!-------------------------------------------------------------------------->
            <p>账号 : <input id="staffUser" size="30" type="text" class="required"></p>
            
            <p>FQC要求: 
                <select id="FQCRequest">
                <option value="0">无</option>
                <option value="1">有</option>
                </select>
            </p>
            <p>数据状态 : 
                <select id="status">
                <option value="1">正常</option>
                <option value="2">作废</option>
                </select>
            </p>

          
            <div style="padding:5px;text-align:center;">
                <a id="AddDoButton"　href="#" class="easyui-linkbutton" icon="icon-ok">添加</a>
                <a id="UpdDoButton"　href="#" class="easyui-linkbutton" icon="icon-ok">更新</a>
                <a id="CancelButton" href="#" class="easyui-linkbutton" icon="icon-cancel">取消</a>
            </div>
        </form>
    </div>
</div>


<script>


//检查输入信息-------------------
function checkinput(Data) {
    if (Data.staffID=="") {
        alert('工号不能为空，请检查!');
        return false;
    } else if (Data.staffName=="") {
        alert('姓名不能为空，请检查!');
        return false;
    }
    return true;
}

////定义添加发送数据结构---------------------
//
//function addDataInfo(DBTable,staffID,staffName,staffSex,staffUser,FQCRequest,FQCRequestText){
//	this.DBTable=DBTable;
//	this.staffID=staffID;
//	this.staffName=staffName;
//	this.staffSex=staffSex;
//	this.staffUser=staffUser;
//	this.FQCRequest=FQCRequest;
//	this.FQCRequestText=FQCRequestText;
//}


//页面加载函数---------------
$(document).ready( function () {
		
	var DataPara={
			"tableID":"#tableStaffs",
			"DBTable":"PPM_staffs"			
	}
		
	
	var columnsData=[
		{ data: 'DBID' ,"visible": false},
        { data: 'staffID' },
        { data: 'staffName'},
        { data: 'staffSex'},
        { data: 'staffRole'},
        { data: 'FQCRequestText'},
        { data: 'statusText'}
    ];

//	alert(JSON.stringify(DataPara));
	showDBData(DataPara,columnsData);
	
//判断是否选中数据-------
var table = $('#tableStaffs').DataTable();
$('#tableStaffs tbody').on('click', 'tr', function() {
    if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
    } else {
        table.$('tr.selected').removeClass('selected');
        $(this).addClass('selected');
    }
});
	

//dbclick 测试判断是否选中数据-------

$('#tableStaffs tbody').on('dblclick', 'tr', function() {
	
	 table.$('tr.selected').removeClass('selected');
     $(this).addClass('selected');
	$('#Upd').click();

});


//添加按钮-----
$('#Add').click(function() {
    $('#win').window('open');
    $('#AddDoButton').show();
    $('#UpdDoButton').hide();
    
    getSQLSelectDBData({SQL:"SQLSRRoles"},"#staffRole","");
    
});


//更新按钮---------
$('#Upd').click(function() {
 //   alert("seclet: "+JSON.stringify(table.row('.selected').data()));
    // table.row('.selected').remove().draw( false );
    var dataSelect = table.row('.selected').data();
    if (dataSelect == undefined) {
        alert("当前未选择任何数据,请先点击需要更新的数据行!");
    } else {
        $('#win').window('open');
        $('#AddDoButton').hide();
        $('#UpdDoButton').show();
        
        $('#staffID').val(dataSelect.staffID);
        $('#staffName').val(dataSelect.staffName);
        $('#staffSex').val(dataSelect.staffSex);
        getSQLSelectDBData({SQL:"SQLSRRoles"},"#staffRole",dataSelect.staffRole);
        
        $('#FQCRequest').val(dataSelect.FQCRequest);
        $('#status').val(dataSelect.status);
        $('#staffUser').val(dataSelect.staffUser);
        
    }
});


//删除按钮----------
$('#Del').click(function() {
    var dataSelect = table.row('.selected').data();
    
//    alert(JSON.stringify(dataSelect));
    
    if (dataSelect == undefined) {
        alert("当前未选择任何数据,请先点击需要删除的数据行!");
    } else {
        var msg1 = confirm("风险操作！此行数据内容移除后无法还原，请确认操作是否无误！");
        if (msg1 === true) {
            var msg2 = confirm("确认删除此行数据？");
            if (msg2 === true) {
            	
            //	alert(dataSelect.DBID);
                var IDData = {"DBTable":"PPM_staffs","DBID":dataSelect.DBID};
             //   alert("IDData:"+JSON.stringify(IDData));
                delDBData(IDData);
            }
        }
    }
    //          table.row('.selected').remove().draw( false );//前端删除显示数据 ,数据库不删除
});


//form框添加按钮----------
$('#AddDoButton').click(function() {
	
	
	var DBData={
			DBTable:"PPM_staffs",
			staffID:$("#staffID").val(),
			staffName:$("#staffName").val(),
			staffID:$("#staffID").val(),
			staffSex:$('#staffSex option:selected').val(),
			staffRole:$('#staffRole option:selected').text(),
			staffUser:$("#staffUser").val(),
			FQCRequest:$('#FQCRequest option:selected').val(),
			FQCRequestText:$('#FQCRequest option:selected').text(),
			status:$('#status option:selected').val(),
			statusText:$('#status option:selected').text()
	}

	addDBData(DBData);

});




//form 更新按钮------------
$('#UpdDoButton').click(function() {
	
 
	
	
	  var updJSON={
				DBTable:"PPM_staffs",
				DBID:table.row('.selected').data().DBID,
				staffID:$("#staffID").val(),
				staffName:$("#staffName").val(),
				staffID:$("#staffID").val(),
				staffSex:$('#staffSex option:selected').val(),
				staffRole:$('#staffRole option:selected').text(),
				staffUser:$("#staffUser").val(),
				FQCRequest:$('#FQCRequest option:selected').val(),
				FQCRequestText:$('#FQCRequest option:selected').text(),
				status:$('#status option:selected').val(),
				statusText:$('#status option:selected').text()
	    	};
		
	    updDBData(updJSON,"人员信息");
    
});


//form框 取消按钮----------------
$('#CancelButton').click(function() {
    $('#win').window('close');
});

	
	
}); 

</script>
