<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.css">
<link href="/css/PM/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="/css/PM/bootstrap-select.min.css" />


<!-- JS  -->

<script src="/css/PM/DataTables/Bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/css/PM/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"  src="/css/PM/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>
<script src="/js/PM/FileSaver.min.js"></script>
<script src="/js/PM/tableExport.js"></script>
<script src="/js/PM/PMfuns.js"></script>


<script src="/js/sweetalert.min.js"></script>

<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>



<div class="divcontent">
    <h1>信息管理-内核单据归档</h1>
    <hr>

    <!-- 操作区（按钮等） -->
    <div class="lineitem">
        <!-- 按钮触发模态框 -->
        
        <div class="btn-group">
        <button  type="text" class="btn btn-default" disabled="disabled">过滤</button>
        <button id="BTNFitlerWeek" type="button" class="btn btn-info">本周</button> 
        <button id="BTNFitlerMonth" type="button" class="btn btn-info">本月</button>
        <button id="BTNFitlerYear" type="button" class="btn btn-info">本年</button>
        <button id="BTNFitlerAll" type="button" class="btn btn-info">全部</button>
        <button id="BTNFitlerDiv" type="button" class="btn btn-info">自定义</button>
        </div>
        
        <div class="btn-group">
        <button  type="text" class="btn btn-default" disabled="disabled">报表</button>
        <button id="BTNReport1" class="btn btn-info" >延误率</button>
        <button id="BTNReport2" class="btn btn-info">不良率</button>
        </div>
        
        <div class="btn-group">
        <button  type="text" class="btn btn-default" disabled="disabled">操作</button>
        <button id="BTNInfo" class="btn btn-success" >查看详情</button>
        <button id="BTNReTrack" class="btn btn-danger">恢复计划</button>
        </div>
        
       
        
        
        <a href="/app/PM/workCenter"><button id="BTNWorkCenter"  class="btn btn-success" style="float:right">个人中心</button></a>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="BillPLD" tabindex="-1" role="dialog" aria-labelledby="BillPLDLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:90%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="BillPLDLabel">进度信息汇总</h4>
                    </div>
                    <div class="modal-body">

                    
                    
                    <div class="panel panel-info" style="width:100%">
                    
                    <!--------------panel--------------------->
                    <div class="panel-heading">
                        <h3 class="panel-title">计划单信息</h3>
                    </div>
                    <div class="panel-body" >

                    <table id="tableTrackPLD" class="table table-bordered">
                    <thead></thead>
                    
                    <tbody></tbody>
                    </table>

                    </div>
                    <!--------------panel--------------------->
                    <!--------------panel--------------------->
                    <div class="panel-heading">
                        <h3 class="panel-title">方案单信息</h3>
                    </div>
                    <div class="panel-body">
                    
                    <table id="tableTrackBPT" class="table table-bordered">
                    <thead></thead>
                    <tbody></tbody>
                    </table>
                    
                    
                  
                    </div>
                    <!--------------panel--------------------->
                    <!--------------panel--------------------->
                    <div class="panel-heading">
                        <h3 class="panel-title">任务单信息</h3>
                    </div>
                    
                    <div class="panel-body">
                    <table id="tableTrackTask" class="table table-bordered">
                    <thead></thead>
                    <tbody></tbody>
                    </table>
                    
                  
                    </div>
                    <!--------------panel--------------------->
                    <!--------------panel--------------------->
                    <div class="panel-heading">
                        <h3 class="panel-title">FQC信息</h3>
                    </div>
                    
                    <div class="panel-body">
                    
                    <table id="tableTrackFQC" class="table table-bordered">
                    <thead></thead>
                    <tbody></tbody>
                    </table>
                    
                  
                    </div>
                    <!--------------panel--------------------->
                    <!--------------panel--------------------->
                    <div class="panel-heading">
                        <h3 class="panel-title">发布单信息</h3>
                    </div>
                    
                    <div class="panel-body">
                    <table id="tableTrackPBH" class="table table-bordered">
                    <thead></thead>
                    <tbody></tbody>
                    </table>
                  
                    </div>
                    <!--------------panel--------------------->

                    </div>
 
                    </div>
                    <div class="modal-footer">
                        <button id="BTNFormClose" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

    </div>
    

    
    <br/>

    <!--数据呈现区-->
    <table id="billsTrackTable" class="table table-striped table-bordered"  >
        <thead>
            <tr>
                <th>数据库ID</th>
                <th>计划单号</th>
                <th>最大版本号</th>
                <th>客户简称</th>
                <th>开始时间</th>
                <th>完成期限</th>
                <th>结束时间</th>
                <th>分配任务数量</th>
                <th>完成任务数量</th>
                <th>归档类型</th>
            </tr>
        </thead>
    </table>
    
    <!-- 点击详情后弹出的窗口 -->
    <div id="winDetail" class="easyui-window" title="表单详情" closed="true" style="width:80%;height:800px;">
    
    <table id="tableDetail" class="table table-bordered">

    </table>
    
    </div>
    
    <!-- 点击报告详情后弹出的窗口 -->
    <div id="reportDetail" class="easyui-window" title="report" closed="true" style="width:600px;height:500px;">
    
    
    <form style="padding:10px 50px;">

 
    
    <div class="form-group">   
    时间段 :<span id="spanDateRange">
    </div>
    
    <div class="form-group">   
    总单数 :<span id="spanTotalBillNum">
    </div>
    <div class="form-group">   
    延误单数 :<span id="spanDelayBillNum">
    </div>
    
    <div class="form-group">   
    延误率 :<span id="spanDelayRate">
    </div>
    
    <div class="form-group"> 
    <table>
    </table>
    </div>

    <div style="padding:5px;text-align:center;">
         <a id="BTNSendReport"　href="#" class="easyui-linkbutton" icon="icon-ok">发送Email</a>
    </div>
    </form>
    
    </div>
    
   
   
    </div>
    
    
    
    <!-- 点击自定义过滤弹出的窗口 -->
    <div id="DivFilter" class="easyui-window" title="自定义过滤器" closed="true" style="width:600px;height:300px;">
    <form style="padding:10px 50px;">

    <div class="form-group">   
    订单号 :
        <select  id="from_Selector1"> 
               
               <option value="LIKE">包含</option>
               <option value="NOT LIKE">不包含</option>
               <option value="=">等于</option>
               <option value="<>">不等于</option>

        </select>
        	<input id="filterBill_ID" size="30" type="text" class="required">
    </div>

    <div class="form-group">   
    客户ID :
        <select  id="from_Selector2" > 
               <option value="LIKE">包含</option>
               <option value="NOT LIKE">不包含</option>
               <option value="=">等于</option>
               <option value="<>">不等于</option>
        </select>
        <input id="filterCTRName" size="30" type="text" class="required">
    </div>

    <div class="form-group">   
    开始时间:<input id="filterBDate1" size="30" type="date" class="required">-
             <input id="filterEDate1" size="30" type="date" class="required">


    </div>
    
    <div class="form-group">   
    结束时间:<input id="filterBDate2" size="30" type="date" class="required">-
             <input id="filterEDate2" size="30" type="date" class="required">


    </div>

        <div style="padding:5px;text-align:center;">
            <a id="FilterComfirmBtn"　href="#" class="easyui-linkbutton" icon="icon-ok">确认</a>
            <a id="FilterCancelBtn" href="#" class="easyui-linkbutton" icon="icon-cancel">取消</a>
        </div>
    </form>
    </div>


    </div>

    
</div>


<script>

//函数--在表格末尾加速查看按钮,扩展查看详情



//根据获得的DBID 详情加载
function getDBIDInfo(tableName,DBID){
	

	
//	$.ajax({
//        method:'get',
//        data:selectPara,
//        url:"/app/PM/getSelectDBData",
//        success:function(data){
// 
//        },
//        error:function(){}
//    })

	$('#winDetail').window('open');
	
	switch(tableName){
	case 'ppm_bills_plan_t':
		
		let SQLParamPLD={
			"tableName":"ppm_bills_plan_t",
			"titles":[
				"DBID",
				"BPID",
				"version",
				"CTRName",
				"topic",
				"detail",
				"PGEMaker",
				"OGNSystemVersion",
				"MHEName",
				"files",
				"modelD",
				"modelH",
				"applyDate",
				"limitDate",
				"maker",
				"makeDate"
				],
			"filter":"DBID='"+DBID+"'"
			};
		
		showDBIDInfo("#tableDetail",SQLParamPLD);
		
		break;
	case 'ppm_bills_blueprint_t':
		let SQLParamBPT={
			"tableName":"ppm_bills_blueprint_t",
			"titles":[
				"DBID",
				"BPTID",
				"BPTVersion",
				"CTRName",
				"BPTDescribe",
				"PGEMaker",
				"auditor",
				"auditDate",
				"files",
				"modelD",
				"modelH",
				"BPTAuditOpinion",
				"limitDate",
				"maker",
				"makeDate"
				],
				"filter":"DBID='"+DBID+"'"
			};
		showDBIDInfo("#tableDetail",SQLParamBPT);
		
		break;
	case 'ppm_bills_task_t':
		let SQLParamTask={
			"tableName":"ppm_bills_task_t",
			"titles":[
				"DBID",
				"BTID",
				"BTVersion",
				"taskCTRName",
				"taskStaff",
				"taskDBE",
				"taskLimitDate",
				"taskRemark",
				"taskMaker",
				"taskMakeDate",
				"BTAcceptDate",
				"modifyContent",
				"functionsDBE",
				"IPQCAuditResultText",
				"IPQCMaker",
				"IPQCMakeDate",
				"BTStatusText",
				"taskFiles",
				"IPQCTestResult"
				
				],
				"filter":"DBID='"+DBID+"'",
				"orderBy":"BTID"
			};
		
		showDBIDInfo("#tableDetail",SQLParamTask);
		
		break;
	case 'ppm_bills_fqc_t':
		let SQLParamFQC={
			"tableName":"ppm_bills_fqc_t",
			"titles":[
				"DBID",
				"FQCVersion",
				"FQCRecord",
				"FQCRemark",
				"FQCMaker",
				"FQCMakeDate",
				"FQCAuditor",
				"FQCAuditDate",
				"FQCStatusText",
				"FQCTestResult"
				],
				"filter":"DBID='"+DBID+"'"
			};
		showDBIDInfo("#tableDetail",SQLParamFQC);
		
		break;
	case 'ppm_bills_pbh_t':
		let SQLParamPBH={
			"tableName":"ppm_bills_pbh_t",
			"titles":[
				"DBID",
				"PBHVersion",
				"PBHRemark",
				"PBHMaker",
				"PBHMakeDate",
				"PBHAuditor",
				"PBHAuditDate",
				"emailADRS",
				"files"

				],
				"filter":"DBID='"+DBID+"'"
			};
		
		showDBIDInfo("#tableDetail",SQLParamPBH);
		
		break;
	
	}
	 	 
	 
}





//函数:详情按钮详情页自动填写内容------------------------
function Fun_winDetailInit(dataSelect){

	
	var SQLParamPLD={
			"tableName":"ppm_bills_plan_t",
			"titles":[
				"DBID",
				"BPID",
				"version",
				"CTRName",
				"topic",
				"PGEMaker",
				"MHEName",
				"files",
//				"modelD",
//				"modelH",
				"applyDate",
				"limitDate"
				],
			"filter":"BPID='"+dataSelect.BPID+"'"
			};
	
	
	Fun_fillTrackTableWithDBID("#tableTrackPLD",SQLParamPLD);
	
	var SQLParamBPT={
			"tableName":"ppm_bills_blueprint_t",
			"titles":[
				"DBID",
				"BPTID",
				"BPTVersion",
				"CTRName",
				"PGEMaker",
				"auditDate",
				"files",
//				"modelD",
//				"modelH",
				"limitDate",
				"makeDate"
				],
			"filter":"BPTID='"+dataSelect.BPID+"'"
			};
	
	
	Fun_fillTrackTableWithDBID("#tableTrackBPT",SQLParamBPT);
	
	//数据量不能过多,否则会报错
	var SQLParamTask={
			"tableName":"ppm_bills_task_t",
			"titles":[
				"DBID",
				"BTID",
				"BTVersion",
				"taskStaff",
				"taskLimitDate",
				"BTAcceptDate",
				"IPQCMakeDate",
				"BTStatusText",
				"taskFiles"
				],
			"filter":"taskBPID='"+dataSelect.BPID+"'"
			};
	
	
	Fun_fillTrackTableWithDBID("#tableTrackTask",SQLParamTask);
	
	
	var SQLParamFQC={
			"tableName":"ppm_bills_fqc_t",
			"titles":[
				"DBID",
				"FQCVersion",
				"FQCMaker",
				"FQCMakeDate",
				"FQCAuditor",
				"FQCAuditDate",
				"FQCStatusText"
				],
			"filter":"fqcBPID='"+dataSelect.BPID+"'"
			};
	
	
	Fun_fillTrackTableWithDBID("#tableTrackFQC",SQLParamFQC);
	
	
	var SQLParamPBH={
			"tableName":"ppm_bills_pbh_t",
			"titles":[
				"DBID",
				"PBHVersion",
				"PBHMaker",
				"PBHMakeDate",
				"PBHAuditor",
				"PBHAuditDate",
				"emailADRS",
				"files"
				],
			"filter":"pbhBPID='"+dataSelect.BPID+"'"
			};
	
	
	Fun_fillTrackTableWithDBID("#tableTrackPBH",SQLParamPBH);


}


//函数 创建table 参数模版

function createParams(filter){
	let Params={
			tableID:"#billsTrackTable",
			SQLParam:{SQL:"SQLTableBillsDBCenter_T",filter:filter},
			columnsData:[
				{ data: 'DBID' ,"visible": false},
		        { data: 'BPID' },
		        { data: 'version'},
		        { data: 'CTRName'},
		        { data: 'makeDate'},
		        { data: 'limitDate'},
		        { data: 'WFEndDate'},
		        { data: 'taskNum'},
		        { data: 'taskNumDone'},
		        { data: 'WFEndText'}

			]
	}
	
	return Params;

}

/**
 * 获得本周的开始日期和结束日期
 */
function getWeekStartDateAndEndDateRange() {
  let oneDayLong = 24*60*60*1000 ;
  let now = new Date();
  let mondayTime = now.getTime() - (now.getDay()-1)*oneDayLong;
  let sundayTime = now.getTime() + (7-now.getDay())*oneDayLong;
  let monday = new Date(mondayTime);
  let sunday = new Date(sundayTime);
  let weekRange = [monday, sunday];

  return weekRange;
}


function getMonthStartDateAndDateRange() {
  let oneDayLong = 24*60*60*1000;
  let now = new Date();
  let year = now.getFullYear();

  let monthStartDate = new Date(year, now.getMonth(), 1);//当前月1号
  let nextMonthStartDate = new Date(year, now.getMonth()+1, 1);//下个月1号
  let days = (nextMonthStartDate.getTime() -         
  monthStartDate.getTime())/oneDayLong;//计算当前月份的天数
  let monthEndDate = new Date(year, now.getMonth(), days);
  let monthRange = [monthStartDate,monthEndDate];

  return monthRange;
}

function getYearStartDateAndDateRange() {
	  let oneDayLong = 24*60*60*1000;
	  let now = new Date();
	  let year = now.getFullYear();
	  let yearStartDate = new Date(year,0,1);//当前月1号
	  let yearEndDate = new Date(year,11, 31);
	  let yearRange = [yearStartDate,yearEndDate];

	  return yearRange;
	}

//函数重新绑定事件

function tableClickBind(){
	
	$('#billsTrackTable tbody').unbind();
	//判断是否选中数据-------
	var table = $('#billsTrackTable').DataTable();
	$('#billsTrackTable tbody').on('click', 'tr', function() {
	    if ($(this).hasClass('selected')) {
	        $(this).removeClass('selected');
	    } else {
	        table.$('tr.selected').removeClass('selected');
	        $(this).addClass('selected');
	    }
	 
	    var dataSelect = table.row('.selected').data();

	});
		

	//dbclick 测试判断是否选中数据-------

	$('#billsTrackTable tbody').on('dblclick', 'tr', function() {
		 table.$('tr.selected').removeClass('selected');
	     $(this).addClass('selected');
		$('#BTNInfo').click();

	});
}


//页面加载函数---------------
$(document).ready( function () {
	
    var sessionName="<%-locals.session.yjUser.Name%>";

	
	
//    var trackBPID=getQueryString("BPID");
//    if(trackBPID!=null){
//    	var tableSQL={"SQL":"SQLTableBillsDBCenter","filter":"BPID ='"+trackBPID+"'"};
//    }else{
//    	var tableSQL={"SQL":"SQLTableBillsDBCenter"};
//    }
//	
////    <th>数据库ID</th>
////    <th>计划单号</th>
////    <th>最大版本号</th>
////    <th>客户简称</th>
////    <th>开始时间</th>
////    <th>结束时间</th>
////    <th>分配任务数量</th>
////    <th>完成任务数量</th>
////    <th>归档类型</th>
//	
//	const tableInfo={
//			"tableID":"#billsTrackTable",
//			"columnsData":[
//				{ data: 'DBID' ,"visible": false},
//		        { data: 'BPID' },
//		        { data: 'version'},
//		        { data: 'CTRName'},
//		        { data: 'makeDate'},
//		        { data: 'limitDate'},
//		        { data: 'WFEndDate'},
//		        { data: 'taskNum'},
//		        { data: 'taskNumDone'},
//		        { data: 'WFEndText'}
//
//			]
//	}
//	
//	
//	Fun_showSQLTable(tableSQL,tableInfo)




//详情按钮---------
$('#BTNInfo').click(function() {
	
	if(checkAuthority({"SQL":"SQLGetAuthorities","filter":"StaffName='"+sessionName+"'"},"T-BillCenter02")){
//    console.log("seclet: "+JSON.stringify(table.row('.selected').data()));
    // table.row('.selected').remove().draw( false );
	var table = $('#billsTrackTable').DataTable();
    var dataSelect = table.row('.selected').data();
    if (dataSelect == undefined) {
        alert("请先点击表格中的表单!");
    } else {

    	$('#BillPLD').modal('show')
    	Fun_winDetailInit(dataSelect);
    }
	}
});


//删除按钮----------
$('#BTNReTrack').click(function() {
	
	if(checkAuthority({"SQL":"SQLGetAuthorities","filter":"StaffName='"+sessionName+"'"},"T-BillCenter03")){
	var table = $('#billsTrackTable').DataTable();
    var dataSelect = table.row('.selected').data();
    
 //   alert(JSON.stringify(dataSelect));
//    
    if (dataSelect == undefined) {
        alert("请先选择需要恢复的计划!");
    } else {
    	var msg1 = confirm("恢复计划单后,该计划单相关单据还原至流程系统!是否继续?");
        if (msg1 === true) {
        	
        	 var PLDUpdData={
						"DBTable":"ppm_bills_plan_t",
						"BillIDName":"BPID",
						"BillID":dataSelect.BPID,
						"WFStatus":90
				}
        	 
        	 var taskUpdData={
						"DBTable":"ppm_bills_task_t",
						"BillIDName":"taskBPID",
						"BillID":dataSelect.BPID,
						"WFStatus":1
				}
        	 
        	 var ajax1=$.ajax({
			        method: 'post',
			        url: '/app/PM/updBillStatus',
			        data: PLDUpdData,
			        success: function(data, textStatus) {
			        },
			        error: function(XMLHttpRequest, textStatus, errorThrown) {}
			        });
			 
        	 var ajax2=$.ajax({
			        method: 'post',
			        url: '/app/PM/updBillStatus',
			        data: taskUpdData,
			        success: function(data, textStatus) {
			        },
			        error: function(XMLHttpRequest, textStatus, errorThrown) {}
			        });
		

			$.when(ajax1,ajax2).done(function(){
					alert("该计划单已恢复!");
				window.location.reload();
				
			});

        }
    	
    }
    //          table.row('.selected').remove().draw( false );//前端删除显示数据 ,数据库不删除
    
	}
});




//按钮:过滤本周
$('#BTNFitlerWeek').click(function(){	
	datatableReload(createParams("YEARWEEK(date_format(WFEndDate,'%Y-%m-%d')) = YEARWEEK(now())"));
	
	tableClickBind();
	
	let DateRange=getWeekStartDateAndEndDateRange();	
	$("#spanDateRange").text(DateRange[0].format("yyyy/MM/dd")+"至"+DateRange[1].format("yyyy/MM/dd"));
	
	
})

//页面加载后默认按周过滤
$('#BTNFitlerWeek').click();

//按钮:过滤本周
$('#BTNFitlerMonth').click(function(){	
	datatableReload(createParams("DATE_FORMAT( WFEndDate, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )"));
	tableClickBind();
	let DateRange=getMonthStartDateAndDateRange();	
	$("#spanDateRange").text(DateRange[0].format("yyyy/MM/dd")+"至"+DateRange[1].format("yyyy/MM/dd"));
})

//按钮:过滤本周
$('#BTNFitlerYear').click(function(){	
	datatableReload(createParams("YEAR(WFEndDate)=YEAR(NOW())"));
	tableClickBind();
	let DateRange=getYearStartDateAndDateRange();	
	$("#spanDateRange").text(DateRange[0].format("yyyy/MM/dd")+"至"+DateRange[1].format("yyyy/MM/dd"));
	
	
})

//按钮:过滤全部
$('#BTNFitlerAll').click(function(){	
	datatableReload(createParams());
	tableClickBind();
	$("#spanDateRange").text("ALL");
	
})

//过滤功能组 自定义按钮-----
$('#BTNFitlerDiv').click(function() {
	 $('#DivFilter').window('open');
});


//过滤功能组 自定义过滤确认按钮-----
$('#FilterComfirmBtn').click(function() {
	
	let filter="";
	if($("#filterBill_ID").val()!=""){
		switch($("#from_Selector1").val()){
		case 'LIKE':
		case 'NOT LIKE':
			filter=filter+"AND BPID "+$("#from_Selector1").val()+" '%"+$("#filterBill_ID").val()+"%'"
			break;
		case '=':
		case '<>':
			filter=filter+"AND BPID "+$("#from_Selector1").val()+" '"+$("#filterBill_ID").val()+"'"
			break;
		}
	}
	
	if($("#filterCTRName").val()!=""){
		switch($("#from_Selector1").val()){
		case 'LIKE':
		case 'NOT LIKE':
			filter=filter+"AND CTRName "+$("#from_Selector2").val()+" '%"+$("#filterCTRName").val()+"%'"
			break;
		case '=':
		case '<>':
			filter=filter+"AND CTRName "+$("#from_Selector2").val()+" '"+$("#filterCTRName").val()+"'"
			break;
		}
	}
	
	if($("#filterCTRName").val()!=""){
		switch($("#from_Selector1").val()){
		case 'LIKE':
		case 'NOT LIKE':
			filter=filter+"AND CTRName "+$("#from_Selector2").val()+" '%"+$("#filterCTRName").val()+"%'";
			break;
		case '=':
		case '<>':
			filter=filter+"AND CTRName "+$("#from_Selector2").val()+" '"+$("#filterCTRName").val()+"'";
			break;
		}
	}
	
	if($("#filterBDate1").val()!=""){
		filter=filter+"AND applyDate >='"+$("#filterBDate1").val()+"'";
	}
	
	if($("#filterEDate1").val()!=""){
		filter=filter+"AND applyDate <='"+$("#filterEDate1").val()+"'";
	}
	
	if($("#filterBDate2").val()!=""){
		filter=filter+"AND WFEndDate >='"+$("#filterBDate2").val()+"'";
	}
	
	if($("#filterEDate2").val()!=""){
		filter=filter+"AND WFEndDate <='"+$("#filterEDate2").val()+"'";
	}


	filter=filter.substring(3);
	

	datatableReload(createParams(filter));
	tableClickBind();
	
});

//过滤功能组 自定义过滤确认按钮-----
$('#FilterCancelBtn').click(function() {

	 $('#DivFilter').window('close');
	
});


//报表 按钮 报表1----
$('#BTNReport1').click(function() {
	
	if(checkAuthority({"SQL":"SQLGetAuthorities","filter":"StaffName='"+sessionName+"'"},"T-BillCenter01")){
	 $('#reportDetail').window('open');
	 
	 var table = $('#billsTrackTable').DataTable();
	 
	 var totalNum=(table.page.info()).recordsTotal;
	 
	 let delayNum=0;
	
	 
	 for(let i=0;i<totalNum;i++){
		 let rowData=table.row(i).data();
		 if(rowData.limitDate<rowData.WFEndDate){
			 delayNum=delayNum+1;
		 }
	 }
	 

	 $('#spanTotalBillNum').text(totalNum);
	 $('#spanDelayBillNum').text(delayNum);
	 
	 $('#spanDelayRate').text((delayNum/totalNum*100).toFixed(2)+"%");

	 
	 
	 
	}
	 
});

////报表 按钮 报表2----
//$('#BTNReport2').click(function() {
//	 $('#reportDetail').window('open');
//});
//	
//发送email 按钮------------

$('#sendMailBtn').click(function() {
	alert("发送模板邮件!");
	
//	var Maildata={"dataRows":dataRows,"fnum":fnum,"frate":frate}
//	
//	  ajaxMail(Maildata);
	  
	  
//	 $('#ReprotWin').window('close');
	
});




	
}); 

</script>
