
<!-- CSS -->

<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">

<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>
<div class = "divcontent"> 
<h1>总体流程</h1>
<hr>
<div class="panel panel-info">

<div class="panel-heading">
<h3 class="panel-title">流程图</h3>
</div>

<div class="panel-body" align="center">

<img src="/images/PPMWorkFlow.png" width="1034" height="712" usemap="#mapWF" border="0" />
	<map name="mapWF" id="mapWF">
	  <area shape="rect" coords="48,224,149,294" href="/app/PM/billsPLD" />
	  <area shape="rect" coords="213,224,314,294" href="/app/PM/billsBPT" />
	  <area shape="rect" coords="406,118,507,188" href="/app/PM/billsTask" />
	  <area shape="rect" coords="405,224,506,294" href="/app/PM/billsTask" />
	  <area shape="rect" coords="405,326,507,398" href="/app/PM/billsTask" />
	  <area shape="rect" coords="552,117,653,189" href="/app/PM/billsIPQC" />
	  <area shape="rect" coords="551,223,652,294" href="/app/PM/billsIPQC" />
	  <area shape="rect" coords="719,177,821,247" href="/app/PM/billsFQC" />
	  <area shape="rect" coords="872,177,971,248" href="/app/PM/billsPBH" />
	  <area shape="rect" coords="47,102,148,174"  href="#" />
	  <area shape="rect" coords="872,48,972,119"  href="#" />
	  <area shape="rect" coords="48,506,149,576"  href="/app/PM/T-billsPLD" />
	  <area shape="rect" coords="213,505,315,576" href="/app/PM/T-billsBPT" />
	  <area shape="rect" coords="405,454,506,525" href="/app/PM/T-billsTask" />
	  <area shape="rect" coords="405,580,507,650" href="/app/PM/T-billsTask" />
	  <area shape="rect" coords="552,454,652,525" href="/app/PM/T-billsIPQC" />
	  <area shape="rect" coords="548,580,649,650" href="/app/PM/T-billsIPQC" />
	  <area shape="rect" coords="706,518,807,590" href="/app/PM/T-billsFQC" />
	  <area shape="rect" coords="843,518,944,590" href="/app/PM/T-billsPBH" />
	</map>



</div>
</div>
</div> 