
<!-- CSS -->

<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">

<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>
<div class = "divcontent"> 
<h1>个人中心</h1>
<hr>
<div class="panel panel-info">

<div class="panel-heading">
<h3 class="panel-title">工作面板</h3>
</div>

<div class="panel-body" align="left">


<div class="panel panel-warning" id="panelPLD" style="width:30%;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的计划单 <a href="/app/PM/billsPLD?undone=true"><span id="panelPLDNum" class="badge">21</span></a></h3>
</div>
<div class="panel-body">
    这是一个基本的面板
</div>
</div>


<div class="panel panel-warning" id="panelBPT" style="width:30%;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的方案单  <a href="#"><span id="panelBPTNum" class="badge">21</span></a></h3>
</div>
<div class="panel-body">
    这是一个基本的面板
</div>
</div>

<div class="panel panel-warning" id="panelTask" style="width:30% ;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的任务单  <a href="#"><span id="panelTaskNum" class="badge">21</span></a></h3>
</div>
<div class="panel-body">
    这是一个基本的面板
</div>
</div>

<div class="panel panel-warning" id="panelIPQC"  style="width:30% ;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的IPQC单  <a href="#"><span id="panelIPQCNum" class="badge">0</span></a></h3>
</div>
<div class="panel-body">
    这是一个基本的面板
</div>
</div>

<div class="panel panel-warning" id="panelFQC"  style="width:30% ;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的FQC单  <a href="#"><span id="panelFQCNum" class="badge">21</span></a></h3>
</div>
<div class="panel-body">
    这是一个基本的面板
</div>
</div>

<div class="panel panel-warning" id="panelPBH" style="width:30% ;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的发布单  <a href="#"><span id="panelPBHNum" class="badge">21</span></a></h3>
</div>
<div class="panel-body">
    这是一个基本的面板
</div>
</div>


</div>
</div>
</div> 


<script>

function panelShow(panelID){
	
	var undoneNum=$(panelID+"Num").text();
	console.log(undoneNum);
	
	if(undoneNum=="0"){
		$(panelID).hide();
	}else{
		$(panelID).show();
	}

}



$(function(){
	
	panelShow("#panelPLD");
	panelShow("#panelBPT");
	panelShow("#panelTask");
	panelShow("#panelIPQC");
	panelShow("#panelFQC");
	panelShow("#panelPBH");
	
	
	
	
	
	
	
	
	
	
	
})

</script>
