
<!-- CSS -->

<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">

<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>
<div class = "divcontent"> 
<h1>个人中心</h1>
<hr>
<div class="panel panel-info">

<div class="panel-heading">
<h3 class="panel-title">工作流程面板</h3>
</div>

<div class="panel-body" align="left">
<h4>提示:点击未完成数字可跳转至对应模块</h4>
<hr>
<div style="width:30%;float:left;margin-left:2%;">
<h4>未完结的计划单</h4>

<div id="PLDunAudit" class="panel panel-warning">
<div class="panel-heading">
    <h3 class="panel-title">计划单-未审核 <a href="/app/PM/billsPLD?undone=unAudit"><span id="PLDunAuditNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="PLDunAuditContent">
</div>
</div>
</div>

<div id="PLDAuditNo" class="panel panel-danger">
<div class="panel-heading">
<h3 class="panel-title">计划单-审核驳回 <a href="/app/PM/billsPLD?undone=auditNo"><span id="PLDAuditNoNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="PLDAuditNoContent">
</div>
</div>
</div>

</div>


<div style="width:30%;float:left;margin-left:2%;">
<h4>未完结的方案单</h4>

<div id="BPTunRecord" class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title">方案单-未填写  <a href="/app/PM/billsBPT?undone=unRecord"><span id="BPTunRecordNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="BPTunRecordContent">
</div>
</div>
</div>

<div id="BPTunAudit" class="panel panel-warning">
<div class="panel-heading">
<h3 class="panel-title">方案单-未审核  <a href="/app/PM/billsBPT?undone=unAudit"><span id="BPTunAuditNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="BPTunAuditContent">
</div>
</div>
</div>


<div id="BPTauditNo" class="panel panel-danger">
<div class="panel-heading">
<h3 class="panel-title">方案单-已驳回  <a href="/app/PM/billsBPT?undone=auditNo"><span id="BPTauditNoNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="BPTauditNoContent">
</div>
</div>
</div>

</div>




<div id="panelTask" style="width:30% ;float:left;margin-left:2%;">
<h4>未完结的任务单</h4>
<div id="TaskunAccept" class="panel panel-warning">
<div class="panel-heading">
    <h3 class="panel-title">任务单-未确认  <a href="/app/PM/billsTask?undone=unAccept"><span id="TaskunAcceptNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="TaskunAcceptContent">
</div>
</div>
</div>

<div id="TaskAcceptNo" class="panel panel-danger">
<div class="panel-heading">
    <h3 class="panel-title">任务单-确认驳回  <a href="/app/PM/billsTask?undone=acceptNo"><span id="TaskAcceptNoNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="TaskAcceptNoContent">
</div>
</div>
</div>


<div id="TaskunRecord" class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">任务单-未登记  <a href="/app/PM/billsTask?undone=unRecord"><span id="TaskunRecordNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="TaskunRecordContent">
</div>
</div>
</div>


<div id="TaskunPass" class="panel panel-danger">
<div class="panel-heading">
<h3 class="panel-title">任务单-失败  <a href="/app/PM/billsTask?undone=unPass"><span id="TaskunPassNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="TaskunPassContent">
</div>
</div>
</div>

</div>

<!---------清除浮动---------------------------------->

<div style='clear:both'></div>
<hr>
<div style="width:30% ;float:left;margin-left:2%;">

<h4>未完结的IPQC单</h4>

<div id="IPQCunRecord" class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title">IPQC单-未登记  <a href="/app/PM/billsIPQC?undone=unRecord"><span id="IPQCunRecordNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="IPQCunRecordContent">
</div>
</div>
</div>

<div id="IPQCunAudit" class="panel panel-warning">
<div class="panel-heading">
<h3 class="panel-title">IPQC单-未审核  <a href="/app/PM/billsIPQC?undone=unAudit"><span id="IPQCunAuditNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="IPQCunAuditContent">
</div>
</div>
</div>

<div id="IPQCunPass" class="panel panel-danger">
<div class="panel-heading">
<h3 class="panel-title">IPQC单-未通过  <a href="/app/PM/billsIPQC?undone=unPass"><span id="IPQCunPassNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="IPQCunPassContent">
</div>
</div>
</div>

</div>


<div style="width:30% ;float:left;margin-left:2%;">
<h4>未完结的FQC单</h4>

<div id="FQCunRecord" class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title">FQC单-未填写  <a href="/app/PM/billsFQC?undone=unRecord"><span id="FQCunRecordNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="FQCunRecordContent">
</div>
</div>
</div>


<div id="FQCunAudit" class="panel panel-warning">
<div class="panel-heading">
<h3 class="panel-title">FQC单-未审核  <a href="/app/PM/billsFQC?undone=unAudit"><span id="FQCunAuditNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="FQCunAuditContent">
</div>
</div>
</div>

<div id="FQCunPass" class="panel panel-danger">
<div class="panel-heading">
<h3 class="panel-title">FQC单-未通过  <a href="/app/PM/billsFQC?undone=unPass"><span id="FQCunPassNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="FQCunPassContent">
</div>
</div>
</div>

</div>

<div style="width:30% ;float:left;margin-left:2%;">
<h4>未完结的发布单</h4>
<div id="PBHunRecord" class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title">发布单-未填写  <a href="/app/PM/billsPBH?undone=unRecord"><span id="PBHunRecordNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="PBHunRecordContent">
</div>
</div>
</div>

<div id="PBHunAudit" class="panel panel-warning">
<div class="panel-heading">
<h3 class="panel-title">发布单-未审核  <a href="/app/PM/billsPBH?undone=unAudit"><span id="PBHunAuditNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="PBHunAuditContent">
</div>
</div>
</div>

<div id="PBHunSend" class="panel panel-success">
<div class="panel-heading">
<h3 class="panel-title">发布单-未发邮件  <a href="/app/PM/billsPBH?undone=unSend"><span id="PBHunSendNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="PBHunSendContent">
</div>
</div>
</div>


</div>


</div>
</div>


<hr>
<div class="panel panel-info">

<div class="panel-heading">
<h3 class="panel-title">内核流程面板</h3>
</div>

<div class="panel-body" align="left">


<div class="panel panel-warning" id="panelT-PLD" style="width:30%;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的T计划单 <a href="/app/PM/T-billsPLD?undone=true"><span id="panelT-PLDNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="panelT-PLDContent">

</div>

</div>
</div>


<div class="panel panel-warning" id="panelT-BPT" style="width:30%;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的T方案单  <a href="/app/PM/T-billsBPT?undone=true"><span id="panelT-BPTNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="panelT-BPTContent">

</div>

</div>
</div>

<div class="panel panel-warning" id="panelT-Task" style="width:30% ;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的T任务单  <a href="/app/PM/T-billsTask?undone=true"><span id="panelT-TaskNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="panelT-TaskContent">

</div>

</div>
</div>

<!---------清除浮动---------------------------------->
<div style='clear:both'></div>

<div class="panel panel-warning" id="panelT-IPQC"  style="width:30% ;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的T-IPQC单  <a href="/app/PM/T-billsIPQC?undone=true"><span id="panelT-IPQCNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="panelT-IPQCContent">

</div>

</div>
</div>

<div class="panel panel-warning" id="panelT-FQC"  style="width:30% ;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的T-FQC单  <a href="/app/PM/T-billsFQC?undone=true"><span id="panelT-FQCNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="panelT-FQCContent">

</div>

</div>
</div>

<div class="panel panel-warning" id="panelT-PBH" style="width:30% ;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的T发布单  <a href="/app/PM/T-billsPBH?undone=true"><span id="panelT-PBHNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="panelT-PBHContent">

</div>

</div>
</div>


</div>
</div>


<!----end panel2------------->

</div> 



<script>

function getUndoneInfo(divID,panelSQL,dataCols){
	
	
	 $.ajax({
         method:'get',
         data:panelSQL,
         url:"/app/PM/getSQLDBData",
         success:function(data){

  //    	  alert("return1111:"+JSON.stringify(data));

      	  $(divID+"Num").text(data.length);
      	  
      	  if(data.length==0){
      		 $(divID).hide();
      	  }else{
      		 $(divID).show();
      		 
      		DivContent="";
        	  
        	  for(let i=0;i<data.length;i++){
        		  
        		  for(let j=0;j<dataCols.length;j++){
        			 
        			DivContent=DivContent+data[i][dataCols[j]]+"|";
        			
        		  }
        		  
        		  if(data[i]['BPID']==null){
        			  DivContent=" "+DivContent+"<a href='/app/PM/billsTrack?BPID="+data[i]['taskBPID']+"'>进度跟踪</a>" +" ";
        		  }else{
        			  DivContent=" "+DivContent+"<a href='/app/PM/billsTrack?BPID="+data[i]['BPID']+"'>进度跟踪</a>" +" ";
        		  }
                

        		  
        		DivContent=DivContent+"<br \>";
        	  }

        	 $(divID+"Content").html(DivContent);
      	  }

         },
         error:function(){}
     })
	
	
	
}




////函数-控制面板显示状态
//function panelShow(panelID){
//	
//	var undoneNum=$(panelID+"Num").text();
//	console.log(undoneNum);
//	
//	if(undoneNum=="0"){
//		$(panelID).hide();
//	}else{
//		$(panelID).show();
//	}
//
//}



$(function(){
	
	sessionName="<%-locals.session.yjUser.Name%>";
	
	var panelSQLPLD={"SQL":"SQLTableBillsPLD","filter":" (maker = '"+sessionName+"' OR PGEMaker = '"+sessionName+"' OR auditor = '"+sessionName+"' ) AND auditResult IS NULL AND PLDStatus <>1  "};
	getUndoneInfo("#PLDunAudit",panelSQLPLD,["BPID","CTRName"]);
	
	var panelSQLPLD={"SQL":"SQLTableBillsPLD","filter":" (maker = '"+sessionName+"' OR PGEMaker = '"+sessionName+"' OR auditor = '"+sessionName+"' ) AND PLDStatus=2   "};
	getUndoneInfo("#PLDAuditNo",panelSQLPLD,["BPID","CTRName"]);
	
	var panelSQLBPT={"SQL":"SQLTableBillsBPT","filter":" (maker = '"+sessionName+"' OR auditor = '"+sessionName+"'  OR PLDPGEMaker = '"+sessionName+"') AND BPTStatus IS NULL "};
	getUndoneInfo("#BPTunRecord",panelSQLBPT,["BPID","PLDCTRName"]);
	
	var panelSQLBPT={"SQL":"SQLTableBillsBPT","filter":" (maker = '"+sessionName+"' OR auditor = '"+sessionName+"'  OR PLDPGEMaker = '"+sessionName+"') AND auditResult =0 "};
	getUndoneInfo("#BPTunAudit",panelSQLBPT,["BPID","PLDCTRName"]);
	
	var panelSQLBPT={"SQL":"SQLTableBillsBPT","filter":" (maker = '"+sessionName+"' OR auditor = '"+sessionName+"'  OR PLDPGEMaker = '"+sessionName+"') AND auditResult =2 "};
	getUndoneInfo("#BPTauditNo",panelSQLBPT,["BPID","PLDCTRName"]);


	var panelSQLTask={"SQL":"SQLTableBillsTaskRecord","filter":" (taskStaff = '"+sessionName+"' OR BTAcceptor = '"+sessionName+"' OR IPQCMaker = '"+sessionName+"'  OR IPQCAuditor = '"+sessionName+"') AND BTAcceptResult =0"};
	getUndoneInfo("#TaskunAccept",panelSQLTask,["taskBPID","taskCTRName","BTID"]);
	
	var panelSQLTask={"SQL":"SQLTableBillsTaskRecord","filter":" (taskStaff = '"+sessionName+"' OR BTAcceptor = '"+sessionName+"' OR IPQCMaker = '"+sessionName+"'  OR IPQCAuditor = '"+sessionName+"') AND BTAcceptResult =2"};
	getUndoneInfo("#TaskAcceptNo",panelSQLTask,["taskBPID","taskCTRName","BTID"]);
	
	var panelSQLTask={"SQL":"SQLTableBillsTaskRecord","filter":" (taskStaff = '"+sessionName+"' OR BTAcceptor = '"+sessionName+"' OR IPQCMaker = '"+sessionName+"'  OR IPQCAuditor = '"+sessionName+"') AND recordNum =0 "};
	getUndoneInfo("#TaskunRecord",panelSQLTask,["taskBPID","taskCTRName","BTID"]);
	
	var panelSQLTask={"SQL":"SQLTableBillsTaskRecord","filter":" (taskStaff = '"+sessionName+"' OR BTAcceptor = '"+sessionName+"' OR IPQCMaker = '"+sessionName+"'  OR IPQCAuditor = '"+sessionName+"') AND BTStatus=4 "};
	getUndoneInfo("#TaskunPass",panelSQLTask,["taskBPID","taskCTRName","BTID"]);
	
	var panelSQLIPQC={"SQL":"SQLTableBillsTaskIPQC","filter":" (taskStaff = '"+sessionName+"' OR IPQCMaker = '"+sessionName+"'  OR IPQCAuditor = '"+sessionName+"') AND IPQCResult IS NULL"};
	getUndoneInfo("#IPQCunRecord",panelSQLIPQC,["taskBPID","taskCTRName","BTID"]);
	
	var panelSQLIPQC={"SQL":"SQLTableBillsTaskIPQC","filter":" (taskStaff = '"+sessionName+"' OR IPQCMaker = '"+sessionName+"'  OR IPQCAuditor = '"+sessionName+"') AND IPQCAuditDate IS NULL"};
	getUndoneInfo("#IPQCunAudit",panelSQLIPQC,["taskBPID","taskCTRName","BTID"]);

	var panelSQLIPQC={"SQL":"SQLTableBillsTaskIPQC","filter":" (taskStaff = '"+sessionName+"' OR IPQCMaker = '"+sessionName+"'  OR IPQCAuditor = '"+sessionName+"') AND IPQCResult =2"};
	getUndoneInfo("#IPQCunPass",panelSQLIPQC,["taskBPID","taskCTRName","BTID"]);
	
	var panelSQLFQC={"SQL":"SQLTableBillsFQC","filter":" (PGEMaker = '"+sessionName+"' OR FQCMaker = '"+sessionName+"'  OR FQCAuditor = '"+sessionName+"') AND  FQCStatus IS NULL"};
	getUndoneInfo("#FQCunRecord",panelSQLFQC,["BPID","PLDCTRName"]);
	
	var panelSQLFQC={"SQL":"SQLTableBillsFQC","filter":" (PGEMaker = '"+sessionName+"' OR FQCMaker = '"+sessionName+"'  OR FQCAuditor = '"+sessionName+"') AND FQCStatus =0"};
	getUndoneInfo("#FQCunAudit",panelSQLFQC,["BPID","PLDCTRName"]);
	
	var panelSQLFQC={"SQL":"SQLTableBillsFQC","filter":" (PGEMaker = '"+sessionName+"' OR FQCMaker = '"+sessionName+"'  OR FQCAuditor = '"+sessionName+"') AND ( FQCStatus <>0 AND FQCStatus <>1)"};
	getUndoneInfo("#FQCunPass",panelSQLFQC,["BPID","PLDCTRName"]);

	var panelSQLPBH={"SQL":"SQLTableBillsPBH","filter":" (PGEMaker = '"+sessionName+"' OR PBHMaker = '"+sessionName+"'  OR PBHAuditor = '"+sessionName+"') AND PBHStatus IS NULL"};
	getUndoneInfo("#PBHunRecord",panelSQLPBH,["BPID","PLDCTRName"]);

	var panelSQLPBH={"SQL":"SQLTableBillsPBH","filter":" (PGEMaker = '"+sessionName+"' OR PBHMaker = '"+sessionName+"'  OR PBHAuditor = '"+sessionName+"') AND PBHStatus =0"};
	getUndoneInfo("#PBHunAudit",panelSQLPBH,["BPID","PLDCTRName"]);
	
	var panelSQLPBH={"SQL":"SQLTableBillsPBH","filter":" (PGEMaker = '"+sessionName+"' OR PBHMaker = '"+sessionName+"'  OR PBHAuditor = '"+sessionName+"') AND PBHStatus =1 AND emailResult=0"};
	getUndoneInfo("#PBHunSend",panelSQLPBH,["BPID","PLDCTRName"]);
//	
//	//-内核流程面板-------------------------------
//	var panelSQLPLD_T={"SQL":"SQLTableBillsPLD_T","filter":" (maker = '"+sessionName+"' OR PGEMaker = '"+sessionName+"' OR auditor = '"+sessionName+"' ) AND PLDStatus <>1  "};
//	getUndoneInfo("#panelT-PLDNum","#panelT-PLDContent",panelSQLPLD_T,["BPID","CTRName"]);
//	
//	var panelSQLBPT_T={"SQL":"SQLTableBillsBPT_T","filter":" (maker = '"+sessionName+"' OR auditor = '"+sessionName+"'  OR PLDPGEMaker = '"+sessionName+"') AND (BPTStatus IS NULL OR BPTStatus <>1)  "};
//	getUndoneInfo("#panelT-BPTNum","#panelT-BPTContent",panelSQLBPT_T,["BPID","PLDCTRName"]);
//	
//	var panelSQLTask_T={"SQL":"SQLTableBillsTaskRecord_T","filter":" (taskStaff = '"+sessionName+"' OR BTAcceptor = '"+sessionName+"' OR IPQCMaker = '"+sessionName+"'  OR IPQCAuditor = '"+sessionName+"') AND BTStatus <>3"};
//	getUndoneInfo("#panelT-TaskNum","#panelT-TaskContent",panelSQLTask_T,["BTID","taskCTRName"]);
//	
//	var panelSQLIPQC_T={"SQL":"SQLTableBillsTaskIPQC_T","filter":" (taskStaff = '"+sessionName+"' OR IPQCMaker = '"+sessionName+"'  OR IPQCAuditor = '"+sessionName+"') AND BTStatus <>3"};
//	getUndoneInfo("#panelT-IPQCNum","#panelT-IPQCContent",panelSQLIPQC_T,["BTID","taskCTRName"]);
//	
//	var panelSQLFQC_T={"SQL":"SQLTableBillsFQC_T","filter":" (PGEMaker = '"+sessionName+"' OR FQCMaker = '"+sessionName+"'  OR FQCAuditor = '"+sessionName+"') AND ( FQCStatus IS NULL OR FQCStatus <>1)"};
//	getUndoneInfo("#panelT-FQCNum","#panelT-FQCContent",panelSQLFQC_T,["BPID","PLDCTRName"]);
//	
//	var panelSQLPBH_T={"SQL":"SQLTableBillsPBH_T","filter":" (PGEMaker = '"+sessionName+"' OR PBHMaker = '"+sessionName+"'  OR PBHAuditor = '"+sessionName+"') AND ( PBHStatus IS NULL OR PBHStatus =0)"};
//	getUndoneInfo("#panelT-PBHNum","#panelT-PBHContent",panelSQLPBH_T,["BPID","PLDCTRName"]);
	
	
})

</script>
