
<!-- CSS -->

<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">

<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>
<div class = "divcontent"> 
<h1>个人中心</h1>
<hr>
<div class="panel panel-info">

<div class="panel-heading">
<h3 class="panel-title">工作流程面板</h3>
</div>

<div class="panel-body" align="left">


<div class="panel panel-warning" id="panelPLD" style="width:30%;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的计划单 <a href="/app/PM/billsPLD?undone=true"><span id="panelPLDNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">

<div id="panelPLDContent">

</div>

   
</div>
</div>


<div class="panel panel-warning" id="panelBPT" style="width:30%;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的方案单  <a href="/app/PM/billsBPT?undone=true"><span id="panelBPTNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">

<div id="panelBPTContent">

</div>

</div>
</div>

<div class="panel panel-warning" id="panelTask" style="width:30% ;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的任务单  <a href="/app/PM/billsTask?undone=true"><span id="panelTaskNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="panelTaskContent">

</div>
</div>
</div>

<!---------清除浮动---------------------------------->
<div style='clear:both'></div>

<div class="panel panel-warning" id="panelIPQC"  style="width:30% ;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的IPQC单  <a href="/app/PM/billsIPQC?undone=true"><span id="panelIPQCNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="panelIPQCContent">

</div>

</div>
</div>

<div class="panel panel-warning" id="panelFQC"  style="width:30% ;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的FQC单  <a href="/app/PM/billsFQC?undone=true"><span id="panelFQCNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="panelFQCContent">

</div>

</div>
</div>

<div class="panel panel-warning" id="panelPBH" style="width:30% ;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的发布单  <a href="/app/PM/billsPBH?undone=true"><span id="panelPBHNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="panelPBHContent">

</div>

</div>
</div>


</div>
</div>


<hr>
<div class="panel panel-info">

<div class="panel-heading">
<h3 class="panel-title">内核流程面板</h3>
</div>

<div class="panel-body" align="left">


<div class="panel panel-warning" id="panelT-PLD" style="width:30%;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的T计划单 <a href="/app/PM/T-billsPLD?undone=true"><span id="panelT-PLDNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="panelT-PLDContent">

</div>

</div>
</div>


<div class="panel panel-warning" id="panelT-BPT" style="width:30%;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的T方案单  <a href="/app/PM/T-billsBPT?undone=true"><span id="panelT-BPTNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="panelT-BPTContent">

</div>

</div>
</div>

<div class="panel panel-warning" id="panelT-Task" style="width:30% ;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的T任务单  <a href="/app/PM/T-billsTask?undone=true"><span id="panelT-TaskNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="panelT-TaskContent">

</div>

</div>
</div>

<!---------清除浮动---------------------------------->
<div style='clear:both'></div>

<div class="panel panel-warning" id="panelT-IPQC"  style="width:30% ;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的T-IPQC单  <a href="/app/PM/T-billsIPQC?undone=true"><span id="panelT-IPQCNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="panelT-IPQCContent">

</div>

</div>
</div>

<div class="panel panel-warning" id="panelT-FQC"  style="width:30% ;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的T-FQC单  <a href="/app/PM/T-billsFQC?undone=true"><span id="panelT-FQCNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="panelT-FQCContent">

</div>

</div>
</div>

<div class="panel panel-warning" id="panelT-PBH" style="width:30% ;float:left;margin-left:2%;">
<div class="panel-heading">
    <h3 class="panel-title">未完成的T发布单  <a href="/app/PM/T-billsPBH?undone=true"><span id="panelT-PBHNum" class="badge"></span></a></h3>
</div>
<div class="panel-body">
<div id="panelT-PBHContent">

</div>

</div>
</div>


</div>
</div>


<!----end panel2------------->

</div> 



<script>

function getUndoneInfo(DivID,panelSQL,dataCols){
	
	
	 $.ajax({
         method:'get',
         data:panelSQL,
         url:"/app/PM/getSQLDBData",
         success:function(data){

  //    	  alert("return1111:"+JSON.stringify(data));

      	  $(DivID+"Num").text(data.length);
      	  
      	  DivContent="";
      	  
      	  for(let i=0;i<data.length;i++){
      		  
      		  for(let j=0;j<dataCols.length;j++){
      			 
      			DivContent=DivContent+data[i][dataCols[j]]+" ";
      		  }
      		DivContent=DivContent+"<br \>";
      	  }

      	 $(DivID+"Content").html(DivContent);

         },
         error:function(){}
     })
	
	
	
}




////函数-控制面板显示状态
//function panelShow(panelID){
//	
//	var undoneNum=$(panelID+"Num").text();
//	console.log(undoneNum);
//	
//	if(undoneNum=="0"){
//		$(panelID).hide();
//	}else{
//		$(panelID).show();
//	}
//
//}



$(function(){
	
	sessionName="<%-locals.session.yjUser.Name%>";
	
	var panelSQLPLD={"SQL":"SQLTableBillsPLD","filter":" (maker = '"+sessionName+"' OR PGEMaker = '"+sessionName+"' OR auditor = '"+sessionName+"' ) AND PLDStatus <>1  "};
	getUndoneInfo("#panelPLD",panelSQLPLD,["BPID","CTRName"]);
	
	
	var panelSQLBPT={"SQL":"SQLTableBillsBPT","filter":" (maker = '"+sessionName+"' OR auditor = '"+sessionName+"'  OR PLDPGEMaker = '"+sessionName+"') AND (BPTStatus IS NULL OR BPTStatus <>1)  "};
	getUndoneInfo("#panelBPT",panelSQLBPT,["BPID","PLDCTRName"]);
	
	
	var panelSQLTask={"SQL":"SQLTableBillsTaskRecord","filter":" (taskStaff = '"+sessionName+"' OR BTAcceptor = '"+sessionName+"' OR IPQCMaker = '"+sessionName+"'  OR IPQCAuditor = '"+sessionName+"') AND BTStatus <>3"};
	getUndoneInfo("#panelTask",panelSQLTask,["BTID","taskCTRName"]);
	
	
	var panelSQLIPQC={"SQL":"SQLTableBillsTaskIPQC","filter":" (taskStaff = '"+sessionName+"' OR IPQCMaker = '"+sessionName+"'  OR IPQCAuditor = '"+sessionName+"') AND BTStatus <>3"};
	getUndoneInfo("#panelIPQC",panelSQLIPQC,["BTID","taskCTRName"]);
	
	
	var panelSQLFQC={"SQL":"SQLTableBillsFQC","filter":" (PGEMaker = '"+sessionName+"' OR FQCMaker = '"+sessionName+"'  OR FQCAuditor = '"+sessionName+"') AND ( FQCStatus IS NULL OR FQCStatus <>1)"};
	getUndoneInfo("#panelFQC",panelSQLFQC,["BPID","PLDCTRName"]);
	
	var panelSQLPBH={"SQL":"SQLTableBillsPBH","filter":" (PGEMaker = '"+sessionName+"' OR PBHMaker = '"+sessionName+"'  OR PBHAuditor = '"+sessionName+"') AND ( emailResult IS NULL OR emailResult =0)"};
	getUndoneInfo("#panelPBH",panelSQLPBH,["BPID","PLDCTRName"]);
	
	//-内核流程面板-------------------------------
	var panelSQLPLD_T={"SQL":"SQLTableBillsPLD_T","filter":" (maker = '"+sessionName+"' OR PGEMaker = '"+sessionName+"' OR auditor = '"+sessionName+"' ) AND PLDStatus <>1  "};
	getUndoneInfo("#panelT-PLD",panelSQLPLD_T,["BPID","CTRName"]);
	
	var panelSQLBPT_T={"SQL":"SQLTableBillsBPT_T","filter":" (maker = '"+sessionName+"' OR auditor = '"+sessionName+"'  OR PLDPGEMaker = '"+sessionName+"') AND (BPTStatus IS NULL OR BPTStatus <>1)  "};
	getUndoneInfo("#panelT-BPT",panelSQLBPT_T,["BPID","PLDCTRName"]);
	
	var panelSQLTask_T={"SQL":"SQLTableBillsTaskRecord_T","filter":" (taskStaff = '"+sessionName+"' OR BTAcceptor = '"+sessionName+"' OR IPQCMaker = '"+sessionName+"'  OR IPQCAuditor = '"+sessionName+"') AND BTStatus <>3"};
	getUndoneInfo("#panelT-Task",panelSQLTask_T,["BTID","taskCTRName"]);
	
	var panelSQLIPQC_T={"SQL":"SQLTableBillsTaskIPQC_T","filter":" (taskStaff = '"+sessionName+"' OR IPQCMaker = '"+sessionName+"'  OR IPQCAuditor = '"+sessionName+"') AND BTStatus <>3"};
	getUndoneInfo("#panelT-IPQC",panelSQLIPQC_T,["BTID","taskCTRName"]);
	
	var panelSQLFQC_T={"SQL":"SQLTableBillsFQC_T","filter":" (PGEMaker = '"+sessionName+"' OR FQCMaker = '"+sessionName+"'  OR FQCAuditor = '"+sessionName+"') AND ( FQCStatus IS NULL OR FQCStatus <>1)"};
	getUndoneInfo("#panelT-FQC",panelSQLFQC_T,["BPID","PLDCTRName"]);
	
	var panelSQLPBH_T={"SQL":"SQLTableBillsPBH_T","filter":" (PGEMaker = '"+sessionName+"' OR PBHMaker = '"+sessionName+"'  OR PBHAuditor = '"+sessionName+"') AND ( PBHStatus IS NULL OR PBHStatus =0)"};
	getUndoneInfo("#panelT-PBH",panelSQLPBH_T,["BPID","PLDCTRName"]);
	
	
})

</script>
