
<!-- CSS -->

<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">

<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>
<div class = "divcontent"> 

<h1>总体流程</h1>
<hr>
<img src = "/images/PMworkflow.png" class="img-thumbnail" >  

</div> 