<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>
<div id="MSAkey-tab-content" class="subProcessPage">
    <%- blocks.MSAkey%>
</div>
<div id="MSAkeyG-tab-content" class="subProcessPage">
<%- blocks.MSAkeyG%>
</div>

<div id="MSAdmin-tab-content" class="subProcessPage">
<%- blocks.MSAdmin%>
</div>

<%-body%>