<!--本地路径-->
<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">

<!--<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/jquery.dataTables.css">-->
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.css">

<!-- JS  -->
<script type="text/javascript" src="/css/PM/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/css/PM/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/TM/tmcode-font.css">
<!-- JS 这3个管分析视窗 -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/PM/FileSaver.min.js"></script>
<script src="/js/PM/tableExport.js"></script>
<!-- JS  -->
<script src="/css/PM/bootstrap-select.min.js"></script>
<!-- date picker -->
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<style type="text/css">

</style>

<script src="/js/PM/FileSaver.min.js"></script>
<script src="/js/PM/tableExport.js"></script>
<script src="/arch/FnFee.js"></script>
<script src="/arch/IncludeA.js"></script>
<script src="/arch/IncludeB.js"></script>
<script src="/arch/FnSubA.js"></script>
<script src="/arch/FnSubB.js"></script>
<script src="/js/PM/PMfuns.js"></script>
<script src="/bomq/utilFn.js"></script>
<script src="/public/print/print.js"></script>
<script src="/js/HMIPrint/jquery.easyui.min.js"></script>
<link rel="stylesheet" href="/layui/v2.5.6/css/layui.css" media="all">
<script src="/layui/v2.5.6/layui.all.js" charset="utf-8"></script>
<script src="/layui/v2.5.6/layui.js" charset="utf-8"></script>
<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>
	<div id="noprint" class="noprint">
		<div class="divcontent">
			<div id="handout_wrap_inner"></div>
			<h1>弘讯科技费用审批</h1>
			<div class="btn-group" id='BTNGroupFilter'>
								<!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
				<button id="BTNFitler" type="button" class="btn btn-default">自定义日期</button>
				<button id="SeaDateBtn" type="button"  onclick="searchByDate()" class="btn btn-default">查找</button>
                                <button id="SeaAllBtn" class="btn btn-default" onclick="sleepFile('0')"  style="visibility:hidden">采购费用</button>
				<button id="TripViewBtn" class="btn btn-default" onclick="sleepTravel('0')"  style="visibility:hidden">差旅费用</button>
				<!-- <input type="button" id="SeaDateBtn" onclick="sleepByDate()" class="btn btn-info" value="查找" /> -->
			</div>
			<hr>
		</div>
	</div>
	<input type="hidden" id="hideDeptName" value="" />
	<input type="hidden" id="hidePhone" value="" />
        <H3>采购费用</H3>
	<table class="layui-hide" id="chin" lay-filter="chin"></table>
        <br /> <H3>出差费用</H3>
	<table class="layui-hide" id="baby" lay-filter="baby"></table>
	<script type="text/html" id="toolbarDemo">
	<script type="text/html" id="toolcantips">
      <!-- <div class="layui-btn-group userTable">
	  <button class="layui-btn layui-btn-normal" lay-event="viewSumary">预览</button>
      </div> -->
    </script>
	<br />
      <script type="text/html" id="swagDemo" >
      <a class="layui-btn layui-btn-xs" lay-event="approval">同意</a>
      <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="reject">驳回</a>
      <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="analysis">预览</a> 
    </script>
	<!-- 总结 -->
	<div class="modal fade" id="kisswindow" tabindex="-1" role="dialog" aria-labelledby="kisswindowLabel"
		aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog" style="width:70%">
			<div class="modal-content">
				<div class="modal-body">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">费用明细</h3>
						</div>
						<div id="listPrintViewDiv">
						</div>
						<div  style="margin-left:400px;margin-top:15px;">
							<button id="BtnAgree" type="button" class="btn btn-warning">同意</button>
							<button id="BtnReject" type="button" class="btn btn-danger ">退回</button>
							<button id="PrintConfirm" type="button" class="btn btn-info">打印</button>
							<button id="PrintClose" type="button" class="btn btn-primary"
								data-dismiss="modal">关闭</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal -->
			</div><!-- 总结 -->
			<div id="DivFilter" class="easyui-window" title="自定义过滤器" closed="true"
				style="width:800px;height:400px;">
				<div class="form-horizontal">
					<form style="padding:10px 50px;">
						<div class="form-group">
							<label for="taskMakeDate" class="col-sm-2 control-label">上周日期范围:</label>
							<div class="col-sm-3 ">
								<div class="input-group date form_date " data-date=""
									data-date-format="yyyy-mm-dd" data-link-field="taskMakeDateB"
									data-link-format="yyyy-mm-dd">
									<input id="taskMakeDateB" class="form-control " size="16"
										type="text" value="" readonly>
									<span class="input-group-addon"><span
											class="glyphicon glyphicon-calendar"></span></span>
								</div>
								<input type="hidden" id="taskMakeDateB" value="" />
							</div>
							<div class="col-sm-3 ">
								<div class="input-group date form_date " data-date=""
									data-date-format="yyyy-mm-dd" data-link-field="taskMakeDateE"
									data-link-format="yyyy-mm-dd">
									<input id="taskMakeDateE" class="form-control " size="16"
										type="text" value="" readonly>
									<span class="input-group-addon"><span
											class="glyphicon glyphicon-calendar"></span></span>
								</div>
								<input type="hidden" id="taskMakeDateE" value="" />
							</div>
						</div>
					</form>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-3 ">
						<button id="FilterComfirmBtnN" type="button" class="btn btn-primary">确认</button>
						<button id="FilterCancelBtnN" type="button" class="btn btn-warning">清空</button>
					</div>
				</div>
			</div>
		</div>
	</div>
			 
				<div class="modal fade" id="sweetwindow" title="驳回理由" tabindex="-1" role="dialog"
					aria-labelledby="sweetwindowLabel" aria-hidden="true" style="top:300px;height:500px;"
					data-backdrop="static">
					<div class="modal-dialog" style="width:70%">
						<div class="modal-content">
							<div class="modal-body">
								<div id="PestViewDiv">
									<label class="feeSubCol">输入驳回理由:</label>
								</div>
								<div class="panel panel-info">
									<div class="panel-heading">
										<input id="ReasonPest" class="form-control " size="16"
											type="text" value="">
									</div>
									<div class="modal-footer">
										<button id="PestConfirm" type="button"
											class="btn btn-info">确定</button>
										<button id="PestClose" type="button"
											class="btn btn-primary"
											>取消</button>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal -->
						</div><!-- 总结 -->
					</div><!-- /.modal -->
				</div>
				<!-- fin 自定义过滤  -->
				<script>
					var missmode = '';
					var missType = '';
					var missAcute = '';
					var missBcute = '';
					var missCcute = '';
					var missDcute = '';
					var centerTable = null;
					var objCenter = null;
					var sessionName = '';
					var sessionAID = '';
					var sessionOID = '';
					var Dingphone = '';
					let sData = [];
					var CapBillNo = '';
					var CapTotalValue = '';
					var CapCurJob = '';
					var CapItemNo = '';
					var CapSubject = '';
					var CapMode = '';
					var CapPhone = '';
					var Formkind = '';
					var CapDate = '0';  //0  NoDate, 1 Date
					var CapAlert = '0';  //0 不超过, 1 超过
					$(document).ready(function () {
						layui.use(['table', 'form', 'layedit', 'laydate'], function () {
							sessionName = "<%-locals.session.yjUser.Name%>";
							sessionAID = "<%-locals.session.yjUser.AID%>";
							sessionOID = "<%-locals.session.yjUser.OID%>";
							// if (sessionAID == 'tmCodeAdm' || sessionAID == 'Admin') {
							// } else {
							// 	chkPower(sessionOID);
							// }
							missType = getQueryString("missT");  //use by FormType 采购 差旅
							var missTencode = decodeURI(missType);
							missAcute = getQueryString("missA");  //use by choose Date
							var missAencode = decodeURI(missAcute);
							missBcute = getQueryString("missB");
							var missBencode = decodeURI(missBcute);
							missCcute = getQueryString("missC");
							missDcute = getQueryString("missD");
							missmode = getQueryString("missE");
							$("#taskMakeDateB").val(missCcute);
							$("#taskMakeDateE").val(missDcute);
							if (missType == 'A') {
								sleepFile('0');
							}
							if (missType == 'B') {
								sleepTravel('0');
							}
							$('#SeaAllBtn').click();
							$('#TripViewBtn').click();
						});
					});
					$('#BTNFitler').click(function () {
						$('#DivFilter').window('open');
						$('.form_date').datetimepicker({
							language: 'zh-CN',
							weekStart: 1,
							todayBtn: 1,
							autoclose: 1,
							todayHighlight: 1,
							startView: 2,
							minView: 2,
							forceParse: 0
						});
						$("#BTNFitler").addClass("active")
					});
					//过滤功能组 自定义过滤确认按钮-----NNN
					$('#FilterComfirmBtnN').click(function () {
						$('#DivFilter').window('close');
					});
					//过滤功能组 自定义过滤确认按钮-----
					$('#FilterCancelBtnN').click(function () {
						$("#taskMakeDateB").val("")
						$("#taskMakeDateE").val("")
					});
					function doubleChk() {
						var checkStatus = centerTable.checkStatus(objCenter.config.id);
					}
					$('#PrintConfirm').click(function () {
						Print('#listPrintViewDiv', {
							onStart: function () {
								console.log('onStart', new Date())
							},
							onEnd: function () {
								console.log('onEnd', new Date())
							}
						})
					});
					$('#BtnAgree').click(function () {
						var message = '';
						if(CapAlert=='0'){
							message ='进行审批同意吗，请确认操作是否无误？';
						}else{
							message ='部份项目预算已超过 ，请确认是否进行审批同意？';
						}
						layer.confirm(message, {
							btn: ['是', '否']
						}, function () {
							// var checkStatus = centerTable.checkStatus(objCenter.config.id); 
							// var dataARR = (checkStatus.data);
							// console.log("艺仁",JSON.stringify(checkStatus));
							// console.log("敏希", (objCenter.config.id));
							console.log("张良", CapItemNo, "张良" , sessionOID );
							var reportType = 'agreeFee';
							var taskData = {
								"reportType": reportType, "BillNo": CapBillNo, "Formkind": Formkind, "Subject": CapSubject,
								"ItemNo": CapItemNo, "TotalValue": CapTotalValue, "CurWorkId": sessionOID, "CurName": sessionName,
								"CurJob": CapCurJob, "CurPhone": CapPhone,
							}
							// console.log("到达胜利之前", taskData);
							layer.alert("同意此笔审批号" + CapBillNo);
							$('#kisswindow').modal('toggle');
							$.ajax({
								method: 'post',
								data: taskData,
								url: "/app/TMFinc/getRoute",
								success: function (result) {
									console.log("到达胜利");
									var DateB = $("#taskMakeDateB").val();
									var DateE = $("#taskMakeDateE").val();
									missType = CapMode;
									var paramClearA = encodeURI(encodeURI(result.BillNo));
									layer.confirm("申请文号" + result.BillNo + "已" + (result.message), {
										btn: ['知道了']
									}, function () {
										layer.msg('操作成功', { icon: 1 });
										window.location.href = "/app/TMFinc/feeAgreeForm?missT=" + missType + "&missA=" + CapDate + "&missC=" + DateB + "&missD=" + DateE + " ";
									});
								},
								error: function () {
								}
							})
						}, function () {
							layer.msg('无操作', { icon: 1 });
						});
					});
					$('#BtnReject').click(function () {
						$('#sweetwindow').modal('show');
					});
					$('#PestClose').click(function () {
						$('#sweetwindow').modal('toggle');
					});
					$('#PestConfirm').click(function () {
						var ReasonPest = $("#ReasonPest").val();
						console.log("审批驳回，请输入原因", ReasonPest);
						layer.alert("驳回此笔审批号");
						var arrange = 'ReturnBill';
						var reportType = 'rejectFee';
						var taskData = {
							"reportType": reportType, "arrange": arrange, "BillNo": CapBillNo, "Formkind": Formkind,
							"Subject": CapSubject, "ItemNo": CapItemNo,
							"TotalValue": CapTotalValue, "CurWorkId": sessionAID, "CurName": sessionName,
							"CurJob": CapCurJob, "CurPhone": CapPhone, "Reason": ReasonPest,
						}
						$.ajax({
							method: 'post',
							data: taskData,
							url: "/app/TMFinc/getRoute",
							success: function (result) {
								var DateB = $("#taskMakeDateB").val();
								var DateE = $("#taskMakeDateE").val();
								missType = CapMode;
								var paramClearA = encodeURI(encodeURI(result.BillNo));
								layer.confirm("驳回文号" + result.BillNo + "已" + (result.message), {
									btn: ['知道了']
								}, function () {
									layer.msg('操作成功', { icon: 1 });
									window.location.href = "/app/TMFinc/feeAgreeForm?missT=" + missType + "&missA=" + CapDate + "&missC=" + DateB + "&missD=" + DateE + " ";
								});
							},
							error: function () {
							}
						})
						$('#sweetwindow').modal('toggle');
						$('#kisswindow').modal('toggle');
					});
				</script>