<!--本地路径-->
<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">

<!--<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/jquery.dataTables.css">-->
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.css">

<!-- JS  -->
<script type="text/javascript" src="/css/PM/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/css/PM/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>
<!-- date picker -->
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<link rel="stylesheet" type="text/css" href="/css/MSTools/layui/css/layui.css">
<script src="/js/PM/FileSaver.min.js"></script>
<script src="/js/PM/tableExport.js"></script>
<script src="/js/PM/PMfuns.js"></script>
<!-- JS 这3个管分析视窗 -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/PM/FileSaver.min.js"></script>
<script src="/js/PM/tableExport.js"></script>
<!-- 打印 -->
<script src="/public/print/print.js"></script>
<!-- 预览 -->
<script src="/arch/FnSubA.js"></script>
<script src="/arch/FnSubB.js"></script>
<script src="/js/HMIPrint/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/css/MSTools/layui/layui.js"></script>
<link rel="stylesheet" type="text/css" href="/css/TM/tmcode-font.css">
<script src="/bomq/supplyFn.js"></script>
<script src="/bomq/utilFn.js"></script>
<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>
	<div id="noprint" class="noprint">
		<div class="divcontent">
			<div id="handout_wrap_inner"></div>
			<h1>费用单据查找</h1>
			<label>模式:</label>
			<select id="Pattern" name="Pattern" class="can-find-M140"></select>
			<label>种类:</label>
			<select id="CapMode" name="CapMode" class="can-find-M140"></select>
			<button id="SeaBtn" class="btn btn-default">与我相关</button>
			<button id="SeaAllBtn" class="btn btn-default">全部单据</button>
			<!-- <input type="button" id="DisplayBtn" class="btn btn-info" value="栏位" /> -->
			<button id="BTNFitler" type="button" class="btn btn-default">自定义日期</button>
			<button id="BTNFitSearch" type="button" class="btn btn-info">查找</button>
			<input type="button" id="DetailBtn" class="btn btn-info" value="预览" />
			<input type="button" id="btn_apply" class="btn btn-info" onclick="apply_hmi();" value="送审" />
			<input type="button" id="MdfyBtn" class="btn btn-info" value="编辑" />
			<!-- <input type="button" id="AlterBtn" class="btn btn-info" value="撤回" />
			<input type="button" id="DraftBtn" class="btn btn-info" value="修改" />   -->
			<hr>
			<br />
			<div id="DivFilter" class="easyui-window" title="自定义过滤器" closed="true"
				style="width:800px;height:400px;">
				<form style="padding:10px 50px;">
					<div class="form-horizontal">
						<div class="form-group">
							<label for="taskMakeDate" class="col-sm-2 control-label">上周日期范围:</label>
							<div class="col-sm-3 ">
								<div class="input-group date form_date " data-date=""
									data-date-format="yyyy-mm-dd" data-link-field="taskMakeDateB"
									data-link-format="yyyy-mm-dd">
									<input id="taskMakeDateB" class="form-control " size="16"
										type="text" value="" readonly>
									<span class="input-group-addon"><span
											class="glyphicon glyphicon-calendar"></span></span>
								</div>
								<input type="hidden" id="taskMakeDateB" value="" />
							</div>

							<div class="col-sm-3 ">

								<div class="input-group date form_date " data-date=""
									data-date-format="yyyy-mm-dd" data-link-field="taskMakeDateE"
									data-link-format="yyyy-mm-dd">
									<input id="taskMakeDateE" class="form-control " size="16"
										type="text" value="" readonly>
									<span class="input-group-addon"><span
											class="glyphicon glyphicon-calendar"></span></span>
								</div>
								<input type="hidden" id="taskMakeDateE" value="" />
							</div>
						</div>
				</form>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"></label>
				<div class="col-sm-3 ">
					<button id="FilterComfirmBtnN" type="button" class="btn btn-primary">确认</button>
					<button id="FilterCancelBtnN" type="button" class="btn btn-warning">清空</button>
				</div>
			</div>
		</div>
	</div><!-- modal fade -->
	<div class="modal fade" id="kisswindow" tabindex="-1" role="dialog" aria-labelledby="kisswindowLabel"
		aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog" style="width:70%">
			<div class="modal-content">
				<div class="modal-body">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">费用明细</h3>
						</div>
						<div id="listPrintViewDiv">
						</div>
						<div class="modal-footer">
							<button id="PrintConfirm" type="button" class="btn btn-info">打印</button>
							<button id="PrintClose" type="button" class="btn btn-primary"
								data-dismiss="modal">关闭</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal -->
			</div><!-- 总结 -->
		</div><!-- /.modal -->
	</div>
	<div class="pdf-wrapper" id="pdf-wrapper" style="background-color: aliceblue;">
		<!--数据呈现区-->
		<table id="center_TB" class="table table-striped table-bordered">
			<thead id="content">

			</thead>
		</table>
	</div>
	</div>
	<div id="root" style="height: 100%"></div>
	<script>
		var missType = '';
		var missAcute = '';
		var missBcute = '';
		var missCcute = '';
		var missDcute = '';
		var glbA = '';
		var glbB = '';
		var glbC = '';
		var glbD = '';
		var glbE = '';
		var glbF = '';
		var glbG = '';
		var glbH = '';
		var glbS = '';
		var Pattern = '';
		var CapMode = '';
		var advSearch = '';
		var selClass = '';
		var FieldA = true;
		var FieldB = true;
		var FieldC = true;
		var FieldD = true;
		var FieldE = false;
		var FieldF = false;
		var FieldG = false;
		var FieldH = true;
		var FieldI = false;
		var FieldJ = false;
		var FieldK = false;
		var storage = window.localStorage;
		var hidata = localStorage.getItem("findXXX");
		hidata = JSON.parse(hidata);
		var sessionName = '';
		var sessionOID = '';
		let sData = [];
		if (hidata != undefined && hidata != null) {
			FieldA = ((hidata.A == null || hidata.A == undefined) ? (FieldA) : hidata.A);
			FieldB = ((hidata.B == null || hidata.B == undefined) ? (FieldB) : hidata.B);
			FieldC = ((hidata.C == null || hidata.C == undefined) ? (FieldC) : hidata.C);
			FieldD = ((hidata.D == null || hidata.D == undefined) ? (FieldD) : hidata.D);
			FieldE = ((hidata.E == null || hidata.E == undefined) ? (FieldE) : hidata.E);
			FieldF = ((hidata.F == null || hidata.F == undefined) ? (FieldF) : hidata.F);
			FieldG = ((hidata.G == null || hidata.G == undefined) ? (FieldG) : hidata.G);
			FieldH = ((hidata.H == null || hidata.H == undefined) ? (FieldH) : hidata.H);
			FieldI = ((hidata.I == null || hidata.I == undefined) ? (FieldI) : hidata.I);
			FieldJ = ((hidata.J == null || hidata.J == undefined) ? (FieldJ) : hidata.J);
			FieldK = ((hidata.K == null || hidata.K == undefined) ? (FieldK) : hidata.K);
			console.log("敏A希", FieldA, "敏B希", FieldB);
		}
		var columnsData = [];
		//页面加载函数---------------
		$(document).ready(function () {
			sessionName = "<%-locals.session.yjUser.Name%>";
			sessionOID = "<%-locals.session.yjUser.OID%>";
			layui.use(['form', 'layedit', 'laydate'], function () {
				var form = layui.form
					, layer = layui.layer
					, layedit = layui.layedit
					, laydate = layui.laydate;
				form.render();
				var DataPara = {
					"tableID": "#center_TB",
					"DBTable": "auto_parts"
				}
				missType = getQueryString("missT");
				console.log("漫漫古道:" + sessionName);
				missAcute = getQueryString("missA");
				missBcute = getQueryString("missB");
				var missAencode = decodeURI(missAcute);

				glbA = missAencode;
				columnsData = [

				];
				var contentSum = "";
				var content = '<tr>'
					+ '<th></th>'
					+ '</tr>';
				contentSum += content;
				$('#content').html(contentSum);
				var youoption = document.createElement("option");
				youoption.id = "SIGN";
				youoption.name = "SIGN";
				youoption.text = "AND";
				youoption.value = "1";
				$("#SIGN").append(youoption);
				youoption = document.createElement("option");
				youoption.text = "OR";
				youoption.value = "2";
				$("#SIGN").append(youoption);
			});
			$("#SeaBtn").addClass("active");
			getpull(); getDrop();
			$("#pdf-wrapper").css('visibility', 'hidden');
		});

		var DataPara = {
			"tableID": "#center_TB",
			"DBTable": "auto_parts"
		}
		columnsData = [

		];
		function showDBDataByBill(DataPara, columnsData, Pattern, CapMode, StaffName) {
			$("#pdf-wrapper").css('visibility', 'visible');
			var limit = '5000';
			var filter = ' 1=1 ';
			var orderBy = '';
			$("#center_TB").dataTable().fnDestroy();  //搞好thead
			var signoption = $("#SIGN option:selected");
			var signTxt = signoption.text();
			var Advstr = { "SIGN": signTxt, "Pattern": Pattern, "StaffName": StaffName, "limit": limit };
			$("#matchRec").html("查找条件:" + signTxt);
			var reportChannel = 'FeeHead';
			var taskData = { "reportType": reportChannel, "arrange": CapMode };
			$.ajax({
				method: 'post',
				data: taskData,
				url: "/app/TMFinc/getRoute",
				success: function (data) {
					$('#content').html(data[1]);
					let newColumns = [];
					newColumns = data[0];
					var reportType = 'FeeHisVisit';
					var taskData = { "reportType": reportType, "arrange": CapMode, "filter": filter, "Advstr": Advstr, "limit": limit, "orderBy": orderBy };
					bornTable(taskData, newColumns);
				},
				error: function () {
				}
			})
		}
		function showDBDataSelf(DataPara, columnsData, MakeDateB, MakeDateE, Pattern, CapMode) {
			$("#pdf-wrapper").css('visibility', 'visible');
			var limit = '5000';
			var filter = ' 1=1 ';
			var orderBy = '';
			$("#center_TB").dataTable().fnDestroy();
			var signoption = $("#SIGN option:selected");
			var signTxt = signoption.text();
			var Advstr = { "SIGN": signTxt, "weekbeg": MakeDateB, "weekend": MakeDateE, "Pattern": Pattern, "CapMode": CapMode, "limit": limit };
			var reportChannel = 'FeeHead';
			var arrange = 'Lookup';
			var taskData = { "reportType": reportChannel, "arrange": CapMode };
			$.ajax({
				method: 'post',
				data: taskData,
				url: "/app/TMFinc/getRoute",
				success: function (data) {
					$('#content').html(data[1]);
					let newColumns = [];
					newColumns = data[0];
					var reportType = 'FeeHisVisit';
					var taskType = { "reportType": reportType, "arrange": CapMode, "filter": filter, "Advstr": Advstr, "limit": limit, "orderBy": orderBy };
					bornTable(taskType, newColumns);
				},
				error: function () {
				}
			})
		}
		function bornTable(taskData, columnsData) {
			$(DataPara.tableID).DataTable({
				ajax: {
					method: 'post',
					data: taskData,
					url: "/app/TMFinc/getRoute",
					dataSrc: ''
				},
				columns: columnsData,
				aaSorting: [0, 'desc'],
				language: languageCN
			});
			var table = $('#center_TB').DataTable();
			$('#center_TB tbody').on('click', 'tr', function () {
				$(this).removeClass('selected');
				if ($(this).hasClass('selected')) {
					$(this).removeClass('selected');
				} else {
					table.$('tr.selected').removeClass('selected');
					$(this).addClass('selected');
				}
			});

			$('#center_TB tbody').on('dblclick', 'tr', function () {
			var table = $('#center_TB').DataTable();
			var dataSelect = table.row('.selected').data();
			var data = table.row(this).data();
			var billNo = dataSelect.BillNo; billNo = myTrim(billNo);
				if (CapMode == 'A') {
					shuffleA(billNo);
				}
				if (CapMode == 'B') {
					shuffleB(billNo);
				}
				$('#kisswindow').modal('show');	
		      });
		}
		function reloadCol() {
			columnsData = [

			];
		}
		$('#BTNFitler').click(function () {
			$('#DivFilter').window('open');
			$('.form_date').datetimepicker({
				language: 'zh-CN',
				weekStart: 1,
				todayBtn: 1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				minView: 2,
				forceParse: 0
			});
			$("#BTNGroupFilter").children().removeClass("active");
			$("#BTNFitler").addClass("active")
		});
		//过滤功能组 自定义过滤确认按钮-----NNN
		$('#FilterComfirmBtnN').click(function () {
			$('#DivFilter').window('close');
		});
		//过滤功能组 自定义过滤确认按钮-----
		$('#FilterCancelBtnN').click(function () {

			$("#taskMakeDateB").val("")
			$("#taskMakeDateE").val("")
		});
		$('#BTNFitSearch').click(function () {
			$("#center_TB").dataTable().fnDestroy();
			var MakeDateB = $("#taskMakeDateB").val();
			var MakeDateE = $("#taskMakeDateE").val();
			Pattern = $('#Pattern').val();
			CapMode = $('#CapMode').val();
			reloadCol();
			showDBDataSelf(DataPara, columnsData, MakeDateB, MakeDateE, Pattern, CapMode);
		});
		$('#ResetBtn').click(function () {
			$("#mainclass").html(""); $("#mainclass").val("");
			$("#mateId").html(""); $("#mateId").val("");
			$("#invoice").html(""); $("#invoice").val("");
			$("#mainpast").html(""); $("#mainpast").val("");
			$("#mainname").html(""); $("#mainname").val("");
			getCategory();
		});
		$('#DetailBtn').click(function () {
			var table = $('#center_TB').DataTable();
			var dataSelect = table.row('.selected').data();
			if (dataSelect == undefined) {
				alert("当前未选择任何数据,请先点击需要的数据行!");
			} else {
				var billNo = dataSelect.BillNo; billNo = myTrim(billNo);
				console.log("西阭", (billNo));
				if (CapMode == 'A') {
					shuffleA(billNo);
				}
				if (CapMode == 'B') {
					shuffleB(billNo);
				}
				$('#kisswindow').modal('show');
			}
		});
		$('#SeaBtn').click(function () {
			$("#center_TB").dataTable().fnDestroy();
			Pattern = $('#Pattern').val();
			CapMode = $('#CapMode').val();
			var msource = '';
			var morder = "";
			reloadCol();
			showDBDataByBill(DataPara, columnsData, Pattern, CapMode, sessionName);
			$("#SeaBtn").addClass("active");
			$("#SeaAllBtn").removeClass("active");
		});
		$('#SeaAllBtn').click(function () {
			$("#center_TB").dataTable().fnDestroy();
			Pattern = $('#Pattern').val();
			CapMode = $('#CapMode').val();
			var msource = '';
			var morder = "";
			reloadCol();
			showDBDataByBill(DataPara, columnsData, Pattern, CapMode, '');
			$("#SeaAllBtn").addClass("active");
			$("#SeaBtn").removeClass("active");
		});
		$('#MdfyBtn').click(function () {
			var table = $('#center_TB').DataTable();
			var dataSelect = table.row('.selected').data();
			if (dataSelect == undefined) {
				alert("当前未选择任何数据,请先点击需要的数据行!");
			} else {
				var billNo = dataSelect.BillNo; billNo = myTrim(billNo);
				var SendText = dataSelect.SendText;
				var StaffName = dataSelect.StaffName;
				if (SendText != '保存') {
					layer.msg('非保存状态 ， 此单不能修改', { icon: 1 });
					return;
				}
				// console.log("是转瞬即逝的东西",sessionName , StaffName)
				if (sessionName != StaffName) {
					layer.msg('非本人操作 ， 此单不能修改', { icon: 1 });
					return;
				}
				layer.confirm(billNo + '进入编辑作业，请确认操作是否无误？', {
					btn: ['是', '否']
				}, function () {
					var paramClearA = encodeURI(encodeURI(billNo));
					var paramType = 'Mdy';
					if (CapMode == 'A') {
						window.location.href = "/app/TMFinc/feeApplyForm?missT=" + paramType + "&missA=" + paramClearA + " ";
					}
					if (CapMode == 'B') {
						window.location.href = "/app/TMFinc/feeTravel?missT=" + paramType + "&missA=" + paramClearA + " ";
					}
				}, function () {
					layer.msg('无操作', { icon: 1 });
				});
			}
		});
		function apply_hmi() {
			var table = $('#center_TB').DataTable();
			var dataSelect = table.row('.selected').data();
			if (dataSelect == undefined) {
				alert("当前未选择任何数据,请先点击需要的数据行!");
			} else {
				var billNo = dataSelect.BillNo; billNo = myTrim(billNo);
				var SendText = dataSelect.SendText;
				var StaffName = dataSelect.StaffName;
				if (SendText != '保存') {
					layer.msg('非保存状态 ， 此单不能送审', { icon: 1 });
					return;
				}
				if (sessionName != StaffName) {
					layer.msg('非本人提交 ， 此单不能送审', { icon: 1 });
					return;
				}
				console.log("西阭", (billNo));
				var SendStatus = '1';
				layer.confirm('此单送出审批吗，请确认操作是否无误？', {
					btn: ['是', '否']
				}, function () {
					layer.msg('操作成功', { icon: 1 });
					var Basstr = {
						"SendStatus": SendStatus, "hideBillNo": billNo
					};
					var reportType = 'applyBudget';
					var arrange = 'confirm';
					var taskData = {
						"reportType": reportType, "arrange": arrange, "Basstr": Basstr
					}
					$.ajax({
						method: 'post',
						data: taskData,
						url: "/app/TMFinc/getRoute",
						success: function (data) {
							console.log("会好", JSON.stringify(data));
							if (data.status == 'Fail') {
								layer.msg("讯息" + data.message);
							} else if (data.status == 'OK') {
								layer.confirm("申请文号" + data.BillNo + "已送出" + (data.status), {
									btn: ['知道了']
								}, function () {
									layer.msg('操作成功', { icon: 1 });
									var DateB = $("#taskMakeDateB").val();
									var DateE = $("#taskMakeDateE").val();
									missAcute = $('#Pattern').val();
									missBcute = $('#CapMode').val();
									window.location.href = "/app/TMFinc/feeHistory?missT=" + missType + "&missA=" + missAcute + "&missB=" + missBcute + "&missC=" + DateB + "&missD=" + DateE + " ";
								});
							}
						},
						error: function () {
						}
					})
				}, function () {
					layer.msg('无操作', { icon: 1 });
				});
			}
		}
		$('#PrintConfirm').click(function () {
			Print('#listPrintViewDiv', {
				onStart: function () {
					console.log('onStart', new Date())
				},
				onEnd: function () {
					console.log('onEnd', new Date())
				}
			})
		});
	</script>