<!--本地路径-->
<link rel="stylesheet" type="text/css" href="/css/PM/PMContent.css">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/Bootstrap-3.3.7/css/bootstrap.min.css">

<!--<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/jquery.dataTables.css">-->
<link rel="stylesheet" type="text/css" href="/css/PM/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.css">

<!-- JS  -->
<script type="text/javascript" src="/css/PM/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/css/PM/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js"></script>
<!-- date picker -->
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/css/PM/datetimepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<link rel="stylesheet" type="text/css" href="/css/MSTools/layui/css/layui.css">
<script src="/js/PM/FileSaver.min.js"></script>
<script src="/js/PM/tableExport.js"></script>
<script src="/js/PM/PMfuns.js"></script>
<!-- JS 这3个管分析视窗 -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/PM/FileSaver.min.js"></script>
<script src="/js/PM/tableExport.js"></script>
<!-- 预览 -->
<script src="/js/HMIPrint/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/css/MSTools/layui/layui.js"></script>
<link rel="stylesheet" type="text/css" href="/css/TM/tmcode-font.css">
<script src="/arch/roleSet.js"></script>
<script src="/arch/creditLook.js"></script>
<script src="/bomq/utilFn.js"></script>
<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>
	<div id="noprint" class="noprint">
		<div class="divcontent">
			<div id="handout_wrap_inner"></div>
			<h1>预算额度使用表</h1>
			<label>年份:</label>
			<div class="layui-inline">
				<input class="can-find-M140" name="mainYear" id="mainYear" value="" autocomplete="off">
			</div>
			<label>部門:</label>
			<div class="layui-inline">
				<select id="DeptCombo" class="can-find-M140" type="text" value=""></select>
			</div>
			<label>预算分类:</label>
			<select id="mainkind" name="mainkind" class="can-find-M140"></select>
			<button id="BTNFitSearch" type="button" class="btn btn-info">查找</button>
			<hr>
		</div>
	</div><!-- modal fade -->
	<div class="pdf-wrapper" id="pdf-wrapper" style="width:900px; background-color: aliceblue;">
		<!--数据呈现区-->
		<table id="center_TB" class="table table-striped table-bordered">
			<thead id="content">

			</thead>
		</table>
	</div>
	</div>
	<!--打开-->
	<div id="DelivFilter" class="easyui-window" title="预算详细" closed="true" style="width:1000px;height:500px;">
		<form style="padding:10px 50px;">
			<div class="pdf-wrapper" id="quota-wrapper" style="background-color: aliceblue;">
				<table id="middle_TB" class="table table-striped table-bordered">
					<thead id="conpage">

					</thead>
				</table>
			</div>
		</form>
		<div class="form-group">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-3 ">
				<button id="quotaCanBtn" type="button" class="btn btn-warning">关闭</button>
			</div>
		</div>
	</div>

	<div id="root" style="height: 100%"></div>
	<script>
		var missType = '';
		var missAcute = '';
		var missBcute = '';
		var missCcute = '';
		var missDcute = '';
		var glbA = '';
		var glbB = '';
		var glbC = '';
		var glbD = '';
		var glbE = '';
		var glbF = '';
		var glbG = '';
		var glbH = '';
		var glbS = '';
		var Pattern = '';
		var Formkind = '';
		var advSearch = '';
		var selClass = '';
		var FieldA = true;
		var FieldB = true;
		var FieldC = true;
		var FieldD = true;
		var FieldE = false;
		var FieldF = false;
		var FieldG = false;
		var FieldH = true;
		var FieldI = false;
		var FieldJ = false;
		var FieldK = false;
		var storage = window.localStorage;
		var hidata = localStorage.getItem("findpo");
		hidata = JSON.parse(hidata);
		var sessionName = '';
		var sessionOID = '';
		let sData = [];
		if (hidata != undefined && hidata != null) {
			FieldA = ((hidata.A == null || hidata.A == undefined) ? (FieldA) : hidata.A);
			FieldB = ((hidata.B == null || hidata.B == undefined) ? (FieldB) : hidata.B);
			FieldC = ((hidata.C == null || hidata.C == undefined) ? (FieldC) : hidata.C);
			FieldD = ((hidata.D == null || hidata.D == undefined) ? (FieldD) : hidata.D);
			FieldE = ((hidata.E == null || hidata.E == undefined) ? (FieldE) : hidata.E);
			FieldF = ((hidata.F == null || hidata.F == undefined) ? (FieldF) : hidata.F);
			FieldG = ((hidata.G == null || hidata.G == undefined) ? (FieldG) : hidata.G);
			FieldH = ((hidata.H == null || hidata.H == undefined) ? (FieldH) : hidata.H);
			FieldI = ((hidata.I == null || hidata.I == undefined) ? (FieldI) : hidata.I);
			FieldJ = ((hidata.J == null || hidata.J == undefined) ? (FieldJ) : hidata.J);
			FieldK = ((hidata.K == null || hidata.K == undefined) ? (FieldK) : hidata.K);
		}
		var columnsData = [];
		//页面加载函数---------------
		$(document).ready(function () {
			sessionName = "<%-locals.session.yjUser.Name%>";
			sessionOID = "<%-locals.session.yjUser.OID%>";
			layui.use(['form', 'layedit', 'laydate'], function () {
				var form = layui.form
					, layer = layui.layer
					, layedit = layui.layedit
					, laydate = layui.laydate;
				form.render();
				var DataPara = {
					"tableID": "#center_TB",
					"DBTable": "auto_parts"
				}
				missType = getQueryString("missT");
				missAcute = getQueryString("missA");
				var missAencode = decodeURI(missAcute);
				glbA = missAencode;
				columnsData = [
					{ data: 'DBID', "visible": false },
					{ data: 'StaffId', "visible": true, "width": "10%" },
					{ data: 'StaffName', "visible": true, "width": "10%" },
					{ data: 'BudgetYear', "visible": true, "width": "10%" },
					{ data: 'UpperLimit', "visible": true, "width": "10%" },
					{ data: 'Accumulate', "visible": true, "width": "10%" },
				];
				var youoption = document.createElement("option");
				youoption.id = "mainkind";
				youoption.name = "mainkind";
				youoption.text = "项目预算";
				youoption.value = "0";
				$("#mainkind").append(youoption);
				youoption = document.createElement("option");
				youoption.text = "副总预算";
				youoption.value = "1";
				$("#mainkind").append(youoption);
			});
			$("#SeaBtn").addClass("active");
			var contentSum = "";
			var content = '<tr>'
				+ '<th>系统ID</th>'
				+ '<th>部門ID</th>'
				+ '<th>部門名称</th>'
				+ '<th>课组名称</th>'
				+ '<th>地区</th>'
				+ '<th>描述</th>'
				+ '<th>描述</th>'
				+ '<th>描述</th>'
				+ '</tr>';
			contentSum += content;
			$('#content').html(contentSum);
			Pattern = $('#Pattern').val();
			reloadCol();
			OrigList();
			showDBDataSelf(DataPara, columnsData, Pattern);
			$("#pdf-wrapper").css('visibility', 'visible');
		});

		var DataPara = {
			"tableID": "#center_TB",
			"DBTable": "auto_parts"
		}
		columnsData = [

		];
		function showDBDataSelf(DataPara, columnsData, Pattern) {
			$("#pdf-wrapper").css('visibility', 'visible');
			var limit = '5000';
			var filter = ' 1=1 ';
			var orderBy = '';
			$("#center_TB").dataTable().fnDestroy();
			var BudYear = $('#mainYear').val();
			var DeptCombo = $('#DeptCombo').val();
			let PropList = [];
			if (DeptCombo != "" && DeptCombo != undefined) {
				PropList = DeptCombo.split('##');
				for (var ki = 0; ki < PropList.length; ki++) {
					var DeptID = PropList[0];
					var DeptName = PropList[1];
				}
			}
			var Formkind = $('#mainkind').val();
			var reportChannel = 'FeeHead';
			if (Formkind == '0') {
				var arrange = 'LookQuota';
			} else if (Formkind == '1') {
				var arrange = 'LookCredit';
			}
			var Advstr = { "Pattern": Pattern, "Formkind": Formkind, "BudYear": BudYear, "DeptName": DeptName, "limit": limit };
			var taskData = { "reportType": reportChannel, "arrange": arrange };
			console.log("裴虎", taskData);
			$.ajax({
				method: 'post',
				data: taskData,
				url: "/app/TMFinc/getRoute",
				success: function (data) {
					$('#content').html(data[1]);
					let newColumns = [];
					newColumns = data[0];
					var reportType = 'FeeVisit';
					var taskType = { "reportType": reportType, "arrange": arrange, "filter": filter, "Advstr": Advstr, "limit": limit, "orderBy": orderBy };
					// console.log("嬴政",taskType);
					bornTable(taskType, newColumns);
				},
				error: function () {
				}
			})
		}
		function bornTable(taskData, columnsData) {
			$(DataPara.tableID).DataTable({
				ajax: {
					method: 'post',
					data: taskData,
					url: "/app/TMFinc/getRoute",
					dataSrc: ''
				},
				columns: columnsData,
				aaSorting: [0, 'desc'],
				language: languageCN
			});
			var table = $('#center_TB').DataTable();
			$('#center_TB tbody').on('click', 'tr', function () {
				$(this).removeClass('selected');
				if ($(this).hasClass('selected')) {
					$(this).removeClass('selected');
				} else {
					table.$('tr.selected').removeClass('selected');
					$(this).addClass('selected');
				}
			});
			$('#center_TB tbody').on('dblclick', 'tr', function () {
				var table = $('#center_TB').DataTable();
				var dataSelect = table.row('.selected').data();
				var data = table.row(this).data();
				var BudgetCID = dataSelect.BudgetCID; BudgetCID = myTrim(BudgetCID);
				var StaffId = dataSelect.StaffId; StaffId = myTrim(StaffId);
				var BudYear = dataSelect.BudYear; BudYear = myTrim(BudYear);
				var DeptName = dataSelect.DeptName; DeptName = myTrim(DeptName);
				var Formkind = $('#mainkind').val();
				if (Formkind == '0') {
					showDBQuota(BudgetCID, DeptName , BudYear);
				} else if (Formkind == '1') {
					showDBCredit(StaffId, BudYear);
				}
				
				$('#DelivFilter').window('open');
				$("#DelivFilter").addClass("active")
			});
		}
		function reloadCol() {
			columnsData = [
			];
		}
		$('#BTNFitSearch').click(function () {
			$("#center_TB").dataTable().fnDestroy();
			Pattern = $('#Pattern').val();
			reloadCol();
			showDBDataSelf(DataPara, columnsData, Pattern);
		});
		function showDBQuota( BudgetCID, DeptName ,BudYear) {
			var DataPara = {
				"tableID": "#middle_TB",
				"DBTable": "play"
			}
			columnsData = [
				{ data: 'DBID', "visible": false },
				{ data: 'BudgetCID', "visible": true, "width": "15%" },
				{ data: 'BudgetItem', "visible": true, "width": "15%" },
				{ data: 'BudYear', "visible": true, "width": "10%" },
				{ data: 'RequestDate', "visible": true, "width": "10%" },
				{ data: 'BillNo', "visible": true, "width": "10%" },
				{ data: 'SNNO', "visible": true, "width": "10%" },
				{ data: 'TotalValue', "visible": true, "width": "15%" },
				{ data: 'DesCript', "visible": true, "width": "20%" },
			];
			var inventSum = "";
			var invent = '<tr>'
				+ '<th></th>'
				+ '<th>项目号</th>'
				+ '<th>项目名</th>'
				+ '<th>年</th>'
				+ '<th>日期</th>'
				+ '<th>单号</th>'
				+ '<th>笔数</th>'
				+ '<th>金额</th>'
				+ '<th>描述</th>'
				+ '</tr>';
			inventSum += invent;
			$('#conpage').html(inventSum);
			$("#middle_TB").dataTable().fnDestroy();
			var reportType = 'AnnualRpt';
			var arrange = 'seeQuota';
			var taskData = { "reportType": reportType, "arrange": arrange, "DeptName": DeptName, "BudgetCID": BudgetCID, "BudYear": BudYear };
			$(DataPara.tableID).DataTable({
				ajax: {
					method: 'post',
					data: taskData,
					url: "/app/TMFinc/getRoute",
					dataSrc: '',
					aaSorting: [1, 'asc'],
				},
				columns: columnsData,
				autoWidth: true,
				createdRow: function (row, data, dataIndex) {
					if (data.RowCode != "") {
					} else {
						$('td', row).css("background", "#B4EEB4");
					}
				},
			});
		}
		function showDBCredit( StaffId, BudYear) {
			var DataPara = {
				"tableID": "#middle_TB",
				"DBTable": "play"
			}
			columnsData = [
				{ data: 'DBID', "visible": false },
				{ data: 'StaffId', "visible": true, "width": "15%" },
				{ data: 'StaffName', "visible": true, "width": "15%" },
				{ data: 'BudYear', "visible": true, "width": "10%" },
				{ data: 'RequestDate', "visible": true, "width": "15%" },
				{ data: 'BillNo', "visible": true, "width": "10%" },
				{ data: 'SNNO', "visible": true, "width": "10%" },
				{ data: 'TotalValue', "visible": true, "width": "15%" },
				{ data: 'DesCript', "visible": true, "width": "20%" },
			];
			var inventSum = "";
			var invent = '<tr>'
				+ '<th></th>'
				+ '<th>职工号</th>'
				+ '<th>姓名</th>'
				+ '<th>年</th>'
				+ '<th>日期</th>'
				+ '<th>单号</th>'
				+ '<th>笔数</th>'
				+ '<th>金额</th>'
				+ '<th>描述</th>'
				+ '</tr>';
			inventSum += invent;
			$('#conpage').html(inventSum);
			$("#middle_TB").dataTable().fnDestroy();
			var reportType = 'AnnualRpt';
			var arrange = 'seeCredit';
			var taskData = { "reportType": reportType, "arrange": arrange, "StaffId": StaffId, "BudYear": BudYear };
			$(DataPara.tableID).DataTable({
				ajax: {
					method: 'post',
					data: taskData,
					url: "/app/TMFinc/getRoute",
					dataSrc: '',
					aaSorting: [1, 'asc'],
				},
				columns: columnsData,
				autoWidth: true,
				createdRow: function (row, data, dataIndex) {
					if (data.RowCode != "") {
					} else {
						$('td', row).css("background", "#B4EEB4");
					}
				},
			});
		}
		$('#quotaCanBtn').click(function () {
			$('#DelivFilter').window('close');
		});
	</script>